<div class='FormOverview' *ngIf="form.bFormReady && EmployeeWorkingJSON">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="EmployeeWorkingJSON.default.ObjectFields[0].EmployeeCode"
            (Onselectdata)="EmployeeWorkingFillFunction($event)" (Onselectdata)="getName($event)" formControlName='EmployeeCode'
            [defaultvalue]="form.get('EmployeeCode').value">
        </app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="EmployeeWorkingJSON.default.ObjectFields[0].EmployeeName"
            (Onselectdata)="EmployeeWorkingFillFunction($event)" formControlName='EmployeeName'
            [defaultvalue]="form.get('EmployeeName').value">
        </app-entitylookup>
        <app-gb-formgrid formControlName='EmployeeWorkingArray'
      [ArrayDetail]="form.get('EmployeeId').value"></app-gb-formgrid>
    </form>
</div>