<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="MasterScheduleJSON.default.ObjectFields[0].MasterScheduleCode"
        formControlName='MasterScheduleCode' (Onselectdata)="MasterScheduleFormVal($event)"
        [defaultvalue]="form.get('MasterScheduleCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="MasterScheduleJSON.default.ObjectFields[0].MasterScheduleName"
        formControlName='MasterScheduleName' (Onselectdata)="MasterScheduleFormVal($event)"
        [defaultvalue]="form.get('MasterScheduleName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="MasterScheduleJSON.default.ObjectFields[0].OUGroupName"
        formControlName='OUGroupName' (Onselectdataids)="MasterSchedulepatch($event)"
        [defaultvalue]="form.get('OUGroupName').value"></app-entitylookup>


    </form>
</div>
