<!-- <div class="packservs">Pack FORM</div> -->

<div class='packserv' *ngIf="form.bFormReady">
  <form [formGroup]='form' class='packservs'>
    <app-entitylookup [picklisturl]="'Pack'" [label]="'PackCode'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Code,Name'" [multiple]="false"
      formControlName='PackCode' (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Code'" [defaultvalue]="form.get('PackCode').value"></app-entitylookup>
    <app-entitylookup [picklisturl]="'Pack'" [label]="'PackName'" [picklistdisplaytext] = "'Code,Name'" [width]="'200'" [picklistsearchfields]="'Code,Name'" [multiple]="false"
      formControlName='PackName' (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [picklisttitle]="'Name'" [defaultvalue]="form.get('PackName').value"></app-entitylookup>
    <app-gb-radiobox formControlName="PackConversionType"></app-gb-radiobox>
    <app-gb-numeric formControlName='PackConversionFactor'></app-gb-numeric>
  </form>

</div>