
.menu{
    margin-top: 3px;
    outline: none !important;
    border: none !important;
}

.viewlist{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
  }
  
  .expand{
    outline-style: none;
  }
  
  ::ng-deep .mat-menu-panel{
    overflow: auto !important;
  }