  <div *ngIf="viewmode=='Reports' && length!=0" [ngClass]="themeClass$ | async">
    <button class="menu" id="menus" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>expand_more</mat-icon>
    </button>  
    <mat-menu #menu="matMenu">
      <div class="colors thm-primary">
        <span class="mon-eighth viewlist" mat-menu-item (click)='selecteddata({Id: testvalue.Id, View: testvalue.Name})' *ngFor="let testvalue of configvalues">{{ testvalue.Name }}</span>
      </div>
    </mat-menu> 
  </div>