<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Number</th>
                <th class="th cap1-bold-12-white">Alocn.Nm</th>
                <th class="th cap1-bold-12-white">Particular</th>
                <th class="th cap1-bold-12-white">From</th>
                <th class="th cap1-bold-12-white">To</th>
                <th class="th cap1-bold-12-white">Plan</th>
                <th class="th cap1-bold-12-white">Actual</th>
                <th class="th cap1-bold-12-white">Hrs.</th>
                <th class="th cap1-bold-12-white">Mv Hrs</th>
                <th class="th cap1-bold-12-white">Utilize</th>
                <th class="th cap1-bold-12-white">Eff</th>
                <th class="th cap1-bold-12-white">Prod</th>
                <th class="th cap1-bold-12-white">Com%</th>
                <th class="th cap1-bold-12-white">S</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.Number}}<span style="color: red;margin-left: 7px;">
                        {{ data.TActionDetailActionType == "TASK" ? 'T' :
                        data.TActionDetailActionType == "ACTIVITY" ? 'A' :
                        data.TActionDetailActionType == "LEAD" ? 'L' :
                        data.TActionDetailActionType == "CALL" ? 'C' : '' }}
                    </span></td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.AllocationShortName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.Description}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.TActionDetailPeriodFrom}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.TActionDetailPeriodTo}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.PlannedHours}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.ActualHours}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.Duration}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.MovementDuration}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.UtilizationPercent}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.EfficiencyPercent}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.ProductivePercent}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.CompletedPercentage}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.TActionDetailActionStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>