.page-container {
    height: 50%;
    background:  #2A92BF;
    color: #000;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 50%;
}

.Companyname{
    font-size: small;
    color: purple;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 35px;
}

.year{
    // font-size: smaller;
    font-size:11px;
    font-family: 'Poppins', sans-serif;
    margin-left:-98px;
    margin-top: 15px;
}

.headericon{
    display: flex;
    position: absolute;
    color:rgb(102, 102, 102);
    top: 0;
    right:0;
    // margin-right: 20px;
}
.admin{
    // margin-top: 4px;
    // margin-left: 7px;
    margin-right: 33px;
}

mat-toolbar{
    background-color: white;
}

.img{
    background-color: rgb(238, 232, 232);
    padding-left:33px ;
    padding-right:30px ;
    padding-top: 9px;
}

.search{
    margin-right: -65px;
}

.floating-header-div {
    position: relative;  
    z-index: 999;
    width: 100%;  
  }


  @media screen and (min-width: 360px) {
    .floating-header-div {
       width:100%;
    }
 }
 
 @media screen and (min-width: 1824px) {
    .floating-header-div {
       width:100%;
    }
 }
 
 @media screen and (min-width: 768px) {
    .floating-header-div {
       width:100%;
    }
 }
 
 @media screen and (min-width: 320px) {
    .floating-header-div {
       width:100%;
    }
 }
 @media screen and (min-width: 280px) {
    .floating-header-div {
       width:100%;
    }
 }