<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ChargeElementCode"
            formControlName='ChargeElementCode' (Onselectdata)="ChargeElementPicklistFillValue($event)"
            [defaultvalue]="form.get('ChargeElementCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].DependsOnChargeElementName"
            formControlName='DependsOnChargeElementName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
            [defaultvalue]="form.get('DependsOnChargeElementName').value"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ChargeElementName"
            formControlName='ChargeElementName' (Onselectdata)="ChargeElementPicklistFillValue($event)"
            [defaultvalue]="form.get('ChargeElementName').value"></app-entitylookup>

        <app-gb-combobox class="KeyField" formControlName="ChargeElementInputType"></app-gb-combobox>
        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ChargeElementNature"
            formControlName='ChargeElementNature' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
            [defaultvalue]="form.get('ChargeElementNature').value"></app-entitylookup>
        <app-gb-combobox class="KeyField" formControlName="ChargeElementOperationType"></app-gb-combobox>
        <br>
        <app-gb-input class="KeyField" formControlName="ChargeElementSection"></app-gb-input>
        <app-entitylookup class="KeyField" [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].FormulaName"
            formControlName='FormulaName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
            [defaultvalue]="form.get('FormulaName').value"></app-entitylookup>
        <br>
        <app-gb-combobox class="KeyField" formControlName="ChargeElementValueType"></app-gb-combobox>
        
        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Input')"> Input*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Validation')">Validation</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Account')">Account Details</button>
        </div>
        <div class="TabView">
            <div id="Input" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ChargeElementInputDataFieldType"
                    formControlName='ChargeElementInputDataFieldType'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ChargeElementInputDataFieldType').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].InputDataFieldFieldName"
                    formControlName='InputDataFieldFieldName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('InputDataFieldFieldName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='ChargeElementDefaultInputValue'></app-gb-input>


                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ChargeElementMinimumDataFieldType"
                    formControlName='ChargeElementMinimumDataFieldType'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ChargeElementMinimumDataFieldType').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].MinimumDataFieldFieldName"
                    formControlName='MinimumDataFieldFieldName'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('MinimumDataFieldFieldName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='ChargeElementDefaultMinimumValue'></app-gb-input>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ChargeElementMaximumDataFieldType"
                    formControlName='ChargeElementMaximumDataFieldType'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ChargeElementMaximumDataFieldType').value"></app-entitylookup>


                <app-entitylookup class="KeyField"
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].MaximumDataFieldFieldName"
                    formControlName='MaximumDataFieldFieldName'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('MaximumDataFieldFieldName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='ChargeElementDefaultMaximumValue'></app-gb-input>

            </div>
            <div id="Validation" class="tabcontent">
                <app-gb-combobox formControlName="ChargeElementLoadValidationType"></app-gb-combobox>
                <app-gb-combobox formControlName='ChargeElementToleranceType'></app-gb-combobox>

                <app-gb-input formControlName='ChargeElementTolerancePlusValue' *ngIf="form.get('ChargeElementToleranceType').value == 1 || form.get('ChargeElementToleranceType').value == 2 "></app-gb-input>

                <app-gb-input formControlName='ChargeElementToleranceMinusValue' *ngIf="form.get('ChargeElementToleranceType').value == 1 || form.get('ChargeElementToleranceType').value == 2"></app-gb-input>

            </div>
            <div id="Account" class="tabcontent">
                <app-gb-combobox formControlName='ChargeElementPartyAccountType'></app-gb-combobox>

                <app-entitylookup [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].PartyAccountName"
                    formControlName='PartyAccountName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PartyAccountName').value" *ngIf="form.get('ChargeElementPartyAccountType').value == 1"></app-entitylookup>

                <app-entitylookup [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].PartySubAccountName"
                    formControlName='PartySubAccountName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PartySubAccountName').value" *ngIf="form.get('ChargeElementPartyAccountType').value == 1"></app-entitylookup>
                    <app-gb-combobox formControlName='ChargeElementPartyLinkType' *ngIf="form.get('ChargeElementPartyAccountType').value == 3"></app-gb-combobox>

                <app-entitylookup
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].PartyAccountCriteriaConfigName"
                    formControlName='PartyAccountCriteriaConfigName'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PartyAccountCriteriaConfigName').value"></app-entitylookup>
                <app-gb-checkbox formControlName="ChargeElementPartyAccountMerge"></app-gb-checkbox>

                <app-gb-combobox formControlName='ChargeElementContraAccountType'></app-gb-combobox>



                <app-entitylookup [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ContraAccountName"
                    formControlName='ContraAccountName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ContraAccountName').value" *ngIf="form.get('ChargeElementContraAccountType').value == 1"></app-entitylookup>

                <app-entitylookup [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ContraSubAccountName"
                    formControlName='ContraSubAccountName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ContraSubAccountName').value" *ngIf="form.get('ChargeElementContraAccountType').value == 1"></app-entitylookup>

                <app-entitylookup
                    [PicklistObj]="ChargeElementJSON.default.ObjectFields[0].ContraAccountCriteriaConfig"
                    formControlName='ContraAccountCriteriaConfig'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ContraAccountCriteriaConfig').value" *ngIf="form.get('ChargeElementContraAccountType').value == 2"></app-entitylookup>
                <app-gb-checkbox formControlName='ChargeElementContraAccountMerge'></app-gb-checkbox>
            </div>

        </div>
    </form>
</div>