<!-- <form [formGroup]="entitytest">
    <app-entitylookup [picklistid]='packentity' formControlName='lookupdata'></app-entitylookup>
    <button (click)='check()'>Check</button>
</form>
<hr /> -->


<!-- <form [formGroup]="entitytest">
    <app-entitylookup picklistid='-1899997696' formControlName='lookupdata'></app-entitylookup>
    <app-entitylookup picklistid='-1899999754' formControlName='lookupdata'></app-entitylookup>
    <app-entitylookup picklistid='-1899999943' formControlName='lookupdata'></app-entitylookup>
    <app-entitylookup picklistid='-1899999931' formControlName='lookupdata'></app-entitylookup>
    <app-entitylookup picklistid='-1899999811' formControlName='lookupdata'></app-entitylookup>
    <button (click)='check()'>Check</button>
</form>
<hr /> -->
<!-- <form [formGroup]="entitytest1">
    <app-entitylookup [config]='entityconfig3' formControlName="lookupdata1">
    </app-entitylookup>
</form>
<hr/>
<form [formGroup]="entitytest2">
    <app-entitylookup [config]='entityconfig4' formControlName="lookupdata2">
    </app-entitylookup>
</form>
<hr/>
<form [formGroup]="entitytest3">
    <app-entitylookup [config]='entityconfig5' formControlName="lookupdata3" >
    </app-entitylookup>
</form> -->
