<div [ngClass]="themeClass$ | async" color="primary">
    <div style="margin-top:-50px">
        <div >
          <button style="left:710px ; top: 20px;" mat-raised-button id="myBtn1" (click)="btnfilter()">
            <mat-icon>list</mat-icon>
          </button>
        </div>
        <div id="myModal1" class="modal1">
          <mat-icon class="closeicon1" (click)="close()">cancel</mat-icon>
          <div class="modal-content1" #div1>
            <button mat-raised-button #abc1 class="applybtn1" (click)="applybutton()">Apply</button>
            <button mat-raised-button class="closebtn1" (click)="clearbutton()">Clear</button>
            <form [formGroup]="lightBoxForm">
              <table id="table1">
                <tr>
                  <td>Type</td>
                  <td> <ng-select style="width: 180px;" formControlName="charttype" [items]="TypeList" bindLabel="Type" placeholder="Select Type">
                    </ng-select>
                  </td>
                </tr>
                <!-- <tr>
                  <td>X-Axis</td>
                  <td><ng-select formControlName="label" [items]="keyValue" bindLabel="Label" placeholder="Select label">
                    </ng-select>
                  </td>
                </tr>
                <tr>
                  <td>Y-Axis</td>
                  <td> <ng-select formControlName="series" [items]="keyValue" bindLabel="Series" [multiple]="true"
                      placeholder="Select Series">
                    </ng-select></td>
                </tr> -->
              </table>
            </form>
          </div>
        </div>
      </div>
    <span id="chart1">
        <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [plotOptions]="chartOptions1.plotOptions"
            [responsive]="chartOptions1.responsive" [xaxis]="chartOptions1.xaxis" [legend]="chartOptions1.legend"
            [fill]="chartOptions1.fill" [dataLabels]="chartOptions1.dataLabels" [title]="chartOptions1.title"></apx-chart>
    </span>
    <p class="Heading">Pipeline by Stage and Period (Amount in {{PipelineDTOsAmt}})</p>
    <div class="sticky-header">
        <table class="styled-table">
            
            <thead class="colors thm-primary">
                <tr>
                    <th></th>
                    <th colspan="2" style="text-align: center;">{{M1}}</th>
                    <th colspan="2" style="text-align: center;">{{M2}}</th>
                    <th colspan="2" style="text-align: center;">{{M3}}</th>
                    <th colspan="2" style="text-align: center;">{{M4}}</th>
                    <th colspan="2" style="text-align: center;">{{M5}}</th>
                    <th colspan="2" style="text-align: center;">Total</th>
                </tr>
                <tr>
                    <th style="text-align: center;">Stage</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of PipelineDTOs">
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.StageName}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Eno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Erevenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Mno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Mrevenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M1No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M1Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M2No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M2Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Lno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Lrevenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Tno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Trevenue | number:'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div >
          <button style="left:710px ; top: 20px;" mat-raised-button id="myBtn2" (click)="btnfilter2()">
            <mat-icon>list</mat-icon>
          </button>
        </div>
        <div id="myModal2" class="modal1">
          <mat-icon class="closeicon1" (click)="close2()">cancel</mat-icon>
          <div class="modal-content1" #div2>
            <button mat-raised-button #abc2 class="applybtn1" (click)="applybutton1()">Apply</button>
            <button mat-raised-button class="closebtn1" (click)="clearbutton()">Clear</button>
            <form [formGroup]="lightBoxForm">
              <table id="table2">
                <tr>
                  <td>Type</td>
                  <td> <ng-select style="width: 180px;" formControlName="charttype" [items]="TypeList" bindLabel="Type" placeholder="Select Type">
                    </ng-select>
                  </td>
                </tr>
                <!-- <tr>
                  <td>X-Axis</td>
                  <td><ng-select formControlName="label" [items]="keyValue" bindLabel="Label" placeholder="Select label">
                    </ng-select>
                  </td>
                </tr>
                <tr>
                  <td>Y-Axis</td>
                  <td> <ng-select formControlName="series" [items]="keyValue" bindLabel="Series" [multiple]="true"
                      placeholder="Select Series">
                    </ng-select></td>
                </tr> -->
              </table>
            </form>
          </div>
        </div>
      </div>
    <span id="chart2">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [plotOptions]="chartOptions2.plotOptions"
            [responsive]="chartOptions2.responsive" [xaxis]="chartOptions2.xaxis" [legend]="chartOptions2.legend"
            [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels" [title]="chartOptions2.title"></apx-chart>
    </span>
    <p class="Heading">Pipe Line by Incharge and Period (Amount in {{PipeLineInchargeDTOsAmt}})</p>
    <div class="sticky-header">
        <table class="styled-table">
            <thead class="colors thm-primary">
                <tr>
                    <th></th>
                    <th colspan="2" style="text-align: center;">{{M1}}</th>
                    <th colspan="2" style="text-align: center;">{{M2}}</th>
                    <th colspan="2" style="text-align: center;">{{M3}}</th>
                    <th colspan="2" style="text-align: center;">{{M4}}</th>
                    <th colspan="2" style="text-align: center;">{{M5}}</th>
                    <th colspan="2" style="text-align: center;">Total</th>
                </tr>
                <tr>
                    <th style="text-align: center;">Person</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of PipeLineInchargeDTOs">
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Name}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Eno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Erevenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Mno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Mrevenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M1No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M1Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M2No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.M2Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Lno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Lrevenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Tno}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Trevenue | number:'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div >
          <button style="left:710px ; top: 20px;" mat-raised-button id="myBtn3" (click)="btnfilter3()">
            <mat-icon>list</mat-icon>
          </button>
        </div>
        <div id="myModal3" class="modal1">
          <mat-icon class="closeicon1" (click)="close3()">cancel</mat-icon>
          <div class="modal-content1" #div3>
            <button mat-raised-button #abc3 class="applybtn1" (click)="applybutton2()">Apply</button>
            <button mat-raised-button class="closebtn1" (click)="clearbutton()">Clear</button>
            <form [formGroup]="lightBoxForm">
              <table id="table3">
                <tr>
                  <td>Type</td>
                  <td> <ng-select style="width: 180px;" formControlName="charttype" [items]="TypeList" bindLabel="Type" placeholder="Select Type">
                    </ng-select>
                  </td>
                </tr>
                <!-- <tr>
                  <td>X-Axis</td>
                  <td><ng-select formControlName="label" [items]="keyValue" bindLabel="Label" placeholder="Select label">
                    </ng-select>
                  </td>
                </tr>
                <tr>
                  <td>Y-Axis</td>
                  <td> <ng-select formControlName="series" [items]="keyValue" bindLabel="Series" [multiple]="true"
                      placeholder="Select Series">
                    </ng-select></td>
                </tr> -->
              </table>
            </form>
          </div>
        </div>
      </div>
    <span id="chart3">
        <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [plotOptions]="chartOptions3.plotOptions"
            [responsive]="chartOptions3.responsive" [title]="chartOptions3.title" [legend]="chartOptions3.legend"
            [fill]="chartOptions3.fill" [dataLabels]="chartOptions3.dataLabels"></apx-chart>
    </span>
    <p class="Heading">Pipeline Age (Amount in {{PipelineAgeDTOsAmt}})</p>
    <div class="sticky-header">
        <table class="styled-table">
            <thead class="colors thm-primary">
                <tr>
                    <th rowspan="2" style="text-align: center;">Stage</th>
                    <th colspan="2" style="text-align: center;">30</th>
                    <th colspan="2" style="text-align: center;">60</th>
                    <th colspan="2" style="text-align: center;">90</th>
                    <th colspan="2" style="text-align: center;">120</th>
                    <th colspan="2" style="text-align: center;">180</th>
                    <th colspan="2" style="text-align: center;">Total</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                    <th>#</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of PipelineAgeDTOs">
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.StageName}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A1No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A1Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A2No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A2Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A3No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A3Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A4No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A4Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A5No}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.A5Revenue | number:'1.2-2'}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.TNo}}</td>
                    <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.TRevenue | number:'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>