

<ActionBar class="action-bar">
    <GridLayout columns="*,2*,*" rows="*" width="100%">
       <!-- <label class="font-awesome gb-topbar-icon" text="&#xf060;"  row="0" col="0"></label>-->
        <!-- <Label class="action-bar-title gb-text-center" text="{{leavetypefromnavigation}}" row="0" col="1"></Label>-->
        <Label class="action-bar-title gb-text-center" text="Permission" row="0" col="1"></Label>
    </GridLayout>

</ActionBar>

<GridLayout rows="*,145">
    <ScrollView>
        <form [formGroup]="form">
        <StackLayout row="0" rows="*">
            <StackLayout class="page" margin="10">
                <StackLayout marginBottom="30" class="opener">
                    <Label text="Type" class="permissionlabel"></Label>
                    <TextField readOnly="true" formControlName="type"  editable="false"
                         id="date" class="permissiontext"></TextField>
                    <dd:DropDown id="Type"  formControlName="type"  selectedIndex="0" opened="dropDownOpened"
                        closed="dropDownClosed" row="1"
                        class="permissiontext gb-dropdown" />
                </StackLayout>
               <StackLayout marginBottom="30" class="opener">
                    <Label text="Required Date" class="permissionlabel"></Label>
                    <TextField readOnly="true" hint="Select Date" formControlName="date"  editable="false"
                         id="date" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="From Time" class="permissionlabel"></Label>
                    <TextField readOnly="true" hint="Select from time" formControlName="fromtime"  editable="false"
                         id="fromtime" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="To Time" class="permissionlabel"></Label>
                    <TextField readOnly="true" hint="Select to time" formControlName="totime" editable="false"
                         id="totime" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="Duration" class="permissionlabel"></Label>
                    <TextField formControlName="duration" id="Duration" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="Remarks" class="permissionlabel"></Label>
                    <TextField formControlName="remarks" id="remarks" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="If OnDuty Please Enter Location" class="permissionlabel"></Label>
                    <TextField formControlName="location" id="location" class="permissiontext"></TextField>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </form>
    </ScrollView>
    <GridLayout row="1" rows="*,*" columns="*,*">
        <Button class="Login" text="Login" (tap)="save()"></Button>
    </GridLayout>
   
    <!-- <StackLayout row="*" columns="*">
            <Button text="Update" *ngIf="visi" row="0" col="0" class="btn-primary"></Button>
        </StackLayout> -->
<!--</GridLayout>-->

<!--
<ActionBar title="Add New Account"></ActionBar>
<GridLayout backgroundColor="black">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" height="600" backgroundColor="#FFFFFF">
                <form [formGroup]="form">
                    <StackLayout class="input-field" marginTop="80" marginLeft="18">
                        <Label text="Sign in to your account" color="black" class="label font-weight-bold"
                            fontSize="22"></Label>
                        <Label text="Please enter your credentials to login" color="black" class="label"
                            fontSize="12"></Label>
                    </StackLayout>
                    <stacklayout class="input-field" marginTop="20">
                        <TextField color="black" class="gb-textfield accheight" id="Server" hint="Server Name"
                            formControlName="Server">
                        </TextField>
                    </stacklayout>
                    <stacklayout class="input-field" marginTop="35">

                        <TextField color="black" class="gb-textfield accheight" id="UserName" hint="Usercode"
                            formControlName="UserName">
                        </TextField>
                    </stacklayout>
                    <stacklayout class="input-field" marginTop="35">
                        <TextField color="black" class="gb-textfield accheight" id="Password" secure="true"
                            hint="Password" formControlName="Password">
                        </TextField>
                    </stacklayout>
                </form>
                <stacklayout row="1" verticalAlignment="bottom" marginTop="35">
                    <StackLayout>
                        <Button class="Login" text="Login" (tap)="save()"></Button>
                    </StackLayout>
                    <Label text="Forgot password ?" color="black" class="label" color="Purple" marginLeft="13"
                        fontSize="15"></Label>
                    <Label text="-----------------------------------  or  -------------------------------------"
                        color="black" class="label" marginLeft="13" fontSize="15"></Label>
                </stacklayout>

                <stacklayout>
                    <Label text="Don't have an account?" color="black" class="noaccount" marginLeft="13"
                        fontSize="15"></Label>
                    <Label text="Sign Up" color="Purple" marginLeft="170" marginTop="-23"></Label>
                </stacklayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>-->

<!--------------------------------------------------------------------------->

<!--<ActionBar class="action-bar">
    <GridLayout columns="*,2*,*" rows="*" width="100%">
        <Label class="action-bar-title gb-text-center" text="Permission" row="0" col="1"></Label>
    </GridLayout>

</ActionBar>

<GridLayout rows="*,145">
    <ScrollView>
        <StackLayout row="0" rows="*">
            <StackLayout class="page" margin="10">
                <StackLayout marginBottom="30" class="opener">
                    <Label text="Type" class="permissionlabel"></Label>
                    <dd:DropDown id="Type" [items]="type" selectedIndex="0" opened="dropDownOpened"
                        closed="dropDownClosed" (selectedIndexChanged)="onchange($event)" row="1"
                        class="permissiontext gb-dropdown" />
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="Required Date" class="permissionlabel"></Label>
                    <TextField readOnly="true" hint="Select Date" [text]="selecteddate" editable="false"
                        (tap)="selectDate()" id="date" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="From Time" class="permissionlabel"></Label>
                    <TextField readOnly="true" hint="Select from time" [text]="selectedfromtime" editable="false"
                        (tap)="selectfromTime()" id="fromtime" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="To Time" class="permissionlabel"></Label>
                    <TextField readOnly="true" hint="Select to time" [text]="selectedtotime" editable="false"
                        (tap)="selecttoTime()" id="totime" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="Duration" class="permissionlabel"></Label>
                    <TextField [(ngModel)]="durationfield" id="Duration" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="Remarks" class="permissionlabel"></Label>
                    <TextField [(ngModel)]="remarks" id="remarks" class="permissiontext"></TextField>
                </StackLayout>
                <StackLayout marginBottom="30" class="opener">
                    <Label text="If OnDuty Please Enter Location" class="permissionlabel"></Label>
                    <TextField [(ngModel)]="location" id="location" class="permissiontext"></TextField>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    
</GridLayout>-->