<div class="permissionscreen">
  <ngContainer [ngTemplateOutlet]="currentForm">
  </ngContainer>

  <!-- There has to be atleast one template with the name 'default', if using multi templates -->

  <ng-template #defaultform gbFormtemplate name="default">
    <div class="permissionform" *transloco="let t">
      {{t('Permission')}}
    </div>
    <form *ngIf="form.bFormReady" class="packform" [formGroup]="form" ngxsForm="Permission.currentData">
      <app-gb-combobox formControlName='TimeSlipType' gbplaceholder="type" gblabel="type">
        </app-gb-combobox>
        <app-gb-input formControlName='TimeSlipDate' gbplaceholder="date" gblabel="date"></app-gb-input>
        <app-gb-input formControlName='employeename'></app-gb-input>
        
        <app-gb-input formControlName='TimeSlipTimeSlipStartTime' gbplaceholder="fromtime" gblabel="fromtime"></app-gb-input>
        <app-gb-input formControlName='TimeSlipTimeSlipEndTime' gbplaceholder="totime" gblabel="totime"></app-gb-input>
        <app-gb-input formControlName='TimeSlipDuration' gbplaceholder="duration" gblabel="duration"></app-gb-input>
        <app-gb-input formControlName='TimeSlipReason' gbplaceholder="remarks" gblabel="remarks"></app-gb-input>
        <app-gb-input formControlName='TimeSlipOnDutyLocation' gbplaceholder="location" gblabel="location"></app-gb-input>
        <app-gb-input formControlName='approveby'></app-gb-input>
        

    </form>
  </ng-template>



</div>