<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
      <app-entitylookup class="KeyField" [PicklistObj]="ParameterSetJSON.default.ObjectFields[0].ParameterSetCode" formControlName='ParameterSetCode'
      (Onselectdata)="ParameterSetFillFunction($event)" [defaultvalue]="form.get('ParameterSetCode').value"></app-entitylookup>

      <app-entitylookup class="KeyField" [PicklistObj]="ParameterSetJSON.default.ObjectFields[0].ParameterSetName" formControlName='ParameterSetName'
      (Onselectdata)="ParameterSetFillFunction($event)" [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup>

        
        <app-gb-textarea formControlName='ParameterSetRemarks'></app-gb-textarea>

        <app-gb-formgrid formControlName='ParameterSetDetailArray'
      [ArrayDetail]="form.get('ParameterSetCode').value"></app-gb-formgrid>

    </form>
</div>