<ActionBar>
    <Label text="Test Form"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <Label class="page__content-placeholder" text="blah blah blah blah "></Label>
    <RadDataForm tkExampleTitle tkToggleNavButton [source]="form.value">
        <TKEntityProperty tkDataFormProperty name="name" displayName="Name" index="0"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="age" displayName="Age" index="1">
            <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="email" displayName="E-Mail" index="2">
            <TKPropertyEditor tkEntityPropertyEditor type="Email"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="city" displayName="City" index="3" valuesProvider="New York, Washington, Los Angeles">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="street" displayName="Street Name" index="4"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="streetNumber" displayName="Street Number" index="5">
            <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
        </TKEntityProperty>

        <!-- <TKEntityProperty tkDataFormProperty name="age" index="1">
            <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
             (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
        </TKEntityProperty> -->
        <TKEntityProperty tkDataFormProperty name="birthDate" index="6">
            <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
        </TKEntityProperty>
        <!--<TKEntityProperty tkDataFormProperty name="married" index="7">
            <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
        </TKEntityProperty>-->
        <TKEntityProperty tkDataFormProperty name="marriedDate" index="8">
            <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
        </TKEntityProperty>
    </RadDataForm>
    <Button class="Login" text="save" (tap)="save()"></Button>
    <!-- <DatePicker year="1980" month="4" day="20"></DatePicker> -->
</GridLayout>
