<Table style="height: 36px;" *ngIf="!isKeyField">
  <tbody>
    <tr>
      <td class="form_label" *ngIf="isFilter != true && label !=''" [style.min-width.px]="LabelWidth == undefined ? 180 : LabelWidth" [style.padding-top.px]="multiple ? 10 : 7.5"
        style="display: flex;justify-content: end;" [class.labelFocused]="isFocused">{{label}}</td>
      <td *ngIf="(!isnoteditable && isFilter != true && !multiple) || readonly == true" [style.width.px]="width" style="padding-top: 1px;">
        <input #myinput readonly class="form_value" [placeholder]="PlaceHolder" [style.width.px]="width" style="outline-style: none;cursor: default;background-color: inherit;" [class.focused]="isFocused"
          (focus)="isFocused = true" (focusout)="isFocused = false"
          [value]="selectedAccount">
      </td>
      <td *ngIf="(isnoteditable || multiple) && readonly == false">
        <span>
          <form [formGroup]='lookupform' style="display: flex;">
            <input #myinput style="outline-style: none;display: inline-block;width: 0.1px;" (keyup.enter)="Callservice()"
              (focus)="isFocused = true" (focusout)="isFocused = false" readonly>
            <ng-select #myinput [items]="Picklistvalues" class="no-clear" [virtualScroll]="true" bindValue1="Code"
              [(ngModel)]="selectedAccount" bindValue2="picklistselection" [bindLabel]="picklisttitle" [placeholder]="PlaceHolder"
              [closeOnSelect]="true" [searchFn]="customSearchFn" [clearable]="true" (remove)="onRemove($event)"
              (clear)="onClear()" formControlName="lookupdata" [editableSearchTerm]="true"
              [minTermLength]="minLengthTerm" [loading]="dataLoading" [multiple]='multiple' addTagText="Create New"
              id="entitylookup" (click)="Callservice()" [readonly]="!isnoteditable" [style.width.px]="width"
              [addTag]="true" [class.focused]="isFocused">
            </ng-select>
          </form>
        </span>
      </td>
    </tr>
  </tbody>
</Table>

<div style="height: 70px;padding-right: 16px;" *ngIf="isKeyField">
  <div style="height: 21px;">
    <span class="form_label" *ngIf="isFilter != true && label !=''" style="text-align: left"
      [class.labelFocused]="isFocused" [style.min-width.px]="LabelWidth == undefined ? 180 : LabelWidth">{{label}}</span>
  </div>
  <div style="height: 30px;">
    <span *ngIf="!isnoteditable && isFilter != true && !multiple" [style.width.px]="width"
      style="display: flex;align-items: flex-start;">
      <input #myinput readonly class="form_key_value" [style.width.px]="width" style="outline-style: none;cursor: default;background-color: inherit;" [class.focused]="isFocused"
        (focus)="isFocused = true" [placeholder]="PlaceHolder" (focusout)="isFocused = false"
        [value]="selectedAccount">
    </span>
    <span *ngIf="isnoteditable || multiple">
      <span>
        <form [formGroup]='lookupform' style="display: flex;">
          <input #myinput style="outline-style: none;display: inline-block;width: 0.1px;" (keyup.enter)="Callservice()"
            (focus)="isFocused = true" (focusout)="isFocused = false" readonly>
          <ng-select #myinput [items]="Picklistvalues" class="no-clear" [virtualScroll]="true" bindValue1="Code"
            [(ngModel)]="selectedAccount" bindValue2="picklistselection" [bindLabel]="picklisttitle" [placeholder]="PlaceHolder"
            [closeOnSelect]="true" [searchFn]="customSearchFn" [clearable]="true" (remove)="onRemove($event)"
            (clear)="onClear()" formControlName="lookupdata" [editableSearchTerm]="true"
            [minTermLength]="minLengthTerm" [loading]="dataLoading" [multiple]='multiple' addTagText="Create New"
            id="entitylookupKeyField" (click)="Callservice()" [readonly]="!isnoteditable" [style.width.px]="width"
            [addTag]="true" [class.focused]="isFocused">
          </ng-select>
        </form>
      </span>
    </span>
  </div>
</div>