<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
    
        <app-entitylookup class="KeyField" [PicklistObj]="DefectJSON.default.ObjectFields[0].DefectCode" formControlName='DefectCode'
        (Onselectdata)="DefectFillFunction($event)" [defaultvalue]="form.get('DefectCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="DefectJSON.default.ObjectFields[0].DefectName" formControlName='DefectName'
        (Onselectdata)="DefectFillFunction($event)" [defaultvalue]="form.get('DefectName').value"></app-entitylookup> 
<br>
        <app-gb-input class="KeyField" formControlName='DefectPointPerDefect'  (InputOutPut)="DefectValue($event)"></app-gb-input>
        <span style="position: relative;top: -15px; padding: 0px; margin-left: -28px;">(Ex-> 999.99)</span>

      <br>  
    <app-gb-input formControlName='DefectSortOrder'></app-gb-input>

    <app-gb-textarea formControlName='DefectRemarks'></app-gb-textarea>
    </form>
</div>