
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <!-- <th class="th cap1-bold-12-white" >Sno</th> -->
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name </th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Qty</th>
          <th class="th cap1-bold-12-white" >Type</th>
          <th class="th cap1-bold-12-white" >Supplier</th>


        </tr>
      </thead>
      <tbody class="tbody">

        <tr *ngFor="let data of rowData">
          <!-- <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.sno}}</td> -->
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
          <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.qty}}</td>
          <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
            {{ data.type === "NONE" ? '' : data.type }}
          </td>

          <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
            {{ data.supplier === "NONE" ? '' : data.supplier }}

          </td>

         
        </tr>
      </tbody>
    </table>
    </div>