<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="WorkFlowRuleJSON.default.ObjectFields[0].WorkflowRuleCode"
        formControlName='WorkflowRuleCode' (Onselectdata)="WorkFlowRulevalue($event)"
        [defaultvalue]="form.get('WorkflowRuleCode').value"></app-entitylookup>
  
        <app-entitylookup class="KeyField" [PicklistObj]="WorkFlowRuleJSON.default.ObjectFields[0].WorkflowRuleName"
        formControlName='WorkflowRuleName' (Onselectdata)="WorkFlowRulevalue($event)"
        [defaultvalue]="form.get('WorkflowRuleName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="WorkFlowRuleJSON.default.ObjectFields[0].WorkflowDeploymentName"
        formControlName='WorkflowDeploymentName' (Onselectdataids)="WorkFlowRuleNot($event)"
        [defaultvalue]="form.get('WorkflowDeploymentName').value"></app-entitylookup>
        <br>

        <app-entitylookup  [PicklistObj]="WorkFlowRuleJSON.default.ObjectFields[0].EntityName"
        formControlName='EntityName' (Onselectdataids)="WorkFlowRuleNot($event)"
        [defaultvalue]="form.get('EntityName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="WorkFlowRuleJSON.default.ObjectFields[0].WorkflowDeploymentErpName"
        formControlName='WorkflowDeploymentErpName' (Onselectdataids)="WorkFlowRuleNot($event)"
        [defaultvalue]="form.get('WorkflowDeploymentErpName').value"></app-entitylookup>
  
        <app-gb-textarea formControlName='WorkflowRuleEvalCondition'></app-gb-textarea>
      
        <app-gb-formgrid formControlName='WorkflowRuleDetailArray'
        [ArrayDetail]="form.get('WorkflowRuleId').value"></app-gb-formgrid>


        </form>
        </div>