<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PickupPlaceJSON.default.ObjectFields[0].VillageCode"
        formControlName='VillageCode' (Onselectdata)="PickupPlaceFormv($event)"
        [defaultvalue]="form.get('VillageCode').value"></app-entitylookup>
        
        <app-entitylookup class="KeyField" [PicklistObj]="PickupPlaceJSON.default.ObjectFields[0].VillageName"
        formControlName='VillageName' (Onselectdata)="PickupPlaceFormv($event)"
        [defaultvalue]="form.get('VillageName').value"></app-entitylookup>

        
        <app-entitylookup  [PicklistObj]="PickupPlaceJSON.default.ObjectFields[0].VehicleNumber"
        formControlName='VehicleNumber' (Onselectdataids)="PickupPlaceFormnew($event)"
        [defaultvalue]="form.get('VehicleNumber').value"></app-entitylookup>
    
        <app-gb-input formControlName='VehicleContractorName'></app-gb-input>

        <app-gb-input formControlName='VillageDistance'></app-gb-input>

        <app-gb-input formControlName='VillageEmployerAmount'></app-gb-input>

        <app-gb-input formControlName='VillageEmployeeAmount'></app-gb-input>

    </form>
    </div>