<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
      <app-entitylookup class="KeyField" [PicklistObj]="JobDefineJSON.default.ObjectFields[0].JobdefineName"
            formControlName='JobdefineName' (Onselectdata)="JobDefinePicklistFillValue($event)"
            [defaultvalue]="form.get('JobdefineName').value"></app-entitylookup>
			
          <app-entitylookup [PicklistObj]="JobDefineJSON.default.ObjectFields[0].SchedulerName"
          formControlName='SchedulerName' (Onselectdataids)="JobDefinePicklistPatchValue($event)"
          [defaultvalue]="form.get('SchedulerName').value" ></app-entitylookup>

          <app-gb-combobox formControlName='JobdefineType'></app-gb-combobox>

          <app-entitylookup [PicklistObj]="JobDefineJSON.default.ObjectFields[0].ModuleName"
          formControlName='ModuleName' (Onselectdataids)="JobDefinePicklistPatchValue($event)"
          [defaultvalue]="form.get('ModuleName').value" *ngIf="form.get('JobdefineType').value == 1"></app-entitylookup>

 
          <app-entitylookup [PicklistObj]="JobDefineJSON.default.ObjectFields[0].MenuName"
          formControlName='MenuName' (Onselectdataids)="JobDefinePicklistPatchValue($event)"
          [defaultvalue]="form.get('MenuName').value" *ngIf="form.get('JobdefineType').value == 1"></app-entitylookup>

          <app-entitylookup [PicklistObj]="JobDefineJSON.default.ObjectFields[0].WebServiceName"
          formControlName='WebServiceName' (Onselectdataids)="JobDefinePicklistPatchValue($event)"
          [defaultvalue]="form.get('WebServiceName').value" *ngIf="form.get('JobdefineType').value == 0" (click)="settingPatchValueToZero()"></app-entitylookup>

        
          <app-entitylookup [PicklistObj]="JobDefineJSON.default.ObjectFields[0].CriteriaConfigName"
          formControlName='CriteriaConfigName' (Onselectdataids)="JobDefinePicklistPatchValue($event)"
          [defaultvalue]="form.get('CriteriaConfigName').value" ></app-entitylookup>

          
        <app-gb-input formControlName='JobdefineUriTemplateValue'*ngIf="form.get('WebServiceName').value !== ''"></app-gb-input>
        <app-gb-date  class="KeyField" formControlName="JobdefineLastRunTime" [date]="form.get('JobdefineId').value" [default]="'today'" ></app-gb-date><span style="position: relative;top: -12px;right:38px; padding: 0px;"></span>
        <app-gb-datetime class="KeyField" formControlName='LastRuntime' [default]="'currenttime'" [time]="form.get('JobdefineLastRunTime').value"></app-gb-datetime>
        <app-gb-checkbox class="KeyField" formControlName='JobdefineStatus'  ></app-gb-checkbox>
        <br>
        <app-gb-textarea formControlName='JobdefineRemarks'></app-gb-textarea>
       


    </form>
  </div>