<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup [PicklistObj]="webformjson.default.ObjectFields[0].ModuleName" formControlName='ModuleName'
        (Onselectdataids)="WebFormPatchValue($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>

    <app-entitylookup style="display: inline-block;margin-top: 16px;"
        [PicklistObj]="webformjson.default.ObjectFields[0].WebFormName" formControlName='WebFormName'
        (Onselectdata)="WebFormFillFunction($event)"
        [defaultvalue]="form.get('WebFormName').value"></app-entitylookup>

      
    <app-gb-input formControlName='WebFormURL'></app-gb-input>
    <app-gb-input formControlName='WebFormSecondURL'></app-gb-input>

    <app-gb-textarea formControlName='WebFormTemplate'></app-gb-textarea>

    </form>
</div>