@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/form.scss';
@import url('./../gb-combobox/gb-combobox.component.scss');

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #9A6CE0 !important;
  }

::placeholder {
    color: rgba(26, 26, 26, 0.5) !important;
    font-family: 'Helvetica';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.styled-table {
    // width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: 'Helvetica';
    min-width: 500px;
    overflow:auto;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
  }
  
  .styled-table thead {
    z-index: 99999;
    height: 37px;
    background: linear-gradient(90deg, #834DD0 0%, #CD309E 51.17%, #6E3AB6 100%);
  }
  
  .styled-table th{
      padding: 0px 15px;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;  
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
  }
  
  .styled-table td {
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;  
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
  }
  
  // .styled-table tbody tr {
  //   border-bottom: 1px solid #dddddd;
  // }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #666666;
  }
  
  .sticky-header{
    display: block;
    width: 95vw; 
    overflow-y: auto;
    max-height: 350px;
    margin: 5px;
    scrollbar-width: thin;
    scrollbar-color: var(--color);
    margin-top: 10px;
  }
  
  .styled-table thead tr{
    border: 1px solid var(--color);
    text-align: left;
    padding: 5px;
    position: sticky; 
    top: 0;
    z-index: 10; 
    background: linear-gradient(90deg, #834DD0 0%, #CD309E 51.17%, #6E3AB6 100%);
  }

  .sticky-header::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .sticky-header::-webkit-scrollbar-track {
    background: rgba(26, 26, 26, 0.32);
  }
  .sticky-header::-webkit-scrollbar-thumb {
    background: var(--color);
  }
  .sticky-header::-webkit-scrollbar-thumb:hover {
    background: var(--color);
  }

.addrowbutton{
  cursor: pointer;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom:10px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 2px 2px 0px #0000000F;
  border-radius: 6px;
  padding-top: 7px;
  color: #FFFFFF;
  width: 120px;
  height: 32px;
  background-color: var(--color);
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
}

.periods {
    display: block;
    float: left;
    //margin-left: 20px;
  }
  
  .period {
    float: left;
    width: 100px;
    outline-style: none;
    padding-top: 5px;
  }
  
  .dateperiod {
    outline-style: none;
  }

  .DatePicker{
    display: flex;
    align-items: center;
    padding-top: 6px;
    height: 36px;
  }
  
  #datepicker2::ng-deep.mat-icon-button{
    padding-left: 7px;
    outline-style: none !important;
  }
  
  ::ng-deep.mat-calendar-table-header th{
      font-weight: 500;
      color: black;
      font-size: 14px;
  }
  
  ::ng-deep.mat-calendar-body-label{
    color: black !important;
  }

  ::ng-deep .mat-input-element::placeholder {
    color: rgba(26, 26, 26) !important;
    font-weight: 700;
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
  }
  
  ::placeholder {
      color: rgba(26, 26, 26) !important;
      font-family: 'Helvetica';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
    }
