<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        
        <app-entitylookup class="KeyField" [PicklistObj]="CasteCategoryjson.default.ObjectFields[0].CasteCategoryCode"
        formControlName='CasteCategoryCode' (Onselectdata)="CastecategoryRetrivalValue($event)"
        [defaultvalue]="form.get('CasteCategoryCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CasteCategoryjson.default.ObjectFields[0].CasteCategoryName"
        formControlName='CasteCategoryName' (Onselectdata)="CastecategoryRetrivalValue($event)"
        [defaultvalue]="form.get('CasteCategoryName').value"></app-entitylookup>

        <app-gb-input formControlName='CasteCategoryReservationPercentage' (InputOutPut)="GetDecimalValue($event)"></app-gb-input>
 
        <app-gb-formgrid formControlName='CasteCategoryDetailArray'
            [ArrayDetail]="form.get('CasteCategoryCode').value"></app-gb-formgrid>

    </form>
</div>