<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Emp Name</th>
                <th class="th cap1-bold-12-white" >Emp Type</th>
                <th class="th cap1-bold-12-white" >Designation</th>
                <th class="th cap1-bold-12-white" >Department</th>
                <th class="th cap1-bold-12-white" >D.O.J</th>
                <th class="th cap1-bold-12-white" >D.O.B</th>
                <th class="th cap1-bold-12-white" >Emp Group</th>
                <th class="th cap1-bold-12-white" >Unit Name</th>
                <th class="th cap1-bold-12-white" >Off Mob.No</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" >{{data.EmployeeCode }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.EmployeeName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.EmployeeTypeName}}</td>
                <td class="td cap2-med-12-type-primary">{{ (data.DesignationName === null || data.DesignationName === 'NONE') ? '' : data.DesignationName }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.DepartmentName}}</td>
                <td class="td cap2-med-12-type-primary">{{data.DateOfJoining | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.DateOfBirth | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary">{{ (data.OUGroupName === null || data.OUGroupName === 'NONE') ? '' : data.OUGroupName }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.OUUnitName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PrimaryMobile }}</td>
            </tr>
        </tbody>
    </table>
</div>