<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="GcmTypeJSON.default.ObjectFields[0].GcmTypeCode"
        formControlName='GcmTypeCode' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('GcmTypeCode').value"></app-entitylookup>
        
        <app-entitylookup class="KeyField" [PicklistObj]="GcmTypeJSON.default.ObjectFields[0].GcmTypeDescription"
        formControlName='GcmTypeDescription' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('GcmTypeDescription').value"></app-entitylookup> <br>

        <app-entitylookup class="KeyField" [PicklistObj]="GcmTypeJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup> <br>

        <app-gb-checkbox class="KeyField"  formControlName='GcmTypeCodeReq'></app-gb-checkbox>  
          <app-gb-checkbox class="KeyField" formControlName='GcmTypeIsColored'></app-gb-checkbox> <br>
        <app-gb-input class="KeyField" formControlName='GcmTypeCodeSize'></app-gb-input> <br>
        <app-gb-radiobox class="KeyField" formControlName='GcmTypeEntryType'></app-gb-radiobox> <br>
        <app-gb-textarea class="KeyField" formControlName='GcmTypeRemarks'></app-gb-textarea> <br>
        <!-- <app-gb-checkbox class="KeyField"formControlName='GcmTypeIsColored'></app-gb-checkbox> -->

    </form>
</div>