<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup [PicklistObj]="CostCenterjson.default.ObjectFields[0].CostCenterTypeName"
            formControlName='CostCenterTypeName' (Onselectdataids)="CostCenterPatchValue($event)"
            [defaultvalue]="form.get('CostCenterTypeName').value"></app-entitylookup>
        <br>
        <app-entitylookup [PicklistObj]="CostCenterjson.default.ObjectFields[0].CostCenterCode" 
            formControlName='CostCenterCode' (Onselectdata)="CostCenterFillFunction($event)"
            [defaultvalue]="form.get('CostCenterCode').value" class="KeyField"></app-entitylookup>

        <app-entitylookup [PicklistObj]="CostCenterjson.default.ObjectFields[0].CostCenterName"
            formControlName='CostCenterName' (Onselectdata)="CostCenterFillFunction($event)"
            [defaultvalue]="form.get('CostCenterName').value" class="KeyField"
            ></app-entitylookup>
        <br>
        <app-gb-input formControlName="CostCenterShortName" class="KeyField" style="width: 581px;"></app-gb-input>

        <app-entitylookup [PicklistObj]="CostCenterjson.default.ObjectFields[0].ParentName" formControlName='ParentName'
            (Onselectdataids)="CostCenterPatchValue($event)" [defaultvalue]="form.get('ParentName').value"
            class="KeyField"></app-entitylookup>
        <br>

        <table>
            <tr style="display:flex;flex-direction:row;">
                <app-entitylookup [PicklistObj]="CostCenterjson.default.ObjectFields[0].CostCenterApplicableOUNames"
                    formControlName='CostCenterApplicableOUNames' (Onselectdataids)="CostCenterPatchValue($event)"
                    [defaultvalue]="form.get('CostCenterApplicableOUNames').value" class="KeyField"
                    style="width: 480px;"></app-entitylookup>

                <app-entitylookup
                    [PicklistObj]="CostCenterjson.default.ObjectFields[0].CostCenterApplicableDepartmentNames"
                    formControlName='CostCenterApplicableDepartmentNames'
                    (Onselectdataids)="CostCenterPatchValue($event)"
                    [defaultvalue]="form.get('CostCenterApplicableDepartmentNames').value"
                    class="KeyField"></app-entitylookup>
            </tr>
        </table>

      
    </form>
</div>