<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Party Code</th>
                <th class="th cap1-bold-12-white" >Party Name</th>
                <th class="th cap1-bold-12-white" >Party Branch</th>
                <th class="th cap1-bold-12-white" >GST No</th>
                <th class="th cap1-bold-12-white" >State Code</th>

                <th class="th cap1-bold-12-white" >State Name</th>
                <th class="th cap1-bold-12-white" >City</th>
                <th class="th cap1-bold-12-white" >Address</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr"*ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" >{{data.PartyCode }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyBranchName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.GSTIn}}</td>

                <td class="td cap2-med-12-type-primary" >{{data.StateCode }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.StateName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.CityName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.Address}}</td>
            </tr>
        </tbody>
    </table>
</div>

