<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].OrganizationUnitCode" formControlName='OrganizationUnitCode'
        (Onselectdata)="OrganizationUnitFillFunction($event)" [defaultvalue]="form.get('OrganizationUnitCode').value"></app-entitylookup>
        
        <app-entitylookup class="KeyField" [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].OrganizationUnitName" formControlName='OrganizationUnitName'
        (Onselectdata)="OrganizationUnitFillFunction($event)" [defaultvalue]="form.get('OrganizationUnitName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].OrganizationUnitShortName" formControlName='OrganizationUnitShortName'
        (Onselectdata)="OrganizationUnitFillFunction($event)" [defaultvalue]="form.get('OrganizationUnitShortName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].CompanyName" formControlName='CompanyName'
        (Onselectdataids)="OrganizationUnitPatchValue($event)" [defaultvalue]="form.get('CompanyName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].BranchName" formControlName='BranchName'
        (Onselectdataids)="OrganizationUnitPatchValue($event)" [defaultvalue]="form.get('BranchName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].DivisionName" formControlName='DivisionName'
        (Onselectdataids)="OrganizationUnitPatchValue($event)" [defaultvalue]="form.get('DivisionName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].CurrencyName" formControlName='CurrencyName'
        (Onselectdataids)="OrganizationUnitPatchValue($event)" [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="OrganizationUnitJSON.default.ObjectFields[0].CalendarName" formControlName='CalendarName'
        (Onselectdataids)="OrganizationUnitPatchValue($event)" [defaultvalue]="form.get('CalendarName').value"></app-entitylookup>

        <app-gb-input formControlName='OrganizationUnitLogo1'></app-gb-input>

        <app-gb-input formControlName='OrganizationUnitLogo2'></app-gb-input>

        <app-gb-input formControlName='OrganizationUnitDisplayName'></app-gb-input>

        <app-gb-radiobox class="KeyField" formControlName='PeriodGroup'></app-gb-radiobox>

        <app-gb-date class="KeyField" formControlName='OrganizationUnitOverLockDate'
        [date]="form.get('OrganizationUnitId').value" [default]="'today'"></app-gb-date>

    </form>
</div>