<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>
    <div id="Instrumentform1">
      <!-- <app-entitylookup [PicklistObj]="FindPicklist('InstrumentName')" formControlName='InstrumentName'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('InstrumentName').value"></app-entitylookup>
      <app-gb-combobox formControlName="InstrumentType"></app-gb-combobox>
      <app-entitylookup [PicklistObj]="FindPicklist('AccountName')" formControlName='AccountName'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('AccountName').value"></app-entitylookup>
      <app-gb-radiobox formControlName='InstrumentAccountPostType'></app-gb-radiobox>
      <app-gb-radiobox formControlName='InstrumentPostDatedType'></app-gb-radiobox>
      <app-gb-input formControlName='InstrumentValidityPeriodInDays'></app-gb-input> -->
    </div>

    <div id="Instrumentform2">
      <app-entitylookup [PicklistObj]="InstrumentJSON.default.ObjectFields[0].InstrumentName" formControlName='InstrumentName'
        (Onselectdata)="InstrumentFillData($event)" [defaultvalue]="form.get('InstrumentName').value"></app-entitylookup>
      <!-- <app-entitylookup [picklisturl]="'Instrument'" [label]="'Name*'" [picklistdisplaytext]="'Name'"
        [picklistsearchfields]="'Name'" [multiple]="false" formControlName='InstrumentName'
        (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Code'"
        [defaultvalue]="form.get('InstrumentName').value"></app-entitylookup> -->
      <app-gb-combobox formControlName="InstrumentType" (ComboBoxOutPut)="ComboBoxOutPut($event)"></app-gb-combobox>
      <app-entitylookup [PicklistObj]="InstrumentJSON.default.ObjectFields[0].AccountName" formControlName='AccountName'
        (Onselectdataids)="PicklistPatchValue($event)" [defaultvalue]="form.get('AccountName').value"></app-entitylookup>
      <!-- <app-entitylookup [picklisturl]="'Account'" [label]="'Account*'" [picklistdisplaytext]="'Code,Name'"
        [width]="'200'" [picklistsearchfields]="'Code,Name'" [multiple]="false" [LinkId]="'AccountId'"
        formControlName='AccountName' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)"
        [picklisttitle]="'Name'" [defaultvalue]="form.get('AccountName').value"></app-entitylookup> -->
      <app-gb-radiobox formControlName='InstrumentAccountPostType' (RadioButtonOutPut)="RadioButtonOutPut($event)"></app-gb-radiobox>
      <app-gb-radiobox formControlName='InstrumentPostDatedType'></app-gb-radiobox>
      <app-gb-input formControlName='InstrumentValidityPeriodInDays' (InputOutPut)="InputOutPut($event)"></app-gb-input>
      <app-gb-radiobox formControlName='InstrumentStatusOfInstrument'></app-gb-radiobox>
      <app-gb-checkbox formControlName='InstrumentIsApplicableForBank' (CheckBoxOutPut)="Checkboxoutput($event)"></app-gb-checkbox>
      <app-gb-checkbox formControlName='InstrumentIsApplicableforCounterTransaction'></app-gb-checkbox>
      <div class="FormSubHeading">OU Applicable</div>
      <app-entitylookup [PicklistObj]="InstrumentJSON.default.ObjectFields[0].InstrumentOuNames"
        formControlName='InstrumentOuNames' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('InstrumentOuNames').value"></app-entitylookup>
      <app-entitylookup [PicklistObj]="InstrumentJSON.default.ObjectFields[0].InstrumentOuGroupNames"
        formControlName='InstrumentOuGroupNames'(Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('InstrumentOuGroupNames').value"></app-entitylookup>
    </div>
  </form>
</div>