<div class='FormOverview' *ngIf="form.bFormReady && EBankJSON">
    <form [formGroup]='form' style="display: flex;">
        <app-entitylookup class="KeyField" [PicklistObj]="EBankJSON.default.ObjectFields[0].AccountCode"
            (Onselectdata)="EBankFillData($event)" formControlName='AccountCode'
            [defaultvalue]="form.get('AccountCode').value">
        </app-entitylookup>

       <app-gb-input style="position: relative;top: 7px;" class="KeyField"  formControlName='SecretKey'></app-gb-input>
       
       <div *ngIf="showDiv == true" class="AccountDetails" style="width:600px;height:107px;border-radius: 6px; background-color: #FFF0F2 ;position: relative;left: -100px;">
        <table style="line-height: 36px;">
            <tr *ngFor="let bank of bankdetails">
                <td style="position: relative;left: 36px;">Account Name</td>
                <td style="position: relative;left: 47px; font-weight: 700;">{{bank.AccountName}}</td>
                <td style="position: relative;left: 113px;">Branch</td>
                <td style="position: relative;left: 82px; font-weight: 700;">{{bank.AccountBankBranchAddress3}}</td>
            </tr>

            <tr *ngFor="let bank of bankdetails">
                <td style="position: relative;left: 58px;">IFSC Code</td>
                <td style="position: relative;left: 46px; font-weight: 700;">{{bank.AccountBankBranchCode}}</td>
                <td style="position: relative;left: 75px;">Branch Code</td>
                <td style="position: relative;left: 82px; font-weight: 700;">{{bank.AccountBankBranchCode}}</td>
            </tr>

            <tr *ngFor="let bank of bankdetails">
                <td style="position: relative;left: 94px;">Bank</td>
                <td style="position: relative;left: 45px; font-weight: 700;">{{bank.AccountBankBranchBankName}}</td>
            </tr>
        </table>
       </div>
      
       <table style="position: relative;left: -71px;" *ngIf="showBalance == true">
        <tr>
            <td>As on {{ currentDate | date: 'dd/MMM/yyyy HH:mm:ss' }}</td> </tr>
            <tr>
                <td>Balance</td>
            </tr>
           
           <tr>
            <td class="bankbalance">{{accountbalance}}</td>
            <td></td>
            <td class="credit" *ngIf="accountbalance > 0" style="position: relative;left: 12px;">{{'C'}}</td>
            <td class="debit" *ngIf="accountbalance < 0" style="position: relative;left: 12px;">{{'D'}}</td>
           </tr>
           

       </table>
     
    </form>

    <div style="margin-top: 24px;">
        <span class="ebankbuttons" (click)="getfillcheck($event,template)" style="background-color: #FF4F7B;color: #FFFFFF;">Check Balance</span>
        <span class="ebankbuttons" style="background-color: #6E3AB6;color: #FFFFFF;">Make Payment</span>
        <span class="ebankbuttons" id="getstetmentbtn" style="background-color: white;color: #6E3AB6;">Get Statement</span>
    </div>
</div>
   
<!-- <div (click)="ebankservice()" mat-menu-item
class="caption-med-12-type-primary menudata viewdata">
<mat-icon>email</mat-icon>
<span class="caption-med-12-type-primary">Mail</span>
</div> -->

<ng-template #template>
    <div><h1 class="lightboxhead" style="display: inline;">OTP - Check Balance</h1> <span style="float: right;"><mat-icon (click)="closeotpdailogbox(template)" style="color: #ED2531;cursor: pointer;">cancel</mat-icon></span></div>

    <div>Enter OTP</div>
    <input style="width: 12px;" maxlength="1" (input)="moveToNext($event, 1)" (keydown)="handleBackspace($event, 1)" (keypress)="validateInput($event)" #input1 />
    <input style="width: 12px;margin-left: 6px;" maxlength="1" (input)="moveToNext($event, 2)" (keydown)="handleBackspace($event, 2)" (keypress)="validateInput($event)" #input2 />
    <input style="width: 12px;margin-left: 6px;" maxlength="1" (input)="moveToNext($event, 3)" (keydown)="handleBackspace($event, 3)" (keypress)="validateInput($event)" #input3 />
    <input style="width: 12px;margin-left: 6px;" maxlength="1" (input)="moveToNext($event, 4)" (keydown)="handleBackspace($event, 4)" (keypress)="validateInput($event)" #input4 />
    <input style="width: 12px;margin-left: 6px;" maxlength="1" (input)="moveToNext($event, 5)" (keydown)="handleBackspace($event, 5)" (keypress)="validateInput($event)" #input5 />
    <input style="width: 12px;margin-left: 6px;" maxlength="1" (input)="moveToNext($event, 6)" (keydown)="handleBackspace($event, 6)" (keypress)="validateInput($event)" #input6 />
    <br><br>
   
    <button mat-flat-button color="primary" style="background-color: #32AE73;color: #FFFFFF;" (click)="ebankservice()"><mat-icon>check_circle</mat-icon>Submit</button>
    <button mat-flat-button color="primary" style="background-color: #6E3AB6;margin-left: 16px;" (click)="ebankservice()"><mat-icon>refresh</mat-icon>Resend OTP</button>
    <button mat-flat-button color="primary" id="getstetmentbtn" style="background-color: white;color: #6E3AB6;margin-left: 16px;" (click)="clearInputs()"><mat-icon>clear</mat-icon>Clear</button>
</ng-template>
