<div>
  <h3 style="color: brown;text-align:center;">Event Log for Pack</h3>
  <table style="width:100%">
    <td>
      <tr *ngFor="let row of logData"> {{row.UserName}} </tr>
    </td>
    <hr>

    <td>
      <tr *ngFor="let row of logData"> {{row.EventLogEventText}} </tr>
    </td>
    <hr>

    <td>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
      <tr>and it was modified on</tr>
    </td>
    <hr>

    <td>
      <tr *ngFor="let row of logData"> {{row.EventLogTimeStamp}} </tr>
    </td>


  </table>
</div>