<span id="table" class="sticky-header">
  <table class="styled-table">
    <thead class="mon-sixth">
      <tr>
        <th style="color:white;">Number</th>
        <th style="color:white;">Account</th>
        <th style="color:white;">Debit</th>
        <th style="color:white;">Credit</th>
        <th style="color:white;">Opening</th>
        <th style="color:white;">Closing</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowData">
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.VoucherNumber}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.LedgerName}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Debit}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Credit}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.TransactionOpeningAmount}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.TransactionClosingAmount}}</td>
      </tr>
    </tbody>
  </table>
</span>
<app-ApexChart [chartdata]="chartdata"></app-ApexChart>
