<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>
    <app-entitylookup [PicklistObj]="CostcenterpatternJson.default.ObjectFields[0].CostCenterTypeName"
      formControlName='CostCenterTypeName' (Onselectdataids)="CostCenterPatternPatchValue($event)"
      [defaultvalue]="form.get('CostCenterTypeName').value"></app-entitylookup>
    <app-entitylookup [PicklistObj]="CostcenterpatternJson.default.ObjectFields[0].CostCenterPatternCode"
      formControlName='CostCenterPatternCode' (Onselectdata)="CostCenterPatternFillFunction($event)"
      [defaultvalue]="form.get('CostCenterPatternCode').value" class="KeyField"
      style="display: inline-block;margin-top: 16px;"></app-entitylookup>
    <app-entitylookup [PicklistObj]="CostcenterpatternJson.default.ObjectFields[0].CostCenterPatternName"
      formControlName='CostCenterPatternName' (Onselectdata)="CostCenterPatternFillFunction($event)"
      [defaultvalue]="form.get('CostCenterPatternName').value" class="KeyField"
      style="display: inline-block;margin-top: 16px;"></app-entitylookup>
    <app-gb-textarea formControlName='CostCenterPatternRemarks'></app-gb-textarea>
    <app-gb-formgrid formControlName='CostCenterPatternDetailArray'
      [ArrayDetail]="form.get('CostCenterPatternCode').value"></app-gb-formgrid>
  </form>
</div>