  #Chart {
    display: inline-block;
    width: 45%;
  }
  
  .lightbox{
    z-index: 1;
  }
  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px; /* Location of the box */
    margin-top: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.applybtn1{
margin-left:730px;
background-color: rgb(105, 216, 105);
}
.closebtn1{
margin-left:10px;
background-color: rgb(230, 93, 93);
}

.closeicon1{
  position:absolute; 
  margin-top: 4px;
  margin-left:1022px;
  cursor: pointer;
}

.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  border-radius: 20px;
}

#myBtn{
  cursor: pointer;
}

.content1{
  border: 1px solid black;
  margin: auto;
  height: auto;
  padding: 10px;
}
