<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Produced</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Re-Processed</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Accept</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Reject</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Rework</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ItemCode}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ItemName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.UOMCode}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.Produced | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.Reprocess | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.Accepeted | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.Rejected | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.Rework | NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
  </div>