<div class="abb">
    <p>F : FullWorkingDay</p>
    <p>HW : HalfWorkingDay </p>
    <p>Woff : WeeklyOff</p>
    <p>L : Leave</p>
    <p>HL : HalfLeave</p>
    <p>CW : CompensateWorking</p>
    <p>COff : CompensateOff</p>
    <p>A : Absent</p>
    <p>H : Holiday</p>
    <p>O : Others</p>
</div>
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" >Shift</th>
          <th class="th cap1-bold-12-white" >End</th>
          <th class="th cap1-bold-12-white" >Out</th>
          <th class="th cap1-bold-12-white" >Early</th>
          <th class="th cap1-bold-12-white" >Status</th>
          <th class="th cap1-bold-12-white" >Remarks</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowDatas">
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code | DateFormatter}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
            <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.shift}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.timeend}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.timeout}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.early}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.daytype}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
              {{ data.remarks === "NONE" ? '' : data.remarks }}
          </td>
          
        </tr>
      </tbody>
    </table>
    </div>
