<div class="abb">
    <p >Value :{{ToatlVal | NumberFormat}}</p>
    <p >Cost :{{ToatlCost | NumberFormat}}</p>
    <p >Realisation :{{ToatlRealisation | NumberFormat}}</p>
    <p >Margin :{{ToatlMargin | NumberFormat}}</p>
    <p >Margin % Cost :{{ToatlMarginCost | NumberFormat}}</p>
    <p >Margin % Value :{{ToatlMargiVal | NumberFormat}}</p>

  </div>
  
  
  <div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Particulars</th>
          <th class="th cap1-bold-12-white" >Qty</th>
          <th class="th cap1-bold-12-white" >UOM</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Value</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Cost</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Realisation</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Margin</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Margin % Cost</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Margin % Value</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData">
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Particulars}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Qty | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.UOM}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Value | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Cost | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Realisation | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Margin | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Margincos | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Marginval | NumberFormat}}</td>

        </tr>
      </tbody>
    </table>
    </div>
