<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].PartyName"
            formControlName='PartyName' (Onselectdataids)="PrintedLabelpatch($event)"
            [defaultvalue]="form.get('PartyName').value"></app-entitylookup> 
            
            <app-gb-input formControlName='LabelCodeNo'></app-gb-input>

            <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].LabelName"
            formControlName='LabelName' (Onselectdata)="PrintedLabelFormVal($event)"
            [defaultvalue]="form.get('LabelName').value"></app-entitylookup> 

            <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].LabelCode"
            formControlName='LabelCode' (Onselectdata)="PrintedLabelFormVal($event)"
            [defaultvalue]="form.get('LabelCode').value"></app-entitylookup> 

            <app-gb-input formControlName='LabelDesignNo'></app-gb-input>


            <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].DesignerName"
            formControlName='DesignerName' (Onselectdataids)="PrintedLabelpatch($event)"
            [defaultvalue]="form.get('DesignerName').value"></app-entitylookup> 

            <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].RepresentativeName"
            formControlName='RepresentativeName' (Onselectdataids)="PrintedLabelpatch($event)"
            [defaultvalue]="form.get('RepresentativeName').value"></app-entitylookup> 

            <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].ItemName"
            formControlName='ItemName' (Onselectdataids)="PrintedLabelpatch($event)"
            [defaultvalue]="form.get('ItemName').value"></app-entitylookup> 

            <app-gb-input formControlName='LabelWidth'></app-gb-input>

            <app-gb-input formControlName='LabelLength'></app-gb-input>

            <app-gb-input formControlName='LabelNoOfColor'    (InputOutPut)="InputInitialValue($event)" ></app-gb-input>

            <app-gb-input formControlName='LabelFrontColor'  (InputOutPut)="InputMinusValue($event)"></app-gb-input>

            <app-gb-input formControlName='LabelBackColor'></app-gb-input>

            <app-gb-input formControlName='LabelExtraRate'></app-gb-input>

            <app-gb-input formControlName='LabelFinalRate'></app-gb-input>

            <app-gb-input formControlName='LabelTotalSqln'></app-gb-input>

            <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].FinishTypeName"
            formControlName='FinishTypeName' (Onselectdataids)="PrintedLabelpatch($event)"
            [defaultvalue]="form.get('FinishTypeName').value"></app-entitylookup> 

            <app-entitylookup class="KeyField" [PicklistObj]="PrintedLabelJSON.default.ObjectFields[0].SizeSetName"
            formControlName='SizeSetName' (Onselectdataids)="PrintedLabelpatch($event)"
            [defaultvalue]="form.get('SizeSetName').value"></app-entitylookup> 


        </form>
        </div>