.packdbserv
{
  height: 300px;
}

.packdbservs
{
  margin-left:15px ;
}

@media (max-width: 850px) {
  .packdbservs{
    margin-left:20px ;
  }
}

@media (max-width: 650px) {
  .packdbservs{
    margin-left:15px ;
  }
}