<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
<app-entitylookup class="KeyField"
[PicklistObj]="EmployeeExperienceJSON.default.ObjectFields[0].EmployeeCode"  formControlName='EmployeeCode'
       (Onselectdata)="EmployeeExperienceFillFunction($event)" [defaultvalue]="form.get('EmployeeCode').value"></app-entitylookup>

       <app-gb-input formControlName='EmployeeExperienceNumberOfYear'></app-gb-input>

       <app-gb-formgrid formControlName='EmployeeExperienceDetailArray'
            [ArrayDetail]="form.get('EmployeeId').value"></app-gb-formgrid>

    </form>
</div>