<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ModelJSON.default.ObjectFields[0].ModelCode" formControlName='ModelCode'
        (Onselectdata)="ModelFillFunction($event)" [defaultvalue]="form.get('ModelCode').value"></app-entitylookup>
        
        <app-entitylookup class="KeyField" [PicklistObj]="ModelJSON.default.ObjectFields[0].ModelName" formControlName='ModelName'
        (Onselectdata)="ModelFillFunction($event)" [defaultvalue]="form.get('ModelName').value"></app-entitylookup>
<br>
        <app-entitylookup class="KeyField" [PicklistObj]="ModelJSON.default.ObjectFields[0].ModelShortName" formControlName='ModelShortName'
        (Onselectdata)="ModelFillFunction($event)" [defaultvalue]="form.get('ModelShortName').value"></app-entitylookup>
<br>
        <app-entitylookup class="KeyField" [PicklistObj]="ModelJSON.default.ObjectFields[0].ItemCategoryName" formControlName='ItemCategoryName'
        (Onselectdataids)="ModelPatchValue($event)" [defaultvalue]="form.get('ItemCategoryName').value"></app-entitylookup>
<br>
        <app-entitylookup class="KeyField" [PicklistObj]="ModelJSON.default.ObjectFields[0].ItemBrandName" formControlName='ItemBrandName'
        (Onselectdataids)="ModelPatchValue($event)" [defaultvalue]="form.get('ItemBrandName').value"></app-entitylookup>

        <app-gb-checkbox formControlName='ModelIsSelected'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ModelIsAsset'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ModelIsItem'></app-gb-checkbox>
    </form>
</div>