<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="PageJSON.default.ObjectFields[0].PageCode"
        formControlName='PageCode' (Onselectdata)="PagePicklistFillValue($event)"
        [defaultvalue]="form.get('PageCode').value"></app-entitylookup>
        
       
        <app-entitylookup class="KeyField" [PicklistObj]="PageJSON.default.ObjectFields[0].PageName"
        formControlName='PageName' (Onselectdata)="PagePicklistFillValue($event)"
        [defaultvalue]="form.get('PageName').value"></app-entitylookup>
        
        <app-entitylookup [PicklistObj]="PageJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="PagePicklistPatchValue($event)"
        [defaultvalue]="form.get('ModuleName').value" ></app-entitylookup>
       
        <app-gb-combobox formControlName='PageType'></app-gb-combobox>

        <app-gb-combobox formControlName='PageLayOut'></app-gb-combobox>
        
        <app-entitylookup [PicklistObj]="PageJSON.default.ObjectFields[0].ImageName"
        formControlName='ImageName' (Onselectdataids)="PagePicklistPatchValue($event)"
        [defaultvalue]="form.get('ImageName').value" ></app-entitylookup>   
       
        <app-gb-textarea formControlName='PageRemarks'></app-gb-textarea>

    </form>
</div>
