<table class="styled-table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let accScheduleRow of accScheduleList">
      <td [ngStyle]="{ fontWeight: accScheduleRow.bold ? 'bold' : 400 }">
        {{ accScheduleRow.code }}
      </td>
      <td>{{ accScheduleRow.name }}</td>
    </tr>
  </tbody> 
</table>
