<div class="abb">
    <p>NetValue : {{ NetValue | NumberFormat }}</p>
    <p>NetValue Fc : {{ NetValueFc | NumberFormat }}</p>
    <p>ItemValue : {{ ItemValue | NumberFormat }}</p>
    <p>ItemValue Fc : {{ ItemValueFc | NumberFormat }}</p>
    <p>Bill Value : {{ BillVal | NumberFormat }}</p>
</div>


<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Doc.Dt</th>
                <th class="th cap1-bold-12-white">Ref.No</th>
                <th class="th cap1-bold-12-white">Ref.Dt</th>
                <th class="th cap1-bold-12-white">Particulars</th>
                <th class="th cap1-bold-12-white">Person</th>
                <th class="th cap1-bold-12-white" style="text-align: right; margin-right: 20px;">NetValue</th>
                <th class="th cap1-bold-12-white" style="text-align: right; margin-right: 20px;">NetValue Fc</th>
                <th class="th cap1-bold-12-white" style="text-align: right; margin-right: 20px;">ItemValue</th>
                <th class="th cap1-bold-12-white" style="text-align: right; margin-right: 20px;">ItemValue Fc</th>
                <th class="th cap1-bold-12-white" style="text-align: right; margin-right: 20px;">Bill Value</th>
                <th class="th cap1-bold-12-white">Transaction</th>


            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" >{{data.DocDt | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary"[ngStyle]="{fontWeight: data.bold ? 'bold':400}" >{{data.RefNo}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.RefDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Particulars}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Person}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; margin-right: 20px;">{{data.NetValue | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; margin-right: 20px;">{{data.NetValueFc | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; margin-right: 20px;">{{data.ItemValue | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; margin-right: 20px;">{{data.ItemValueFc | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; margin-right: 20px;">{{data.BillVal | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Transaction}}</td>
            </tr>
        </tbody>
    </table>
</div>