@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.basic-container{
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.heading{
    position: relative;
    top: 14px;
    left: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    background-color: unset;
}
.horizontalbar{
    // background: linear-gradient(90deg,#FFCAD5 0%, #F8D2F2 54.67%,#E6DBF9 100%);
    // display: flex !important;
    position: relative;
    height: 52px;
    width: auto;
}
.mat-icon-button {
    border-bottom: unset !important;
}

.Menutreearrow{
    margin-top: 12px;
    float: right;
    width: 32px;
    outline-style: none;
    display: flex;
    margin-right: 12px;
    cursor: pointer;
    align-items: center;
}

.vertical-menu{
    color:#FFF;
    padding-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}
.mat-tree-node { 
    min-height: 41px;
}
.menu-divider{
    width: 100%;
    height:1px;
    background-color:#b788e9;
    cursor: pointer;
}
.nodename{
    display: inline-block; 
    position: relative; 
    width: 110px;
    line-height: 15px;
    // margin-right: 20px;
    margin-left: -60px;
    font-weight: 700;
    cursor: pointer;
}

.nodenames{
    cursor: pointer;
  }

.btns{
    cursor: pointer;
    width: 100%;
}

.menu-divider{
    width: 100%;
    height:1px;
    background-color:#b788e9;
    cursor: pointer;
}

.image{
    opacity: 1;
    margin-left: 20px;
}

.hoverimage{
    opacity: 0;
    left: -60px;
    margin-left: 20px;
}

.text{
    cursor: pointer;
    display: inline-block;
}

.boxborder{
    //border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.menutree{
    margin-top: 8px;
    // background-color: #FFF;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.hover:hover{
    background-color: #B32384;
    .nodename{
        color: #FFF;
    }
    .image{
        opacity: 0;
    }
    .hoverimage{
        opacity: 1;
    }
}