<div [style.display]="!change ? 'flex' : 'none'" class= "horizontalbar" >
  <!-- <span class="mon-sixth heading">{{Module}}</span><br><br> -->
  <div class="menutree" *ngFor="let item of dataSource.data">
    <div class="hover" (click)="menulist(item)" style="width: 150px;height: 38px; border-radius: 7px;display: flex;align-items: center;">
          <button class="image" mat-icon-button style="outline-style: none;">
            <img width="24px" height="24px" img src='{{ "assets/menutree/" + theme + "/" + item.DisplayName + ".png" }}' alt="" />
          </button>
          <button class="hoverimage" mat-icon-button style="outline-style: none;">
            <img width="24px" height="24px" img src='{{ "assets/menutree/WHITE/" + item.DisplayName + ".png" }}' alt="" />
          </button>
          <span 
            class="captionHead-semibold-12-type-primary nodename" >{{ item.DisplayName}}
            &nbsp;&nbsp;
          </span>
    </div>
  </div>
</div>
