<div class="dbtable">
    <input type="checkbox" id="narrationCheckbox" [(ngModel)]="showNarration" style="margin-left: 1250px;" />
<label for="narrationCheckbox" style="margin-left: 10px;">Narration</label>   
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Date</th>
                <th class="th cap1-bold-12-white">Type</th>
                <th class="th cap1-bold-12-white">Number</th>
                <th class="th cap1-bold-12-white">Particulars</th>
                <th class="th cap1-bold-12-white">Debit</th>
                <th class="th cap1-bold-12-white">Credit</th>
                <th class="th cap1-bold-12-white">Balance</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <ng-container *ngFor="let data of rowData; let i=index">
                <tr class="tr">
                    <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vdate | DateFormatter}}</td>
                    <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.bizcode}}</td>
                    <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vno}}</td>
                    <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vaccname}} </td>
                    <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.debit | NumberFormat}}</td>
                    <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.credit | NumberFormat}}</td>
                    <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.balance | NumberFormat}} {{data.balance > 0 ? 'Dr' : 'Cr'}}</td>
                </tr>
                <ng-container *ngIf="showNarration && data.vnarration">
                    <tr class="tr">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td cap2-med-12-type-primary" style="font-style: italic;color: #75736d;" [ngStyle]="{ fontWeight: data.bold ? 'bold' : 200 }" colspan="7">
                            {{ data.vnarration }}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>
