<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="StoreJSON.default.ObjectFields[0].StoreCode"
            formControlName='StoreCode' (Onselectdata)="StoreFillFunction($event)"
            [defaultvalue]="form.get('StoreCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="StoreJSON.default.ObjectFields[0].StoreName"
            formControlName='StoreName' (Onselectdata)="StoreFillFunction($event)"
            [defaultvalue]="form.get('StoreName').value"></app-entitylookup>
<br>
            <app-entitylookup [PicklistObj]="StoreJSON.default.ObjectFields[0].OrganizationUnitName"
            formControlName='OrganizationUnitName' (Onselectdataids)="StorePatchValue($event)"
            [defaultvalue]="form.get('OrganizationUnitName').value"></app-entitylookup>

            <app-entitylookup [PicklistObj]="StoreJSON.default.ObjectFields[0].PartyBranchName"
            formControlName='PartyBranchName' (Onselectdataids)="StorePatchValue($event)"
            [defaultvalue]="form.get('PartyBranchName').value"></app-entitylookup>

            <app-gb-combobox formControlName="StoreType"></app-gb-combobox>

            <app-gb-radiobox formControlName='StoreIsReservation'></app-gb-radiobox>

            <app-gb-checkbox formControlName='StoreIsPlanning'></app-gb-checkbox> 

            <app-gb-checkbox formControlName='StoreIsStockValue'></app-gb-checkbox>

            <app-gb-input formControlName='StoreSortOrder'></app-gb-input>

    </form>
</div>