<div class='FormOverview' *ngIf="form.bFormReady">
    
    <form [formGroup]='form'>

        <app-entitylookup  [PicklistObj]="CodeDefineJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="CodeDefinePicklistPatchValue($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>
        
        <app-entitylookup  [PicklistObj]="CodeDefineJSON.default.ObjectFields[0].EntityName"
        formControlName='EntityName' (Onselectdata)="CodeDefinePicklistFillValue($event)"
        [defaultvalue]="form.get('EntityName').value"></app-entitylookup>

        <app-gb-combobox formControlName="MultiCategory"></app-gb-combobox>

        <app-gb-combobox formControlName="CodeDefineGenerationType" *ngIf="form.get('MultiCategory').value == 1"></app-gb-combobox>
        <app-gb-input formControlName="CodeDefineCategoryCode" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-input formControlName="CodeDefineCategoryName" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-input formControlName="CodeDefineCodeSize" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-input formControlName="CodeDefineCatPrefix" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-input formControlName="CodeDefineCatSuffix" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-input formControlName="CodeDefineCatStartNo" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-input formControlName="CodeDefineCatEndNo" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-input formControlName="CodeDefineCatLastNo" *ngIf="form.get('MultiCategory').value == 1"></app-gb-input>
        <app-gb-textarea formControlName="CodeDefineRemarks" *ngIf="form.get('MultiCategory').value == 1"></app-gb-textarea>

        <app-gb-formgrid formControlName='CodeDefineArray' 
            [ArrayDetail]="form.get('EntityId').value" *ngIf="form.get('MultiCategory').value == 2"></app-gb-formgrid>

    </form>
</div>