<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="BudgetJSON.default.ObjectFields[0].COSTINGNUMBER"
            formControlName='COSTINGNUMBER' (Onselectdata)="BudgetMasterPicklistFillValue($event)"
            [defaultvalue]="form.get('COSTINGNUMBER').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="BudgetJSON.default.ObjectFields[0].Selection"
            formControlName='Selection' (Onselectdata)="BudgetMasterPicklistFillValue($event)"
            [defaultvalue]="form.get('Selection').value"></app-entitylookup>
        <app-gb-date  class="KeyField"  formControlName='COSTINGDATE' [date]="form.get('COSTINGID').value"></app-gb-date>
        <app-gb-input  class="KeyField"  formControlName='REFERENCENUMBER'></app-gb-input>
        <app-gb-combobox  class="KeyField"  formControlName="COSTINGTYPE"></app-gb-combobox>
        <app-gb-combobox  class="KeyField"  formControlName="Allocation"></app-gb-combobox>
        <app-gb-combobox  class="KeyField"  formControlName="COSTANALYSISTYPE"></app-gb-combobox>
        <app-gb-date  class="KeyField"  formControlName='REFERENCEDATE' [date]="form.get('COSTINGID').value"
            [default]="'today'"></app-gb-date>
        <!-- <app-gb-textarea class="KeyField" formControlName='REMARKS'></app-gb-textarea> -->
        <app-gb-formgrid formControlName='CostingDetailArray' [ArrayValues]="form.value"
            [ArrayDetail]="form.get('CostingDetailArray').value"></app-gb-formgrid>
        <app-gb-BudgetMasterGrid formControlName='COSTINGMATERIALArray' [ArrayValues]="form.value" (TotalEmit)="GridTotalOutput($event)"
            [ArrayDetail]="form.get('COSTINGID').value" (GridOutPut)="GridOutputPatch($event)"></app-gb-BudgetMasterGrid>
    </form>
</div>