@import url("https://fonts.googleapis.com/css?family=Helvetica");
@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.topcorner{
    position:absolute;
    top:10px;
    left:27%;
   }
.field{
    margin-right: 65px;
    margin-top: 18px;
}
.lang{
    font-family: 'Helvetica';
    height: 20px;
    font-size: 12px;
    color:#1A1A1A;
}

.value{
    border:1px solid #bdbaba; 
    background-color: white; 
}

.caption-med-12-type-primary{
    font-weight: 700;
}

.custom-select .mat-select-arrow{
    border-left: 20px solid transparent !important;
    border-right: none !important;
    border-top: 20px solid transparent !important;
    border-image-source: url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png') !important;
    border-image-repeat: stretch !important;
    margin: 0px;
}

@media (max-width: 815px) {
   .topcorner{
    left: 82%;
   }
}

@media (max-width: 450px) {
    .topcorner{
     left: 72%;
    }
 }