<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="ProblemVsSolutionJson.default.ObjectFields[0].ProblemName"
        formControlName='ProblemName' (Onselectdata)="ProblemVsSolutionFillFunction($event)"
        [defaultvalue]="form.get('ProblemName').value"></app-entitylookup>


        <app-gb-formgrid formControlName='ProblemVsSolutionArray'
        [ArrayDetail]="form.get('ProblemId').value"></app-gb-formgrid>

    </form>
</div>

