<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>


        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'PF(GenerallInfo)')">
                PF(GenerallInfo)</button>
            <button class="FormTabLinks TabHeading"
                (click)="ChangeTab($event, 'PF(Contribution)')">PF(Contribution)</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'ESI')">ESI </button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'TDS')"> TDS</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Others')">Others</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'PackSLNo')">PackSLNo</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Rating')"> Rating</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'InterCompany')">Inter Company</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Delivery')">Delivery</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'MRP')"> MRP</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Logistics')">Logistics</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'CRM')">CRM</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'DigitalSign')"> DigitalSign</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Trip')">Trip</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'OverTime')">OverTime</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'HRMSFeatures')">HRMS Features</button>

        </div>
        <div class="TabView">
            <div id="PF(GenerallInfo)" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;">PF(GeneralInfo)</span>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].Name"
                    formControlName='Name' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('Name').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='OULevelSettingRetirementAge'></app-gb-input>

                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingChargesPerKilometer'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].SalaryPayableAccountName"
                    formControlName='SalaryPayableAccountName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('SalaryPayableAccountName').value"></app-entitylookup>

                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingFPFApplicable'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].SalaryGrossFormulaName"
                    formControlName='SalaryGrossFormulaName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('SalaryGrossFormulaName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingPFNumber'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PFWagesName" formControlName='PFWagesName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PFWagesName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingEPFCode'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='OULevelSettingPFGroup'></app-gb-input>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PFLopDaysName"
                    formControlName='PFLopDaysName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PFLopDaysName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='OULevelSettingPFBankName'></app-gb-input>
                <br>
                <span class="FormSubHeading" style="position: relative;top: -1px; padding: 0px;">Address</span>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingPFBankAddress1'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='OULevelSettingPFBankAddress2'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingPFBankAddress3'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='OULevelSettingPFBankAddress4'></app-gb-input>
                <br>
                <span class="FormSubHeading" style="position: relative;top: -1px; padding: 0px;">AdminCharges</span>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingPFAdminPercentage'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='OULevelSettingDLIAdminPercentage'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PFAdminAmountName"
                    formControlName='PFAdminAmountName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PFAdminAmountName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].DLIAdminAmountName"
                    formControlName='DLIAdminAmountName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('DLIAdminAmountName').value"></app-entitylookup>

            </div>
            <div id="PF(Contribution)" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 0px; padding: 0px;">Employer</span>
                <span class="FormSubHeading" style="position: relative;top: 0px; padding: 0px;">EPFEmployer:</span>
                <span class="FormSubHeading" style="position: relative;top: 0px; padding: 0px;">FPF Employer:</span>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingEPFEmployerPercentage"></app-gb-input>
                <app-gb-input class="KeyField" formControlName='OULevelSettingFPFEmployerPercentage'></app-gb-input>
                <br>
                <app-gb-input class="KeyField"
                    formControlName='OULevelSettingEPFEmployerActualPercentage'></app-gb-input>
                <app-gb-input class="KeyField"
                    formControlName='OULevelSettingFPFEmployerActualPercentage'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].EPFEmployerName"
                    formControlName='EPFEmployerName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('EPFEmployerName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].FPFEmployerName"
                    formControlName='FPFEmployerName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('FPFEmployerName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PensionWagedName"
                    formControlName='PensionWagedName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PensionWagedName').value"></app-entitylookup>
                <br>
                <span class="FormSubHeading" style="position: relative;top: -15px; padding: 0px;">Employee</span>
                <span class="FormSubHeading" style="position: relative;top: -15px; padding: 0px;">EPFEmployee:</span>
                <span class="FormSubHeading" style="position: relative;top: -15px; padding: 0px;">EDLIEmployer:</span>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingEPFEmployeePercentage"></app-gb-input>
                <app-gb-input class="KeyField" formControlName='OULevelSettingDLIEmployerPercentage'></app-gb-input>
                <br>
                <app-gb-input class="KeyField"
                    formControlName='OULevelSettingEPFEmployeeActualPercentage'></app-gb-input>
                <app-gb-input class="KeyField"
                    formControlName='OULevelSettingDLIEmployerActualPercentage'></app-gb-input>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].EPFEmployeeName"
                    formControlName='EPFEmployeeName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('EPFEmployeeName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].DLIEmployerName"
                    formControlName='DLIEmployerName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('DLIEmployerName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].DLIWagesName"
                    formControlName='DLIWagesName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('DLIWagesName').value"></app-entitylookup>
            </div>

            <div id="ESI" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 9px; padding: 0px;">ESI</span>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingESINumber'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESIWageName" formControlName='ESIWageName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ESIWageName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingESILocalOff'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESIEmployeeName"
                    formControlName='ESIEmployeeName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ESIEmployeeName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingESIDispensary"></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESIEmployerName"
                    formControlName='ESIEmployerName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ESIEmployerName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingESIWageceiling'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESILopDaysName"
                    formControlName='ESILopDaysName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ESILopDaysName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingESIEmployeePercentage"></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESIVolSharpName"
                    formControlName='ESIVolSharpName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ESIVolSharpName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingESIEmployerPercentage'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESIEarnedBasicName"
                    formControlName='ESIEarnedBasicName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ESIEarnedBasicName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESIUpToDtName"
                    formControlName='ESIUpToDtName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ESIUpToDtName').value"></app-entitylookup>
            </div>

            <div id="TDS" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 9px; padding: 0px;">TDS</span>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].TDSFormulaName"
                    formControlName='TDSFormulaName' (Onselectdata)="OULevelSettingPicklistFillValue($event)"
                    [defaultvalue]="form.get('TDSFormulaName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName="OULevelSettingTDSAccountNumber"></app-gb-input>
                <br>

                <app-gb-input class="KeyField" formControlName="OULevelSettingPangirNo"></app-gb-input>

                <app-gb-input class="KeyField" formControlName="OULevelSettingPayNature"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingTDSPercentage"></app-gb-input>

                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingCircleAddress1"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingCircleAddress2"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingCircleAddress3"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingCircleAddress4"></app-gb-input>

            </div>

            <div id="Others" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 9px; padding: 0px;">Others</span>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PFPostingTypeName"
                    formControlName='PFPostingTypeName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('PFPostingTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ESIPostingTypeName"
                    formControlName='ESIPostingTypeName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('ESIPostingTypeName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].RepaymentPostingTypeName"
                    formControlName='RepaymentPostingTypeName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('RepaymentPostingTypeName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='OULevelSettingBackDateAttendanceDay'></app-gb-input>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ChequeBounceBIZtransactionName"
                    formControlName='ChequeBounceBIZtransactionName'
                    (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('ChequeBounceBIZtransactionName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].BounceChargesAccountName"
                    formControlName='BounceChargesAccountName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('BounceChargesAccountName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].AbsentLeaveName"
                    formControlName='AbsentLeaveName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('AbsentLeaveName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].BreakTimeExpressionFormulaName"
                    formControlName='BreakTimeExpressionFormulaName'
                    (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('BreakTimeExpressionFormulaName').value"></app-entitylookup>
                <br>
                <app-gb-combobox class="KeyField" formControlName="OULevelSettingAttendanceType"></app-gb-combobox>
                <app-gb-combobox class="KeyField" formControlName='OULevelSettingOvertimeType'></app-gb-combobox>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].BonusonAmountFormulaName"
                    formControlName='BonusonAmountFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('BonusonAmountFormulaName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].BonusFormulaName"
                    formControlName='BonusFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('BonusFormulaName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].GratutiDaysFormulaName"
                    formControlName='GratutiDaysFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('GratutiDaysFormulaName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PTFormulaName"
                    formControlName='PTFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('PTFormulaName').value"></app-entitylookup>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='OULevelSettingIsMssApplicable'></app-gb-checkbox>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PTCategoryFormulaName"
                    formControlName='PTCategoryFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('PTCategoryFormulaName').value"></app-entitylookup>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].WorkSubTypeName"
                    formControlName='WorkSubTypeName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('WorkSubTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PTGrossFormulaName"
                    formControlName='PTGrossFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('PTGrossFormulaName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ReleivingFormulaName"
                    formControlName='ReleivingFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('ReleivingFormulaName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].TerminationFormulaName"
                    formControlName='TerminationFormulaName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('TerminationFormulaName').value"></app-entitylookup>
                <br>
                <span class="FormSubHeading" style="position: relative;top: 9px; padding: 0px;">Biztransaction</span>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].SaleOrderBizTransactionName"
                    formControlName='SaleOrderBizTransactionName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('SaleOrderBizTransactionName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].SaleInvoiceBizTransactionName"
                    formControlName='SaleInvoiceBizTransactionName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('SaleInvoiceBizTransactionName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ReceiptBizTransactionName"
                    formControlName='ReceiptBizTransactionName' (Onselectdataids)="OULevelSettingPatchValue($event)"
                    [defaultvalue]="form.get('ReceiptBizTransactionName').value"></app-entitylookup>



            </div>

            <div id="PackSLNo" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;">PackSlNo</span>

                <app-gb-input formControlName='OULevelSettingPackExciseSlNo'></app-gb-input>


            </div>
            <div id="Rating" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;">Rating</span>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingQualityWeightage"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingRateWeightage"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingDeliveryWeightage"></app-gb-input>
            </div>
            <div id="InterCompany" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Inter Company</span>
                <app-entitylookup [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].InterBIZTransactionName"
                    formControlName='InterBIZTransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('InterBIZTransactionName').value"></app-entitylookup>

                <app-entitylookup
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].AdjustmentBizTransactionName"
                    formControlName='AdjustmentBizTransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('AdjustmentBizTransactionName').value"></app-entitylookup>


                <app-entitylookup [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].InterAccountName"
                    formControlName='InterAccountName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('InterAccountName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].InterMMBiztransactionName"
                    formControlName='InterMMBiztransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('InterMMBiztransactionName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].DefaultBankAccountName"
                    formControlName='DefaultBankAccountName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('DefaultBankAccountName').value"></app-entitylookup>
            </div>


            <div id="Delivery" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Delivery</span>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].DeliveryOuName"
                    formControlName='DeliveryOuName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('DeliveryOuName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].TransferSendName"
                    formControlName='TransferSendName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('TransferSendName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].DeliveryBizTransactionName"
                    formControlName='DeliveryBizTransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('DeliveryBizTransactionName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].TransferReceivedName"
                    formControlName='TransferReceivedName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('TransferReceivedName').value"></app-entitylookup>

                <app-entitylookup class="KeyField" [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PartyName"
                    formControlName='PartyName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PartyName').value"></app-entitylookup>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].PartyBranchName"
                    formControlName='PartyBranchName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PartyBranchName').value"></app-entitylookup>


                <app-entitylookup class="KeyField" [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].IndentName"
                    formControlName='IndentName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('IndentName').value"></app-entitylookup>

            </div>

            <div id="MRP" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> MRP</span>
                <br>
                <app-gb-radiobox formControlName='OULevelSettingMRPBuyActionType'></app-gb-radiobox>

                <app-entitylookup [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].MRPBizTransactionName"
                    formControlName='MRPBizTransactionName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('MRPBizTransactionName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].MRPMakeBizTransactionName"
                    formControlName='MRPMakeBizTransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('MRPMakeBizTransactionName').value"></app-entitylookup>
                <app-gb-radiobox formControlName='OULevelSettingMRPMakeActionType'></app-gb-radiobox>

                <app-entitylookup [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].WorkOrderBizTransactionName"
                    formControlName='WorkOrderBizTransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('WorkOrderBizTransactionName').value"></app-entitylookup>

                <app-entitylookup
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].SubContractBizTransactionName"
                    formControlName='SubContractBizTransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('SubContractBizTransactionName').value"></app-entitylookup>
            </div>

            <div id="Logistics" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Logistics</span>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].FromLocationName"
                    formControlName='FromLocationName' (Onselectdata)="OULevelSettingPicklistFillValue($event)"
                    [defaultvalue]="form.get('FromLocationName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ToLocationName"
                    formControlName='ToLocationName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ToLocationName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].BranchTransferBiztransactionName"
                    formControlName='BranchTransferBiztransactionName'
                    (Onselectdata)="OULevelSettingPicklistFillValue($event)"
                    [defaultvalue]="form.get('BranchTransferBiztransactionName').value"></app-entitylookup>

                <app-gb-checkbox class="KeyField" formControlName="IsLoadSimpleBooking"></app-gb-checkbox>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].FromCityName"
                    formControlName='FromCityName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('FromCityName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ToCityName"
                    formControlName='ToCityName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ToCityName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].BookingBiztransactionName"
                    formControlName='BookingBiztransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('BookingBiztransactionName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" formControlName="DeliveryTrack"></app-gb-radiobox>
            </div>

            <div id="CRM" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> CRM</span>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ActivityBiztransactionName"
                    formControlName='ActivityBiztransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ActivityBiztransactionName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ToDoBiztransactionName"
                    formControlName='ToDoBiztransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ToDoBiztransactionName').value"></app-entitylookup>


                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].AutoCallBIZTransactionName"
                    formControlName='AutoCallBIZTransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('AutoCallBIZTransactionName').value"></app-entitylookup>


            </div>

            <div id="DigitalSign" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> DigitalSign</span>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingTitle"></app-gb-input>
                <app-gb-input formControlName='OULevelSettingSubject'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingKeywords'></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingCreator"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='OULevelSettingProducer'></app-gb-input>

                <app-gb-input class="KeyField" formControlName='OULevelSettingReason'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingLocation"></app-gb-input>

            </div>

            <div id="Trip" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Advance</span>

                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Expense</span>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='OULevelSettingTripAdvancePostingType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='OULevelSettingTripExpensePostingType'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].AdvanceBIZtransactionName"
                    formControlName='AdvanceBIZtransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('AdvanceBIZtransactionName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ExpenseBIZtransactionName"
                    formControlName='ExpenseBIZtransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ExpenseBIZtransactionName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].AdvanceCreditAccountName"
                    formControlName='AdvanceCreditAccountName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('AdvanceCreditAccountName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ExpenseCreditAccountName"
                    formControlName='ExpenseCreditAccountName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ExpenseCreditAccountName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ExpenseDebitAccountName"
                    formControlName='ExpenseDebitAccountName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ExpenseDebitAccountName').value"></app-entitylookup>
                <br>
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Shortage</span>

                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Hire Charges</span>

                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='OULevelSettingTripShortagePostingType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='OULevelSettingTripHireChargesPostingType'></app-gb-radiobox>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ShortageBIZtransactionName"
                    formControlName='ShortageBIZtransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ShortageBIZtransactionName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].HireChargesBIZtransactionName"
                    formControlName='HireChargesBIZtransactionName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('HireChargesBIZtransactionName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].ShortageAccountName"
                    formControlName='ShortageAccountName' (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ShortageAccountName').value"></app-entitylookup>


                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].HireChargesAccountName"
                    formControlName='HireChargesAccountName'
                    (Onselectdataids)="OULevelSettingPicklistPatchValue($event)"
                    [defaultvalue]="form.get('HireChargesAccountName').value"></app-entitylookup>
            </div>

            <div id="OverTime" class="tabcontent">

                <app-gb-input class="KeyField" formControlName="OULevelSettingOTEligableMinutes"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingMaximumOTInMonth"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingMaxAllowedOTForMale"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingMaxAllowedOTForFemale"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingMaleOTHoursInOddDays"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingFemaleOTHoursInOddDays"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName="OULevelSettingMaleOTHoursInEvenDays"></app-gb-input>
                <app-gb-input class="KeyField" formControlName="OULevelSettingFemaleOTHoursInEvenDays"></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].OTExpressionFormulaName"
                    formControlName='OTExpressionFormulaName' (Onselectdata)="OULevelSettingPicklistFillValue($event)"
                    [defaultvalue]="form.get('OTExpressionFormulaName').value"></app-entitylookup>


            </div>
            <div id="HRMSFeatures" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> HRMSFeatures</span>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].LTAElementFormulaName"
                    formControlName='LTAElementFormulaName' (Onselectdata)="ChargeElementPicklistFillValue($event)"
                    [defaultvalue]="form.get('LTAElementFormulaName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].LTAEligibleDaysFormulaName"
                    formControlName='LTAEligibleDaysFormulaName'
                    (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('LTAEligibleDaysFormulaName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].LTAAmountPerDayFormulaName"
                    formControlName='LTAAmountPerDayFormulaName' (Onselectdata)="ChargeElementPicklistFillValue($event)"
                    [defaultvalue]="form.get('LTAAmountPerDayFormulaName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].EncashFormulaName"
                    formControlName='EncashFormulaName' (Onselectdata)="ChargeElementPicklistFillValue($event)"
                    [defaultvalue]="form.get('EncashFormulaName').value"></app-entitylookup>
<br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="OULevelSettingJSON.default.ObjectFields[0].EncashPostFieldName"
                    formControlName='EncashPostFieldName' (Onselectdataids)="ChargeElementPicklistPatchValue($event)"
                    [defaultvalue]="form.get('EncashPostFieldName').value"></app-entitylookup>
                <app-gb-input class="KeyField" formControlName="OULevelSettingEncashEligibleDays"></app-gb-input>
                <br>

                <app-gb-input class="KeyField" formControlName="OULevelSettingEncashMaximumDays"></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName="OULevelSettingEncashStatus"></app-gb-radiobox>


            </div>  
        </div>
    </form>
</div>