.gridcontainer {
  scrollbar-width: 6px;
  height: 100%;
}
#grid{
  width: 99.7%; 
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.ag-theme-alpine   {
  --ag-grid-size: 3px;
  --ag-header-background-color: var(--color);
  --ag-font-family: 'Poppins';
  --ag-font-size: 12px;
  --ag-foreground-color: rgba(26, 26, 26, 0.87);
  --ag-header-foreground-color: #FFFFFF;
  --ag-row-border-color: rgba(26, 26, 26, 0.32);
}

#grid ::ng-deep .ag-header{
    min-height: 36px !important;
}

#grid ::ng-deep .ag-header-cell-text{
    padding-bottom: 13px;
}

#grid ::ng-deep .ag-cell {
  height: 31.5px !important;
  min-height: 31.5px !important;
  max-height: 31.5px !important;
  line-height: 30px;
  margin-top: -1px;
}

::ng-deep .ag-theme-alpine .ag-row {
  min-width: var(--screenwidth);
  max-height: 31.5px ;
}

#grid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#grid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}
#grid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
  background: var(--color);
}
#grid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

#grid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#grid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}
#grid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb {
  background: var(--color);
}
#grid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

// ::ng-deep .ag-center-cols-container{
//   width: 100% !important;
// }

::ng-deep .ag-ltr .ag-header-cell:not(.ag-right-aligned-header) .ag-header-label-icon{
  margin-bottom: 10px;
  color: #FFFFFF;
}