<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<br />
<mat-card class="mat">
  <mat-card-actions>
    <div class="order">
      <b>Order</b>
      <button class="orange1" mat-stroked-button>Pending</button>
      <button class="icons" mat-stroked-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <button class="icons2" mat-stroked-button>
        <mat-icon>add_circle</mat-icon>&nbsp;Add new
      </button>
      <button class="icons1" mat-stroked-button>
        <mat-icon>edit</mat-icon>&nbsp;Edit
      </button>
      <button class="icons" mat-stroked-button>
        <mat-icon>save_alt</mat-icon>
      </button>
      <button class="icons" mat-stroked-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button class="icons" mat-stroked-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>

    <br />

    <div class="grid-container1">
      <tr>
        <td>Type</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >Domestic worker</b
          >
        </td>
      </tr>
      <tr>
        <td>Ref.number</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>123456789</b>
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td class="orange">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Pending</b>
        </td>
      </tr>
    </div>
    <div class="grid-container2">
      <tr>
        <td>Number</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>123466789</b>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ref.Date
        </td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >08/08/2021</b
          >
        </td>
      </tr>
      <tr>
        <td>Person</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Ramesh</b>
        </td>
      </tr>
    </div>
    <div class="grid-container2">
      <tr>
        <td>Date</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >08/08/2021</b
          >
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GST
        </td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >123466789</b
          >
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Value
        </td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>₹ 12,89,657.00</b>
        </td>
      </tr>
    </div>
    <div class="grid-container3">
      <tr>
        <td>Mill/PM</td>
        <td></td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Company Unit Name</b>
        </td>
        <br />
        <td class="table-heading1">
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15/26
            Streetname,Area name, Village name,</b
          >
          <br />
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cityname-641014,Tamilnadu.</b
          >
        </td>
      </tr>
      <tr>
        <td>Disp.form</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >Company Unit Name</b
          >
        </td>
        <br />
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15/26 Streetname,Area name,
            Village name,</b
          >
          <br />
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cityname-641014,Tamilnadu.</b
          >
        </td>
      </tr>
    </div>
    <div class="grid-container4">
      <tr>
        <td>Bill To</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >Company Unit Name</b
          >
        </td>
        <br />
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15/26
            Streetname,Area name, Village name,</b
          >
          <br />
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cityname-641014,Tamilnadu.</b
          >
        </td>
      </tr>
      <tr>
        <td>Ship To</td>
        <td class="table-heading1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            >Company Unit Name</b
          >
        </td>
        <br />
        <td class="table-heading1">
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15/26
            Streetname,Area name, Village name,</b
          >
          <br />
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cityname-641014,Tamilnadu.</b
          >
        </td>
      </tr>
    </div>
  </mat-card-actions>
</mat-card>
<br />
<br />
<br />
