.table-heading1{
    font-family: Poppins;
    font-size:15px;
    color:#41394C;
    margin-left:310px;
    }
      .grid-container1 {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        margin-left: 25px;
        font-family: Poppins;
        background-color: #ddd;
        border-bottom: 2px solid #ffffff;
        height: 25px;
        padding: 25px;
        border-radius: 20px 20px 0px 0px;
        margin-right: 30px;
      }
      .grid-container2 {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        margin-left: 25px;
        font-family: Poppins;
        background-color: #ddd;
        border-bottom: 2px solid #ffffff;
        height: 25px;
        padding: 25px;
        border-radius: 0px 0px 0px 0px;
        margin-right: 30px;
  
      }
  
      .grid-container3 {
        display: grid;
        grid-template-columns: auto auto ;
        gap: 20px;
        margin-left: 25px;
        font-family: Poppins;
        background-color:#ACACE6;
        border-bottom: 2px solid #ffffff;
        height: 100px;
        padding: 25px;
        border-radius: 0px 0px 0px 0px;
        margin-right: 30px;
      }
      .grid-container4{
        display: grid;
        grid-template-columns: auto auto ;
        gap: 20px;
        margin-left: 25px;
        font-family: Poppins;
        background-color:#ACACE6;
        border-bottom: 2px solid #ffffff;
        height: 100px;
        padding: 25px;
        border-radius: 0px 0px 20px 20px;
        margin-right: 30px;
      }
  
      .icons
      {
      height:30px ;
      width: 30px !important;
      min-width: unset  !important;
      padding-left: 2px;
      line-height: 18px;
      float: right;
      
      }
   
      .icons1
      {
      height:30px ;
      width: 65px !important;
      min-width: unset  !important;
      padding-left: 2px;
      line-height: 18px;
      float: right;
      font-family: Poppins;
      }
      .icons2
      {
      height:30px ;
      width: 100px !important;
      min-width: unset  !important;
      padding-left: 2px;
      line-height: 18px;
      float: right;
      font-family: Poppins;
  
      }
  
      .mat
      {
  margin-left: 220px;
  
  height:600px;
  border-radius: 20px;
  
      }
      .orange{
        font-family: Poppins;
        font-size: 15px;
       color: orange;
      }
  .orange1{
    font-family: Poppins;
    font-size: 15px;
   background-color: orange;
   color: #FFFFFF;
   border-radius: 10px;
   border: 1px;
  }
  .order{
    font-family: Poppins;
    font-size: 25px;
   color: #41394C;
   margin-left: 20px;
  
  }
  
        
  
  
  
      
  
  
  
  
  