<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="WarehouseJSON.default.ObjectFields[0].WareHouseCode"
            formControlName='WareHouseCode' (Onselectdata)="WarehouseRetrivalValue($event)"
            [defaultvalue]="form.get('WareHouseCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="WarehouseJSON.default.ObjectFields[0].WareHouseName"
            formControlName='WareHouseName' (Onselectdata)="WarehouseRetrivalValue($event)"
            [defaultvalue]="form.get('WareHouseName').value"></app-entitylookup>
        <br>

        <app-gb-radiobox class="KeyField" formControlName="WareHouseWHType"></app-gb-radiobox> 

        <app-gb-radiobox class="KeyField" formControlName="WareHouseIsMultipleOu"
            (RadioButtonOutPut)="WarehouseDefaultValue ($event)"></app-gb-radiobox>

        <br>
        <app-gb-radiobox class="KeyField" formControlName="WareHouseIsMultipleStore"
            (RadioButtonOutPut)="StoreDefaultValue ($event)"></app-gb-radiobox>

        <!-- ouname  -->
        <app-entitylookup class="KeyField" [PicklistObj]="WarehouseJSON.default.ObjectFields[0].OuName"
            formControlName='OuName' (Onselectdataids)="WarehousePatchValue($event)"
            [defaultvalue]="form.get('OuName').value"
            [style.display]="form.get('WareHouseIsMultipleOu').value == 1 ? 'inline-block':'none'"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="WarehouseJSON.default.ObjectFields[0].OuGroupName"
            formControlName='OuGroupName' (Onselectdataids)="WarehousePatchValue($event)"
            [defaultvalue]="form.get('OuGroupName').value"
            [style.display]="form.get('WareHouseIsMultipleOu').value == 0? 'inline-block':'none'"></app-entitylookup>

        <!-- stores -->
        <table>
            <tr style="display: flex; flex-direction: row;">
                
        <app-entitylookup class="KeyField" [PicklistObj]="WarehouseJSON.default.ObjectFields[0].StoreName"
            formControlName='StoreName' (Onselectdataids)="WarehousePatchValue($event)"
            [defaultvalue]="form.get('StoreName').value"
            [style.display]="form.get('WareHouseIsMultipleStore').value == 1 ? 'inline-block':'none'"></app-entitylookup>
        
        <app-entitylookup class="KeyField" [PicklistObj]="WarehouseJSON.default.ObjectFields[0].WareHouseStoreNames"
            formControlName='WareHouseStoreNames' (Onselectdataids)="WarehousePatchValue($event)"
            [defaultvalue]="form.get('WareHouseStoreNames').value"
            [style.display]="form.get('WareHouseIsMultipleStore').value == 0 ? 'inline-block':'none'"></app-entitylookup>
            <app-gb-textarea class="KeyField" formControlName="WareHouseRemarks"></app-gb-textarea>
            </tr>
        </table>
    </form>
</div>
