<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].NestingPlanCode"
            formControlName='NestingPlanCode' (Onselectdata)="NestingPlanFillFunction($event)"
            [defaultvalue]="form.get('NestingPlanCode').value" class="KeyField"></app-entitylookup>


        <app-gb-date formControlName="NestingPlanPlanDate" [date]="form.get('NestingPlanId').value" [default]="'today'"
            class="KeyField"></app-gb-date>
        <br>
        <app-gb-input formControlName="NestingPlanReferenceNumber" class="KeyField"></app-gb-input>

        <app-gb-date formControlName="NestingPlanReferenceDate" [date]="form.get('NestingPlanId').value"
            [default]="'today'" class="KeyField"></app-gb-date>
        <br>
        <app-gb-combobox formControlName="NestingPlanPlanType"></app-gb-combobox>
        <br>
        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].PlanPreparedByName"
            formControlName='PlanPreparedByName' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('PlanPreparedByName').value" class="KeyField"></app-entitylookup>

        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].PlanApprovedByName"
            formControlName='PlanApprovedByName' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('PlanApprovedByName').value" class="KeyField"></app-entitylookup>


        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].SheetItemCode"
            formControlName='SheetItemCode' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('SheetItemCode').value" class="KeyField"></app-entitylookup>


        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].SheetItemName"
            formControlName='SheetItemName' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('SheetItemName').value" class="KeyField"></app-entitylookup>
        <br>
        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].SheetSKUCode"
            formControlName='SheetSKUCode' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('SheetSKUCode').value" class="KeyField"></app-entitylookup>

        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].SheetSKUName"
            formControlName='SheetSKUName' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('SheetSKUName').value" class="KeyField"></app-entitylookup>

        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].LotLotNumber"
            formControlName='LotLotNumber' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('LotLotNumber').value" class="KeyField"></app-entitylookup>

        <app-entitylookup [PicklistObj]="NestingPlanjson.default.ObjectFields[0].PackNumberNumber"
            formControlName='PackNumberNumber' (Onselectdata)="NestingPlanPatchValue($event)"
            [defaultvalue]="form.get('PackNumberNumber').value" class="KeyField"></app-entitylookup>
        <br>
        <app-gb-input formControlName="NestingPlanSheetDimension" class="KeyField"></app-gb-input>
        <app-gb-input formControlName="NestingPlanNestingTime" class="KeyField"></app-gb-input>
        <br>
        <app-gb-input formControlName="NestingPlanSetUpTime" class="KeyField"></app-gb-input>
        <app-gb-input formControlName="NestingPlanCycleTime" class="KeyField"></app-gb-input>
        <br>
        <app-gb-combobox formControlName="NestingPlanStatus"></app-gb-combobox>
        <app-gb-input formControlName="NestingPlanRemarks" class="KeyField"></app-gb-input>
        <br>
        <app-gb-input formControlName="NestingPlanSheetWeight" class="KeyField"></app-gb-input>
        <app-gb-input formControlName="NestingPlanTotalComponentWeight" class="KeyField"></app-gb-input>
        <br>
        <app-gb-input formControlName="NestingPlanWastage" class="KeyField"></app-gb-input>
        <app-gb-input formControlName="NestingPlanRunLength" class="KeyField"></app-gb-input>

        <app-gb-formgrid formControlName='NestingPlanDetailArray'
        [ArrayDetail]="form.get('NestingPlanId').value"></app-gb-formgrid>
    </form>
</div>