<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Item</th>
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >Process</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Produced</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Re-Process</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Accept</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Reject</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Re-Work</th>

            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata">
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.iname }}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.icode}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.skuname}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.proname}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.uomname}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 50px;">{{data.produce | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 50px;">{{data.reprocess | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 50px;">{{data.accepet | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 50px;">{{data.reject | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 50px;">{{data.rework | NumberFormat}}</td>

            </tr>
        </tbody>
    </table>
</div>