<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>
    <!-- <app-entitylookup [picklisturl]="'ITEMCATEGORY'" [label]="'Code*'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Code'" [multiple]="false"
        formControlName='ItemCategoryCode' (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Code'" [defaultvalue]="form.get('ItemCategoryCode').value"></app-entitylookup> -->

         <app-entitylookup class="KeyField" [PicklistObj]="ItemCategoryJSON.default.ObjectFields[0].ItemCategoryCode" formControlName='ItemCategoryCode'
        (Onselectdata)="ItemFormFill($event)" [defaultvalue]="form.get('ItemCategoryCode').value"></app-entitylookup>  

        <app-entitylookup class="KeyField" [PicklistObj]="ItemCategoryJSON.default.ObjectFields[0].ItemCategoryName" formControlName='ItemCategoryName'
        (Onselectdata)="ItemFormFill($event)" [defaultvalue]="form.get('ItemCategoryName').value"></app-entitylookup>

        <app-gb-checkbox formControlName='ItemCategoryIsSelected'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ItemCategoryIsAsset'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ItemCategoryIsItem'></app-gb-checkbox>

        <app-gb-textarea formControlName='ItemCategoryRemarks'></app-gb-textarea>



  </form>
</div>