<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="GratuitySettingsJSon.default.ObjectFields[0].GratuityGroupCode"
        formControlName='GratuityGroupCode' (Onselectdata)="GratuitySettingsValue($event)"
        [defaultvalue]="form.get('GratuityGroupCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="GratuitySettingsJSon.default.ObjectFields[0].GratuityGroupName"
        formControlName='GratuityGroupName' (Onselectdata)="GratuitySettingsValue($event)"
        [defaultvalue]="form.get('GratuityGroupName').value"></app-entitylookup>

        <app-gb-input formControlName='GratuityGroupEligibilityDays'></app-gb-input>

        <app-gb-input formControlName='GratuityGroupEligibilityYears'></app-gb-input>

        <app-gb-formgrid formControlName='GratuityGroupDetailArray'
        [ArrayDetail]="form.get('GratuityGroupCode').value"></app-gb-formgrid>

        </form>
        </div>