
.task-header {
    background-color: transparent;
    padding: 0 5px;
     height: 20px;
     background-color: gray;
}
.fx-spacer {
    flex: 1 1 auto;
}

::ng-deep.mat-dialog-container {
    resize: both; 
    overflow: auto;
    background: #fff;
  }