<app-mapcomponent [config]="geoconfig"  (geoinfo)="getlocation($event)"></app-mapcomponent>
<!--app-mapdirectionComponent,app-mapgeoplotting,app-geofencingcomponent-->
<!--<app-mapdirectionComponent></app-mapdirectionComponent> -->