@import './../../../../../apps/GoodBooks/GoodBooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.AppraisalDashBoard{
    // display: flex;
    margin-top: 28px;
    justify-content: center;
}

.dashboardbox{
    display: inline-block;
    width: 132px;
    height: 130px;
    margin: 0px 9px;
    padding: 12px 20px 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
}

.workordervalue{
    display: inline-block;
    min-width: 24px;
}

.firstrow{
    display: -webkit-inline-box;
    height: 50px;
    width: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 7px;
}

.type{
    margin-top: 32px;
    margin-bottom: 26px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    accent-color: var(--color)
}

.radiobutton{
    width: 20px;
    height: 20px;
    outline-style: none;
}

// .workcenter{
//     text-align: left;
//     // padding-left: 1px;
//     padding-top: 5px;
// }
