<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>
    <app-entitylookup class="KeyField" [PicklistObj]="CostAnalysisJSON.default.ObjectFields[0].CostAnalysisCode"
      formControlName='CostAnalysisCode' (Onselectdata)="CostAnalysisPicklistFillValue($event)"
      [defaultvalue]="form.get('CostAnalysisCode').value"></app-entitylookup>


    <app-entitylookup class="KeyField" [PicklistObj]="CostAnalysisJSON.default.ObjectFields[0].CostAnalysisName"
      formControlName='CostAnalysisName' (Onselectdata)="CostAnalysisPicklistFillValue($event)"
      [defaultvalue]="form.get('CostAnalysisName').value"></app-entitylookup>

<br>
    <app-gb-combobox class="KeyField" formControlName='CostAnalysisCostingType'></app-gb-combobox>

    <app-gb-date class="KeyField" formControlName="CostAnalysisPeriodFrom" [date]="form.get('CostAnalysisId').value"
      [default]="'today'"></app-gb-date>
    <br>
    <app-gb-radiobox class="KeyField" formControlName='CostAnalysisBasicRateType'></app-gb-radiobox>
    <app-gb-date class="KeyField" formControlName="CostAnalysisPeriodTo" [date]="form.get('CostAnalysisId').value"
      [default]="'today'"></app-gb-date>
    <br>
    <app-gb-radiobox formControlName='CostAnalysisMaterialCostType'></app-gb-radiobox>

    <app-gb-radiobox formControlName='CostAnalysisProcessCostType'></app-gb-radiobox>

    <app-gb-radiobox formControlName='CostAnalysisResourceCostType'></app-gb-radiobox>


  </form>
</div>