div.scrollmenu {
  overflow-y: scroll;
  height: 100%;
}

.app-drawer-container {
    height: 100%;
}

// .app-content {
//   display: flex;
//   flex: 1;
//   flex-direction: column;
// }
mat-sidenav-container {
    height: 10%;
    width: 100%;
    margin: 0;
  }