<div class="scrollmenu">
  <mat-sidenav-container class="app-drawer-container">
    <mat-sidenav #sidenav mode="side">
      
    <ul class="ss">
      <li><a [routerLink]="'sample/Dashboard'">Dashboard</a></li>
      <li><a [routerLink]="'sample/Pack/list'">PackList</a></li>
      <li><a [routerLink]="'sample/Pack'">Pack</a></li>
      <li><a [routerLink]="'sample/PackNone'">PackNone</a></li>
      <li><a [routerLink]="'sample/PackServ'">PackService</a></li>
      <li><a [routerLink]="'sample/Packdbserv'">PackDb</a></li>
      <li><a [routerLink]="'sample/PackBoth'">PackBoth</a></li>
      <li><a [routerLink]="'sample/Model'">Model</a></li>
      <li><a [routerLink]="'sample/permissionform'">permissionform</a></li>
      <li><a [routerLink]="'sample/permissionlist'">permissionlist</a></li>
      <li><a [routerLink]="'sample/UOM'">UOM</a></li>
      <li><a [routerLink]="'sample/UOM/list'">UOMList</a></li>
      <li><a [routerLink]="'sample/Modellist'">Modellist</a></li>
      <li><a [routerLink]="'sample/Profile'">Profile</a></li>
      <li><a [routerLink]="'sample/rulesform'">Rules Form</a></li>
      <li><a [routerLink]="'sample/chart'">Chart</a></li>
      <li><a [routerLink]="'sample/attach'">Attach</a></li>
      <li><a [routerLink]="'sample/fileupload'">fileupload</a></li> 
      <!-- <li><a [routerLink]="'sample/grid'">Grid</a></li> -->
      <li><a [routerLink]="'sample/sales'">Sales</a></li>
    </ul>
    <!-- <app-menudetails></app-menudetails> -->
  </mat-sidenav>
    <mat-sidenav-content>

      <ng-content></ng-content>

      </mat-sidenav-content>
  </mat-sidenav-container>
</div>

