<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="ClientJSON.default.ObjectFields[0].ClientCode"
        formControlName='ClientCode' (Onselectdata)="ClientFormVal($event)"
        [defaultvalue]="form.get('ClientCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="ClientJSON.default.ObjectFields[0].ClientName"
        formControlName='ClientName' (Onselectdata)="ClientFormVal($event)"
        [defaultvalue]="form.get('ClientName').value"></app-entitylookup> 

        <app-entitylookup  [PicklistObj]="ClientJSON.default.ObjectFields[0].ClientShortName"
        formControlName='ClientShortName' (Onselectdata)="ClientFormVal($event)"
        [defaultvalue]="form.get('ClientShortName').value"></app-entitylookup> 

        <app-gb-combobox formControlName="ClientMFAApplicableType"></app-gb-combobox>

        <app-entitylookup  [PicklistObj]="ClientJSON.default.ObjectFields[0].MFATypeName"
        formControlName='MFATypeName' (Onselectdataids)="Clientpatch($event)"
        [defaultvalue]="form.get('MFATypeName').value" *ngIf="form.get('ClientMFAApplicableType').value == 1 || form.get('ClientMFAApplicableType').value == 2 "></app-entitylookup> 

        <app-gb-input formControlName='ClientMFAClientAccountId' *ngIf="form.get('ClientMFAApplicableType').value == 1 || form.get('ClientMFAApplicableType').value == 2" (input)="MFClient($event)"></app-gb-input>

        <app-gb-input formControlName='ClientMFAClientSecretKey' *ngIf="form.get('ClientMFAApplicableType').value == 1 || form.get('ClientMFAApplicableType').value == 2"></app-gb-input>

        </form>
        </div>
