<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PricelisttypeJson.default.ObjectFields[0].PriceListTypeCode"
            formControlName='PriceListTypeCode' (Onselectdata)="PricelisttypeRetrivalValue($event)"
            [defaultvalue]="form.get('PriceListTypeCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PricelisttypeJson.default.ObjectFields[0].PriceListTypeName"
            formControlName='PriceListTypeName' (Onselectdata)="PricelisttypeRetrivalValue($event)"
            [defaultvalue]="form.get('PriceListTypeName').value"></app-entitylookup><br>

        <app-entitylookup class="KeyField" [PicklistObj]="PricelisttypeJson.default.ObjectFields[0].ChargeName"
            formControlName='ChargeName' (Onselectdataids)="PricelisttypePatchValue($event)"
            [defaultvalue]="form.get('ChargeName').value"></app-entitylookup>

        <app-gb-checkbox class="KeyField" formControlName="PriceListTypeIsPurchase"></app-gb-checkbox>



        <app-entitylookup class="KeyField" [PicklistObj]="PricelisttypeJson.default.ObjectFields[0].CurrencyName"
            formControlName='CurrencyName' (Onselectdataids)="PricelisttypePatchValue($event)"
            [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>

        <app-gb-checkbox class="KeyField" formControlName="PriceListTypeIsSales"></app-gb-checkbox><br>

        <app-gb-radiobox class="KeyField" formControlName='PriceListTypeTransferCostType'></app-gb-radiobox>
        <app-gb-checkbox class="KeyField" formControlName="PriceListTypeIsTransfer"></app-gb-checkbox>
<br>
        <app-gb-textarea class="KeyField" formControlName='PriceListTypeRemarks'></app-gb-textarea>
    </form>
</div>