<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="PortletTypeJSON.default.ObjectFields[0].PortletTypeCode" formControlName='PortletTypeCode'
        (Onselectdata)="PortletTypeRetrivalValue($event)" [defaultvalue]="form.get('PortletTypeCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="PortletTypeJSON.default.ObjectFields[0].PortletTypeName" formControlName='PortletTypeName'
        (Onselectdata)="PortletTypeRetrivalValue($event)" [defaultvalue]="form.get('PortletTypeName').value"></app-entitylookup> 

        <app-gb-checkbox formControlName='PortletTypeIsMaximize'></app-gb-checkbox>

        <app-gb-checkbox formControlName='PortletTypeIsResize'></app-gb-checkbox>

        <app-gb-checkbox formControlName='PortletTypeIsPrint'></app-gb-checkbox>

        <app-gb-checkbox formControlName='PortletTypeIsExport'></app-gb-checkbox>

        <app-gb-checkbox formControlName='PortletTypeIsSettingsId'></app-gb-checkbox>
    </form>
</div>