<div>
    <div>
        <form class='form' [formGroup]='form'>
            <label class="captionsec-reg-12-type-primary">Code*</label><ng-select [disabled]="true"
                [items]="StagePicklistCode" [virtualScroll]="true" bindValue="GcmCode" bindLabel="GcmCode"
                formControlName='GcmCode' [closeOnSelect]="true" [clearable]="true" [loading]="dataLoading"
                [multiple]='false' addTagText="Create New" [addTag]="true" [(ngModel)]="selectioncode"
                class="captionHead-semibold-12-type-primary"  (change)="changeFunCode(selectioncode)" (click)="callservice()"  [readonly]="!isnoteditable">
            </ng-select><br>
            <label class="captionsec-reg-12-type-primary">Name*</label><ng-select [disabled]="true"
                [items]="StagePicklistName" [virtualScroll]="true" bindValue="GcmName" bindLabel="GcmName"
                formControlName='GcmName' [closeOnSelect]="true" [clearable]="true" [loading]="dataLoading"
                [multiple]='false' addTagText="Create New" (change)="changeFunName(selectionname)" (click)="callservice()" [(ngModel)]="selectionname"
                [addTag]="true" class="captionHead-semibold-12-type-primary"  [readonly]="!isnoteditable">
            </ng-select><br>
            <label class="captionsec-reg-12-type-primary">Remarks</label>
            <textarea  class="captionHead-semibold-12-type-primary" formControlName="GcmRemarks"  [readonly]="!isnoteditable"></textarea>
        </form>
    </div>
</div>