<div class="abb">
    <p>Pen.Qty : {{ PenQty | NumberFormat }}</p>
    <p>Basic : {{ Basic | NumberFormat }}</p>
    <p>Realisation : {{ Realisation | NumberFormat }}</p>
    <p>I/P : {{ IP | NumberFormat }}</p>
    <p>O/P: {{ OP | NumberFormat }}</p>
   
</div>

  
  
  <div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Pre.Doc.No</th>
                <th class="th cap1-bold-12-white">T</th>
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">Qty</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">Pend.Qty</th>
                <th class="th cap1-bold-12-white" style="padding-left: 50px;">UOM</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">Rate</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">Basic</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">Realisation</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">I/P Value</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">O/P Value</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right:20px ;">No.of Days</th>
                <th class="th cap1-bold-12-white">Remarks</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.PreDoc | DateFormatter}} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"> {{data.T}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"> {{data.Code | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-wrap: nowrap;"> {{data.Name}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;">{{data.Qty | NumberFormat}} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;"> {{data.PendQty | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="padding-left: 50px;"> {{data.UOMCode }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;"> {{data.Rate | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;">{{data.Basic | NumberFormat: data.bold}} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;">{{data.Realisation | NumberFormat: data.bold}} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;"> {{data.Ipval| NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;"> {{data.Opval| NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"  style="text-align: right; padding-right:20px ;"> {{data.NODays}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Remarks}} </td>

            </tr>
        </tbody>
    </table>
</div>