<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form' class='Party'>

        <app-entitylookup [PicklistObj]="ContractSettingjson.default.ObjectFields[0].PartyName"
            formControlName='PartyName' (Onselectdataids)="ContractSettingPicklists($event)"
            [defaultvalue]="form.get('PartyName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="ContractSettingjson.default.ObjectFields[0].PartyBranchName"
            formControlName='PartyBranchName' (Onselectdataids)="ContractSettingPicklists($event)"
            [defaultvalue]="form.get('PartyBranchName').value" class="KeyField"></app-entitylookup>

        <app-entitylookup [PicklistObj]="ContractSettingjson.default.ObjectFields[0].ContractSettingVersionNo"
            formControlName='ContractSettingVersionNo' (Onselectdata)="ContractSettingPicklist($event)"
            [defaultvalue]="form.get('ContractSettingVersionNo').value" class="KeyField"></app-entitylookup>

        <div class="eff" style="width: 604px;" class="KeyField">
            <app-gb-date formControlName="ContractSettingEffectiveFrom" [date]="form.get('PartyId').value"
                [default]="'today'" class="KeyField"></app-gb-date>
        </div>
        <app-gb-input formControlName="ContractSettingNumber" class="KeyField"></app-gb-input>
        <br>
        <div class="eff" style="width: 604px;" class="KeyField">
            <app-gb-date formControlName="ContractSettingEffectiveTo" [date]="form.get('PartyId').value"
                [default]="'today'"></app-gb-date>
        </div>

        <app-gb-input formControlName="ContractSettingReferenceNumber" class="KeyField"></app-gb-input>
        <br>
        <app-gb-radiobox formControlName="ContractSettingPricingType" class="KeyField"></app-gb-radiobox>

        <app-entitylookup [PicklistObj]="ContractSettingjson.default.ObjectFields[0].ContractStatusName"
            formControlName='ContractStatusName' (Onselectdataids)="ContractSettingPicklists($event)"
            [defaultvalue]="form.get('ContractStatusName').value" class="KeyField"></app-entitylookup>
        <br>

        <app-gb-radiobox formControlName="ContractSettingIsFirstHitchCondition" class="KeyField"></app-gb-radiobox>

        <app-gb-input formControlName="ContractSettingBasePrice" class="KeyField"></app-gb-input>
        <br>
        <app-gb-radiobox formControlName="ContractSettingVolumeDiscountType" class="KeyField"></app-gb-radiobox>
        <app-gb-input formControlName="ContractSettingChangePrice" class="KeyField"></app-gb-input>

        <br>

        <app-gb-input formControlName="ContractSettingEligibleVolume" class="KeyField"></app-gb-input>
        <app-gb-input formControlName="ContractSettingChangePercent" class="KeyField"></app-gb-input>
        <br>
        <div class="percentremarks" style="display: inline-flex; flex-direction: row;">
            <div class="amnt" style="display: inline-flex; flex-direction: column;">
                <app-gb-input formControlName="ContractSettingVolumeDiscountPercent"></app-gb-input>

                <app-gb-input formControlName="ContractSettingMaxVolumeDiscountPercent"></app-gb-input>
            </div>

            <app-gb-textarea formControlName='ContractSettingRemarks'></app-gb-textarea>
        </div>






    </form>
</div>