<div class="dbtable">
    <div style="white-space: nowrap;">
        <input type="checkbox" id="narrationCheckbox" [(ngModel)]="showNarration" style="margin-left: 50px;" />
        <label for="narrationCheckbox" style="margin-left: 10px;">Narration</label>
        <p class="D" style="display: inline-block; margin-left: 800px; color: black; font-weight: bold;">Debit :{{TotalDebit.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
        <p class="C" style="display: inline-block; margin-left: 100px; color: black; font-weight: bold;">Credit :{{TotalCredit.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    </div>
    
        
    <table class="Table" style="width: 1300px;">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Doc.No</th>
                <th class="th cap1-bold-12-white">Particulars</th>
                <th class="th cap1-bold-12-white">Ref.No</th>
                <th class="th cap1-bold-12-white">Ref.Date</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Debit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Credit</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <ng-container *ngFor="let data of register; let i=index">
            <tr class="tr">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vno }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vaccno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vrefno }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vrefdate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.debit | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.credit | NumberFormat}}</td>
            </tr>
            <ng-container *ngIf="showNarration && data.vnarration">
                <tr class="tr">
                    <td></td>
                    <td class="td cap2-med-12-type-primary" style="font-style: italic;color: #75736d;" [ngStyle]="{ fontWeight: data.bold ? 'bold' : 200 }" colspan="7">
                        {{ data.vnarration }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>