<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PicklistJson.default.ObjectFields[0].PicklistCode" formControlName='PicklistCode'
        (Onselectdata)="PicklistFillFunction($event)" [defaultvalue]="form.get('PicklistCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PicklistJson.default.ObjectFields[0].PicklistName" formControlName='PicklistName'
        (Onselectdata)="PicklistFillFunction($event)" [defaultvalue]="form.get('PicklistName').value"></app-entitylookup>
<br>
        <app-gb-input formControlName='PicklistTitle'></app-gb-input>
     
        <app-gb-combobox formControlName="PicklistIsMultiselect"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="PicklistJson.default.ObjectFields[0].PicklistUri" formControlName='PicklistUri'
        (Onselectdataids)="PicklistPatchValue($event)" [defaultvalue]="form.get('PicklistUri').value"></app-entitylookup>

        <app-gb-input formControlName='PicklistSearchableFields'></app-gb-input>

        <app-gb-input formControlName='PicklistSearchFields'></app-gb-input>

        <app-gb-input formControlName='PicklistDisplayFieldName'></app-gb-input>

        <app-gb-input formControlName='PicklistSelectionFieldName'></app-gb-input>

        <app-gb-input formControlName='PicklistDisplayFieldTextBox'></app-gb-input>

        <app-gb-input formControlName='PicklistWidth'></app-gb-input>

        <app-gb-input formControlName='PicklistHeight'></app-gb-input>

        <app-gb-input formControlName='PicklistNumberOfSelection'></app-gb-input>

        <app-gb-input formControlName='PicklistMinimunNumber'></app-gb-input>

        
        <app-gb-formgrid formControlName='PicklistOutputDtos'
        [ArrayDetail]="form.get('PicklistId').value" [ArrayValues]="form.value" (GridOutPut)="GridOutput($event)"></app-gb-formgrid>
        
    </form>
</div>