<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup class="KeyField" [PicklistObj]="RoleModuleJSON.default.ObjectFields[0].RoleName"
            formControlName='RoleName' (Onselectdata)="RoleModulePicklistFillValue($event)"
            [defaultvalue]="form.get('RoleName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='RoleModuleArray'
            [ArrayDetail]="form.get('RoleId').value"></app-gb-formgrid>

    </form>
</div>