<div class="abb">
    <p>(W): Warranty</p>
    <p>(S): Status </p>
    
</div>
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <!-- <th class="th cap1-bold-12-white" >Sno</th> -->
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" >Model</th>
          <th class="th cap1-bold-12-white" >WorkCenter</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Min</th>
          <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Max</th>
          <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Spd.</th>
          <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Lot/day</th>
          <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 50px;">Eff%</th>
          <th class="th cap1-bold-12-white" >Process</th>
          <th class="th cap1-bold-12-white" >Service Dt</th>
          <th class="th cap1-bold-12-white" >S</th>

        </tr>
      </thead>
      <tbody class="tbody">

        <tr *ngFor="let data of rowDatas">
          <!-- <td class="td cap2-med-12-type-primary" >{{data.sno}}</td> -->
          <td class="td cap2-med-12-type-primary" >{{data.MachineCode}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.MachineName}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ModelName}}</td>
          <td class="td cap2-med-12-type-primary">{{data.WorkCenterCode}}</td>
          <td class="td cap2-med-12-type-primary"  style="text-align: right; padding-right: 50px;">{{data.MachineMinCapacity}}</td>
          <td class="td cap2-med-12-type-primary"  style="text-align: right; padding-right: 50px;">{{data.MachineMaxCapacity}}</td>
          <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 50px;" >{{data.MachineSpeed}}</td>
          <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 50px;" >{{data.MachineLotPerDay}}</td>
          <td class="td cap2-med-12-type-primary"  style="text-align: right; padding-right: 50px;">{{data.MachineEfficiency}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ProcessName}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.MachineServiceToDate | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" > {{ data.MachineStatus === 1 ? "W" : (data.MachineStatus === 0 ? "" : '') }}</td>


        </tr>
      </tbody>
    </table>
    </div>