<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup class="KeyField" [PicklistObj]="CostHeadSetJSON.default.ObjectFields[0].CostHeadSetCode"
            formControlName='CostHeadSetCode' (Onselectdata)="CostHeadSetPicklistFillValue($event)"
            [defaultvalue]="form.get('CostHeadSetCode').value"></app-entitylookup>

             <app-entitylookup class="KeyField" [PicklistObj]="CostHeadSetJSON.default.ObjectFields[0].CostHeadSetName"
            formControlName='CostHeadSetName' (Onselectdata)="CostHeadSetPicklistFillValue($event)"
            [defaultvalue]="form.get('CostHeadSetName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='CostHeadSetDetailArray'
            [ArrayDetail]="form.get('CostHeadSetId').value"></app-gb-formgrid>

    </form>
</div>