<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >Purchase</th>
                <th class="th cap1-bold-12-white" >Sales</th>
                <th class="th cap1-bold-12-white" >Transfer</th>
                <th class="th cap1-bold-12-white" >Payment Term</th>
                <th class="th cap1-bold-12-white" >Credit Days</th>
                <th class="th cap1-bold-12-white" >No of Bills</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].PartyPriceCategoryCode}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].PartyPriceCategoryName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].PurchasePriceListTypeName}}</td>

                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].SalesPriceListTypeName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].TransferPriceListTypeName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].PaymentTermName}}</td>
                
                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].PartyPriceCategoryDetailCreditDays|NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyPriceCategoryDetailArray[0].PartyPriceCategoryDetailNoOfBills|NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>