<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="PatternJSON.default.ObjectFields[0].PatternCode" formControlName='PatternCode'
        (Onselectdata)="PatternRetrivalValue($event)" [defaultvalue]="form.get('PatternCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PatternJSON.default.ObjectFields[0].PatternName" formControlName='PatternName'
        (Onselectdata)="PatternRetrivalValue($event)" [defaultvalue]="form.get('PatternName').value"></app-entitylookup>
    </form>
</div>