<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PerformanceMeasureJSON.default.ObjectFields[0].MeasureName"
            formControlName='MeasureName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('MeasureName').value"></app-entitylookup> <br>

        <app-gb-radiobox class="KeyField" formControlName='MeasureStatus'></app-gb-radiobox> <br>


        <app-gb-textarea class="KeyField" formControlName='MeasureDescription'></app-gb-textarea> <br>

        <app-entitylookup class="KeyField" [PicklistObj]="PerformanceMeasureJSON.default.ObjectFields[0].KRAName"
            formControlName='KRAName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('KRAName').value"></app-entitylookup> <br>

        <app-entitylookup class="KeyField" [PicklistObj]="PerformanceMeasureJSON.default.ObjectFields[0].LovTypeName"
            formControlName='LovTypeName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('LovTypeName').value"></app-entitylookup>

            <mat-icon class="KeyField" style="padding: 0px 0px 30px 391px; cursor: pointer;"
            (click)="addnew(template)">add_box</mat-icon> <br>

        <app-gb-radiobox class="KeyField" formControlName='MeasureIsText'></app-gb-radiobox> <br>

        <app-gb-textarea class="KeyField" formControlName='MeasureRemarks'></app-gb-textarea>



    </form>
</div>

<ng-template #template>
    <h4>Lov Type </h4>
    <app-Bank (Onselectdata)="LovTypeRetrival($event)"></app-Bank>
    <button mat-stroked-button color="primary" (click)="newsave()">Save</button>
</ng-template>