@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
#container {
    display: flex;
    // justify-content: space-between;
  }

  #container > div {
    display: flex;
    flex-direction: column;
    // width: 130%; /* Adjust the width of each div based on your preference */
    margin: 0 5px; /* Adjust the margin to control the space between divs */
    box-sizing: border-box;
  }

 