<div id="container">
    <div>
      <p>I.Code : Item Code</p>
      <p>I.Desc : Item Description</p>
      <p>S.Date : Schedule Date</p>
      <p>O.Q : Order Quantity</p>
      <p>P.Q : Pending Quantity</p>
      <p>S.Q : Schedule Quantity</p>
    </div>
    <div class="abb" style="margin-left: 70px;">
     
      <p>Cur. : Currency</p>
      <p>Curr.C : Currency Conversion</p>
      <p>B.R : Base Rate</p>
      <p>B.p : Base Plus</p>
      <p>B.G : Base Gross</p>
      <p>I.Val.FC : ItemValueFC</p>
    </div>
    <div class="abb" style="margin-left: 70px;">
      <p>A.N : Allocation Name</p>
      <p>A.Desc : Allocation Description</p>
      <p>I.D.Val : Item DocValue</p>
      <p>I.D.C.Val : Item Doc CostValue</p>
      <p>I.D.R.Val : Item Doc RealisationValue</p>
     
    </div>
  </div>

<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">I.Code</th>
                <th class="th cap1-bold-12-white">I.Desc</th>
                <th class="th cap1-bold-12-white">UOM Code</th>
                <th class="th cap1-bold-12-white">S.Date</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">O.Q</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">P.Q</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;"> S.Q</th>
                <th class="th cap1-bold-12-white">Cur.</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">Cur.C</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">B.R</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">B.P</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">B.G</th>
                <th class="th cap1-bold-12-white">A.N</th>
                <th class="th cap1-bold-12-white">A.Desc</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">I.D.Val</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">I.D.C.Val</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">I.D.R.Val</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right:20px ;">I.Val.FC</th>


            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.ItemCode}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.ItemDescription | DateFormatter}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"> {{data.UOMCode
                    }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.ScheduleDate
                    |DateFormatter}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">{{data.Qty | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">
                    {{data.PendQty | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">
                    {{data.ScheduleQuantity | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.Currency}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">{{data.CurrencyConversion | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">
                    {{data.BaseRate | NumberFormat}} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;"> {{data.BasePlus | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;"> {{data.BaseGross | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.AllocationName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.AllocationDescription}} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">{{data.IDVal | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">{{data.IDCVal | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">{{data.IDRVal | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
                    style="text-align: right; padding-right:20px ;">{{data.IValFC | NumberFormat}}
                </td>


            </tr>
        </tbody>


    </table>
</div>