<div class="form-group">

  <ng-template *ngIf="ReadOnly==false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <Table style="margin-top: 8px;">
      <tbody>
        <tr>
          <td class="form_label" style="min-width: 125px;">{{Field?.Label}}</td>
          <td style="padding-top: 3px;">
            <app-gb-input #input [formControl]='gbControl'></app-gb-input>
          </td>
        </tr>
      </tbody>
    </Table>
  </ng-template>
</div>
