 <div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Details')"> Details</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Address')">Address</button>
        </div>
        <div class="TabView">
            <div id="Details" class="tabcontent">
                <br>
                <!-- <span  >
                    <span  >Connection Type</span>
                    <span><app-gb-input class="KeyField"  formControlName='ObjectTypeName' ></app-gb-input></span>
                </span> -->
                    <app-entitylookup class="KeyField"  [PicklistObj]="ContactJSON.default.ObjectFields[0].EntityName"
                formControlName='EntityName' (Onselectdataids)="ContactPatchFunction($event)"
                [defaultvalue]="form.get('EntityName').value"></app-entitylookup>
                <br>
                <app-gb-combobox class="KeyField" formControlName='ContactSalutation'></app-gb-combobox>
                <app-gb-combobox class="KeyField" formControlName='ContactSex'></app-gb-combobox>
                <app-gb-input class="KeyField" formControlName='ContactName'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ContactFirstName'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ContactMiddleName'></app-gb-input>
                <br>
                <span class="KeyField ">
                    <span class="isd">
                        <!-- <app-gb-combobox  formControlName="CountryISDCode" ></app-gb-combobox> -->
                    </span>
                    <span >
                        <app-gb-input formControlName="ContactPhoneNo" ></app-gb-input>
                    </span>
                </span>
                <td class="KeyField" >
                  <!-- <span ><app-gb-combobox formGroupName='AddressDTO' formControlName="CountryISDCode" style="padding-bottom: 1px;"></app-gb-combobox></span> -->
                    <span ><app-gb-input formControlName='ContactMobileNo'></app-gb-input></span></td>

                <app-gb-input class="KeyField" formControlName='ContactLastName'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ContactMailId'></app-gb-input>
                <app-gb-date class="KeyField" formControlName="ContactDob" [date]="form.get('ContactId').value"
                    [default]="'today'"></app-gb-date>
                <br>
                <div>
                  <app-gb-input class="KeyField" formControlName='ContactCompany'></app-gb-input>
                  <span>
                      
                      <img class="KeyField"  id="imagephoto" [src]="form.get('ContactDefaultImageId').value ? form.get('ContactImageViewUrl').value : 'assets/icons/bp.png'"(click)="openFileInput()">
                      
                      <input type="file" style="display: none;" #fileInput (change)="onFileSelected($event)">
                      <!-- <img class="KeyField"  id="imagephoto" [src]="form.get('ContactDefaultImageId').value ? form.get('ContactImageViewUrl').value : 'assets/icons/dp.png'"> -->
                      <img src="assets/icons/dp.png" class="KeyField" id="imagedfphoto" alt="Description of the image">
  
                  </span>
                 
  
                  <app-gb-input formControlName='ContactDesignation'></app-gb-input>
                  <app-gb-combobox formControlName='ContactLinkType'></app-gb-combobox>
                  <app-entitylookup [PicklistObj]="ContactJSON.default.ObjectFields[0].ReportingToName"
                      formControlName='ReportingToName' (Onselectdataids)="ContactPatchFunction($event)"
                      [defaultvalue]="form.get('ReportingToName').value"></app-entitylookup>
                </div>
                
                <br>


            </div>
            <div id="Address" class="tabcontent">

<!---->
<div class="companyttr" style="display: inline-flex;">
    <app-gb-input formControlName='ContactCompany'></app-gb-input>
    <span formGroupName='AddressDTO' style="display: flex;margin-left: 50px;">
      <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 10px;">AddressLine1</span>
      <app-gb-input formControlName='AddressLine1' style="height: 10px;margin-left: 14px;width:300px"></app-gb-input>
      <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 62px;">GEO Code</span>
      <app-gb-input class="KeyField" formControlName='AddressGeoCode'  style="margin-left: 12px;"></app-gb-input>

    </span>
  </div>
  <br>
  <!---->
 <div class="companyttr" style="display: inline-flex;">
  <app-gb-input  formControlName='ContactDesignation'></app-gb-input>
  <span formGroupName='AddressDTO' style="display: flex;margin-left: 50px;">
    <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 10px;">AddressLine2</span>
    <app-gb-input  formControlName='AddressLine2' style="height: 10px;margin-left: 14px;width:300px"></app-gb-input>
    <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 89px;">GSTIN</span>
    <app-gb-input class="KeyField" formControlName='AddressGSTIn' style="margin-left: 12px;"></app-gb-input>
  </span>
 </div>
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <app-gb-combobox  formControlName='ContactLinkType'></app-gb-combobox>
    <span formGroupName='AddressDTO' style="display: flex;margin-left: 100px;">
      <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 90px;">AddressLine3</span>
      <app-gb-input formControlName='AddressLine3' style="height: 10px;margin-left: 14px;width:300px"></app-gb-input>
      <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 36px;">Phone Number</span>
      <!-- <app-gb-combobox class="KeyField" formControlName='CountryISDCode'></app-gb-combobox> -->
      <app-gb-input class="KeyField" formControlName='AddressPhone' style="margin-left: 12px;"></app-gb-input>
    </span>
  </div>    
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <app-gb-combobox  formControlName='ContactStatus'></app-gb-combobox>
    <span formGroupName='AddressDTO' style="display: flex;margin-left: 100px;">
      <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 90px;">AddressLine4</span>
      <app-gb-input formControlName='AddressLine4' style="height: 10px;margin-left: 14px;width: 300px;"></app-gb-input>
      <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 36px;">Mobile Number</span>
      <!-- <app-gb-combobox class="KeyField" formControlName='CountryISDCode'></app-gb-combobox> -->
      <app-gb-input class="KeyField" formControlName='AddressMobile' style="margin-left: 12px;"></app-gb-input>
    </span>
  </div>  
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <app-entitylookup  [PicklistObj]="ContactJSON.default.ObjectFields[0].ReportingToName"
    formControlName='ReportingToName' (Onselectdataids)="ContactPatchFunction($event)"
    [defaultvalue]="form.get('ReportingToName').value"></app-entitylookup>
    <span formGroupName='AddressDTO' style="display: flex;margin-left: 50px;">
    <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 10px;">AddressLine5</span>
    <app-gb-input style="height: 10px;margin-left: 14px;width: 300px;" formControlName='AddressLine5'></app-gb-input>
    <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 52px;">Fax Number</span>
    <app-gb-input class="KeyField" formControlName='AddressFax' style="margin-left: 12px;"></app-gb-input>
  </span>
  </div>   
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <app-gb-checkbox  formControlName='ContactSave'></app-gb-checkbox>
    <span formGroupName='AddressDTO' style="display: flex;">
      <app-entitylookup class="KeyField"
        [PicklistObj]="ContactJSON.default.ObjectFields[0].CountryName" formControlName='CountryName'
        (Onselectdataids)="ContactPatchFunction($event)"
        [defaultvalue]="form.get('AddressDTO').value.CountryName"></app-entitylookup></span>
        <span formGroupName='AddressDTO' style="display: flex;">
      <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 52px;">Mail ID</span>
      <app-gb-input style="height: 10px;margin-left: 12px;" formControlName='AddressMail'></app-gb-input>
    </span>
  </div>   
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <span formGroupName='AddressDTO' style="display: flex;">
      <app-entitylookup class="KeyField"
       [PicklistObj]="ContactJSON.default.ObjectFields[0].CityName" formControlName='CityName'
       (Onselectdataids)="ContactPatchFunction($event)"
       [defaultvalue]="form.get('AddressDTO').value.CityName"></app-entitylookup></span>
       <span formGroupName='AddressDTO' style="display: flex;">
     <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 8px;">Web Address</span>
     <app-gb-input style="height: 10px;margin-left: 12px;" formControlName='AddressWeb'></app-gb-input>
   </span>
  </div>   
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <span formGroupName='AddressDTO' style="display: flex;">
      <app-entitylookup class="KeyField"
        [PicklistObj]="ContactJSON.default.ObjectFields[0].StateName" formControlName='StateName'
        (Onselectdataids)="ContactPatchFunction($event)"
        [defaultvalue]="form.get('AddressDTO').value.StateName"></app-entitylookup></span>  
  </div>  
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <span formGroupName='AddressDTO' style="display: flex;">
      <app-entitylookup class="KeyField"
        [PicklistObj]="ContactJSON.default.ObjectFields[0].StandardRegionName" formControlName='StandardRegionName'
        (Onselectdataids)="ContactPatchFunction($event)"
        [defaultvalue]="form.get('AddressDTO').value.StandardRegionName"></app-entitylookup></span>
  </div>  
  <br>
  <!---->
  <div class="companyttr" style="display: inline-flex;">
    <span formGroupName='AddressDTO' style="display: flex;margin-left: 422px;">
      <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 16px;">Zip Code</span>
      <app-gb-input style="height: 10px;margin-left: 14px;" formControlName='AddressZipCode'></app-gb-input>
    </span>
  </div>
  
               

            </div>
        </div>
    </form>
</div> 
<!-- <video #video id="video" width="640" height="480" autoplay></video>
<canvas #canvas style="display: none;" width="640" height="480"></canvas>

<button (click)="startCamera()">Start Camera</button>
<button (click)="captureImage()">Capture Image</button>
<button (click)="stopCamera()">Stop Camera</button>  -->