<div>
 
  <br>
  <b> {{ clickedItem }} </b>
  <div>
        <select (change)="handleChange($event.target.selectedIndex)"
        class="form-control form-control-sm col-sm-2" >
        <option *ngFor="let item of ChartTypes" 
        [value]="item.Type">{{item.Type}}</option>
        </select> 
        
<ng-container [ngTemplateOutlet]="horizontalTemplate"  ></ng-container>
<ng-container [ngTemplateOutlet]="verticalTemplate"></ng-container>
<ng-container [ngTemplateOutlet]="stackverticalTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="stackhorizontalTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="gaugeTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="advancedpieTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="treeTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="areaTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="lineTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="normalizedHirozontalTemplate" ></ng-container> 
<ng-container [ngTemplateOutlet]="normalizedverticalTemplate" ></ng-container> 
<ng-container [ngTemplateOutlet]="pieTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="piegridTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="heatmapTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="normalizedareaTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="stackedareaTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="bubbleTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="numbercardTemplate" ></ng-container>
<ng-container [ngTemplateOutlet]="polarTemplate" ></ng-container>
<!-- <ng-container [ngTemplateOutlet]="chartTemplate"  ></ng-container> -->
<!-- <ng-container [ngTemplateOutlet]="chartTemplate || areaTemplate"></ng-container>  -->

<ng-template #areaTemplate >
  <div>
     <ngx-charts-area-chart
     *ngIf="selectedObject.Type=='Area Chart'"
        [view]="chartsetting[0].view"
        [results]="chartdata"
        [scheme]="chartsetting[0].colorScheme"
        [legend]="chartsetting[0].legend"
        [showXAxisLabel]="chartsetting[0].showXAxisLabel"
        [showYAxisLabel]="chartsetting[0].showYAxisLabel"
        [xAxis]="chartsetting[0].xAxis"
        [yAxis]="chartsetting[0].yAxis"
        [xAxisLabel]="chartsetting[0].xAxisLabel"
        [yAxisLabel]="chartsetting[0].yAxisLabel"
        [timeline]="chartsetting[0].timeline"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        (click)="onClicked()"
        >
      </ngx-charts-area-chart>
  </div>
</ng-template>

<ng-template #lineTemplate>
  <div>
       <ngx-charts-line-chart
       *ngIf="selectedObject.Type=='Line Chart'"
       [view]="chartsetting[0].view"
       [results]="chartdata"
       [scheme]="chartsetting[0].colorScheme"
       [legend]="chartsetting[0].legend"
       [showXAxisLabel]="chartsetting[0].showXAxisLabel"
       [showYAxisLabel]="chartsetting[0].showYAxisLabel"
       [xAxis]="chartsetting[0].xAxis"
       [yAxis]="chartsetting[0].yAxis"
       [xAxisLabel]="chartsetting[0].xAxisLabel"
       [yAxisLabel]="chartsetting[0].yAxisLabel"
       [timeline]="chartsetting[0].timeline"
       (select)="onSelect($event)"
       (activate)="onActivate($event)"
       (deactivate)="onDeactivate($event)"
       >
      </ngx-charts-line-chart> 
   </div>
</ng-template>


<ng-template #normalizedHirozontalTemplate>
 <div>
   <ngx-charts-bar-horizontal-normalized
   *ngIf="selectedObject.Type=='Horizontal Barchart'"
   [view]="chartsetting[0].view"
   [results]="chartdata"
   [scheme]="chartsetting[0].colorScheme"
  [gradient]="chartsetting[0].gradient"
  [xAxis]="chartsetting[0].showXAxis"
  [yAxis]="chartsetting[0].showYAxis"
  [legend]="chartsetting[0].showLegend"
  [showXAxisLabel]="chartsetting[0].showXAxisLabel"
  [showYAxisLabel]="chartsetting[0].showYAxisLabel"
  [xAxisLabel]="chartsetting[0].xAxisLabel"
  [yAxisLabel]="chartsetting[0].yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
   </ngx-charts-bar-horizontal-normalized>
</div>
</ng-template>

<ng-template #normalizedverticalTemplate>
  <div>
 <ngx-charts-bar-vertical-normalized
 *ngIf="selectedObject.Type=='Vertical Barchart'"
 [view]="chartsetting[0].view"
 [results]="chartdata"
 [scheme]="chartsetting[0].colorScheme"
 [gradient]="chartsetting[0].gradient"
 [xAxis]="chartsetting[0].showXAxis"
 [yAxis]="chartsetting[0].showYAxis"
 [legend]="chartsetting[0].showLegend"
 [showXAxisLabel]="chartsetting[0].showXAxisLabel"
 [showYAxisLabel]="chartsetting[0].showYAxisLabel"
 [xAxisLabel]="chartsetting[0].xAxisLabel"
 [yAxisLabel]="chartsetting[0].yAxisLabel"
 (select)="onSelect($event)"
   (activate)="onActivate($event)"
   (deactivate)="onDeactivate($event)"
 >
 </ngx-charts-bar-vertical-normalized> 
 </div>
 </ng-template>

 <ng-template #treeTemplate >
  <div>
<ngx-charts-tree-map
*ngIf="selectedObject.Type=='Tree Chart'"
  [view]="chartsetting[0].view"
  [results]="chartdata"
  [scheme]="chartsetting[0].colorScheme"
  [gradient]="chartsetting[0].gradient"
  [animations]="chartsetting[0].animations"
  [labelFormatting]="chartsetting[0].labelFormatting"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-tree-map>
</div>
</ng-template>

<ng-template #advancedpieTemplate >
  <div>
<ngx-charts-advanced-pie-chart
*ngIf="selectedObject.Type=='Advanced Pie Chart'"
  [view]="chartsetting[0].view"
  [results]="chartdata"
  [scheme]="chartsetting[0].colorScheme"
  [gradient]="chartsetting[0].gradient"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-advanced-pie-chart>
</div>
</ng-template>

 <ng-template #gaugeTemplate >
  <div>
<ngx-charts-gauge
*ngIf="selectedObject.Type=='Gauge Chart'"
  [view]="chartsetting[0].view"
  [results]="chartdata"
  [scheme]="chartsetting[0].colorScheme"
  [legend]="chartsetting[0].legend"
  [legendPosition]="chartsetting[0].legendPosition"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-gauge>
</div>
</ng-template> 

<ng-template #stackhorizontalTemplate>
  <div>
<ngx-charts-bar-horizontal-stacked
*ngIf="selectedObject.Type=='Horizontal Chart'"
  [view]="chartsetting[0].view"
  [scheme]="chartsetting[0].colorScheme"
  [results]="chartdata"
  [gradient]="chartsetting[0].gradient"
  [xAxis]="chartsetting[0].showXAxis"
  [yAxis]="chartsetting[0].showYAxis"
  [legend]="chartsetting[0].showLegend"
  [showXAxisLabel]="chartsetting[0].showXAxisLabel"
  [showYAxisLabel]="chartsetting[0].showYAxisLabel"
  [xAxisLabel]="chartsetting[0].xAxisLabel"
  [yAxisLabel]="chartsetting[0].yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-bar-horizontal-stacked>
</div>
</ng-template>

<ng-template #verticalTemplate>
  <div>
<ngx-charts-bar-vertical
*ngIf="selectedObject.Type=='Vertical Chart'"
  [view]="chartsetting[0].view"
  [scheme]="chartsetting[0].colorScheme"
  [results]="chartdata"
  [gradient]="chartsetting[0].gradient"
  [xAxis]="chartsetting[0].showXAxis"
  [yAxis]="chartsetting[0].showYAxis"
  [legend]="chartsetting[0].showLegend"
  [showXAxisLabel]="chartsetting[0].showXAxisLabel"
  [showYAxisLabel]="chartsetting[0].showYAxisLabel"
  [xAxisLabel]="chartsetting[0].xAxisLabel"
  [yAxisLabel]="chartsetting[0].yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-bar-vertical>
  </div>
</ng-template>

<ng-template #stackverticalTemplate>
  <div>
<ngx-charts-bar-vertical-stacked
*ngIf="selectedObject.Type=='Stacked Vertical Chart'"
  [view]="chartsetting[0].view"
  [scheme]="chartsetting[0].colorScheme"
  [results]="chartdata"
  [gradient]="chartsetting[0].gradient"
  [xAxis]="chartsetting[0].showXAxis"
  [yAxis]="chartsetting[0].showYAxis"
  [legend]="chartsetting[0].showLegend"
  [showXAxisLabel]="chartsetting[0].showXAxisLabel"
  [showYAxisLabel]="chartsetting[0].showYAxisLabel"
  [xAxisLabel]="chartsetting[0].xAxisLabel"
  [yAxisLabel]="chartsetting[0].yAxisLabel"
  [animations]="chartsetting[0].animations"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-bar-vertical-stacked>
</div>
</ng-template>
<ng-template #horizontalTemplate>
  <div>
<ngx-charts-bar-horizontal
*ngIf="selectedObject.Type=='Stacked Horizontal Chart'"
  [view]="chartsetting[0].view"
  [scheme]="chartsetting[0].colorScheme"
  [results]="chartdata"
  [gradient]="chartsetting[0].gradient"
  [xAxis]="chartsetting[0].showXAxis"
  [yAxis]="chartsetting[0].showYAxis"
  [legend]="chartsetting[0].showLegend"
  [showXAxisLabel]="chartsetting[0].showXAxisLabel"
  [showYAxisLabel]="chartsetting[0].showYAxisLabel"
  [xAxisLabel]="chartsetting[0].xAxisLabel"
  [yAxisLabel]="chartsetting[0].yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
 >
</ngx-charts-bar-horizontal>
  </div>
</ng-template>


<ng-template #pieTemplate>
  <div>
    <ngx-charts-pie-chart
    *ngIf="selectedObject.Type=='Pie Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [results]="chartdata"
    [gradient]="chartsetting[0].gradient"
    [legend]="chartsetting[0].showLegend"
    [legendPosition]="chartsetting[0].legendPosition"
    [labels]="chartsetting[0].showLabels"
    [doughnut]="chartsetting[0].isDoughnut"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-pie-chart>
  </div>
</ng-template>

<ng-template #piegridTemplate>
  <div>
    <ngx-charts-pie-grid
    *ngIf="selectedObject.Type=='Piegrid Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [results]="chartdata"
    (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-pie-grid>
  </div>
</ng-template>

<ng-template #heatmapTemplate>
  <div>
    <ngx-charts-heat-map
    *ngIf="selectedObject.Type=='Heatmap Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [legend]="chartsetting[0].legend"
    [showXAxisLabel]="chartsetting[0].showXAxisLabel"
    [showYAxisLabel]="chartsetting[0].showYAxisLabel"
    [xAxis]="chartsetting[0].xAxis"
    [yAxis]="chartsetting[0].yAxis"
    [xAxisLabel]="chartsetting[0].xAxisLabel"
    [yAxisLabel]="chartsetting[0].yAxisLabel"
    [results]="chartdata"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-heat-map>
  </div>
</ng-template>

<ng-template #normalizedareaTemplate>
  <div>
    <ngx-charts-area-chart-normalized
    *ngIf="selectedObject.Type=='Normalized Area Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [legend]="chartsetting[0].legend"
    [showXAxisLabel]="chartsetting[0].showXAxisLabel"
    [showYAxisLabel]="chartsetting[0].showYAxisLabel"
    [xAxis]="chartsetting[0].xAxis"
    [yAxis]="chartsetting[0].yAxis"
    [xAxisLabel]="chartsetting[0].xAxisLabel"
    [yAxisLabel]="chartsetting[0].yAxisLabel"
    [timeline]="chartsetting[0].timeline"
    [results]="chartdata"
    (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-area-chart-normalized>
  </div>
</ng-template>

<ng-template #stackedareaTemplate>
  <div>
    <ngx-charts-area-chart-stacked
    *ngIf="selectedObject.Type=='Stacked Area Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [legend]="chartsetting[0].legend"
    [showXAxisLabel]="chartsetting[0].showXAxisLabel"
    [showYAxisLabel]="chartsetting[0].showYAxisLabel"
    [xAxis]="chartsetting[0].xAxis"
    [yAxis]="chartsetting[0].yAxis"
    [xAxisLabel]="chartsetting[0].xAxisLabel"
    [yAxisLabel]="chartsetting[0].yAxisLabel"
    [timeline]="chartsetting[0].timeline"
    [results]="chartdata"
    (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-area-chart-stacked>
  </div>
</ng-template>

<ng-template #bubbleTemplate>
  <div>
    <ngx-charts-bubble-chart
    *ngIf="selectedObject.Type=='Bubble Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [results]="bubblechart"
    [xAxis]="chartsetting[0].showXAxis"
    [yAxis]="chartsetting[0].showYAxis"
    [legend]="chartsetting[0].showLegend"
    [showXAxisLabel]="chartsetting[0].showXAxisLabel"
    [showYAxisLabel]="chartsetting[0].showYAxisLabel"
    [xAxisLabel]="chartsetting[0].xAxisLabel"
    [yAxisLabel]="chartsetting[0].yAxisLabel"
    [xScaleMin]="chartsetting[0].xScaleMin"
    [xScaleMax]="chartsetting[0].xScaleMax"
    [yScaleMin]="chartsetting[0].yScaleMin"
    [yScaleMax]="chartsetting[0].yScaleMax"
    [minRadius]="chartsetting[0].minRadius"
    [maxRadius]="chartsetting[0].maxRadius"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
  </ngx-charts-bubble-chart>
  </div>
</ng-template>

<ng-template #numbercardTemplate>
  <div>
    <ngx-charts-number-card
    *ngIf="selectedObject.Type=='Numbercard Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [results]="chartdata"
    [cardColor]="chartsetting[0].cardColor"
    (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-number-card>
  </div>
</ng-template>

<ng-template #polarTemplate>
  <div>
    <ngx-charts-polar-chart
    *ngIf="selectedObject.Type=='Polar Chart'"
    [view]="chartsetting[0].view"
    [scheme]="chartsetting[0].colorScheme"
    [legend]="chartsetting[0].legend"
    [showXAxisLabel]="chartsetting[0].showXAxisLabel"
    [showYAxisLabel]="chartsetting[0].showYAxisLabel"
    [xAxis]="chartsetting[0].xAxis"
    [yAxis]="chartsetting[0].yAxis"
    [xAxisLabel]="chartsetting[0].xAxisLabel"
    [yAxisLabel]="chartsetting[0].yAxisLabel"
    [results]="chartdata"
    (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-polar-chart>
  </div>
</ng-template>


</div>
</div>

