<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form' class='TDSCategoryMaster'>

        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].TDSCategoryCode"
            formControlName='TDSCategoryCode' (Onselectdata)="TDSCategoryMasterFillFunction($event)"
            [defaultvalue]="form.get('TDSCategoryCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].TDSCategoryName"
            formControlName='TDSCategoryName' (Onselectdata)="TDSCategoryMasterFillFunction($event)"
            [defaultvalue]="form.get('TDSCategoryName').value"></app-entitylookup>

        <app-gb-checkbox class="KeyField" formControlName='TDSCategoryIsCompany' style="padding-left: 39px;"></app-gb-checkbox>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].TDSCategorySection"
            formControlName='TDSCategorySection' (Onselectdataids)="TDSCategoryMasterPatchValue($event)"
            [defaultvalue]="form.get('TDSCategorySection').value"></app-entitylookup>

        <app-gb-input class="KeyField" formControlName='TDSCategoryAmountLimit'></app-gb-input>
        <br>

        <app-entitylookup class="KeyField"
            [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].TDSCategoryReferenceSection"
            formControlName='TDSCategoryReferenceSection' (Onselectdataids)="TDSCategoryMasterPatchValue($event)"
            [defaultvalue]="form.get('TDSCategoryReferenceSection').value"></app-entitylookup>

        <app-gb-input class="KeyField" formControlName='TDSCategoryTransactionLimit'></app-gb-input>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].TDSCategoryForm"
            formControlName='TDSCategoryForm' (Onselectdataids)="TDSCategoryMasterPatchValue($event)"
            [defaultvalue]="form.get('TDSCategoryForm').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].PaidAccountName"
            formControlName='PaidAccountName' (Onselectdataids)="TDSCategoryMasterPatchValue($event)"
            [defaultvalue]="form.get('PaidAccountName').value" ></app-entitylookup>

        <br>
        <app-gb-input class="KeyField" formControlName='TDSCategoryTDSPercent'></app-gb-input>
        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].ClaimAccountName"
            formControlName='ClaimAccountName' (Onselectdataids)="TDSCategoryMasterPatchValue($event)"
            [defaultvalue]="form.get('ClaimAccountName').value" style="padding-left: 152px;"></app-entitylookup>
        <br>
        <app-gb-input class="KeyField" formControlName='TDSCategorySCPercent'></app-gb-input>
        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].SufferedAccountName"
            formControlName='SufferedAccountName' (Onselectdataids)="TDSCategoryMasterPatchValue($event)"
            [defaultvalue]="form.get('SufferedAccountName').value" style="padding-left: 152px;"></app-entitylookup>
        <br>
        <app-gb-input class="KeyField" formControlName='TDSCategoryCessPercent'></app-gb-input>

        <app-entitylookup class="KeyField" [PicklistObj]="TDSCategoryJson.default.ObjectFields[0].DeducationAccountName"
            formControlName='DeducationAccountName' (Onselectdataids)="TDSCategoryMasterPatchValue($event)"
            [defaultvalue]="form.get('DeducationAccountName').value" style="padding-left: 152px;"></app-entitylookup>
        <br>

        <app-gb-textarea formControlName='TDSCategoryRemarks'></app-gb-textarea>

    </form>
</div>