<!-- <div class="container"> -->
<app-map class="gmap" style="display: inline-block;" [ParentData]='RowData'></app-map>
<div class="dbtable" ngif>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" style="min-width: 25px;">#</th>
                <th class="th cap1-bold-12-white">Customer/Contact</th>
                <th class="th cap1-bold-12-white" style="min-width: 50px;">In-time</th>
                <th class="th cap1-bold-12-white" style="min-width: 50px;">Out-time</th>
                <th class="th cap1-bold-12-white" style="min-width: 50px;">Distance(kms)</th>
                <th class="th cap1-bold-12-white">Remarks</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of RowData; let i=index">
                <td class="td cap2-med-12-type-primary" style="min-width: 25px;">{{data.SlNo }}</td>
                <td class="td cap2-med-12-type-primary "><span
                        style="font-weight: 700;">{{data.LocationName}}</span><br><span style="font-weight: 500;">{{data.Address}}</span><br><span
                        style="font-weight: 700;">{{data.Client}}</span></td>
                <td class="td cap2-med-12-type-primary" style="min-width: 50px;">{{data.INPunchTime}}</td>
                <td class="td cap2-med-12-type-primary" style="min-width: 50px;">{{data.OUTPunchTime}}</td>
                <td id="distance" class="td cap2-med-12-type-primary" style="min-width: 50px;">{{data.Distance}}</td>
                <td class="td cap2-med-12-type-primary">{{data.Remarks}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div><app-map></app-map></div> -->
<!-- </div> -->