<div>
    <div class="lightbox">
      <button mat-raised-button id="myBtn" (click)="btnfilter()">
        <mat-icon>list</mat-icon>
      </button>
    </div>
    <div id="myModal1" class="modal1">
      <mat-icon class="closeicon1" (click)="close()">cancel</mat-icon>
      <div class="modal-content1" #div>
        <button mat-raised-button #abc class="applybtn1" (click)="applybutton()">Apply</button>
        <button mat-raised-button class="closebtn1" (click)="clearbutton()">Clear</button>
        <form [formGroup]="lightBoxForm">
          <table id="table">
            <tr>
              <td>Type</td>
              <td> <ng-select formControlName="charttype" [items]="TypeList" bindLabel="Type"  placeholder="Select Type">
              </ng-select>
              </td>
            </tr>
            <tr>
              <td>X-Axis</td>
              <td><ng-select formControlName="label" [items]="keyValue" bindLabel="Label"  placeholder="Select label">
              </ng-select>
              </td>
            </tr>
            <tr>
              <td>Y-Axis</td>
              <td> <ng-select formControlName="series" [items]="keyValue" bindLabel="Series" [multiple]="true" placeholder="Select Series">
                </ng-select></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>