<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PolicyJSON.default.ObjectFields[0].PolicyCode"
            formControlName='PolicyCode' (Onselectdata)="PolicyRetrivalValue($event)"
            [defaultvalue]="form.get('PolicyCode').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="PolicyJSON.default.ObjectFields[0].PolicyName"
            formControlName='PolicyName' (Onselectdata)="PolicyRetrivalValue($event)"
            [defaultvalue]="form.get('PolicyName').value"></app-entitylookup>
        <app-gb-textarea formControlName='PolicyDescription'></app-gb-textarea>

        <app-entitylookup [PicklistObj]="PolicyJSON.default.ObjectFields[0].CurrencyName"
        formControlName='CurrencyName' (Onselectdataids)="PolicyPatchValue($event)"
        [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='PolicyVersionDetailArray'
        [ArrayDetail]="form.get('PolicyCode').value"></app-gb-formgrid>

    </form>
</div>