@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.notification {
    color:#36454f;
    width: 32px;
    height: 32px;
  }

  .btn-notification {
  outline-style: none;
  }

  .notification:hover {
    color:#36454f;
  }