<div class='FormOverview' *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="ModuleNewJSON.default.ObjectFields[0].ModuleCode"
        formControlName='ModuleCode' (Onselectdata)="ModuleFormVal($event)"
        [defaultvalue]="form.get('ModuleCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="ModuleNewJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdata)="ModuleFormVal($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup> 

        <app-entitylookup  [PicklistObj]="ModuleNewJSON.default.ObjectFields[0].ProjectName"
        formControlName='ProjectName' (Onselectdataids)="Modulepatch($event)"
        [defaultvalue]="form.get('ProjectName').value"></app-entitylookup> 

        <app-entitylookup  [PicklistObj]="ModuleNewJSON.default.ObjectFields[0].ImageName"
        formControlName='ImageName' (Onselectdataids)="Modulepatch($event)"
        [defaultvalue]="form.get('ImageName').value"></app-entitylookup> 

        <app-entitylookup  [PicklistObj]="ModuleNewJSON.default.ObjectFields[0].MenuName"
        formControlName='MenuName' (Onselectdataids)="Modulepatch($event)"
        [defaultvalue]="form.get('MenuName').value"></app-entitylookup> 

        </form>
        </div>