<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="DieMasterJSON.default.ObjectFields[0].PatternCode" formControlName='PatternCode'
        (Onselectdata)="DieMasterFillValue($event)" [defaultvalue]="form.get('PatternCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="DieMasterJSON.default.ObjectFields[0].PatternName" formControlName='PatternName'
        (Onselectdata)="DieMasterFillValue($event)" [defaultvalue]="form.get('PatternName').value"></app-entitylookup> 

        <app-gb-combobox formControlName="PatternType"></app-gb-combobox>

        <app-gb-combobox formControlName="PatternApproveStatus" class="KeyField"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="DieMasterJSON.default.ObjectFields[0].PartyName" formControlName='PartyName'
        (Onselectdataids)="DieMasterPatchValue($event)" [defaultvalue]="form.get('PartyName').value" *ngIf="form.get('PatternType').value==1"></app-entitylookup>

        <app-entitylookup [PicklistObj]="DieMasterJSON.default.ObjectFields[0].ParameterSetName" formControlName='ParameterSetName'
        (Onselectdataids)="DieMasterPatchValue($event)" [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="DieMasterJSON.default.ObjectFields[0].ItemName" formControlName='ItemName'
        (Onselectdataids)="DieMasterPatchValue($event)" [defaultvalue]="form.get('ItemName').value"></app-entitylookup>

        <app-gb-date formControlName='FirstSampleMadeOn' [date]="form.get('PatternId').value"
            [default]="'today'"></app-gb-date>

            <app-gb-input formControlName='PatternLifeCount' (InputOutPut)="InputPatternLifeCount($event)"></app-gb-input>

            <app-gb-date formControlName='PatternStart' [date]="form.get('PatternId').value"
            [default]="'today'"></app-gb-date>

            <app-gb-input formControlName='PatternOpeningCount' (InputOutPut)="InputPatternOpeningCount($event)" ></app-gb-input>

            <app-gb-input formControlName='PatternTransactionCount' (InputOutPut)="GetTransactionCountDecimal($event)"></app-gb-input>

            <app-gb-input formControlName='PatternTotalWeight' (InputOutPut)="GetTotalWeightDesimal($event)"></app-gb-input>

            <app-gb-input formControlName='PatternBalanceCount' (InputOutPut)="GetBalanceCountDesimal($event)" [disabled]="isdissable"></app-gb-input>

            
            <app-gb-textarea formControlName='PatternRemarks'></app-gb-textarea>

            <app-gb-formgrid formControlName='PatternDetailArray'
            [ArrayDetail]="form.get('PatternCode').value"></app-gb-formgrid>

    </form>
</div>