<div class="abb">
    <p class="valu">Value :{{value | NumberFormat}}</p>
    <p class="adds">Add :{{add | NumberFormat}}</p>
    <p class="les">Less :{{less | NumberFormat}}</p>
    <p class="tot">Total :{{total | NumberFormat}}</p>
</div>
<div class="dbtable">

    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Qty</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Sch.Dt</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Sch.Qty</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Rate</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Value</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Add</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Less</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Total</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata">
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.itemcode }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.itemname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.transqty |NumberFormat  }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.scheddate |DateFormatter }}</td>
                <td class="td cap2-med-12-type-primary"[ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  style="text-align: right; padding-right: 150px;">{{data.schedqty |NumberFormat  }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.transuom |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.rate |NumberFormat }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.ibasicval |NumberFormat  }}</td>
                <td class="td cap2-med-12-type-primary"[ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  style="text-align: right; padding-right: 150px;">{{data.iplus |NumberFormat }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.iminus|NumberFormat }}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.totals |NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>