<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup  [PicklistObj]="MachineJSON.default.ObjectFields[0].OrganizationUnitName"
            formControlName='OrganizationUnitName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('OrganizationUnitName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="MachineJSON.default.ObjectFields[0].MachineTypeName"
            formControlName='MachineTypeName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('MachineTypeName').value"></app-entitylookup>
        

        <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].MachineCode"
            formControlName='MachineCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('MachineCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].MachineName"
            formControlName='MachineName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('MachineName').value"></app-entitylookup>

        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].ModelName"
            formControlName='ModelName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('ModelName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].BrandName"
            formControlName='BrandName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('BrandName').value"></app-entitylookup>
        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].CategoryName"
            formControlName='CategoryName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('CategoryName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].SubCategoryName"
            formControlName='SubCategoryName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('SubCategoryName').value"></app-entitylookup>


        <!--------------------------------- Tabs ----------------------------------------------->
        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Classification')">
                Classification</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Profile')">Profile</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Production')">Production</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Service')">Service</button>
        </div>

        <div class="TabView">
            <!--------------------------------- Classification ----------------------------------------------->
            <div id="Classification" class="tabcontent">

                <app-gb-combobox class="KeyField" formControlName="MachineItemLinkType"></app-gb-combobox>


                <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].ItemName"
                    formControlName='ItemName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemName').value"></app-entitylookup>
            </div>

            <!--------------------------------- profile ----------------------------------------------->
            <div id="Profile" class="tabcontent">

                <app-gb-combobox class="KeyField" formControlName="MachineYOM"></app-gb-combobox>
                <app-gb-input class="KeyField"formControlName='MachineMfrSlNo'></app-gb-input>
                <br>

                <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].SupplierName"
                    formControlName='SupplierName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('SupplierName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='MachineBillNumber'></app-gb-input>

                <br>

                <app-gb-input class="KeyField"  formControlName='MachineLastNumber'></app-gb-input>
                <app-gb-combobox class="KeyField" formControlName="MachineMachineStatusValue"></app-gb-combobox>
                <br>

                <app-gb-input class="KeyField" formControlName='MachineMachineValue'></app-gb-input>
                <app-gb-date class="KeyField" formControlName='MachineBillDate' [date]="form.get('MachineId').value"
                    [default]="'today'"></app-gb-date><br>

                <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].BatchNumber"
                    formControlName='BatchNumber' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('BatchNumber').value"></app-entitylookup>

                <app-gb-date class="KeyField" formControlName='MachineInstallationDate' [date]="form.get('MachineId').value"
                    [default]="'today'"></app-gb-date><br>

                <app-gb-input class="KeyField" formControlName='MachineValueInBill'></app-gb-input>
                <app-gb-date class="KeyField" formControlName='MachinePurchaseDate' [date]="form.get('MachineId').value"
                    [default]="'today'"></app-gb-date>

            </div>

            <!-------------------- Production -------------------->
            <div id="Production" class="tabcontent">
                <app-gb-input class="KeyField"  formControlName='MachineCapacity'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='MachineLotPerDay'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='MachineEfficiency'></app-gb-input>
                <app-gb-checkbox class="KeyField" formControlName='MachineIsCritical'></app-gb-checkbox>
                <br>
                <app-gb-input class="KeyField" formControlName='MachineMinCapacity'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='MachineSpeed'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='MachineMaxCapacity'></app-gb-input>
                <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].UOMName"
                    formControlName='UOMName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('UOMName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].ProcessName"
                    formControlName='ProcessName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ProcessName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="MachineJSON.default.ObjectFields[0].WorkCenterName"
                    formControlName='WorkCenterName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('WorkCenterName').value"></app-entitylookup>
            </div>

            <!-------------------- Service -------------------->
            <div id="Service" class="tabcontent">
                <app-gb-combobox class="KeyField" formControlName="MachineServiceStatus"></app-gb-combobox>
                <app-gb-date class="KeyField" formControlName='MachineServiceFromDate' [date]="form.get('MachineId').value"
                    [default]="'today'"></app-gb-date>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="MachineJSON.default.ObjectFields[0].ServiceProviderName"
                    formControlName='ServiceProviderName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ServiceProviderName').value"></app-entitylookup>

                <app-gb-date  class="KeyField" formControlName='MachineServiceToDate' [date]="form.get('MachineId').value"
                    [default]="'today'"></app-gb-date>
            </div>
        </div>

    </form>
</div>