.layoutcontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;
  grid-template-areas:
  "header"
  "sidebarwithcontent"
  "footer";
  height: 100vh;
}
app-header {
  color: white;
  font-size: 14px;
  padding: -15px;
  grid-area: header;
  text-align: center;
  // background-color:#2A92BF;
}
app-footer {
  grid-area: footer;
  // background-color:#2BB961;
  background-color: rgb(240, 237, 237);
  // color: white;
  // text-align: center;
  padding: 15px 0;
}
app-sidebar {
  grid-area: sidebarwithcontent;
  margin-left: -0rem;
  background-color: white;
  border-right:  solid 5px #219cd1;
}
.content {
  // grid-area: content;
  padding: 25px;
}
a:hover{
  display: block;
 background-color:steelblue ;
}
ul li {
  color: white;
}
ul li a {
  color:darkblue;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  margin-bottom: 15px;
  padding: 7px;
}
@media (max-width: 991px) {
  app-sidebar {
    margin: 0;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebarwithcontent"
      "footer";
      grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}
