<div class='layoutcontainer'>
  <app-header></app-header>
  <app-sidebar>
    <app-formheader></app-formheader>
    <div>
      <router-outlet (activate)="onActivate()"></router-outlet>
    </div>
  </app-sidebar>
  <app-footer></app-footer>
</div>