<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>


        <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].ItemCode"
            formControlName='ItemCode' (Onselectdata)="ItemOURetrivalValue($event)"
            [defaultvalue]="form.get('ItemCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].DefaultStoreName"
            formControlName='DefaultStoreName' (Onselectdataids)="ItemOUPatchValue($event)"
            [defaultvalue]="form.get('DefaultStoreName').value"></app-entitylookup>

        <br>
        <app-entitylookup [PicklistObj]="ItemOUJson.default.ObjectFields[0].ItemName" formControlName='ItemName'
            (Onselectdata)="ItemOURetrivalValue($event)" [defaultvalue]="form.get('ItemName').value"></app-entitylookup>


        <br>
        <app-entitylookup [PicklistObj]="ItemOUJson.default.ObjectFields[0].OUName" formControlName='OUName'
            (Onselectdataids)="ItemOUPatchValue($event)" [defaultvalue]="form.get('OUName').value"></app-entitylookup>



        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Classification')">
                Classification*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Purchase')">Purchase</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Sales')">Sales</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Specifications')">
                Specifications</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Unit&Pack')">Unit&Pack*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Stock')">Stock</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Duty&Tax*')">Duty&Tax*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Planning')"> Planning</button>
            <button class="FormTabLinks TabHeading"
                (click)="ChangeTab($event, 'Quality&Service')">Quality&Service</button>
        </div>


        <div class="TabView">
            <div id="Classification" class="tabcontent">
                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].ItemTypeName"
                    formControlName='ItemTypeName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('ItemTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].LinkItemName"
                    formControlName='LinkItemName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('LinkItemName').value"></app-entitylookup>

                <br>

                <app-gb-checkbox class="KeyField" formControlName='ItemOUIsInternalOrder'></app-gb-checkbox>


                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemOUJson.default.ObjectFields[0].MaterialAccountName"
                    formControlName='MaterialAccountName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('MaterialAccountName').value"></app-entitylookup>
                <br>


                <app-gb-checkbox class="KeyField" formControlName='ItemOUIsTransactable'></app-gb-checkbox>

            </div>

            <div id="Purchase" class="tabcontent">

                <app-gb-checkbox class="KeyField" formControlName='ItemOUIsPurchasable'></app-gb-checkbox>
                <app-gb-input class="KeyField" formControlName='ItemOUPurchaseRate'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUPurchaseRateInclusive'></app-gb-input>

                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemOUJson.default.ObjectFields[0].ProcurmentInchargeName"
                    formControlName='ProcurmentInchargeName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('ProcurmentInchargeName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='ItemOUPurchaseCostNLC'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUMinLevel'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemOUMaxLevel'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUMinimumOrderQuantity'></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUTolleranceType'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemOUTolleranceValue'
                    *ngIf="this.form.get('ItemOUTolleranceType').value == 1||this.form.get('ItemOUTolleranceType').value ==2"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOULotSize'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemOULeadTime'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemOUJson.default.ObjectFields[0].PurchaseCurrencyName"
                    formControlName='PurchaseCurrencyName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('PurchaseCurrencyName').value"></app-entitylookup>
                <app-gb-input class="KeyField" formControlName='ItemOULastPurchaseRate'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemOUJson.default.ObjectFields[0].LastPurchaseCurrencyName"
                    formControlName='LastPurchaseCurrencyName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('LastPurchaseCurrencyName').value"></app-entitylookup>


            </div>

            <div id="Sales" class="tabcontent">

                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsSaleableItem'></app-gb-radiobox>

                <app-gb-input class="KeyField" formControlName='ItemOUSalesRate'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOURateType'></app-gb-radiobox>

                <app-gb-radiobox class="KeyField" formControlName='ItemOUPriceForType'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemOUPricingReferenceNumber'
                    *ngIf="this.form.get('ItemOUPriceForType').value == 1||this.form.get('ItemOUPriceForType').value ==2||this.form.get('ItemOUPriceForType').value ==3"></app-gb-input>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='ItemOUIsDiscountApplicable'></app-gb-checkbox>

                <app-gb-input class="KeyField" formControlName='ItemOUMaximumDiscountPercentage'></app-gb-input>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='ItemOUIsFreeApplicable'></app-gb-checkbox>
                <app-gb-input class="KeyField" formControlName='ItemOUMRPRate'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsBuyBack'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemOUSalesRateinclusive'></app-gb-input>

            </div>

            <div id="Specifications" class="tabcontent">

                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemOUJson.default.ObjectFields[0].RawMaterialItemName"
                    formControlName='RawMaterialItemName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('RawMaterialItemName').value"></app-entitylookup>

                <app-gb-date formControlName='ItemOUIntroducedDate' class="KeyField"
                    [date]="form.get('ItemOUIntroducedDate').value" [default]="'today'"></app-gb-date>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].RawMaterialSKUName"
                    formControlName='RawMaterialSKUName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('RawMaterialSKUName').value"></app-entitylookup>

                <app-gb-combobox class="KeyField" formControlName='ItemOUBomType'></app-gb-combobox>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOURawMaterialQuantity'></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUItemOrTemplate'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].NestingPlanCode"
                    formControlName='NestingPlanCode' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('NestingPlanCode').value"></app-entitylookup>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].RoutingName"
                    formControlName='RoutingName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('RoutingName').value"></app-entitylookup>

            </div>

            <div id="Unit&Pack" class="tabcontent">

                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsPackingsDetailsRequired'></app-gb-radiobox>
                <br>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].PackSetName"
                    formControlName='PackSetName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('PackSetName').value"></app-entitylookup>

                <br>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].DefaultPacksetCode"
                    formControlName='DefaultPacksetCode' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('DefaultPacksetCode').value"></app-entitylookup>

                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUCaseCount'></app-gb-input>
                <br>

                <p>1 = 1.4532</p>
                <p> Stock unit = conversion factor*Purchase unit</p>
            </div>

            <div id="Stock" class="tabcontent">

                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsStockPosting'></app-gb-radiobox>
                <app-gb-combobox class="KeyField" formControlName='ItemOUStockValuationType'></app-gb-combobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsBinTrackingRequired'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemOUBomYieldPercentage'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsUniqueBatch'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemOUMRPPlannedPercentage'></app-gb-input>
                <br>

                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsBatchStock'></app-gb-radiobox>
                <app-gb-checkbox class="KeyField" formControlName='ItemOUIsNonTransacted'></app-gb-checkbox>

            </div>

            <div id="Duty&Tax*" class="tabcontent">

                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsDutyApplicable'></app-gb-radiobox>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].TaxTableName"
                    formControlName='TaxTableName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('TaxTableName').value"></app-entitylookup>
                <br>

                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsExciseApplicable'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsTaxTypeChangeable'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsCenvatApplicable'></app-gb-radiobox>


                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].VatCommodityName"
                    formControlName='VatCommodityName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('VatCommodityName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].DutyTableName"
                    formControlName='DutyTableName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('DutyTableName').value"></app-entitylookup>


                <app-gb-combobox class="KeyField" formControlName="ItemOUVatClaimType"></app-gb-combobox>

                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].DutyTariffName"
                    formControlName='DutyTariffName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('DutyTariffName').value"></app-entitylookup>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].DutyFormTypeName"
                    formControlName='DutyFormTypeName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('DutyFormTypeName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUGSTType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUITCType'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].GSTTariffName"
                    formControlName='GSTTariffName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('GSTTariffName').value"
                    *ngIf="this.form.get('ItemOUGSTType').value == 0 ||this.form.get('ItemOUGSTType').value == 2 ||this.form.get('ItemOUGSTType').value == 3 "></app-entitylookup>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].SACName"
                    formControlName='SACName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('SACName').value"
                    *ngIf="this.form.get('ItemOUGSTType').value == 1"></app-entitylookup>


                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].GSTTableName"
                    formControlName='GSTTableName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('GSTTableName').value"></app-entitylookup>

            </div>

            <div id="Planning" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='ItemOUMasterPlanMethod'></app-gb-radiobox>
                <app-gb-combobox class="KeyField" formControlName="ItemOUMRPPlanMethod"></app-gb-combobox>

                <app-gb-radiobox class="KeyField" formControlName='ItemOUProductionNature'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsMakeOrBuy'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsManufacturable'
                    *ngIf="this.form.get('ItemOUIsMakeOrBuy').value == 0"></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUSafetyStockMethod'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemOUSafetyDays'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].PlannerName"
                    formControlName='PlannerName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('PlannerName').value"></app-entitylookup>

                <app-entitylookup class="KeyField" [PicklistObj]="ItemOUJson.default.ObjectFields[0].PlanningGroupName"
                    formControlName='Planning GroupName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('PlanningGroupName').value"></app-entitylookup>
                <br>
                <span class="FormSubHeading"> Lead Time</span>
                <br>

                <app-gb-input class="KeyField" formControlName='ItemOUPreProcessingLeadTime'
                    (InputOutPut)="leadtimePatch($event)"></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemOUPostProcessingLeadTime'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOULeadTimeOffSet'></app-gb-input>
                <app-gb-combobox class="KeyField" formControlName="ItemOUReservationType"></app-gb-combobox>
                <br>

                <span class="FormSubHeading"> Buy Item</span>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUProcessingLeadTime'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemOUManuFacturingLeadTime'></app-gb-input>
                <br>

                <span class="FormSubHeading"> Make Item</span>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOULeadTimeLotSize'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemOUFixedLeadTime'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUVariableLeadTime'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemOUVariableQuantity'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUComponentyield'></app-gb-input>
                <app-gb-checkbox class="KeyField" formControlName='ItemOUIsBulkIssueItem'></app-gb-checkbox>
            </div>
            <div id="Quality&Service" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='ItemOUInspectionType'></app-gb-radiobox>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemOUJson.default.ObjectFields[0].QualityParameterSetName"
                    formControlName='QualityParameterSetName' (Onselectdataids)="ItemOUPatchValue($event)"
                    [defaultvalue]="form.get('QualityParameterSetName').value"
                    *ngIf="this.form.get('ItemOUInspectionType').value == 2"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOULifeInDays'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemOUSHRInkagePercentage'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsServiceApplicable'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsSpare'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsPostToCustomerProduct'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsDefectiveToBeReturned'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='ItemOUIsInstallationTrackingRequired'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemOUIsWarrantyApplicable'></app-gb-radiobox>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemOUWarrantyPeriod'></app-gb-input>
                <app-gb-checkbox class="KeyField" formControlName="ItemOULinkVariation"></app-gb-checkbox>
            </div>
        </div>


    </form>
</div>