<div class="abb">
    <p>Qty : {{ TotalQty | number:'1.2-2' }}</p>
    <p>Realisation : {{ TotalRealisation | number:'1.2-2' }}</p>
    <p>NetValue : {{ TotalNetValue | number:'1.2-2' }}</p>
    <p>Comp Qty : {{ TotalCompQty | number:'1.2-2' }}</p>
    <p> Comp Realisation : {{ TotalCompRealisation | number:'1.2-2' }}</p>
    <p> Comp NetValue : {{ TotalCompnetValue | number:'1.2-2' }}</p>

</div>

<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Qty</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Realisation</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">NetValue</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Comp Qty</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Comp Realisation</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Comp NetValue</th>

            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Code}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Name}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.SalesQty
                    | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">
                    {{data.SalesRealisation | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">
                    {{data.NetSalesValue | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">
                    {{data.CompSalesQty | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">
                    {{data.CompSalesRealisation | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">
                    {{data.CompNetSalesValue | NumberFormat}}</td>

            </tr>
        </tbody>
    </table>
</div>