<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PackFormJSON.default.ObjectFields[0].PackCode"
        formControlName='PackCode' (Onselectdata)="PackFormPicklistFillValue($event)"
        [defaultvalue]="form.get('PackCode').value"></app-entitylookup>
      
        <app-entitylookup class="KeyField" [PicklistObj]="PackFormJSON.default.ObjectFields[0].PackName"
        formControlName='PackName' (Onselectdata)="PackFormPicklistFillValue($event)"
        [defaultvalue]="form.get('PackName').value"></app-entitylookup>
     
       
     
        <app-gb-combobox formControlName='PackConversionType'></app-gb-combobox>

        <app-gb-input formControlName='PackConversionFactor'></app-gb-input>


    </form>
</div>
