<div class="dbtable">
    <p class="Op">Opening :{{rowData[0].FinalOpening.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <p class="Db">Debit :{{rowData[0].CumulativeDebit.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>

        <p class="Cr">Credit :{{rowData[0].CumulativeCredit.toLocaleString(undefined, { maximumFractionDigits: 2,
          minimumFractionDigits: 2 })}}</p>
      <p class="Cl">Closing :{{rowData[0].FinalClosing.toLocaleString(undefined, { maximumFractionDigits: 2,
          minimumFractionDigits: 2 })}}</p>
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white">Number</th>
          <th class="th cap1-bold-12-white">Account</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 150px">Debit</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 150px">Credit</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 150px">Cheque No</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <!-- <ng-container > -->
          <tr *ngFor="let data of tabledata">
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vno}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.accname}}</td>
            <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 150px" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.debit | NumberFormat}}</td>
            <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 150px" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.credit| NumberFormat}}</td>
            <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 150px" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.insno | NumberFormat}}</td>
        </tr>
        <!-- </ng-container> -->
      </tbody>
    </table>
  </div>
  