<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ProgramTypeJSON.default.ObjectFields[0].ProgramTypeCode"
            formControlName='ProgramTypeCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('ProgramTypeCode').value">
        </app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="ProgramTypeJSON.default.ObjectFields[0].ProgramTypeName"
            formControlName='ProgramTypeName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('ProgramTypeName').value"> 
        </app-entitylookup>

        <app-gb-input   formControlName='ProgramTypeSortOrder'></app-gb-input>
   
        <app-gb-textarea  formControlName='ProgramTypeRemarks'></app-gb-textarea> 

       


    </form>
</div>