<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField"
            [PicklistObj]="ManPowerRequirementJSON.default.ObjectFields[0].ManPowerVersionNo"
            formControlName='ManPowerVersionNo' (Onselectdata)="ManPowerRequirementValue($event)"
            [defaultvalue]="form.get('ManPowerVersionNo').value"></app-entitylookup>

        <app-gb-date formControlName='ManPowerFromDate' [date]="form.get('ManPowerId').value"></app-gb-date>

        <app-gb-date formControlName='ManPowerToDate' [date]="form.get('ManPowerId').value"></app-gb-date>

        <app-gb-textarea formControlName='ManPowerRemarks'></app-gb-textarea>

        <app-gb-formgrid formControlName='ManPowerDetailArray'
            [ArrayDetail]="form.get('ManPowerVersionNo').value"></app-gb-formgrid>

    </form>
</div>