

<div>
  <p class="C2C">C2C:{{TotalC2C | NumberFormat}}</p>
  <p class="CPH">Cost Per Hour:{{TotalCostPerHour | NumberFormat}}</p>
  <p class="RPH">Rate Per Hour:{{TotalRatePerHour | NumberFormat}}</p>
  <div class="dbtable">
    <table class="Table">
    <thead class="thead">
      <tr class="theadtr">
        <th class="td cap1-bold-12-white" >Rev No.</th>
        <th class="td cap1-bold-12-white" >Rev. Date</th>
        <th class="td cap1-bold-12-white" >Ref No.</th>
        <th class="td cap1-bold-12-white" >Ref Date</th>
        <th class="td cap1-bold-12-white" >Natural Val</th>
        <th class="td cap1-bold-12-white" style="text-align: right;">C2C</th>
        <th class="td cap1-bold-12-white" style="text-align: right;">Cost Per Hour</th>
        <th class="td cap1-bold-12-white" style="text-align: right;">Rate Per Hour</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let data of rowData">
        <td (click)='selectedcell(data)' class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.revno}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.revdate | DateFormatter}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.refno | NumberFormat}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.refdate | DateFormatter : 'time'}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.natval}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;" >{{data.c2c | NumberFormat: data.bold}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.cph | NumberFormat: data.bold}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.rph | NumberFormat: data.bold}}</td>
      
     </tr>
    </tbody>
  </table>
  </div>
  </div> 

  