<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
      <app-entitylookup class="KeyField" [PicklistObj]="CostHeadJSON.default.ObjectFields[0].CostHeadCode"
        formControlName='CostHeadCode' (Onselectdata)="CostHeadPicklistFillValue($event)"
        [defaultvalue]="form.get('CostHeadCode').value"></app-entitylookup>
  
      <app-entitylookup class="KeyField" [PicklistObj]="CostHeadJSON.default.ObjectFields[0].CostHeadName"
        formControlName='CostHeadName' (Onselectdata)="CostHeadPicklistFillValue($event)"
        [defaultvalue]="form.get('CostHeadName').value"></app-entitylookup>
  
  
      <app-gb-radiobox formControlName='CostHeadCostHeadType'></app-gb-radiobox>
  
      <app-gb-radiobox formControlName='CostHeadCostHeadNature'></app-gb-radiobox>
  
      <app-gb-input formControlName='CostHeadSortOrder'></app-gb-input>
  
    </form>
  </div>