<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <div style="display: flex; align-items: flex-end;">
            <span>
                <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CodeDefineCategoryName"
                    formControlName='CodeDefineCategoryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CodeDefineCategoryName').value"></app-entitylookup>
            </span>
            <span>
                <app-gb-checkbox formControlName='ShowArchiveValue'></app-gb-checkbox>
            </span>
            <span>
                <app-gb-combobox formControlName="EmployeeEmployerStatus" style="margin-left: auto;"></app-gb-combobox>
            </span>
        </div>

        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeCode"
            formControlName='EmployeeCode' (Onselectdata)="RVLEmployeeMasterFillFunction($event)"
            [defaultvalue]="form.get('EmployeeCode').value"></app-entitylookup>
        <br>


        <app-gb-input formControlName='FirstName' (InputOutPut)="FirstNamePatch($event)"
            class="KeyField"></app-gb-input>
        <app-gb-input class="KeyField" formControlName='EmployeeName'></app-gb-input>
        <br>

        <app-gb-input class="KeyField" formControlName='MiddleName'
            (InputOutPut)="MiddleNamePatch($event)"></app-gb-input>
        <app-gb-combobox class="KeyField" formControlName="EmployeeStatus"></app-gb-combobox>
        <br>

        <app-gb-input class="KeyField" formControlName='LastName' (InputOutPut)="LastNamePatch($event)"></app-gb-input>
        <app-gb-date class="KeyField" formControlName='EmployeeVersionFrom' [date]="form.get('EmployeeId').value"
            [default]="'today'"></app-gb-date>



        <br>

        <app-gb-date formControlName='EmployeeDateOfIntimation' [date]="form.get('EmployeeId').value"
            [default]="'today'" *ngIf="form.get('EmployeeEmployerStatus').value==1"></app-gb-date>

        <app-gb-date formControlName='EmployeeDateOfResignation' [date]="form.get('EmployeeId').value"
            [default]="'today'" *ngIf="form.get('EmployeeEmployerStatus').value==1"></app-gb-date>

        <app-gb-input formControlName='EmployeeReasonForLeaving'
            *ngIf="form.get('EmployeeEmployerStatus').value==1"></app-gb-input>

        <app-gb-input class="KeyField" formControlName='EmployeeSortingEmployee' style="display: none;"></app-gb-input>



        <div class="TabView">
            <!-- Employee Master TAB Button -->
            <div class="FormTab">
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Working')">Working</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Personal')">Personal</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Company')">Company</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Attendance')">Attendance</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Salary')">Salary*</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'PF')">PF</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'ESI')">ESI</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Physical')">Physical</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Applicable')">Applicable</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Addon')">Addon</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Product')">Product</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Contact')">Contact</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Present Address')">Present
                    Address</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Permanent Address')">Permanent
                    Address</button>
            </div>
            <!-- Working Tab -->
            <div id="Working" class="tabcontent">

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeTypeName"
                    formControlName='EmployeeTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('EmployeeTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].DepartmentName"
                    formControlName='DepartmentName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('DepartmentName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].DesignationName"
                    formControlName='DesignationName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('DesignationName').value"></app-entitylookup>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].PayGroupName"
                    formControlName='PayGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('PayGroupName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].SegmentName"
                    formControlName='SegmentName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('SegmentName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].JobPositionName"
                    formControlName='JobPositionName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('JobPositionName').value"></app-entitylookup>

                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StaffTypeName"
                    formControlName='StaffTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('StaffTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].UnitName" formControlName='UnitName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('UnitName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].SalaryGradeName"
                    formControlName='SalaryGradeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('SalaryGradeName').value"></app-entitylookup>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].WorkTypeName"
                    formControlName='WorkTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('WorkTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].LocationName"
                    formControlName='LocationName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('LocationName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].DAPointGroupName"
                    formControlName='DAPointGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('DAPointGroupName').value"></app-entitylookup>

            </div>
            <!-- Personal Tab -->
            <div id="Personal" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-left: 16px;">
                        <app-gb-radiobox formControlName='EmployeeSex'></app-gb-radiobox>

                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeBloodGroup"
                            formControlName='EmployeeBloodGroup' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('EmployeeBloodGroup').value"></app-entitylookup>

                        <app-gb-date formControlName='EmployeeDateOfBirth' [date]="form.get('EmployeeId').value"
                            [default]="'today'" (DateOutPut)="GetEmployeeAge($event)"></app-gb-date>

                        <app-gb-date formControlName='EmployeeActualDateOfBirth' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>

                        <app-gb-input formControlName='EmployeeAge'></app-gb-input>

                        <app-gb-input formControlName='EmployeeAdharNumber'></app-gb-input>
                    </div>

                    <div style="margin-left: 16px;">
                        <app-gb-input formControlName='EmployeeFatherName'></app-gb-input>

                        <app-gb-input formControlName='EmployeeMotherName'></app-gb-input>

                        <app-gb-combobox formControlName="EmployeeMaritalStatus"></app-gb-combobox>

                        <app-gb-input formControlName='EmployeeSpouseName'
                            *ngIf="form.get('EmployeeMaritalStatus').value==1"></app-gb-input>

                        <app-gb-input formControlName='EmployeeNominee'></app-gb-input>

                        <app-gb-input class="KeyField" formControlName='EmployeeNomineeRelation'></app-gb-input>

                    </div>

                    <div style="margin-left: 16px;">
                        <app-gb-input formControlName='EmployeeNativePlace'></app-gb-input>

                        <app-gb-input formControlName='EmployeeNativeDistrict'></app-gb-input>

                        <app-gb-input formControlName='EmployeePlaceOfBirth'></app-gb-input>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].NationalityName"
                            formControlName='NationalityName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('NationalityName').value"></app-entitylookup>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].VillageName"
                            formControlName='VillageName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('VillageName').value"></app-entitylookup>
                    </div>

                    <div style="margin-left: 16px;">
                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ReligionName"
                            formControlName='ReligionName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('ReligionName').value"></app-entitylookup>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CasteName"
                            formControlName='CasteName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('CasteName').value"></app-entitylookup>

                        <app-gb-textarea style="margin-top: 0px;"
                            formControlName='EmployeeExperience'></app-gb-textarea>
                    </div>
                </div>
            </div>

            <!-- Company Tab -->
            <div id="Company" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-right: 36px; width: 350px;">
                        <app-gb-date formControlName='EmployeeDateOfJoining' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>

                        <app-gb-date formControlName='EmployeeProbationStartDate' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>
                        <div style="display: flex;">
                            <app-gb-input formControlName='EmployeeTrainingPeriod'></app-gb-input>
                            <span style="position: relative;top: 6px; padding: 0px; margin-left: 0px;">(In
                                Months)</span>
                        </div>




                        <app-gb-date formControlName='EmployeeTrainingendingDate' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>

                        <app-gb-checkbox formControlName='EmployeeIsConfirmed'></app-gb-checkbox>

                        <app-gb-date formControlName='EmployeeDateOfConfirmation' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>
                    </div>

                    <div style="margin-right: 36px;">
                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ResourceTypeName"
                            formControlName='ResourceTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('ResourceTypeName').value"></app-entitylookup>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].WorkOUName"
                            formControlName='WorkOUName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('WorkOUName').value"></app-entitylookup>
                        <div style="display: flex;">
                            <app-gb-input formControlName='EmployeeNoticePeriodInDays'></app-gb-input>
                            <span style="position: relative;top: 6px; padding: 0px; margin-left: 0px;">(In Days)</span>

                        </div>

                        <app-gb-combobox formControlName="EmployeeNature"></app-gb-combobox>

                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeCommonName"
                            formControlName='EmployeeCommonName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('EmployeeCommonName').value"></app-entitylookup>
                    </div>

                    <div style="margin-right: 36px;">
                        <app-gb-date formControlName='EmployeeCalculatedDateOfRetirment'
                            [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>

                        <app-gb-date formControlName='EmployeeActualDateOfRetirment'
                            [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>
                        <div style="display: flex; padding: 4px 0px 2px;;">
                         <div>
                            <span *ngIf="form.get('EmployeeNature').value==1" formControlName="xyz" style="width: 140px;">Date of Rejoin</span>
                            <span *ngIf="form.get('EmployeeNature').value==2" style="padding: 1px 0px opx 1px;">Gratuity Eligible From</span>
                         </div>
                                
                           <div>
                            <app-gb-date class="dateChange" style="position: relative;top: -9px; padding: 0px; margin-left: 16px;" formControlName='EmployeeDateOfReJoin'
                            [date]="form.get('EmployeeId').value" [default]="'today'"
                            *ngIf="form.get('EmployeeNature').value==1 || form.get('EmployeeNature').value==2"></app-gb-date>
                           </div>
                          
                          
                           
                        </div>
                       

                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].GratuityGroupName"
                            formControlName='GratuityGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('GratuityGroupName').value"></app-entitylookup>

                        <!-- <app-gb-combobox formControlName="EmployeeIsCrossOU"></app-gb-combobox> -->
                        <app-gb-radiobox formControlName='EmployeeIsCrossOU'></app-gb-radiobox>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].OUGroupName"
                            formControlName='OUGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('OUGroupName').value"
                            *ngIf="form.get('EmployeeIsCrossOU').value==0"></app-entitylookup>
                    </div>

                    <div style="margin-right: 36px;">
                        <!-- <app-gb-combobox formControlName="EmployeeCostCenterType"></app-gb-combobox> -->
                        <app-gb-radiobox formControlName='EmployeeCostCenterType'></app-gb-radiobox>
                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CostCenterCode"
                            formControlName='CostCenterCode' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('CostCenterCode').value"
                            *ngIf="form.get('EmployeeCostCenterType').value==0"></app-entitylookup>

                        <app-entitylookup class="KeyField"
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CostCenterAllocationName"
                            formControlName='CostCenterAllocationName'
                            (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('CostCenterAllocationName').value"
                            *ngIf="form.get('EmployeeCostCenterType').value==1"></app-entitylookup>

                        <app-gb-input formControlName='EmployeeLegacyEmployeeCode'></app-gb-input>
                    </div>
                </div>
            </div>

            <!-- Attendance Tab -->
            <div id="Attendance" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-right: 36px;">
                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ShiftDescription"
                            formControlName='ShiftDescription' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('ShiftDescription').value"></app-entitylookup>
                        <div class="ACSContainer">
                            <app-gb-input formControlName='shiftpattern'></app-gb-input>

                            <app-gb-input formControlName='shiftdate'></app-gb-input>

                            <div style="padding-top: 7px;">
                                <span class="acsbtn" (click)="AssignChange()"> Assign / Change Shift
                                    Pattern</span>
                            </div>

                            <!-- <mat-icon style="padding: 0px 0px 30px 0px; cursor: pointer;" (click)="addnew($event)">
                               </mat-icon> -->
                        </div>
                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ReportInttoEmployeeName"
                            formControlName='ReportInttoEmployeeName'
                            (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('ReportInttoEmployeeName').value"></app-entitylookup>

                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].AdminReportingToName"
                            formControlName='AdminReportingToName'
                            (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('AdminReportingToName').value"></app-entitylookup>
                    </div>
                    <div style="margin-right: 36px;">
                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CalendarName"
                            formControlName='CalendarName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('CalendarName').value"></app-entitylookup>

                        <app-gb-combobox formControlName="EmployeeWeekOfDay"></app-gb-combobox>

                        <app-gb-combobox formControlName="EmployeeAttendanceType"></app-gb-combobox>

                        <app-gb-checkbox formControlName='EmployeeIsTimeSheetRequired'></app-gb-checkbox>

                        <app-gb-checkbox formControlName='EmployeeIsPostingRequired'></app-gb-checkbox>

                        <app-gb-checkbox formControlName='EmployeeIsDailyReport'></app-gb-checkbox>
                    </div>
                    <div>
                        <app-gb-combobox formControlName="EmployeePunchType"></app-gb-combobox>

                        <app-gb-input formControlName='EmployeeTemporaryCardNumber'></app-gb-input>

                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeLocationNames"
                            formControlName='EmployeeLocationNames'
                            (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('EmployeeLocationNames').value"></app-entitylookup>
                    </div>
                </div>





                <br>




                <br>


                <br>






                <br>


                <br>

                <br>

                <br>



            </div>

            <!-- Salary Tab -->
            <div id="Salary" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-right: 36px; width: 740px;">
                        <app-gb-radiobox formControlName='EmployeeBasicOn'></app-gb-radiobox>
                    </div>
                    <div>
                        <app-entitylookup class="KeyField"
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CurrencyName"
                            formControlName='CurrencyName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>
                    </div>

                </div>
                <div style="display: flex;">
                    <div style="margin-right: 36px;">
                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].PayConfigurationName"
                            formControlName='PayConfigurationName'
                            (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('PayConfigurationName').value"></app-entitylookup>

                        <app-gb-combobox formControlName="EmployeePayMode"></app-gb-combobox>

                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].SalaryAccountName"
                            formControlName='SalaryAccountName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('SalaryAccountName').value"></app-entitylookup>

                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].AdvanceAccountName"
                            formControlName='AdvanceAccountName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('AdvanceAccountName').value"></app-entitylookup>

                        <app-gb-input formControlName='EmployeePANNumber'></app-gb-input>

                    </div>
                    <div style="margin-right: 36px;">
                        <app-entitylookup
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeBankBranchName"
                            formControlName='EmployeeBankBranchName'
                            (Onselectdataids)="RVLEmployeeMasterRetrievalFillFunction($event)"
                            [defaultvalue]="form.get('EmployeeBankBranchName').value"></app-entitylookup>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].BankName"
                            formControlName='BankName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('BankName').value"></app-entitylookup>

                        <app-gb-input formControlName='BankBranchName'></app-gb-input>

                        <app-gb-input formControlName='EmployeeAccountNumber'></app-gb-input>

                        <app-gb-input formControlName='EmployeeIBANNumber'></app-gb-input>
                    </div>

                    <div style="margin-right: 36px;">
                        <app-gb-combobox formControlName="EmployeeOtType"></app-gb-combobox>

                        <app-gb-combobox formControlName="EmployeeOTPayMode"></app-gb-combobox>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].AccountName"
                            formControlName='AccountName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('AccountName').value"></app-entitylookup>

                        <app-gb-checkbox formControlName='EmployeeIsPiRequired'></app-gb-checkbox>


                        <app-gb-radiobox formControlName='EmployeeIsTDSApplicable'></app-gb-radiobox>
                    </div>
                </div>
                <!-- <div>
                    <div>
                        <app-gb-radiobox formControlName='EmployeeBasicOn'></app-gb-radiobox>
                    </div>
                </div> -->

                <mat-icon style="padding: 0px 0px 30px 0px; cursor: pointer;"
                    (click)="addnew(template)">add_box</mat-icon>

                <mat-icon style="padding: 0px 0px 30px 0px; cursor: pointer;"
                    (click)="addnew(template2)">add_box</mat-icon>

                <!-- <app-gb-input class="KeyField" formControlName='EmployeePANNumber'></app-gb-input> -->

            </div>

            <!-- PF Tab -->
            <div id="PF" class="tabcontent">

                <div style="display: flex;">
                    <div style="margin-right: 36px;">
                        <app-gb-checkbox formControlName='EmployeeIsPFApplicable'></app-gb-checkbox>
                        <!-- <app-gb-combobox formControlName="EmployeeIsPFApplicable"></app-gb-combobox> -->

                        <app-gb-input formControlName='EmployeePFNumber'></app-gb-input>

                        <app-gb-input formControlName='EmployeeEmployeePFPercentage'></app-gb-input>

                        <app-gb-input formControlName='EmployeeEmployerPFPercentage'></app-gb-input>

                    </div>

                    <div style="margin-right: 36px;">
                        <app-gb-input formControlName='EmployeePFUANNumber'></app-gb-input>

                        <app-gb-date formControlName='EmployeePFJoinDate' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>

                        <app-gb-date formControlName='EmployeePFEndDate' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>

                        <app-gb-textarea formControlName='EmployeeReasonForPFLeaving'></app-gb-textarea>
                    </div>

                    <div style="margin-right: 36px;">
                        <!-- <app-gb-combobox class="KeyField" formControlName="EmployeeIsFamilyPension"
                        (ComboBoxOutPut)="FindValue($event)"></app-gb-combobox> -->

                        <app-gb-radiobox formControlName='EmployeeIsFamilyPension'
                            (RadioButtonOutPut)="FindValue($event)"></app-gb-radiobox>

                        <app-gb-input formControlName='EmployeeFamilyPensionNumber'
                            *ngIf="form.get('EmployeeIsFamilyPension').value==0"></app-gb-input>

                        <app-gb-input formControlName='EmployeeFamilyPensionPercentage'
                            *ngIf="form.get('EmployeeIsFamilyPension').value==0"></app-gb-input>
                    </div>
                </div>
                <!-- 
                

                <app-gb-radiobox style="display: none;" formControlName='EmployeePFStatus'></app-gb-radiobox>

               

                <br>

                

               

                <br>
               
                <app-gb-input style="display: none;" formControlName='EmployeeStatutorypfPercentage'></app-gb-input>

                <br>
                
                
                <br>

                <br>
                

                



                <br>
                
                <br>
               

                <app-gb-input style="display: none;" formControlName='EmployeeAccountNumber'></app-gb-input> -->
            </div>
            <!-- ESI Tab -->
            <div id="ESI" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-right: 36px; width: 372px;">
                        <!-- <app-gb-combobox class="KeyField" formControlName="EmployeeIsESIApplicable"></app-gb-combobox> -->

                        <app-gb-checkbox formControlName='EmployeeIsESIApplicable'></app-gb-checkbox>

                        <app-gb-input formControlName='EmployeeESINumber'></app-gb-input>

                        <app-gb-input formControlName='EmployeeEmployeeESIPercentage'></app-gb-input>

                        <app-gb-input formControlName='EmployeeEmployerESIPercentage'></app-gb-input>
                    </div>

                    <div style="margin-right: 36px; width: 477px;">
                        <app-gb-input formControlName='EmployeeESIDispensary'></app-gb-input>

                        <app-gb-date formControlName='EmployeeESIJoinDate' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>

                        <app-gb-date formControlName='EmployeeESIEndDate' [date]="form.get('EmployeeId').value"
                            [default]="'today'"></app-gb-date>

                        <app-gb-textarea formControlName='EmployeeReasonForESILeaving'></app-gb-textarea>
                    </div>

                    <div style="margin-right: 36px;">
                        <app-gb-radiobox formControlName='EmployeeIsESIHourlyContribution'></app-gb-radiobox>
                    </div>

                </div>
                <!-- 

               
                <br>
                
                
                <span>(99.999)</span>
                <br>
              
                <span>(01/Jan/9999)</span>

                <app-gb-radiobox formControlName='EmployeeESIStatus' style="display: none;"></app-gb-radiobox>
                
                <span>(99.999)</span>
                <br>
                
                <span>(01/Jan/9999)</span>
               
                <br>



                 -->

            </div>

            <!-- Physical Tab -->

            <div id="Physical" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-right: 36px; width: 500px;">
                        <div style="display: flex;">
                            <app-gb-input formControlName='EmployeeHeightInCMS'></app-gb-input> <span
                                style="position: relative;top: 6px; padding: 0px; margin-left: 0px;">(In Cms)</span>
                        </div>
                        <div style="display: flex;">
                            <app-gb-input formControlName='EmployeeWeightInKGS'></app-gb-input> <span
                                style="position: relative;top: 6px; padding: 0px; margin-left: 0px;">(In Kgs)</span>
                        </div>

                        <app-gb-textarea formControlName='EmployeeIdentificationMark'></app-gb-textarea>
                    </div>
                    <div style="margin-right: 36px; width: 500px;">
                        <div style="display: flex;">
                            <app-gb-input formControlName='EmployeeChestSize'></app-gb-input> <span
                                style="position: relative;top: 6px; padding: 0px; margin-left: 0px;">(In Inches)</span>
                        </div>

                        <app-gb-radiobox formControlName='EmployeeIsHandiCapped'></app-gb-radiobox>
                        <app-gb-textarea formControlName='EmployeePhysicalCondition'></app-gb-textarea>
                    </div>
                </div>

            </div>
            <!-- Product Tab -->
            <div id="Product" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-right: 36px; width: 520px;">
                        <app-entitylookup class="KeyField"
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeProductCategoryNames"
                            formControlName='EmployeeProductCategoryNames'
                            (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('EmployeeProductCategoryNames').value"></app-entitylookup>
                    </div>
                    <div style="margin-left: 36px; width: 550px;">
                        <app-entitylookup class="KeyField"
                            [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeProductPriceCategoryNames"
                            formControlName='EmployeeProductPriceCategoryNames'
                            (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('EmployeeProductPriceCategoryNames').value"></app-entitylookup>
                    </div>
                </div>



            </div>
            <!-- Applicable Tab -->
            <div id="Applicable" class="tabcontent">
                <div style="display: flex;">
                    <div style="margin-right: 36px; width: 140px;">
                        <app-gb-checkbox formControlName='EmployeeIsPurchase'></app-gb-checkbox>
                        <app-gb-checkbox formControlName='EmployeeIsSales'></app-gb-checkbox>
                        <app-gb-checkbox formControlName='EmployeeIsService'></app-gb-checkbox>
                        <app-gb-checkbox formControlName='EmployeeIsProduction'></app-gb-checkbox>
                        <app-gb-checkbox formControlName='EmployeeIsMarketing'></app-gb-checkbox>
                        <app-gb-checkbox formControlName='EmployeeIsPlanning'></app-gb-checkbox>
                    </div>
                    <div style="width: 420px;">
                        <app-gb-checkbox formControlName='EmployeeIsContract'></app-gb-checkbox>
                        <app-gb-checkbox formControlName='EmployeeIsUser'></app-gb-checkbox>

                        <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].RoleName"
                            formControlName='RoleName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                            [defaultvalue]="form.get('RoleName').value"
                            *ngIf="form.get('EmployeeIsUser').value==0"></app-entitylookup>

                        <app-gb-radiobox formControlName='PasswordType'></app-gb-radiobox>

                        <app-gb-input formControlName='Password'></app-gb-input>


                        <!--     <app-gb-radiobox formControlName='PasswordType'></app-gb-radiobox>

                        <app-gb-input formControlName='Password'></app-gb-input> -->

                    </div>
                </div>


                <br>


                <br>


            </div>
            <!-- Cantact Tab -->
            <div id="Contact" class="tabcontent">
                <app-gb-input class="KeyField" formControlName='EmployeePrimaryEMailId'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeePrimaryMobile'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='SecondaryMailId'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='SecondaryMobile'></app-gb-input>
                <br>

                <span class="FormSubHeading" style="width: 380px;display: inline-block;">---------Emergency Contact
                    Details--------- </span>
                <br>

                <span class="KeyField">Salutation</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactSalutation'></app-gb-input></span>

                <span class="KeyField">Emergency No1</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactMobileNo'></app-gb-input></span>

                <br>
                <span class="KeyField">Contact Name</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactName'></app-gb-input></span>

                <span class="KeyField">Emergency No2</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactPhoneNo'></app-gb-input></span>

                <br>
                <span class="KeyField">Relationship</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactRelationShip'></app-gb-input></span>

                <span class="KeyField">Email</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactMailId'></app-gb-input></span>

            </div>
            <!-- Present Address Tab -->
            <div id="Present Address" class="tabcontent">
                <p class="KeyField">Address1</p>

                <span formGroupName='PresentAddressDTO'><app-gb-input class="KeyField"
                        formControlName='AddressLine1'></app-gb-input></span>

                <p class="KeyField">Zip Code</p>

                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressZipCode'></app-gb-input>
                </span>

                <span formGroupName='PresentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CountryName"
                        formControlName='CountryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PresentAddressDTO').value.CountryName"></app-entitylookup>
                </span>
                <br>

                <span class="KeyField">Address2</span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine2'></app-gb-input>
                </span>

                <span formGroupName='PresentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CityName"
                        formControlName='CityName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PresentAddressDTO').value.CityName"></app-entitylookup>
                </span>

                <span class="KeyField">Mobile No</span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressMobile'></app-gb-input>
                </span>

                <br>
                <span class="KeyField">Address3 </span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine3'></app-gb-input>
                </span>

                <span formGroupName='PresentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StateName"
                        formControlName='StateName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PresentAddressDTO').value.StateName"></app-entitylookup>
                </span>

                <span class="KeyField">Phone No</span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressPhone'></app-gb-input>
                </span>

            </div>

            <!-- Permanent Address Tab -->
            <div id="Permanent Address" class="tabcontent">

                <app-gb-checkbox class="KeyField" formControlName='Employeefilladdress'
                    (CheckBoxOutPut)="getPresentAddress($event)"></app-gb-checkbox>


                <br>

                <p class="KeyField">Address1</p>

                <span formGroupName='PermanentAddressDTO'><app-gb-input class="KeyField"
                        formControlName='AddressLine1'></app-gb-input></span>

                <p class="KeyField">Zip Code</p>

                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressZipCode'></app-gb-input>
                </span>

                <span formGroupName='PermanentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CountryName"
                        formControlName='CountryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PermanentAddressDTO').value.CountryName"></app-entitylookup>
                </span>
                <br>

                <span class="KeyField">Address2</span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine2'></app-gb-input>
                </span>

                <span formGroupName='PermanentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CityName"
                        formControlName='CityName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PermanentAddressDTO').value.CityName"></app-entitylookup>
                </span>

                <span class="KeyField">Mobile No</span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressMobile'></app-gb-input>
                </span>

                <br>
                <span class="KeyField">Address3 </span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine3'></app-gb-input>
                </span>

                <span formGroupName='PermanentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StateName"
                        formControlName='StateName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PermanentAddressDTO').value.StateName"></app-entitylookup>
                </span>
                <span class="KeyField">PhoneNumber</span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressPhone'></app-gb-input>
                </span>



                <!-- <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='AddressLine1'></app-gb-input>

                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='PartyZipCode'></app-gb-input>

                <app-entitylookup class="KeyField" formGroupName='PermanentAddressDTO'
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CountryName"
                    formControlName='CountryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CountryName').value"></app-entitylookup>

                <br>

                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='AddressLine2'></app-gb-input>

                <app-entitylookup class="KeyField" formGroupName='PermanentAddressDTO'
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CityName" formControlName='CityName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CityName').value"></app-entitylookup>
                <span formGroupName='PermanentAddressDTO'><app-gb-input class="KeyField"
                        formControlName='MobileNumber'></app-gb-input></span>

                <br>
                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='AddressLine3'></app-gb-input>

                <app-entitylookup class="KeyField" formGroupName='PermanentAddressDTO'
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StateName" formControlName='StateName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('StateName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='PhoneNumber'></app-gb-input> -->

            </div>

            <!-- <ng-template #template>
                <h4>Bank Branch</h4>
                <app-General (Onselectdata)="BankBranchPicklistFillValue($event)"></app-General>
                <button mat-stroked-button color="primary" (click)="newsave()">Save</button>
            </ng-template> -->

            <ng-template #template2>
                <h4>Bank</h4>
                <app-Bank (Onselectdata)="BankFillFunction($event)"></app-Bank>
                <button mat-stroked-button color="primary" (click)="newsave2()">Save</button>
            </ng-template>

            <ng-template #template3>
                <h4>Bank</h4>
                <app-Bank (Onselectdata)="BankFillFunction($event)"></app-Bank>
                <button mat-stroked-button color="primary" (click)="newsave2()">Save</button>
            </ng-template>


        </div>

    </form>
</div>