@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.TabView {
  width: 95vw;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color);
}

.acsbtn {
  width: 186px;
  height: 21px;
  border-radius: 2px;
  padding: 0px 8px 0px 8px;
  margin-left: 98px;
  background-color: #CD309E;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 5px;
  padding-top: 5px;
  //   WidthFixed (186px)
  // HeightFixed (21px)
  // Top111px
  // Left101px
  // Radius2px
  // Padding0px, 8px, 0px, 8px
  // Gap10px
}

.ACSContainer {
  background-color: #FBE8F8;
  border-radius: 8px;
  width: 400px;
  height: 120px;
  padding: 10px;
}

.FormTab {
  overflow: hidden;
  border: #F6F6F6;
  background: #F6F6F6;
  width: fit-content;
}

/* Style the buttons inside the tab */
.FormTab .FormTabLinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px 16px;
  margin-right: 5px;
  transition: 0.5s;
}

/* Change background color of buttons on hover */
.FormTab .FormTabLinks:hover {
  background: linear-gradient(97.95deg, #834DD0 11.48%, #CD309E 83.18%);
  color: #FFFFFF;
  border-radius: 6px;
}

/* Create an active/current tablink class */
.FormTab .FormTabLinks.active {
  background: linear-gradient(97.95deg, #834DD0 11.48%, #CD309E 83.18%);
  color: #FFFFFF;
  border-radius: 6px;
}

.TabHeading {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(26, 26, 26, 0.87);
}

/* Style the tab content */
.tabcontent {
  display: none;
  width: max-content;
}

.TabView::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

.TabView::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

.TabView::-webkit-scrollbar-thumb {
  background: var(--color);
}

.TabView::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

.dateChange {
  padding-left: 20px;
}

.spanLabel {
  padding-left: 77px;
}

.addbox {
  cursor: pointer;
}