<!-- Login page


<div>
    <input type='text' [(ngModel)]="logindata.Server" placeholder='Server Name' class='user_id_text'>
</div>
<div>
    <input type='text' [(ngModel)]="logindata.UserName" placeholder='Usercode' class='user_id_password'>
</div>
<div>

    <input type='password' [(ngModel)]="logindata.Password" placeholder='Password' class='user_id_password'>
</div>
<div>
    <button (click)="login()">login</button>
</div> -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  </style>
  
<mat-card class="container" [formGroup]='form'>
    <div class="left">
        <section>
            <a class="image"><img src="./../../../assets/icons/GBlogo.png" width="50px" height="50px"
                    style="margin-top: 80px"></a>
        </section>
        <mat-divider class="dvdleft" style="width: 245px;"></mat-divider>
        <section>
            <p class="para1">lorem ipsum is a <b>placeholder</b><br>
                <b>text used to demo</b><br>
                <b>the visual text typo</b><br>
                or a typeface <br>
                meaningful<br>
            </p>
        </section>
        <mat-divider class="dvdleft" style="width: 245px;"></mat-divider>
        <section>
            <p class="para2">
                in publishing and graphic design, lorem ipsum is <br>
                a placeholder text commonly used to the visual<br>
                for a document or typeface content
            </p>
        </section>
        <button mat-flat-button class="signuphere"><b>SIGN UP HERE</b></button>

    </div>
    <div class="right">
        <p class="headingsign">
            title
        <p>
        <p class="hint">
            LoginTitle
      </p>
      <app-gb-input class="userserver" formControlName='Server' 
      gblabel="{{'Login.server'}}"></app-gb-input>
    <app-gb-input class="username" formControlName='UserName' 
      gblabel="{{'Login.Username'}}"></app-gb-input>
    <app-gb-input class="userpass" formControlName="Password" 
      gblabel="{{'Login.password'}}" gbtype='password'></app-gb-input>
    <button mat-flat-button class="Loginbtn" (click)='login()'><b>Login</b></button>
  
     <!-- <div>
        <input type='text' [(ngModel)]="logindata.Server" placeholder='Server Name' class='userpass'>
    </div>
    <div>
        <input type='text' [(ngModel)]="logindata.UserName" placeholder='Usercode' class='userpass'>
    </div>
    <div>
    
        <input type='password' [(ngModel)]="logindata.Password" placeholder='Password' class='userpass'>
    </div>
    <div>
        <button (click)="login()" class="Loginbtn">login</button>
    </div>-->
     
            
        <p class="Forgtpassw">
            Forget</p>
        <mat-divider class="divd" style="width: 110px;"></mat-divider>
        <mat-divider class="rightdvd" style="width: 112px;"></mat-divider>
        <p class="or">or</p>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <p class="noaccount">Don't have an account?</p>
        <p class="signup">Sign Up</p>
    </div>
    
</mat-card>