<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PartyOUJson.default.ObjectFields[0].OUName"
            formControlName='OUName' (Onselectdata)="PartyOURetrivalValue($event)"
            [defaultvalue]="form.get('OUName').value"></app-entitylookup>

        <app-gb-radiobox class="KeyField" formControlName='PartyOUType'></app-gb-radiobox>
        
        <app-entitylookup class="KeyField" [PicklistObj]="PartyOUJson.default.ObjectFields[0].PartyName"
            formControlName='PartyName' (Onselectdata)="PartyOURetrivalValue($event)"
            [defaultvalue]="form.get('PartyName').value" [style.display]="form.get('PartyOUType').value == 0 ? 'inline-block':'none'"></app-entitylookup>
             
        <app-entitylookup class="KeyField" [PicklistObj]="PartyOUJson.default.ObjectFields[0].PartyBranchName"
        formControlName='PartyBranchName' [style.display]="form.get('PartyOUType').value == 0 ? 'inline-block':'none'"(Onselectdata)="PartyOURetrivalValue($event)"
        [defaultvalue]="form.get('PartyBranchName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PartyOUJson.default.ObjectFields[0].AccountName"
        formControlName='AccountName'[style.display]="form.get('PartyOUType').value == 1 ? 'inline-block':'none'" (Onselectdata)="PartyOURetrivalValue($event)"
        [defaultvalue]="form.get('AccountName').value"></app-entitylookup>

        <app-gb-combobox class="KeyField" formControlName='PartyOUStatus'></app-gb-combobox>


    </form>
</div>