<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="DimensionJson.default.ObjectFields[0].DimensionCode"
            formControlName='DimensionCode' (Onselectdata)="DimensionRetrivalValue($event)"
            [defaultvalue]="form.get('DimensionCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="DimensionJson.default.ObjectFields[0].DimensionName"
            formControlName='DimensionName' (Onselectdata)="DimensionRetrivalValue($event)"
            [defaultvalue]="form.get('DimensionName').value"></app-entitylookup> 

    </form>
</div> 
