<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="DeviceTypeJSONName.default.ObjectFields[0].DeviceTypeCode"
            formControlName='DeviceTypeCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('DeviceTypeCode').value">
        </app-entitylookup>
        <app-entitylookup  class="KeyField" [PicklistObj]="DeviceTypeJSONName.default.ObjectFields[0].DeviceTypeName"
            formControlName='DeviceTypeName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('DeviceTypeName').value">
        </app-entitylookup>
    </form>
</div>