<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup [PicklistObj]="CopyNameTypejson.default.ObjectFields[0].CopyNameTypeName" class="KeyField"
            formControlName='CopyNameTypeName' (Onselectdata)="CopyNameTypePicklist($event)"
            [defaultvalue]="form.get('CopyNameTypeName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='CopyNameTypeDetailArray'
            [ArrayDetail]="form.get('CopyNameTypeName').value"></app-gb-formgrid>

    </form>
</div>