<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

       
        <app-entitylookup class="KeyField" [PicklistObj]="MeterJSON.default.ObjectFields[0].MeterName" formControlName='MeterName'
        (Onselectdata)="MeterFillFunction($event)" [defaultvalue]="form.get('MeterName').value"></app-entitylookup> 

        
        <app-entitylookup  [PicklistObj]="MeterJSON.default.ObjectFields[0].PartyName" formControlName='PartyName'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('PartyName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="MeterJSON.default.ObjectFields[0].PartyBranchName" formControlName='PartyBranchName'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('PartyBranchName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="MeterJSON.default.ObjectFields[0].AssetName" formControlName='AssetName'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('AssetName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="MeterJSON.default.ObjectFields[0].TypeOfMeterName" formControlName='TypeOfMeterName'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('TypeOfMeterName').value"></app-entitylookup>
        
        <app-gb-combobox formControlName="MeterNature"></app-gb-combobox>

        <app-gb-combobox formControlName="MeterType"></app-gb-combobox>

        <app-gb-combobox formControlName="MeterUtilityType"></app-gb-combobox>

        <app-gb-input formControlName='MeterMeterNumber'></app-gb-input>

        <app-gb-combobox formControlName="MeterRunType"></app-gb-combobox>

        <app-gb-input formControlName='MeterSetValue'></app-gb-input>

        <app-entitylookup [PicklistObj]="MeterJSON.default.ObjectFields[0].ConsumptionParameterName" formControlName='ConsumptionParameterName'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('ConsumptionParameterName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="MeterJSON.default.ObjectFields[0].PartyCode" formControlName='PartyCode'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('PartyCode').value"></app-entitylookup>

        <app-gb-input formControlName='MeterAccountNumber'></app-gb-input>

        <app-gb-combobox formControlName="MeterAttachedType"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="MeterJSON.default.ObjectFields[0].TariffCategoryName" formControlName='TariffCategoryName'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('TariffCategoryName').value"></app-entitylookup>

        <app-gb-date formControlName='MeterBillDate' [date]="form.get('MeterBillDate').value"
            [default]="'today'"></app-gb-date>

            <app-gb-date formControlName='MeterPayByDate' [date]="form.get('MeterPayByDate').value"
            [default]="'today'"></app-gb-date>

        <app-gb-combobox formControlName="MeterBillCycle"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="MeterJSON.default.ObjectFields[0].ParameterSetName" formControlName='ParameterSetName'
        (Onselectdataids)="MeterPatchValue($event)" [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup>

        <app-gb-checkbox formControlName='MeterIsIncludeInConsumption'></app-gb-checkbox>


    </form>
</div>