<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField"
            [PicklistObj]="SecurityQuestionjson.default.ObjectFields[0].SecurityQuestionQuestion"
            formControlName='SecurityQuestionQuestion' (Onselectdata)="SecurityQuestionFillFunction($event)"
            [defaultvalue]="form.get('SecurityQuestionQuestion').value"></app-entitylookup>


        <app-gb-textarea formControlName='SecurityQuestionRemarks'></app-gb-textarea>


    </form>
</div>