<div class="dbtable">
    <input type="checkbox" id="narrationCheckbox" [(ngModel)]="showNarration" (change)="onShowNarrationChange()"
        style="margin-left: 1250px;" />
    <label for="narrationCheckbox" style="margin-left: 10px;">Narration</label>
    <p class="Op">Opening :{{rowData[0].FinalOpening?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <p class="Db">Debit :{{rowData[0].TotalDebit?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>

        <p class="Cr">Credit :{{rowData[0].TotalCredit?.toLocaleString(undefined, { maximumFractionDigits: 2,
          minimumFractionDigits: 2 })}}</p>
      <p class="Cl">Closing :{{rowData[0].FinalClosing?.toLocaleString(undefined, { maximumFractionDigits: 2,
          minimumFractionDigits: 2 })}}</p>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" style="padding-left: 20px;">Number</th>
                <th class="th cap1-bold-12-white">Type</th>
                <th class="th cap1-bold-12-white">Ref No</th>
                <th class="th cap1-bold-12-white">Ref Date</th>
                <th class="th cap1-bold-12-white">Particulars</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Debit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Credit</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <ng-container *ngFor="let data of total; let i=index">
            <tr class="tr" [ngClass]="{'color': (i%2 == 0)}">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" (click)="DrillDown('Form', data)" style="padding-left: 20px;cursor: pointer;">{{data.vno | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" (click)="DrillDown('Report', $event)">{{data.bizcode}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.refno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.refdate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vaccno}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.debit | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.credit | NumberFormat}}</td>
            </tr>
            <ng-container *ngIf="showNarration && data.vnarration">
                <tr class="tr" [ngClass]="{'color': (i%2 == 0)}">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="td cap2-med-12-type-primary" style="font-style: italic;color: #75736d;" [ngStyle]="{ fontWeight: data.bold ? 'bold' : 200 }" colspan="7">
                        {{ data.vnarration }}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-container>
        </ng-container>
        </tbody>
    </table>
</div>
<!-- <app-ApexChart [chartdata]="chartdata"></app-ApexChart> -->