<div class="sticky-header">
    <table class="styled-table">
      <thead>
        <tr>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Name</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Account</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Posting</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Post Dated</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Status</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Bank</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Counter</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Valid Days</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowData">
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.account}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.post}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.postdate}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.status}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.bank}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.counter}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.day}}</td>
        </tr>
      </tbody>
    </table>
    </div>