<Table *ngIf="Field?.isKeyField == undefined || Field?.isKeyField == false">
  <tbody>
    <tr>
      <td class="form_label" [class.labelFocused]="isFocused" *ngIf="Field?.Label != ''" [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">{{Field?.Label}}</td>
      <td class="form_value" style="display: flex;height: 36px;" [ngStyle]="{'width.px': Field?.Width}">
        <input [formControl]="gbControl" [readonly]="!isreadable || Field?.ReadOnly" class="form_value" [ngStyle]="{'width.px': Field?.Width}"
          [class.focused]="isFocused" (focus)="isFocused = true" (focusout)="isFocused = false"
          style="outline-style: none;height: 36px;" (input)="onTimeChange($event)" type="text" mask="00:00">
      </td>
    </tr>
  </tbody>
</Table>

<div *ngIf="Field?.isKeyField" style="position: relative;" [style.top.px]="!isreadable ? -4 : -7">
  <div style="height: 21px;">
    <span class="form_label" [ngStyle]="{'width.px': Field?.Width}" style="display: inline-block;text-align: left" [class.labelFocused]="isFocused">{{Field?.Label}}</span>
  </div>
  <div style="height: 36px;display: flex" [ngStyle]="{'width.px': Field?.Width}">
    <span class="tooltip">
      <input [formControl]="gbControl" [readonly]="!isreadable || Field?.ReadOnly" class="form_key_value" [ngStyle]="{'width.px': Field?.Width}"
          [class.focused]="isFocused" (focus)="isFocused = true" (focusout)="isFocused = false"
          style="outline-style: none;height: 36px;" (input)="onTimeChange($event)" type="text" mask="00:00">
    </span>
  </div>
</div>

<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<div class="form-group">

  <ng-template *ngIf="ReadOnly===false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker1" placeholder="{{Field?.Placeholder}}" [formControl]="gbControl"
        [min]="minDate" [max]="maxDate" [disabled]="disabled">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
        [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
        [enableMeridian]="enableMeridian">
      </ngx-mat-datetime-picker>
      <mat-error *ngIf="gbControl.hasError('email') && !gbControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="gbControl.hasError('pattern') && !gbControl.hasError('required')">
        Please enter a valid data
      </mat-error>
      <mat-error *ngIf="gbControl.hasError('required')">
        {{Field?.Label}} is <strong>required</strong>
      </mat-error>
      <mat-hint>{{Field?.Tooltip}}</mat-hint>
    </mat-form-field>
  </ng-template>

</div> -->