@import url('./../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');

.focused {
    /* Add your focused styles here */
    border-bottom: 2px solid var(--color); /* For example */
    transition: .4s ease-in-out;
  }

  .labelFocused{
    color: var(--color);
    transition: .4s ease-in-out;
  }