
<div class="abb" *ngIf="rowData!=undefined && rowData[0]!=undefined">
    <p class="qty">Qty :{{rowData[0].TotalOrderQuantity | NumberFormat}}</p>
    <p class="penqty">penqty :{{rowData[0].TotalPending | NumberFormat}}</p>
    <p class="cost">Cost :{{rowData[0].TotalItemNetCost | NumberFormat}}</p>
    <p class="value">Value :{{rowData[0].TotalPendingValue  | NumberFormat}}</p>
</div>
<div class="dbtable">
     <table class="Table"> 
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Qty</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Sch.Qty</th>
                <th class="th cap1-bold-12-white" >Sch Date</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Pend.Qty</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Rate</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Cost</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Value</th>
            </tr>
        </thead>
        <tbody class="tbody" *ngFor="let data of rowData; let i = index">
            <tr class="tr" *ngIf="i==0 || rowData[i].AccountCode != rowData[i-1].AccountCode">
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{data.AccountCode}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{data.AccountName | SpecialCharacterFormatter}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{subtotal(rowData,i,'AccountCode','TransactionActualQuantity') | NumberFormat}}</td>
                <td></td>
                <td></td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{subtotal(rowData,i,'AccountCode','PendingQuantity') | NumberFormat}}</td>
                <td></td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{subtotal(rowData,i,'AccountCode','RateFC') | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{subtotal(rowData,i,'AccountCode','ItemNetCost') | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{subtotal(rowData,i,'AccountCode','PendingValues') | NumberFormat}}</td>
            </tr>
            <tr class="tr" *ngIf="i==0 || rowData[i].DocumentNumber != rowData[i-1].DocumentNumber">
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{data.DocumentNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{data.DocumentDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{(rowData | SubTotal : i : 'DocumentNumber': 'TransactionActualQuantity') | NumberFormat}}</td>
                <td></td>
                <td></td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{(rowData | SubTotal : i : 'DocumentNumber': 'PendingQuantity') | NumberFormat}}</td>
                <td></td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{(rowData | SubTotal : i : 'DocumentNumber': 'RateFC') | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{(rowData | SubTotal : i : 'DocumentNumber': 'ItemNetCost') | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{(rowData | SubTotal : i : 'DocumentNumber': 'PendingValues') | NumberFormat}}</td>
            </tr>
            <tr class="tr">
                <td class="td cap2-med-12-type-primary">{{data.ItemCode}}</td>
                <td class="td cap2-med-12-type-primary">{{data.ItemName}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 150px;">{{data.TransactionActualQuantity | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 150px;">{{data.ScheduleQuantity | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary">{{data.ScheduleDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 150px;">{{data.PendingQuantity |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary">{{data.UOMCode}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 150px;">{{data.RateFC | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 150px;">{{data.ItemNetCost| NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 150px;">{{data.PendingValues| NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>