:host {  .toolbar {
  display: flex;
}

gridster {
  height: 85vh;
  margin: 0;
  padding: 0;
  //background-color: rgb(179, 177, 177);
}}

.draggable {
  padding: 10px;
  width: 200px;
  border: solid 2px #000;
  margin-left: 20px;
  padding-left: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.gridster-item .inner-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow: scroll;
}

.gridster-item h5{
  font-weight: 500;
  font-size: 12px;
  font-family: 'Poppins';
  box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn-edit{
  background: rgb(255,221,0);
  background: linear-gradient(180deg, rgba(255,221,0,1) 0%, rgba(251,176,52,1) 100%);
  box-shadow: 0 10px 5px -8px rgba(0, 0, 0,.7);
  font-family: 'Poppins';
  font-weight:600;
  font-size: 14px;
  border-radius: 5px;
  cursor:pointer;
  width:60px;
  height:30px;
  padding:5px;
  color: #282C35;
  margin-bottom:10px;
 }

 .edit-icon{
   font-weight:500;
   width:20px;
   height:30px;
   font-size: 16px;
 }

 .btn-nonedit{
  background: rgb(210,18,46);
  background: linear-gradient(180deg, rgba(210,18,46,1) 0%, rgba(170,0,0,1) 100%);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-family: 'Poppins';
  font-weight:500;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  width:80px;
  height:30px;
  padding:5px;
  color: #ffffff;
  margin-bottom:10px;
 }

 .nonedit-icon{
   font-weight:500;
   width:20px;
   height:30px;
   font-size: 16px;
 }
 

  .btn-portlet {
    background: rgb(68,130,233);
    background: linear-gradient(180deg, rgba(68,130,233,1) 46%, rgba(13,110,233,1) 100%);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight:500;
    padding: 5px;
    width: 150px;
    height:30px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-portlet:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .btn-portlet:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .btn-portlet:hover:after {
    opacity: 1;
    right: 10px;
  }
  
  .portlet-icon{
    font-weight:500;
    width:20px;
    height:30px;
    font-size: 16px;
  }

  .btn-save{
    background: rgb(119,208,67);
    background: linear-gradient(180deg, rgb(81, 145, 41) 40%, rgba(27,140,5,1) 150%);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    font-family: 'Poppins';
    font-weight:500;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    width:80px;
    height:30px;
    padding:5px;
    color: #ffffff;
    margin-bottom:10px;
   }
  
   .save-icon{
     font-weight:500;
     width:20px;
     height:30px;
     font-size: 16px;
   }
   
   .ng-star-inserted button {
    background-color: #FC466B;
    color:#ffffff;
    font-weight: 800;
    width:30px;
   }

   .mat-dialog-container .button {
    background: grey !important;
 }