<div class='toolbar'>
  <mat-raised-button *ngIf="edit" (click)='editpages()' class="btn-edit"><mat-icon class="edit-icon">create</mat-icon>Edit</mat-raised-button>&nbsp;&nbsp;
   <mat-raised-button *ngIf="NonEdit" (click)='Noneditpages()' class="btn-nonedit"><mat-icon class="nonedit-icon">clear</mat-icon>&nbsp;Undo</mat-raised-button>&nbsp;&nbsp;
    <mat-raised-button *ngIf='selectportlet' (click)="portletList()" class="btn-portlet"><mat-icon class="portlet-icon">select_all</mat-icon>&nbsp;Select Portlet</mat-raised-button>&nbsp;&nbsp;
    <mat-raised-button *ngIf='savepage' (click)="SaveChange($event)" class="btn-save"><mat-icon class="save-icon">done_outline</mat-icon>&nbsp;Save</mat-raised-button>

  </div>
  
  <div [ngClass]="themeClass$ | async">
  <gridster [options]="pageType" class="mon-secondary">
    <gridster-item [item]="portlet" *ngFor="let portlet of pages">
      <div class="gridster-item" style="width: 100%; height: 100%;">
      <div class="mon-eighth">
        <h5 *ngIf="portlet.name" style="font-size: 14px; font-weight:500;">&nbsp;&nbsp;{{portlet.name}}&nbsp;&nbsp;&nbsp;
        <button style="float: right;" *ngIf='deleteconfig'  (click)='onClick_remove(portlet)'>X</button>
        </h5>
       </div> 
  <ndc-dynamic class="no-drag" [ndcDynamicComponent]="portlet.componentType"></ndc-dynamic>
  </div>
  </gridster-item>
  </gridster>
  </div>


