<mat-icon style="color: rgba(26, 26, 26, 0.87); float: right;cursor: pointer;" (click)="closeModal('Cancel')">cancel</mat-icon>
<div class="form_value_active"
    style="margin-bottom: 16px;color: {{data.heading=='Success' ? '#32AE73' : data.heading=='Warning' ? '#F58D00'  :data.heading=='Error' ? '#ED2531':''}};">
    {{data.heading}}</div>
<span *ngIf="typeofmessage=='object'">
    <div style="max-width: 500px;margin-bottom: 10px;text-align: left;" *ngFor="let data of data.message" class="form_label">{{ data }}</div>
</span>
<div *ngIf="typeofmessage=='string'" style="max-width: 500px;margin-bottom: 10px;text-align: left;" class="form_label">{{ data.message }}</div>
<div *ngIf="Errormsg != undefined && !MoreDisplay" style="cursor: pointer;text-align: right;" (click)="moretoggle()"><mat-icon>expand_more</mat-icon></div>
<div *ngIf="Errormsg != undefined && MoreDisplay" style="cursor: pointer;text-align: right;" (click)="moretoggle()"><mat-icon>expand_less</mat-icon></div>
<div *ngIf="Errormsg != undefined && MoreDisplay">{{ Errormsg }}</div>
<div (click)="closeModal(data.button1)" class="alertbutton" *ngIf="data.button1!=undefined" style="color: {{data.heading=='Success' ? '#32AE73' : data.heading=='Warning' ? '#F58D00'  :data.heading=='Error' ? '#ED2531':''}};margin-top: 14px;">{{data.button1}}</div>
<span (click)="closeModal(data.button2)" class="alertbutton" *ngIf="data.button2!=undefined" style="color: {{data.heading=='Success' ? '#32AE73' : data.heading=='Warning' ? '#F58D00'  :data.heading=='Error' ? '#ED2531':''}};margin-top: 14px;">{{data.button2}}</span>