<div class='FormOverview' *ngIf="form.bFormReady">

<form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="MRPMasterJSON.default.ObjectFields[0].MRPCode"
        formControlName='MRPCode' (Onselectdata)="MRPMasterFormVal($event)"
        [defaultvalue]="form.get('MRPCode').value"></app-entitylookup> 
        
        <app-entitylookup class="KeyField" [PicklistObj]="MRPMasterJSON.default.ObjectFields[0].MRPName"
        formControlName='MRPName' (Onselectdata)="MRPMasterFormVal($event)"
        [defaultvalue]="form.get('MRPName').value"></app-entitylookup>
        <br>

        <app-entitylookup  [PicklistObj]="MRPMasterJSON.default.ObjectFields[0].MasterScheduleName"
        formControlName='MasterScheduleName' (Onselectdataids)="MRPMasterpatch($event)"
        [defaultvalue]="form.get('MasterScheduleName').value" class="KeyField"></app-entitylookup>

        <app-gb-radiobox formControlName='MRPIncludeLeadTime' class="KeyField" ></app-gb-radiobox>
        <br>
       
        <app-gb-radiobox formControlName='MRPIsAutoRelease' class="KeyField"></app-gb-radiobox>

        <app-gb-radiobox formControlName='MRPIncludeLotSize' class="KeyField"></app-gb-radiobox>
        <br>

        <app-gb-radiobox formControlName='MRPIsTrackConversion' class="KeyField"></app-gb-radiobox>

        <app-gb-radiobox formControlName='MRPIncludeStockInTransit' class="KeyField" ></app-gb-radiobox>

        <br>

        <app-gb-radiobox formControlName='MRPOverWriteType' class="KeyField"></app-gb-radiobox>

        <app-gb-radiobox formControlName='MRPIncludeStock' class="KeyField" ></app-gb-radiobox>
        <br>

        <app-gb-radiobox formControlName='MRPOrganizationType'></app-gb-radiobox>

        <app-entitylookup class="KeyField" [PicklistObj]="MRPMasterJSON.default.ObjectFields[0].OUName"
        formControlName='OUName' (Onselectdataids)="MRPMasterpatch($event)"
        [defaultvalue]="form.get('OUName').value"  *ngIf="form.get('MRPOrganizationType').value == 1 "></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="MRPMasterJSON.default.ObjectFields[0].OUGroupName"
        formControlName='OUGroupName' (Onselectdataids)="MRPMasterpatch($event)"
        [defaultvalue]="form.get('OUGroupName').value"  *ngIf="form.get('MRPOrganizationType').value == 2  "></app-entitylookup>

        </form>
        </div>