@import url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 92vw;
    height: auto;
    border-radius: 10px;
}

.title{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    background-color: #FFFFFF;
  }

.closeicon {
    width: 90vw;
    display: flex;
    justify-content: right;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: -35px;
  }

  .savebutton{
    cursor: pointer;
    margin-top: 10px;
    margin-right: 30px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 2px 2px 0px #0000000F;
    border-radius: 6px;
    padding-top: 7px;
    color: #FFFFFF;
    width: 120px;
    height: 32px;
    background-color: var(--color);
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
  }