<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup [PicklistObj]="AccountVoucherJSON.default.ObjectFields[0].BizTransactionTypeName"
            formControlName='BizTransactionTypeName' (Onselectdataids)="PicklistPatchValue($event)" class="KeyField"
            [defaultvalue]="form.get('BizTransactionTypeName').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="AccountVoucherJSON.default.ObjectFields[0].Voucher"
            formControlName='Voucher' (Onselectdata)="AccountVoucherFillFunction($event)"
            [defaultvalue]="form.get('Voucher').value"></app-entitylookup>
        <br>
        <app-gb-date formControlName='VoucherVoucherDate' class="KeyField"
            [date]="form.get('VoucherId').value"></app-gb-date>
        <app-gb-input formControlName='VoucherReferenceNumber' class="KeyField"></app-gb-input>
        <app-gb-date formControlName='VoucherReferenceDate' class="KeyField"
            [date]="form.get('VoucherId').value"></app-gb-date>
        <app-gb-formgrid formControlName='VoucherDetailArray' [ArrayValues]="form.value"
            [ArrayDetail]="form.get('VoucherId').value" (GridOutPut)="DebitAndCreditCalculator($event)"
            (LightBoxOutPut)="InstrumentLightBox($event)"></app-gb-formgrid>
        <app-gb-textarea formControlName='VoucherNarration' class="KeyField"></app-gb-textarea>
        <app-gb-input formControlName='TotalDebit' class="KeyField"></app-gb-input>
        <app-gb-input formControlName='TotalCredit' class="KeyField"></app-gb-input>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="title mon-sixth"> Instrument Light Box </span>
                <span class="closeicon" (click)="LightBoxClose()"><mat-icon>cancel</mat-icon></span>
                <app-gb-formgrid formControlName='VoucherInstrumentArray' [ArrayValues]="form.value"
                    [ArrayDetail]="InstrumentArray"></app-gb-formgrid>
                <span class="savebutton" (click)="saveInstrumentLightBox()">Save</span>
            </div>
        </div>
    </form>
</div>