<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup  [PicklistObj]="LovJSON.default.ObjectFields[0].LovTypeName"
        formControlName='LovTypeName' (Onselectdataids)="LovNot($event)"
        [defaultvalue]="form.get('LovTypeName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="LovJSON.default.ObjectFields[0].LovCode"
        formControlName='LovCode' (Onselectdata)="Lovvalue($event)"
        [defaultvalue]="form.get('LovCode').value"  style="display: inline-block;margin-top: 16px;"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="LovJSON.default.ObjectFields[0].LovName"
        formControlName='LovName' (Onselectdata)="Lovvalue($event)"
        [defaultvalue]="form.get('LovName').value"></app-entitylookup>

        <app-gb-input formControlName='LovScore'></app-gb-input>

        <app-gb-combobox formControlName="LovStatus"></app-gb-combobox>

        <app-entitylookup  [PicklistObj]="LovJSON.default.ObjectFields[0].ParentName"
        formControlName='ParentName' (Onselectdata)="LovNot($event)"
        [defaultvalue]="form.get('ParentName').value"></app-entitylookup>


        </form>
        </div>