<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="UOMSetJson.default.ObjectFields[0].UOMSetCode"
        formControlName='UOMSetCode' (Onselectdata)="UOMSetRetrivalValue($event)"
        [defaultvalue]="form.get('UOMSetCode').value"></app-entitylookup>
        
        <app-entitylookup class="KeyField" [PicklistObj]="UOMSetJson.default.ObjectFields[0].UOMSetName"
        formControlName='UOMSetName' (Onselectdata)="UOMSetRetrivalValue($event)"
        [defaultvalue]="form.get('UOMSetName').value"></app-entitylookup>
        
        <app-entitylookup  [PicklistObj]="UOMSetJson.default.ObjectFields[0].BaseUOMName"
        formControlName='BaseUOMName' (Onselectdataids)="UOMSetPatchValue($event)"
        [defaultvalue]="form.get('BaseUOMName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='UOMSetDetailArray' 
            [ArrayDetail]="form.get('UOMSetId').value"></app-gb-formgrid>

    </form>
</div>