<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="SolutionJSON.default.ObjectFields[0].SolutionSolutionCode" formControlName='SolutionSolutionCode'
        (Onselectdata)="SolutionFillFunction($event)" [defaultvalue]="form.get('SolutionSolutionCode').value"></app-entitylookup> 
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('SolutionSolutionCode')" formControlName='SolutionSolutionCode'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('SolutionSolutionCode').value" class="KeyField"></app-entitylookup> -->

        <app-entitylookup class="KeyField" [PicklistObj]="SolutionJSON.default.ObjectFields[0].SolutionSolutionName" formControlName='SolutionSolutionName'
        (Onselectdata)="SolutionFillFunction($event)" [defaultvalue]="form.get('SolutionSolutionName').value"></app-entitylookup> 

<!-- 
        <app-entitylookup [PicklistObj]="FindPicklist('SolutionSolutionName')" formControlName='SolutionSolutionName'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('SolutionSolutionName').value" class="KeyField"></app-entitylookup> -->

        <app-gb-datetime formControlName="TimeSolution" (Minute)="SolutionPatchValue($event)"
            [time]="form.get('SolutionEstimatedTime').value"></app-gb-datetime>

        
        <app-gb-textarea formControlName='SolutionRemarks'></app-gb-textarea>

    </form>
</div>