<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].ResourceTypeCode" formControlName='ResourceTypeCode'
        (Onselectdata)="ResourceTypeRetrivalValue($event)" [defaultvalue]="form.get('ResourceTypeCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].ResourceTypeName" formControlName='ResourceTypeName'
        (Onselectdata)="ResourceTypeRetrivalValue($event)" [defaultvalue]="form.get('ResourceTypeName').value"></app-entitylookup> 

        <app-gb-combobox formControlName="ResourceTypeIsCapacityPlanning"></app-gb-combobox>

        <app-gb-combobox formControlName="ResourceTypeIsRCCP"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].ParentTypeName" formControlName='ParentTypeName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('ParentTypeName').value"></app-entitylookup> 

        <app-gb-combobox formControlName="ResourceTypeCostType"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].WorkCenterName" formControlName='WorkCenterName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('WorkCenterName').value"></app-entitylookup> 


        <app-gb-combobox formControlName="ResourceTypeResourceNature" (ComboBoxOutPut)="ChangePicklistValue($event)"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].CapacityUOMName" formControlName='CapacityUOMName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('CapacityUOMName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].DepartmentName" formControlName='DepartmentName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('DepartmentName').value"></app-entitylookup>

        <app-gb-combobox formControlName="ResourceTypeIsProduction"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].MachineTypeName" formControlName='MachineTypeName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('MachineTypeName').value" *ngIf="form.get('ResourceTypeResourceNature').value== 'Please Select' || form.get('ResourceTypeResourceNature').value==0"></app-entitylookup>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].EmployeeTypeName" formControlName='EmployeeTypeName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('EmployeeTypeName').value"  *ngIf="form.get('ResourceTypeResourceNature').value=='Please Select' || form.get('ResourceTypeResourceNature').value==1"></app-entitylookup>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].AssetTypeName" formControlName='AssetTypeName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('AssetTypeName').value"  *ngIf="form.get('ResourceTypeResourceNature').value=='Please Select' || form.get('ResourceTypeResourceNature').value==3"></app-entitylookup>

        <app-entitylookup [PicklistObj]="ResourceTypeJSON.default.ObjectFields[0].ProcessName" formControlName='ProcessName'
        (Onselectdataids)="ResourceTypePatchValue($event)" [defaultvalue]="form.get('ProcessName').value"></app-entitylookup>

       
        <app-gb-textarea formControlName='ResourceTypeRemarks'></app-gb-textarea>

    </form>
</div>