<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="EntityJSON.default.ObjectFields[0].EntityCode"
            formControlName='EntityCode' (Onselectdata)="EntityValue($event)"
            [defaultvalue]="form.get('EntityCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="EntityJSON.default.ObjectFields[0].EntityName"
            formControlName='EntityName' (Onselectdata)="EntityValue($event)"
            [defaultvalue]="form.get('EntityName').value"></app-entitylookup>

        <div class="FormTab" >

            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Details')"> Details</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Coding')"> Coding</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Options')"> Options</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Others')">Others</button>

        </div>

        <div class="TabView">
            <div id="Details" class="tabcontent">

                <app-gb-combobox formControlName="EntityNature" class="KeyField"></app-gb-combobox>

                <app-gb-combobox formControlName="BaseClassValue" class="KeyField"></app-gb-combobox>
                <br>

                <app-gb-combobox formControlName="EntityType" class="KeyField"></app-gb-combobox>

                <app-gb-input formControlName='EntitySection' class="KeyField"></app-gb-input>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="EntityJSON.default.ObjectFields[0].ProgramAssemblyName"
                    formControlName='ProgramAssemblyName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('ProgramAssemblyName').value"></app-entitylookup>

                <app-gb-combobox formControlName="EntityIsIceMapRequired" class="KeyField"></app-gb-combobox>

                <br>
                <app-entitylookup [PicklistObj]="EntityJSON.default.ObjectFields[0].ProjectName"
                    formControlName='ProjectName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('ProjectName').value" class="KeyField"></app-entitylookup>

                <app-gb-checkbox formControlName='EntityIsMultiTenant' class="KeyField"></app-gb-checkbox>

                <app-entitylookup [PicklistObj]="EntityJSON.default.ObjectFields[0].ModuleName"
                    formControlName='ModuleName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="EntityJSON.default.ObjectFields[0].DbObjectName"
                    formControlName='DbObjectName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('DbObjectName').value"></app-entitylookup>

                <app-gb-input formControlName='EntityDefinedIN'></app-gb-input>

                <app-gb-combobox formControlName="EntityEntityCategory"></app-gb-combobox>

            </div>
        </div>
        <div class="TabView">
            <div id="Coding" class="tabcontent">

                <app-gb-checkbox formControlName='EntityIsCodeApplicable'></app-gb-checkbox>

                <app-gb-input formControlName='EntityMaxCodeSize'></app-gb-input>

                <app-gb-input formControlName='EntityDefaultSize'></app-gb-input>

                <app-gb-checkbox formControlName='EntityIsMultiCategory'></app-gb-checkbox>

                <app-entitylookup [PicklistObj]="EntityJSON.default.ObjectFields[0].EntityMemberName"
                    formControlName='EntityMemberName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('EntityMemberName').value"
                    *ngIf="form.get('EntityIsMultiCategory').value == 0"></app-entitylookup>

                <app-gb-checkbox formControlName='EntityIsAuto'></app-gb-checkbox>

                <app-gb-checkbox formControlName='EntityIsManual'></app-gb-checkbox>

                <app-gb-checkbox formControlName='EntityIsFormula'></app-gb-checkbox>

                <app-gb-combobox formControlName="EntityOrganizationUnitType"></app-gb-combobox>

            </div>

        </div>

        <div class="TabView">
            <div id="Options" class="tabcontent" *ngIf="form.get('EntityEntityCategory').value == 1">

                <app-gb-checkbox formControlName='EntityIsAddress'></app-gb-checkbox>

                <app-gb-checkbox formControlName='EntityIsContact'></app-gb-checkbox>

                <app-gb-checkbox formControlName='EntityIsSearch'></app-gb-checkbox>

                <app-entitylookup [PicklistObj]="EntityJSON.default.ObjectFields[0].EntityPocoToDTOLinkName"
                    formControlName='EntityPocoToDTOLinkName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('EntityPocoToDTOLinkName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="EntityJSON.default.ObjectFields[0].EntityPocoPicklistName"
                    formControlName='EntityPocoPicklistName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('EntityPocoPicklistName').value"></app-entitylookup>

            </div>
        </div>
        <div class="TabView">
            <div id="Others" class="tabcontent">
         
            

                <app-gb-combobox formControlName="EntityStatus"></app-gb-combobox>

                <app-entitylookup [PicklistObj]="EntityJSON.default.ObjectFields[0].AddOnDbObjectName"
                    formControlName='AddOnDbObjectName' (Onselectdataids)="EntityNot($event)"
                    [defaultvalue]="form.get('AddOnDbObjectName').value"></app-entitylookup>

                    <app-gb-textarea formControlName='EntityRemarks'></app-gb-textarea>

            </div>
        </div>


    </form>
</div>