<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Doc.No</th>
          <th class="th cap1-bold-12-white" >Type</th>
          <th class="th cap1-bold-12-white" >Ref.No</th>
          <th class="th cap1-bold-12-white" >Ref.Date</th>
          <th class="th cap1-bold-12-white" >Department</th>
          <th class="th cap1-bold-12-white" >Person</th>
          <th class="th cap1-bold-12-white" >Payment Term</th>
        </tr>
      </thead>
      <tbody class="tbody" *ngFor="let data of rowData;let i=index">
        <tr class="tr" *ngIf="i==0 || rowData[i].DocumentDate != rowData[i-1].DocumentDate">
          <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{data.DocumentDate | DateFormatter}}</td>
        </tr>
        <tr class="tr" *ngIf="i==0 || rowData[i].Party.Id != rowData[i-1].Party.Id">
          <td class="td cap2-med-12-type-primary" style="font-weight: bold;">{{data.Party.Code}}</td>
        </tr>
        <tr class="tr">
          <td class="td cap2-med-12-type-primary">{{data.DocumentNumber}}</td>
          <td class="td cap2-med-12-type-primary">{{data.BIZTransactionType.Name}}</td>
          <td class="td cap2-med-12-type-primary">{{data.ReferenceNumber}}</td>
          <td class="td cap2-med-12-type-primary">{{data.ReferenceDate | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary">{{data.Department.Name}}</td>
          <td class="td cap2-med-12-type-primary">{{data.Incharge.Name}}</td>
          <td class="td cap2-med-12-type-primary">{{data.PaymentTerms.Name}}</td>
        </tr>
      </tbody>
    </table>
    </div>