<p>brand works!</p>

<div class="brandScreen">
    <ngContainer [ngTemplateOutlet]="currentForm"></ngContainer>
    <form *ngIf="form.bFormReady" class="brandform" [formGroup]="form" ngxsForm="BRAND.currentData">
      <app-gb-input formControlName="ItemBrandCode"></app-gb-input>
      <app-gb-input formControlName="ItemBrandName"></app-gb-input>
      <app-gb-checkbox formControlName="ItemBrandIsSelected"></app-gb-checkbox>
      <app-gb-checkbox formControlName="ItemBrandIsAsset"></app-gb-checkbox>
      <app-gb-checkbox formControlName='ItemBrandIsItem'></app-gb-checkbox>
      <app-gb-textarea formControlName='ItemBrandRemarks'></app-gb-textarea>
    </form>
  </div>
  <br>