.brandScreen
{

  height: 300px;

}
.brandform{
  margin-left:15px ;
}

@media (max-width: 850px) {
  .brandform{
    margin-left:20px ;
  }
}

@media (max-width: 650px) {
  .brandform{
    margin-left:15px ;
  }
}
