<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>
<!-- <div class="addressform">
      <div class='FormOverview' *ngIf="form.bFormReady" class='address'>   
        <form [formGroup]='form' class='Addresss'> -->
      <div id="container1">
        <div class="cell" style="width: 100px;">
          <span class="abcabc">Name</span>
          <span class="xyzxyz"><app-gb-input formControlName='PartyName' style="width: 250px;"></app-gb-input>
          </span>
        </div>
        <div class="cell" style="width: 100px;margin-left: 40px;">
          <span class="abcabc">Address Type</span>
          <span class="xyzxyz"><app-gb-input formControlName='ObjectTypeName'></app-gb-input>
          </span>
        </div>
        <div class="cell" style="width: 100px;">
          <span class="abcabc">Type</span>
          <span class="KeyField" style="padding-left: 3px;"><app-gb-combobox
              formControlName="AddressAddressType"></app-gb-combobox>
          </span>
        </div>
        <div class="cell" style="width: 160px;">
          <span class="abcabc">Details</span>
          <span style="display: block;"> <input type="radio" name="accountType" id="one" value="0" (click)="personal()"
              checked> Personal
            <input type="radio" name="accountType" id="two" value="1" (click)="bussiness()"> Business
          </span>
        </div>
        <app-map [ParentData]='RowData' (MarkerGeoCode)="getGeoAddress($event)" (MarkerAddress)="getGeoAddress($event)"></app-map>
     


      </div>
      <div id="page1">
        <table>

          <tbody class="addresscon" style="height: 36px;">
            <div id="prefinal">
              <div class="personal">Personal</div>
              <div id="container3">
                <div class="cell1">
                  <table>
                    <tbody class="Companycon">
                      <tr>
                        <!-- <td class="abc">Address Line 1</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                            formControlName='AddressLine1'></app-gb-input> </td>

                        <!-- <td class=" abc">Phone No </td> -->
                        <td class="KeyField"><app-gb-input formControlName='AddressPhone'></app-gb-input></td>
                      </tr>
                      <tr>
                        <!-- <td class="abc">Line 2</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                            formControlName='AddressLine2'></app-gb-input></td>
                        <!-- <td class=" abc">Mobile No </td> -->
                        <td class="KeyField"><app-gb-input formControlName='AddressMobile'></app-gb-input></td>

                      </tr>
                      <tr>
                        <!-- <td class="abc">Line 3 </td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                            formControlName='AddressLine3'></app-gb-input></td>
                        <!-- <td class=" abc">Alternate Mobile No</td> -->
                        <td class="KeyField"><app-gb-input formControlName='AddressFax'></app-gb-input></td>
                      </tr>
                      <tr>

                        <!-- <td class="abc">Line 4</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                            formControlName='AddressLine4'></app-gb-input></td>
                        <!-- <td class=" abc">Mail ID</td> -->
                        <td class="KeyField"><app-gb-input formControlName='AddressMail'></app-gb-input></td>
                      </tr>
                      <tr>

                        <!-- <td class="abc">Line 5</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                            formControlName='AddressLine5'></app-gb-input></td>
                        <!-- <td class=" abc">Web Address </td> -->
                        <td class="KeyField"><app-gb-input formControlName='AddressWeb'></app-gb-input></td>
                      </tr>
                      <tr>
                        <!-- <td class="abc" style="padding-bottom: 0px;">Location</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;">
                            <app-entitylookup 
         [PicklistObj]="AddressJSON.default.ObjectFields[0].LocationName" formControlName='LocationName'
         (Onselectdataids)="AddressPatchids($event)"
         [defaultvalue]="form.get('LocationName').value"></app-entitylookup>
                        </td>
                        <!-- <td class="abc ">GSTIN</td> -->
                        <td class="KeyField" ><app-gb-input formControlName='AddressGSTIn'></app-gb-input></td>
                      </tr>
                      <tr>
                        <!-- <td class="abc" style="padding-bottom: 0px;">City</td> -->
                        <td class="KeyField" style="padding-bottom: 0px; height: 36px;">
                            <app-entitylookup 
                            [PicklistObj]="AddressJSON.default.ObjectFields[0].CityName" formControlName='CityName'
                            (Onselectdataids)="AddressPatchids($event)"
                            [defaultvalue]="form.get('CityName').value"></app-entitylookup></td>
                            <td></td>
                            <td></td>
                      </tr>
                      <tr>
                        <!-- <td class="abc" style="padding-bottom: 0px;">Zip Code</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 8px;"><app-gb-input
                            formControlName='AddressZipCode'></app-gb-input></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <!-- <td class="abc" style="padding-bottom: 0px;">Region</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;"> 
                            <app-entitylookup 
                            [PicklistObj]="AddressJSON.default.ObjectFields[0].StandardRegionName" formControlName='StandardRegionName'
                            (Onselectdataids)="AddressPatchids($event)"
                            [defaultvalue]="form.get('StandardRegionName').value"></app-entitylookup></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <!-- <td class="abc" style="padding-bottom: 0px;">State</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;"><app-entitylookup 
                            [PicklistObj]="AddressJSON.default.ObjectFields[0].StateName" formControlName='StateName'
                            (Onselectdataids)="AddressPatchids($event)"
                            [defaultvalue]="form.get('StateName').value"></app-entitylookup>
                          </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <!-- <td class="abc" style="padding-bottom: 0px;">Country</td> -->
                        <td class="KeyField" style="padding-bottom: 0px;height: 36px;">
                            <app-entitylookup 
                            [PicklistObj]="AddressJSON.default.ObjectFields[0].CountryName" formControlName='CountryName'
                            (Onselectdataids)="AddressPatchids($event)"
                            [defaultvalue]="form.get('CountryName').value"></app-entitylookup></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>

      <div id="page2">
        <div id="final" style="display: none;">
          <div class="bussiness">Bussiness</div>
          <div id="container4">

            <div class="cell11">
              <table>
                <tbody class="Compaycon">
                  <tr>
                    <!-- <td class="abc">Address Line 1</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 12px;"><app-gb-input
                        formControlName='AddressLine1'></app-gb-input> </td>

                    <!-- <td class=" abc">Phone No </td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressPhone'></app-gb-input></td>
                    <!-- <td class="abc">PAN</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height:36px;"><app-gb-input
                        formControlName='AddressPAN'></app-gb-input> </td>

                  </tr>
                  <tr>
                    <!-- <td class="abc">Line 2</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                        formControlName='AddressLine2'></app-gb-input></td>
                    <!-- <td class=" abc">Mobile No </td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressMobile'></app-gb-input></td>
                    <!-- <td class="abc">TAN</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height:36px;"><app-gb-input
                        formControlName='AddressTAN'></app-gb-input> </td>

                  </tr>
                  <tr>
                    <!-- <td class="abc">Line 3 </td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                        formControlName='AddressLine3'></app-gb-input></td>
                    <!-- <td class=" abc">Alternat Mobile No</td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressFax'></app-gb-input></td>
                    <!-- <td class="abc">TIN No</td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressVATTINNumber'></app-gb-input> </td>

                  </tr>
                  <tr>

                    <!-- <td class="abc">Line 4</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                        formControlName='AddressLine4'></app-gb-input></td>
                    <!-- <td class=" abc">Mail ID</td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressMail'></app-gb-input></td>
                    <!-- <td class="abc">CST No</td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressVATCSTNumber'></app-gb-input> </td>

                  </tr>
                  <tr>

                    <!-- <td class="abc">Line 5</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                        formControlName='AddressLine5'></app-gb-input></td>
                    <!-- <td class=" abc">Web Address </td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressWeb'></app-gb-input></td>
                    <!-- <td class="abc">Service Tax No</td> -->
                    <td class="KeyField"><app-gb-input formControlName='AddressServiceTaxNumber'></app-gb-input> </td>

                  </tr>
                  <tr>
                    <!-- <td class="abc" style="padding-bottom: 0px;">Location</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 9px;">
                        <app-entitylookup 
         [PicklistObj]="AddressJSON.default.ObjectFields[0].LocationName" formControlName='LocationName'
         (Onselectdataids)="AddressPatchids($event)"
         [defaultvalue]="form.get('LocationName').value"></app-entitylookup>
                    </td>
                    <!-- <td class="abc ">GSTIN</td> -->
                    <td class="KeyField" ><app-gb-input formControlName='AddressGSTIn'></app-gb-input></td>
                  </tr>
                  <tr>
                    <!-- <td class="abc" style="padding-bottom: 0px;">City</td> -->
                    <td class="KeyField" style="padding-bottom: 0px; height: 36px;padding-top: 9px;">
                      <app-entitylookup 
                        [PicklistObj]="AddressJSON.default.ObjectFields[0].CityName" formControlName='CityName'
                        (Onselectdataids)="AddressPatchids($event)"
                        [defaultvalue]="form.get('CityName').value"></app-entitylookup>
                      </td>
                  </tr>
                  <tr>
                    <!-- <td class="abc" style="padding-bottom: 0px;">Zip Code</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 7px;"><app-gb-input
                        formControlName='AddressZipCode'></app-gb-input></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <!-- <td class="abc" style="padding-bottom: 0px;">Region</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 9px;"> 
                      <app-entitylookup 
                        [PicklistObj]="AddressJSON.default.ObjectFields[0].StandardRegionName" formControlName='StandardRegionName'
                        (Onselectdataids)="AddressPatchids($event)"
                        [defaultvalue]="form.get('StandardRegionName').value"></app-entitylookup>
                      </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <!-- <td class="abc" style="padding-bottom: 0px;">State</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 9px;">
                      <app-entitylookup 
                        [PicklistObj]="AddressJSON.default.ObjectFields[0].StateName" formControlName='StateName'
                        (Onselectdataids)="AddressPatchids($event)"
                        [defaultvalue]="form.get('StateName').value"></app-entitylookup>
                      </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <!-- <td class="abc" style="padding-bottom: 0px;">Country</td> -->
                    <td class="KeyField" style="padding-bottom: 0px;height: 36px;padding-top: 9px;">
                      <app-entitylookup 
                        [PicklistObj]="AddressJSON.default.ObjectFields[0].CountryName" formControlName='CountryName'
                        (Onselectdataids)="AddressPatchids($event)"
                        [defaultvalue]="form.get('CountryName').value"></app-entitylookup>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>



      <!-- <div class="addressmobile">
        <div id="container">
          <div *ngIf="activeTab === 'personalpage'">
            <div class="cells" style="width: 100px;">
              <span class="abcd">Address Type*</span>
              <span class="xyzw"><app-gb-input formControlName='ObjectName'></app-gb-input>
              </span>
            </div>
            <div class="cells" style="width: 100px;">
              <span class="abcd">Name*</span>
              <span class="xyzw"><app-gb-input formControlName='PartyName' style="width: 250px;"></app-gb-input>
              </span>
            </div>

            <div class="cells" style="width: 100px;">
              <span class="abcd">Type*</span>
              <span class="xyzw"><app-gb-combobox formControlName="AddressAddressType"></app-gb-combobox>
              </span>
            </div>
            <div class="cells">
              <span rowspan="2"><button class="btn" (click)="getDirections()">
                  <i class="fa fa-map-marker" aria-hidden="true" style="width:14px;height:20px;padding-left:6px;"></i>
                  Set Location</button></span>
            </div>

            <div class="cells">
              <span class="abcd">Details</span>
              <div class="button-container">
                <button id="personal-btn" class="button" [ngStyle]="personalBtnStyles"
                  (click)="changeColor('personal')">
                  <span class="button-text">Personal</span>
                </button>
                <button id="business-btn" class="button" [ngStyle]="businessBtnStyles"
                  (click)="changeColor('business')">
                  <span class="button-text">Business</span>
                </button>
              </div>

            </div>
          </div>
          <div *ngIf="activeTab.startsWith('personal')">
            <div *ngIf="activeTab === 'personalpage1'">
              <div class="personalpage1">
                <table>
                  <tbody>
                    <tr>
                      <th class="mobaddressline1">Address Line 1</th>

                    </tr>
                    <tr>
                      <td class="mobaddressline1data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine1'></app-gb-input> </td>

                    </tr>
                    <tr>
                      <th class="mobaddressline2">Line 2</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline2data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine2'></app-gb-input></td>
                    </tr>
                    <tr>
                      <th class="mobaddressline3">Line 3</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline3data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine3'></app-gb-input></td>
                    </tr>

                    <tr>
                      <th class="mobaddressline4">Line 4</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline4data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine4'></app-gb-input></td>
                    </tr>
                    <tr>
                      <th class="mobaddressline5">Line 5</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline5data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine5'></app-gb-input></td>
                    </tr>
                    <tr>
                      <th class="moblocation">Location</th>
                    </tr>
                    <tr>

                      <td class="moblocationdata" style="padding-bottom: 28px;height:36px;">
                        <app-entitylookup [picklisturl]="'AddressLocation'" [label]="''" [picklistdisplaytext]="'Name'"
                          [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'LocationId'"
                          formControlName='LocationName' [picklistselection]="'Id'" [width]="'200'"
                          (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'"
                          [defaultvalue]="form.get('LocationName').value.lookupdata"></app-entitylookup>
                      </td>

                    </tr>
                    <tr>
                      <th class="mobcity">City</th>
                    </tr>
                    <tr>

                      <td class="mobcitydata" style="padding-bottom: 28px;height:36px;"><app-entitylookup
                          [picklisturl]="'City'" [label]="''" [picklistdisplaytext]="'Name'"
                          [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'CityId'"
                          formControlName='CityName' [picklistselection]="'Id'" [width]="'200'"
                          (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'"
                          [defaultvalue]="form.get('CityName').value.lookupdata"></app-entitylookup></td>

                    </tr>



                  </tbody>

                </table>
              </div>
            </div>

            <div *ngIf="activeTab === 'personalpage2'">
              <div class="personalpage2">
                <table>
                  <tbody>
                    <tr>
                      <th class="mobphoneno">Phone No</th>
                    </tr>
                    <tr>

                      <td class="mobphonenodata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressPhone'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobmobileno">Mobile NO</th>

                    </tr>
                    <tr>
                      <td class="mobmobilenodata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressMobile'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobaltmobno">Alternate Mobile No</th>
                    </tr>
                    <tr>

                      <td class="mobaltmobnodata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressFax'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobmailid">Mail ID</th>
                    </tr>
                    <tr>

                      <td class="mobmailiddata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressMail'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobwebaddress">Web Address</th>
                    </tr>
                    <tr>

                      <td class="mobwebaddressdata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressWeb'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobgstin">GSTIN</th>
                    </tr>
                    <tr>


                      <td class="mobgstindata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressGSTIn'></app-gb-input> </td>
                    </tr>

                  </tbody>

                </table>
              </div>
            </div>
          </div>

          <div *ngIf="activeTab.startsWith('business')">
            <div *ngIf="activeTab === 'businesspage1'">
              <div class="bussinesspage1">
                <table>
                  <tbody>
                    <tr>
                      <th class="mobaddressline1">Address Line 1</th>

                    </tr>
                    <tr>
                      <td class="mobaddressline1data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine1'></app-gb-input> </td>

                    </tr>
                    <tr>
                      <th class="mobaddressline2">Line 2</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline2data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine2'></app-gb-input></td>
                    </tr>
                    <tr>
                      <th class="mobaddressline3">Line 3</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline3data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine3'></app-gb-input></td>
                    </tr>

                    <tr>
                      <th class="mobaddressline4">Line 4</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline4data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine4'></app-gb-input></td>
                    </tr>
                    <tr>
                      <th class="mobaddressline5">Line 5</th>
                    </tr>
                    <tr>

                      <td class="mobaddressline5data" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressLine5'></app-gb-input></td>
                    </tr>
                    <tr>
                      <th class="moblocation">Location</th>
                    </tr>
                    <tr>

                      <td class="moblocationdata" style="padding-bottom: 28px;height:36px;">
                        <app-entitylookup [picklisturl]="'AddressLocation'" [label]="''" [picklistdisplaytext]="'Name'"
                          [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'LocationId'"
                          formControlName='LocationName' [picklistselection]="'Id'" [width]="'200'"
                          (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'"
                          [defaultvalue]="form.get('LocationName').value.lookupdata"></app-entitylookup>
                      </td>

                    </tr>
                    <tr>
                      <th class="mobcity">City</th>
                    </tr>
                    <tr>

                      <td class="mobcitydata" style="padding-bottom: 28px;height:36px;"><app-entitylookup
                          [picklisturl]="'City'" [label]="''" [picklistdisplaytext]="'Name'"
                          [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'CityId'"
                          formControlName='CityName' [picklistselection]="'Id'" [width]="'200'"
                          (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'"
                          [defaultvalue]="form.get('CityName').value.lookupdata"></app-entitylookup></td>

                    </tr>



                  </tbody>

                </table>
              </div>
            </div>

            <div *ngIf="activeTab === 'businesspage2'">
              <div class="bussinesspage2">
                <table>
                  <tbody>
                    <tr>
                      <th class="mobphoneno">Phone No</th>
                    </tr>
                    <tr>

                      <td class="mobphonenodata"><app-gb-input formControlName='AddressPhone'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobmobileno">Mobile NO</th>

                    </tr>
                    <tr>
                      <td class="mobmobilenodata"><app-gb-input formControlName='AddressMobile'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobaltmobno">Alternate Mobile No</th>
                    </tr>
                    <tr>

                      <td class="mobaltmobnodata"><app-gb-input formControlName='AddressFax'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobmailid">Mail ID</th>
                    </tr>
                    <tr>

                      <td class="mobmailiddata"><app-gb-input formControlName='AddressMail'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobwebaddress">Web Address</th>
                    </tr>
                    <tr>

                      <td class="mobwebaddressdata"><app-gb-input formControlName='AddressWeb'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobgstin">GSTIN</th>
                    </tr>
                    <tr>


                      <td class="mobgstindata"><app-gb-input formControlName='AddressGSTIn'></app-gb-input> </td>
                    </tr>

                  </tbody>

                </table>
              </div>
            </div>

            <div *ngIf="activeTab === 'businesspage3'">
              <div class="bussinesspage3">
                <table>
                  <tbody>
                    <tr>
                      <th class="mobpan">PAN</th>
                    </tr>
                    <tr>

                      <td class="mobpandata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressPAN'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobtan">TAN</th>
                    </tr>
                    <tr>

                      <td class="mobtandata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressTAN'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobtinno">TIN NO</th>
                    </tr>
                    <tr>

                      <td class="mobtinnodata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressVATTINNumber'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobgstno">GST NO</th>
                    </tr>
                    <tr>

                      <td class="mobgstnodata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressVATCSTNumber'></app-gb-input> </td>
                    </tr>
                    <tr>
                      <th class="mobserviceno">Service Tax No</th>
                    </tr>
                    <tr>

                      <td class="mobservicenodata" style="padding-bottom: 28px;height:36px;"><app-gb-input
                          formControlName='AddressServiceTaxNumber'></app-gb-input> </td>
                    </tr>


                  </tbody>

                </table>
              </div>
            </div>
          </div>


          <div class="paginationfooter">
            <footer class="aaa fixed-footer">
              <div class="pagination">
                <button id="prevButton" (click)="previousButtonClick()">
                  <img src="assets/icons/previous.png" alt="" class="previousbtn" value="0">
                </button>
                <button id="nextButton" (click)="nextButtonClick()">
                  <img src="assets/icons/next.png" alt="" class="nextbtn" value="1">
                </button>
              </div>
            </footer>
          </div>
        </div>
      </div> -->