<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<header class="theme mon-sixth" style="background: linear-gradient(97.98deg, #B32384 0%, #5E3495 100%);
" [ngClass]="theme$ | async">
  <section id="hbmenu">
    <app-gbhbmenu></app-gbhbmenu>
  </section>
  <mat-divider id="vert" [vertical]="true"></mat-divider>
  <section id="client">
    <app-gbclient></app-gbclient>
  </section>


  <section id="headeroptions">
    <section >
      <app-gbsearch id="searchbar" class="gb"></app-gbsearch>
      <button class="icon" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon style="color: white;">search</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <app-gbsearch (click)="$event.stopPropagation();"> </app-gbsearch>
      </mat-menu>
    </section>
    <button class="more" mat-icon-button [matMenuTriggerFor]="morevert">
      <mat-icon style="margin-right: 5px; color: white;">more_vert</mat-icon>
    </button>
    <mat-menu #morevert="matMenu" [overlapTrigger]="false">

      <button mat-menu-item (mouseover)=changeimagenotificationWhite() (mouseout)=changeimagenotificationBlack()>
        <section >
          <img [src]="notification"
        style="margin-right: 20px; display: inline;" width="21.33px" height="21.33px">
          <span>Notification</span>
        </section>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="dashboard" (mouseover)=changeimageDashboardWhite() (mouseout)=changeimageDashboardBlack()>
        <section >
          <img [src]="Dashboard"
        style="margin-right: 20px; display: inline;" width="21.33px" height="21.33px">
          <mat-menu #dashboard="matMenu"><button mat-menu-item class="items" >
            <span>Dashboard</span>

        </button>
        <button mat-menu-item class="items">

            <span>Mail</span>

        </button>
        <button mat-menu-item class="items">

            <span>Search</span>

        </button>
        <button mat-menu-item class="items">

            <span>Approval</span>

        </button>
        <button mat-menu-item class="items">

            <span>Late Arrival</span>
        </button>
        <button mat-menu-item class="items">

            <span>ATT</span>

        </button></mat-menu>
          <span>Dash Board</span>
        </section>
      </button>

      <button mat-menu-item (mouseover)=changeimageModuleWhite() (mouseout)=changeimageModuleBlack()>
        <section id="module" routerLinkActive="active" [routerLink]="'GoodBooks/Module'">
          <img class="apps" [src]="module"
        style="margin-right: 20px;display: inline;" width="20px" height="20px">
          <span>Modules</span>
        </section>
      </button>

      <!-- <button mat-menu-item style="height: 60px;">
        <section id="usersetting">
          <app-gbusersetting (click)="$event.stopPropagation();"></app-gbusersetting>
          <mat-menu #logout="matMenu"></mat-menu>
        </section>
      </button> -->
    </mat-menu>

    <button class="more1" mat-icon-button [matMenuTriggerFor]="for">
      <mat-icon style="margin-right: 5px; color: white;">more_vert</mat-icon>
    </button>
    <mat-menu #for="matMenu" [overlapTrigger]="false">

      <button mat-menu-item (mouseover)=changeimagenotificationWhite() (mouseout)=changeimagenotificationBlack()>
        <section >
          <img [src]="notification"
        style="margin-right: 20px; display: inline;" width="21.33px" height="21.33px">
          <span>Notification</span>
        </section>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="dashboard" (mouseover)=changeimageDashboardWhite() (mouseout)=changeimageDashboardBlack()>
        <section >
          <img [src]="Dashboard"
        style="margin-right: 20px; display: inline;" width="21.33px" height="21.33px">
          <mat-menu #dashboard="matMenu"><button mat-menu-item class="items" >
            <span>Dashboard</span>

        </button>
        <button mat-menu-item class="items">

            <span>Mail</span>

        </button>
        <button mat-menu-item class="items">

            <span>Search</span>

        </button>
        <button mat-menu-item class="items">

            <span>Approval</span>

        </button>
        <button mat-menu-item class="items">

            <span>Late Arrival</span>
        </button>
        <button mat-menu-item class="items">

            <span>ATT</span>

        </button>
      </mat-menu>
          <span>Dash Board</span>
        </section>
      </button>

      <button  mat-menu-item style="padding-left: 16px; padding-top: 5px; padding-bottom: 5px;" (mouseover)=changeimageModuleWhite() (mouseout)=changeimageModuleBlack()>
        <section id="module" routerLinkActive="active" [routerLink]="'GoodBooks/Module'">
          <img class="apps" [src]="module"
        style="margin-right: 20px;display: inline;" width="20px" height="20px">
          <span>Modules</span>
        </section>
      </button>
    </mat-menu>
    
    <section id="notification">
      <app-gbnotification style="margin-right: 25px;" class="app"></app-gbnotification>
    </section>
    <section id="menu" >
      <app-gbappmenu style="margin-right: 10px;" class="menu"></app-gbappmenu>
    </section>
    <section id="module">
      <app-gbmodulelist style="margin-right: 10px;" class="app"></app-gbmodulelist>
    </section>
   
    
    <section id="usersetting">
      <app-gbusersetting style="margin-right: 0px;" class="app"></app-gbusersetting>
    </section>
    <section id="logo">
      <app-gblogo></app-gblogo>
    </section>
    
    
  </section>

  
 
</header>
<mat-divider id="horz"></mat-divider>
