<!-- <div class="unisoft">
    2020@Unisoft System Consultancy
</div> -->


<div class="container">
    <div class="left">
        2020@Unisoft System Consultancy
    </div>
    <div class="right">
        Help:
        <a href="help.goodbookserp.com">
            help.goodbookserp.com
        </a>
    </div>
    <div>
        <a class="image"><img src="./../../../assets/icons/GBlogo.png" width="45px" height="30px"></a>
    </div>
</div>
<ng-content></ng-content>