 <div>
    <h3 style="color: brown;text-align:center;">About</h3>
    <table style="width:100%">
        <tr>
            <td style="color: darkred;">MenuCode</td>
            <td>{{aboutData.MenuCode}}</td>
        </tr>
        <hr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="color: darkred;">Menu</td>
            <td>{{aboutData.MenuName}}</td>
        </tr>
        <hr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="color: darkred;">Description</td>
            <td>{{aboutData.MenuDescription}}</td>
        </tr>
        <hr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="color: darkred;">Section</td>
            <td>{{aboutData.MenuSection}}</td>
        </tr>
        <hr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="color: darkred;">Type</td>
            <td>{{aboutData.MenuSection}}</td>
        </tr>
        <hr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="color: darkred;">Form</td>
            <td>{{aboutData.WebFormName}}<br />{{aboutData.WebFormURL}}</td>
        </tr>
        <hr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="color: darkred;">Service</td>
            <td>{{aboutData.SaveWebServiceName}}<br />{{aboutData.GetWebServiceName}}
                <br />{{aboutData.DeleteWebServiceName}}
            </td>
        </tr>
    </table>
</div> 
