.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    overflow:auto;
  }
  
  .styled-table thead tr {
    text-align: left;
  }
  
  .styled-table th{
      padding: 12px 15px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;  
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
  }
  
  .styled-table td {
      padding: 12px 15px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;  
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      box-shadow: rgba(57, 56, 58, 0.15) 1px 5px 15px;
      border-left: 1px solid #666;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #666666;
  }
  
  .sticky-header{
    overflow-y: auto;
     min-width: 30%;
     height: 450px;
     margin: 5px;
  }
  
  .styled-table thead tr{
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10; 
  }
 
  .styled-table thead {
    background-color: rgb(26, 98, 255);
    }