<div class="DashboardTable" *ngIf="RowData != undefined && RowData.length > 0">
  <table style="width: 100%">
    <thead class="DashboardTablethead">
      <tr>
        <th
          (click)="onSortClick('LeadCode')"
          class="theadth"
          style="padding-left: 20px"
        >
          Code<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'LeadCode'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'LeadCode'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('LeadName')" class="theadth">
          Name<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'LeadName'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'LeadName'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('EmployeeFirstName')" class="theadth">
          Incharge<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === 'EmployeeFirstName'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'EmployeeFirstName'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('LeadCategoryName')" class="theadth">
          Category<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === 'LeadCategoryName'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'LeadCategoryName'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('StageName')"
          class="theadth"
          style="min-width: fit-content"
        >
          Stage<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'StageName'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'StageName'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Status')"
          class="theadth"
          style="text-align: center; min-width: 0px"
        >
          S<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Status'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Status'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('ExpectedDate')" class="theadth">
          Exp.Date<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === 'ExpectedDate'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'ExpectedDate'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('Remarks')" class="theadth">
          Remarks<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Remarks'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Remarks'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('NextDate')" class="theadth">
          F.Up.On.<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'NextDate'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'NextDate'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('FollowupTaskName')" class="theadth">
          F.Up.Parti.<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === 'FollowupTaskName'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'FollowupTaskName'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('ExpectedRevenue')"
          class="theadth"
          style="text-align: right; padding-right: 20px"
        >
          Value<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === 'ExpectedRevenue'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'ExpectedRevenue'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="tbodytr"
        [ngClass]="{ color: i % 2 == 0 }"
        *ngFor="let data of RowData; let i = index"
      >
        <td class="tbodytd" style="padding-left: 20px">
          {{ data.LeadCode }}
        </td>
        <td class="tbodytd">
          {{ data.LeadName | Truncate: '30' }}
        </td>
        <td class="tbodytd">
          {{ data.EmployeeFirstName }}
        </td>
        <td class="tbodytd">
          {{ data.LeadCategoryName }}
        </td>
        <td class="tbodytd" style="min-width: fit-content">
          {{ data.StageName }}
        </td>
        <td class="tbodytd centered" style="min-width: 0px">
          <img
            src="{{ 'assets/Dashboard_Image/' + data.Status + '.png' }}"
            width="20px"
            height="20px"
          />
        </td>
        <td class="tbodytd">
          {{ data.ExpectedDate | DateFormatter }}
        </td>
        <td class="tbodytd">
          {{ data.Remarks | Truncate: '20' }}
        </td>
        <td class="tbodytd">
          {{
            data.NextDate != '/Date(-62135596800000)/'
              ? (data.NextDate | DateFormatter)
              : ''
          }}
        </td>
        <td class="tbodytd">
          {{ data.FollowupTaskName | Truncate: '20' }}
        </td>
        <td class="tbodytd" style="text-align: right; padding-right: 20px">
          {{ data.ExpectedRevenue }}
        </td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="MonthTypeselected == 0" class="pagination"
    ><span class="pagenumber"
      >{{ firstnumber }} - {{ lastnumber }} of {{ TotalRecord }}</span
    ><button class="pagebutton" mat-raised-button (click)="prepreviousset()">
      First</button
    ><button class="pagebutton" mat-raised-button (click)="previousset()">
      Prev.</button
    ><button class="pagebutton" mat-raised-button (click)="nextset()">
      Next</button
    ><button class="pagebutton" mat-raised-button (click)="nextnextset()">
      Last
    </button></span
  >
</div>
