<div class="packScreen">
  <ngContainer [ngTemplateOutlet]="currentForm">
  </ngContainer>

  <ng-template #defaultform gbFormtemplate name="default">
    <div class="packform" *transloco="let t">
      {{t('Pack.title')}}
    </div>
    <form *ngIf="form.bFormReady" class="packform" [formGroup]="form" ngxsForm="Packs.currentData">
      <app-gb-input formControlName="PackCode"></app-gb-input>
      <app-gb-input formControlName="PackName"></app-gb-input>
      <app-gb-combobox formControlName="PackConversionType"></app-gb-combobox>
      <app-gb-numeric formControlName="PackConversionFactor"></app-gb-numeric>
    </form>
  </ng-template>

  <ng-template #form1 gbFormtemplate name="form1">
    <form *ngIf="form.bFormReady" class="packform" [formGroup]="form" ngxsForm="Packs.currentData">
      <app-gb-input formControlName="PackCode"></app-gb-input>
      <app-gb-input formControlName="PackName"></app-gb-input>
    </form>
  </ng-template>

  <ng-template #form2 gbFormtemplate name="form2">
    <form *ngIf="form.bFormReady" class="packform" [formGroup]="form" ngxsForm="Packs.currentData">
      <app-gb-combobox formControlName="PackConversionType"></app-gb-combobox>
      <app-gb-numeric formControlName="PackConversionFactor"></app-gb-numeric>
    </form>
  </ng-template>

  <ng-template #form3 gbFormtemplate name="formly">
    <form *ngIf="form.bFormReady" class="packform" [formGroup]="packformly" ngxsForm="Packs.currentData">
      <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
    </form>
  </ng-template>



</div>
