<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>
      <app-entitylookup class="KeyField" [PicklistObj]="PartyTaxTypeJSON.default.ObjectFields[0].PartyTaxTypeCode" formControlName='PartyTaxTypeCode'
      (Onselectdata)="PartyTaxTypeFillFunction($event)" [defaultvalue]="form.get('PartyTaxTypeCode').value"></app-entitylookup>

      <app-entitylookup class="KeyField" [PicklistObj]="PartyTaxTypeJSON.default.ObjectFields[0].PartyTaxTypeName" formControlName='PartyTaxTypeName'
      (Onselectdata)="PartyTaxTypeFillFunction($event)" [defaultvalue]="form.get('PartyTaxTypeName').value"></app-entitylookup>

        <app-gb-combobox formControlName="PartyTaxTypeRegistration"></app-gb-combobox>

        <app-gb-combobox formControlName="PartyTaxTypeLocationType"></app-gb-combobox>

        <app-gb-formgrid formControlName='PartyTaxTypeDetailArray'
      [ArrayDetail]="form.get('PartyTaxTypeId').value"></app-gb-formgrid>

    </form>
</div>