<div class='FormOverview' *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="CycleClassJSON.default.ObjectFields[0].CycleClassCycleClasso"
            formControlName='CycleClassCycleClasso' (Onselectdata)="CycleClassFormValue($event)"
            [defaultvalue]="form.get('CycleClassCycleClasso').value"></app-entitylookup>

            <app-gb-textarea formControlName='CycleClassDescription'></app-gb-textarea>

        <app-gb-input formControlName='CycleClassIntervalDays'></app-gb-input>

        <app-gb-input formControlName='CycleClassPercentageOfItems'></app-gb-input>

    </form>
    
</div>