@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.CycleClass
{
  height: 420px;
  width: 98%;
  border: 10px solid rgba(209, 213, 219, 0.3);
  border-radius: 50px;
  box-sizing: content-box;
  background:#FFFFFF;    
  box-shadow: inset -3px -3px 7px #ffffff73,
  inset 3px 3px 5px rgb(94, 104, 121, .288);
}

.select{
  width: 250px;
}

.CycleClasss
{
  padding-left:50px;
  padding-top:15px;
  width: 50%;
  transform:translate(5%, 0%);
  font-size: 14px;
  font-weight: 500;
  // background-color: #ffffff;
  // border: 1px solid #666;
  // border-radius: 12px;
}


@media (max-width: 650px) {

  .CycleClass{
    width: 92%;
  }

  .CycleClasss{
    width: 85%;
    margin-top: 15px;
    transform:translate(9.5%, 20.5%); 
  }
}

@media (min-width: 768px) and (max-width: 1000px){ 

  .CycleClass{
    max-width: 95.5%;
    margin-top: 5%;
  }

  .CycleClasss{
    width: 85%;
    margin-top: 3.5%;
    transform:translate(9%, 20.5%);
  }
}

