<div class='packboths'>Pack Custom DBService & Custom Service Sample</div>

<div class='packboth' *ngIf="form.bFormReady">
  <form class='packboths' [formGroup]='form'>
  <app-gb-input formControlName='PackCode'></app-gb-input>
  <app-gb-input formControlName='PackName'></app-gb-input>
  <app-gb-input formControlName="PackConversionType"></app-gb-input>
  <app-gb-numeric formControlName='PackConversionFactor'></app-gb-numeric>
  </form>
  </div>



