@import './../../../../../apps//Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.dbtable{
    width : 100%;
    position:relative;
    overflow: auto;
    max-height: 425px;
}

.Table{
    width: 100%;
}

.thead{
    position: relative;
    height: 40px;
    background: var(--color);    
}

.th{
    min-width: 100px;
    height: 20px;
    text-align: left;
    padding: 4px;
}

.tr{
    height: 36px;
    background-color: #F6F6F6;
}

.td{
    min-width: 100px;
    height: 20px;
    text-align: left;
    padding: 4px;
    font-weight: 700;
}

.color{
    background-color: #FFFFFF;
}

.dbtable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.dbtable::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.dbtable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color);
}
.dbtable::-webkit-scrollbar-thumb:hover {
    background: var(--color);
}