<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>


        <app-entitylookup class="KeyField" [PicklistObj]="CheckingJSON.default.ObjectFields[0].CheckingCode"
            formControlName='CheckingCode' (Onselectdata)="CheckingPicklistFillValue($event)"
            [defaultvalue]="form.get('CheckingCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CheckingJSON.default.ObjectFields[0].CheckingName"
            formControlName='CheckingName' (Onselectdata)="CheckingPicklistFillValue($event)"
            [defaultvalue]="form.get('CheckingName').value"></app-entitylookup>

        <app-gb-textarea formControlName='CheckingDisplayText'></app-gb-textarea>


    </form>
</div>