
   .mat{
    height: 430px;
    border-radius: 20px;
    margin-left: 15px;
  }
  .update{
   color: #41394c;
   font-size: 20px;
   font-family: Poppins;
   margin-left: 35px;
}

.Type {
   width: 400px;
   margin-left: 35px;
   font-family: Poppins;
 }
 .Number {
   width: 400px;
   margin-left: 35px;
   font-family: Poppins;
 }
 .Date {
   width: 400px;
   margin-left: 35px;
   font-family: Poppins;
 }
 .Person {
   width: 400px;
   margin-left: 35px;
   font-family: Poppins;
 }
 .Gst {
   width: 400px;
   margin-left: 35px;
   font-family: Poppins;
 }
 .Value {
   width: 400px;
   margin-left: 35px;
   font-family: Poppins;
 }


 .morevert{
   height:25px ;
   width: 30px !important;
   min-width: unset  !important;
   padding-left: 2px;
   float:right;
   border-color: #ddd;
   background-color: #ffffff;
   border-radius: 5px;
   margin-right: 35px;
   line-height: 18px;
   }


table {
   font-family: Poppins;
   border-collapse: collapse;
   width: 1250px;
   margin-left:35px;
   margin-top: 5px;
 }
 th, td {
   padding: 8px;
   text-align: left;
   border-bottom: 2px solid #ffffff;
   background-color:#e9f0f3f6;
 }
 th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #41394C;
   color: white;
   font-weight: normal;
 }
 .Multiple{
   color: #41394c;
   font-size: 20px;
   font-family: Poppins;
   margin-left: 35px;
}

.code{
   color:#00ced1;
}
.cancel{
background-color: grey;
color:#ffffff; 
width:100px;

}

.updatebtn{
 background-color:#7f00ff;
 color:#ffffff; 
 width:100px;
}
