<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="HierarchyJson.default.ObjectFields[0].HierarchyName"
            formControlName='HierarchyName' (Onselectdata)="HierarchyRetrivalValue($event)"
            [defaultvalue]="form.get('HierarchyName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="HierarchyJson.default.ObjectFields[0].HierarchyDimensionName"
            formControlName='HierarchyDimensionName' (Onselectdata)="HierarchyPatchValue($event)"
            [defaultvalue]="form.get('HierarchyDimensionName').value"></app-entitylookup>        
     
        <app-entitylookup  [PicklistObj]="HierarchyJson.default.ObjectFields[0].DBObjectName"
            formControlName='DBObjectName' (Onselectdata)="HierarchyPatchValue($event)"
            [defaultvalue]="form.get('DBObjectName').value"></app-entitylookup>   

        <app-gb-radiobox formControlName='HierarchyType'></app-gb-radiobox>

        <app-gb-formgrid formControlName='HierarchyDetailArray' 
        [ArrayDetail]="form.get('HierarchyId').value"></app-gb-formgrid>

    </form>
</div> 
