<span *ngIf="Field?.isKeyField == undefined || Field?.isKeyField == false">
  <div *ngIf="!isreadable">
    <Table style="height: 36px;">
      <tbody>
        <tr>
          <td class="form_label" [class.labelFocused]="isFocused" *ngIf="Field?.Label != ''" [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">
            {{Field?.Label}}</td>
          <td [ngStyle]="{'width.px': Field?.Width}"><input type="text" class="form_value" [ngStyle]="{'width.px': Field?.Width}"  style="outline-style: none;"
              [class.focused]="isFocused" (focus)="isFocused = true" (focusout)="isFocused = false"
              [value]="foundObject()" readonly></td>
        </tr>
      </tbody>
    </Table>
  </div>
  <table *ngIf="isreadable" style="height: 36px;">
    <tbody>
      <tr>
        <td class="form_label" [class.labelFocused]="isFocused" *ngIf="Field?.Label != ''" [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">
          {{Field?.Label}}</td>
        <td [ngStyle]="{'width.px': Field?.Width}">
          <mat-select (selectionChange)="onSelectionChange($event)" [class.focused]="isFocused" (focus)="isFocused = true" (focusout)="isFocused = false" [ngStyle]="{'width.px': Field?.Width}"
            class="form_value" style="height: 23px;padding-top: 1.5px;" [formControl]='gbControl'>
            <ng-container *ngIf="isPicklistvalue(Field.PickLists)">
              <mat-option class="dropdown_list_data" *ngFor="let val of Field.PickLists" [value]="val.key">
                {{ val.value }}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="!isPicklistvalue(Field.PickLists)">
              <mat-option class="dropdown_list_data" *ngFor="let val of Field.PickLists" [value]="val">
                {{ val }}
              </mat-option>
            </ng-container>
          </mat-select>
        </td>
      </tr>
    </tbody>
  </table>
</span>
<div *ngIf="Field?.isKeyField" style="position: relative;" [style.top.px]="!isreadable ? -4 : -7">
  <div style="height: 21px;">
    <span class="form_label" [ngStyle]="{'width.px': Field?.Width}" style="display: inline-block;text-align: left" [class.labelFocused]="isFocused">{{Field?.Label}}</span>
  </div>
  <div *ngIf="!isreadable" style="height: 36px;" [ngStyle]="{'width.px': Field?.Width}">
    <input type="text" class="form_key_value" [ngStyle]="{'width.px': Field?.Width}"  style="outline-style: none;"
            [class.focused]="isFocused" (focus)="isFocused = true" (focusout)="isFocused = false"
            [value]="foundObject()" readonly>
  </div>
  <div *ngIf="isreadable" style="height: 36px;" [ngStyle]="{'width.px': Field?.Width}">
    <mat-select (selectionChange)="onSelectionChange($event)" [class.focused]="isFocused" (focus)="isFocused = true" (focusout)="isFocused = false" [ngStyle]="{'width.px': Field?.Width}"
          class="form_key_value" style="height: 23px;padding-top: 1.5px;" [formControl]='gbControl'>
          <ng-container *ngIf="isPicklistvalue(Field.PickLists)">
            <mat-option class="dropdown_list_data" *ngFor="let val of Field.PickLists" [value]="val.key">
              {{ val.value }}
            </mat-option>
          </ng-container>
          <ng-container *ngIf="!isPicklistvalue(Field.PickLists)">
            <mat-option class="dropdown_list_data" *ngFor="let val of Field.PickLists" [value]="val">
              {{ val }}
            </mat-option>
          </ng-container>
        </mat-select>
  </div>
</div>
<!-- <mat-form-field [ngStyle]="{'width.px': Field.width}"></mat-form-field>
  <mat-label class="label">{{Field?.Label}}</mat-label>
  <mat-select style="width: 180px;" class="form_value" placeholder='{{Field.Placeholder}}' [formControl]='gbControl'>
    <ng-container *ngIf="isPicklistvalue(Field.PickLists)">
      <mat-option class="dropdown_list_data" *ngFor="let val of Field.PickLists" [value]="val.key">
        {{ val.value }}
      </mat-option>
    </ng-container>
    <ng-container *ngIf="!isPicklistvalue(Field.PickLists)">
      <mat-option class="dropdown_list_data" *ngFor="let val of Field.PickLists" [value]="val">
        {{ val }}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field> -->



<!-- <span class="form_value" style="width: 180px;" *ngIf="isreadable==false">{{defaultvalue.value}}</span>
<mat-select *ngIf="isreadable==true" style="width: 180px;" class="form_value" [(value)]="picklistid" (selectionChange)="change($event.value)">
<mat-option class="dropdown_list_data" *ngFor="let data of picklistdata;"
    [value]="data.key">{{data.value}}
</mat-option>
</mat-select> -->