@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
@import url("https://fonts.googleapis.com/css?family=Helvetica");
.btn-menulist{
    outline-style: none;
 }
 .items{
    outline-style: none;
    width: 140px;
    height: 40px;
 }  

 .item{
    border:1px solid #bdbaba;
    border-color: #69297F;
    border-radius: 35px;
 }

 ::ng-deep  .mat-menu-panel{
    overflow: scroll !important;
    overflow-x: hidden !important;
 }

 ::ng-deep  .mat-menu-panel::-webkit-scrollbar {
    width: 5px;
  }
  
  ::ng-deep  .mat-menu-panel::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }
  
  ::ng-deep  .mat-menu-panel::-webkit-scrollbar-thumb {
    background: var(--color) !important;
  }
  
  ::ng-deep  .mat-menu-panel::-webkit-scrollbar-thumb:hover {
    background: var(--color) !important;
  }

  ::ng-deep .mat-menu-item {
   font-family: 'Helvetica' !important;
   font-style: normal !important;
   font-weight: 700 !important;
   font-size: 12px !important;
   line-height: 20px !important;
    color: rgb(26,26,26,0.87) !important;
}

::ng-deep .mat-menu-item:hover:not([disabled]),
 .mat-menu-item.cdk-program-focused:not([disabled]),
 .mat-menu-item.cdk-keyboard-focused:not([disabled]),
 .mat-menu-item-highlighted:not([disabled]) {
    background-color: var(--color) !important;
    color: #FFFFFF !important;
}