<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoeFLc1A6IrQ7ZHQsoaJ2MHCikZwkOrQs
&callback=initMap" async defer></script>



<!-- src/app/google-maps/google-maps.component.html -->
<!-- <div id="map" style="height: 400px;"></div> -->
<div #mapContainer  style="width: 100%; height: 100%;"></div>
