/* CSS for custom tooltip styling */
.custom-tooltip {
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.tooltip-header {
  background-color: #333; /* Header background color */
  color: #ffffff;
  padding: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tooltip-header h3 {
  margin: 0;
  font-size: 16px;
}

.tooltip-content {
  padding: 2px;
}

.div{
  padding: 2px;
}
::ng-deep .mapboxgl-popup-content{
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 3px 3px 3px;
  pointer-events: auto;
  position: relative;
}


/* Add this to your component's SCSS file */
.custom-marker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid white;
}

//   #markers {
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     z-index: 1;
//   }


.custom-marker-label {
  color: #fff; /* Text color */
  background-color: #FF5733; /* Background color */
  font-size: 14px; /* Font size */
  padding: 8px; /* Padding around the text */
  border-radius: 5px; /* Border radius */
  border: 2px solid #fff; /* Border style */
}
