<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="EventTypeActionJSON.default.ObjectFields[0].EventTypeModule"
        formControlName='EventTypeModule' (Onselectdataids)="EventTypeActionNot($event)"
        [defaultvalue]="form.get('EventTypeModule').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="EventTypeActionJSON.default.ObjectFields[0].EventTypeEntity"
        formControlName='EventTypeEntity' (Onselectdataids)="EventTypeActionNot($event)"
        [defaultvalue]="form.get('EventTypeEntity').value"></app-entitylookup>
        
        <app-gb-checkbox formControlName='EventTypeActionNature'></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="EventTypeActionJSON.default.ObjectFields[0].EventTypeName"
        formControlName='EventTypeName' (Onselectdata)="EventTypeActionValue($event)"
        [defaultvalue]="form.get('EventTypeName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="EventTypeActionJSON.default.ObjectFields[0].MailDescription"
        formControlName='MailDescription' (Onselectdataids)="EventTypeActionNot($event)"
        [defaultvalue]="form.get('MailDescription').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="EventTypeActionJSON.default.ObjectFields[0].TriggerReportName"
        formControlName='TriggerReportName' (Onselectdataids)="EventTypeActionNot($event)"
        [defaultvalue]="form.get('TriggerReportName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='EventTypeActionDetailArray'
      [ArrayDetail]="form.get('EventTypeActionId').value"></app-gb-formgrid>

        </form>
        </div>