<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>


        <app-entitylookup class="KeyField" [PicklistObj]="BankBranchJSON.default.ObjectFields[0].BankBranchIfsc"
            formControlName='BankBranchIfsc' (Onselectdata)="BankBranchPicklistFillValue($event)"
            [defaultvalue]="form.get('BankBranchIfsc').value"></app-entitylookup>

        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="BankBranchJSON.default.ObjectFields[0].BankName"
            formControlName='BankName' (Onselectdataids)="BankBranchPicklistPatchValue($event)"
            [defaultvalue]="form.get('BankName').value"></app-entitylookup>
        <mat-icon class="KeyField" style="padding: 0px 0px 30px 391px; cursor: pointer;"
            (click)="addnew(template)">add_box</mat-icon>

        <app-gb-input formControlName='BankBranchBankBranchName'></app-gb-input>

        <app-entitylookup [PicklistObj]="BankBranchJSON.default.ObjectFields[0].CountryName"
            formControlName='CountryName' (Onselectdataids)="BankBranchPicklistPatchValue($event)"
            [defaultvalue]="form.get('CountryName').value"></app-entitylookup>


        <app-entitylookup [PicklistObj]="BankBranchJSON.default.ObjectFields[0].StateName" formControlName='StateName'
            (Onselectdataids)="BankBranchPicklistPatchValue($event)"
            [defaultvalue]="form.get('StateName').value"></app-entitylookup>



        <app-entitylookup [PicklistObj]="BankBranchJSON.default.ObjectFields[0].CityName" formControlName='CityName'
            (Onselectdataids)="BankBranchPicklistPatchValue($event)"
            [defaultvalue]="form.get('CityName').value"></app-entitylookup>

        <app-gb-input formControlName='BankBranchMailId'></app-gb-input>

        <app-gb-input formControlName='BankBranchPhone'></app-gb-input>

        <app-gb-input formControlName='BankBranchMobile'></app-gb-input>

        <app-gb-input formControlName='BankBranchSwift'></app-gb-input>

        <app-gb-input formControlName='BankBranchBban'></app-gb-input>

        <app-gb-textarea formControlName='BankBranchRemarks'></app-gb-textarea>


    </form>
</div>

<ng-template #template>
    <h4>Bank </h4>
    <app-Bank (Onselectdata)="BankFillFunction($event)"></app-Bank>
    <button mat-stroked-button color="primary" (click)="newsave()">Save</button>
</ng-template>