<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="SettingJSON.default.ObjectFields[0].CostAddOnFieldsCode"
        formControlName='CostAddOnFieldsCode' (Onselectdata)="SettingFillFunction($event)"
        [defaultvalue]="form.get('CostAddOnFieldsCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SettingJSON.default.ObjectFields[0].CostAddOnFieldsName"
        formControlName='CostAddOnFieldsName' (Onselectdata)="SettingFillFunction($event)"
        [defaultvalue]="form.get('CostAddOnFieldsName').value"></app-entitylookup>

        <app-gb-input formControlName='CostAddOnFieldsDisplayName'></app-gb-input>

        <app-gb-combobox formControlName="CostAddOnFieldsDataType" (ComboBoxOutPut)="GetDataSize($event)"></app-gb-combobox>

        <app-gb-input formControlName='CostAddOnFieldsDataSize'></app-gb-input>

        <app-gb-input formControlName='CostAddOnFieldsDefaultValue'></app-gb-input>

        <app-gb-checkbox formControlName='CostAddOnFieldsIsDaily'></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="SettingJSON.default.ObjectFields[0].CostAddOnFieldsName"
        formControlName='CostAddOnFieldsName' (Onselectdata)="SettingFillFunction($event)"
        [defaultvalue]="form.get('CostAddOnFieldsName').value"></app-entitylookup>


        <app-gb-radiobox formControlName='CostAddOnFieldsApplicableType'></app-gb-radiobox>

        <app-gb-radiobox formControlName='CostAddOnFieldsNature'></app-gb-radiobox>

        <app-gb-textarea formControlName='CostAddOnFieldsRemarks'></app-gb-textarea>


    </form>
</div>