<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].ProcessCode" formControlName='ProcessCode'
        (Onselectdata)="ProcessMasterFillFunction($event)" [defaultvalue]="form.get('ProcessCode').value"></app-entitylookup> 
<!-- 
        <app-entitylookup [PicklistObj]="FindPicklist('ProcessCode')" formControlName='ProcessCode'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('ProcessCode').value"></app-entitylookup> -->
        <app-entitylookup class="KeyField" [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].ProcessName" formControlName='ProcessName'
        (Onselectdata)="ProcessMasterFillFunction($event)" [defaultvalue]="form.get('ProcessName').value"></app-entitylookup> 

        <!-- <app-entitylookup [PicklistObj]="FindPicklist('ProcessName')" formControlName='ProcessName'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('ProcessName').value"></app-entitylookup> -->

        <app-gb-input formControlName='ProcessCharges'></app-gb-input>

        <app-gb-combobox formControlName="ProcessType"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].ParentProcessName" formControlName='ParentProcessName'
        (Onselectdataids)="ProcessMasterPatchValue($event)" [defaultvalue]="form.get('ParentProcessName').value" *ngIf="form.get('ProcessType').value=='1'"></app-entitylookup>
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('ParentProcessName')" formControlName='ParentProcessName'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('ParentProcessName').value" [dependpicklist]="dependentPicklistTimeSlipNo" *ngIf="form.get('ProcessType').value=='1'"></app-entitylookup> -->
        <app-entitylookup [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].UomName" formControlName='UomName'
        (Onselectdataids)="ProcessMasterPatchValue($event)" [defaultvalue]="form.get('UomName').value" ></app-entitylookup>
<!-- 
        <app-entitylookup [PicklistObj]="FindPicklist('UomName')" formControlName='UomName'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('UomName').value"></app-entitylookup> -->


        <app-gb-combobox formControlName="ProcessCalcType"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].PayAccountName" formControlName='PayAccountName'
        (Onselectdataids)="ProcessMasterPatchValue($event)" [defaultvalue]="form.get('PayAccountName').value" ></app-entitylookup>
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('PayAccountName')" formControlName='PayAccountName'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('PayAccountName').value"></app-entitylookup> -->
        <app-entitylookup [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].ReceiveAccountName" formControlName='ReceiveAccountName'
        (Onselectdataids)="ProcessMasterPatchValue($event)" [defaultvalue]="form.get('ReceiveAccountName').value" ></app-entitylookup>
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('ReceiveAccountName')" formControlName='ReceiveAccountName'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('ReceiveAccountName').value"></app-entitylookup> -->

        <app-gb-combobox formControlName="ProcessRateType"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].GSTTariffCode" formControlName='GSTTariffCode'
        (Onselectdataids)="ProcessMasterPatchValue($event)" [defaultvalue]="form.get('GSTTariffCode').value" ></app-entitylookup>

        <!-- <app-entitylookup [PicklistObj]="FindPicklist('GSTTariffCode')" formControlName='GSTTariffCode'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('GSTTariffCode').value"></app-entitylookup> -->
        <app-entitylookup [PicklistObj]="ProcessMasterJSON.default.ObjectFields[0].GSTTableName" formControlName='GSTTableName'
        (Onselectdataids)="ProcessMasterPatchValue($event)" [defaultvalue]="form.get('GSTTableName').value" ></app-entitylookup>
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('GSTTableName')" formControlName='GSTTableName'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('GSTTableName').value"></app-entitylookup> -->

        <app-gb-checkbox formControlName='ProcessIsDie'></app-gb-checkbox>
        <app-gb-textarea formControlName='ProcessRemarks'></app-gb-textarea>

    </form>
</div>