
<div class="abb">
    <p class="qty">Value FC :{{valuefc | NumberFormat}}</p>
    <p class="tot">Value :{{value | NumberFormat}}</p>
</div>
<div class="dbtable">


    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Doc.No</th>
                <th class="th cap1-bold-12-white" >Ref.No</th>
                <th class="th cap1-bold-12-white" >Ref.Dt</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >Exp.Dt</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Value FC</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Value</th>
                <th class="th cap1-bold-12-white" >Allocation</th>
                <th class="th cap1-bold-12-white">Incharge</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.docno }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.refno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.refdate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.partyname }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.deliverydate |DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.totalvalfc |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.totalval |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.allocatname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.inchargename}}</td>

            </tr>
        </tbody>
    </table>
</div>