<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="BinJSON.default.ObjectFields[0].BinNumber"
      formControlName='BinNumber' (Onselectdata)="BinRetrivalValue($event)"
      [defaultvalue]="form.get('BinNumber').value"></app-entitylookup>

    <app-entitylookup [PicklistObj]="BinJSON.default.ObjectFields[0].WareHouseName" formControlName='WareHouseName'
      (Onselectdataids)="BinPatchValue($event)" [defaultvalue]="form.get('WareHouseName').value"></app-entitylookup>

    <app-entitylookup [PicklistObj]="BinJSON.default.ObjectFields[0].BinTypeName" formControlName='BinTypeName'
      (Onselectdataids)="BinPatchValue($event)" [defaultvalue]="form.get('BinTypeName').value"></app-entitylookup>

    <app-gb-input formControlName="BinCubage"></app-gb-input>
    <app-gb-combobox formControlName='BinBinStatus'></app-gb-combobox>
    <app-gb-textarea formControlName='BinRemarks'></app-gb-textarea>

  </form>
</div>