<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Number</th>
                <th class="th cap1-bold-12-white" >Particulars</th>
                <th class="th cap1-bold-12-white" >Original Dt.</th>
                <th class="th cap1-bold-12-white" >Incharge</th>
                <th class="th cap1-bold-12-white" >Project</th>
                <th class="th cap1-bold-12-white" >Org.Hr</th>
                <th class="th cap1-bold-12-white" >PI/Act Hr</th>
                <th class="th cap1-bold-12-white" >S</th>
                <th class="th cap1-bold-12-white" >%</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.TaskNumber}} <span style="color: red;margin-left: 7px;">
                    {{ data.Overdue == "Overdue Yes" ? '*' : '' }}
                  </span></td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.TaskTaskName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.OriginalPlannedDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.InChargeName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.AllocationShortName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.OriginalPlannedHours}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.TaskPlannedHours}}</td>
                <!-- <td class="td cap2-med-12-type-primary" >{{data.TaskActualHours}}</td> -->
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.TaskOriginalStatusName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.CompletedPercentage}}</td>
            </tr>
        </tbody>
    </table>
  </div>