<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white">Shift</th>
                <th class="th cap1-bold-12-white">Start</th>
                <th class="th cap1-bold-12-white">In</th>
                <th class="th cap1-bold-12-white">Late</th>
                <th class="th cap1-bold-12-white">>(0.10)</th>
                <th class="th cap1-bold-12-white">>(0.30)</th>
                <th class="th cap1-bold-12-white">>(1.00)</th>
                <th class="th cap1-bold-12-white">Device Name</th>
                <th class="th cap1-bold-12-white">Bus Route</th>
                <th class="th cap1-bold-12-white">Geo Location</th>
                <th class="th cap1-bold-12-white">Remarks</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">

                <td class="td cap2-med-12-type-primary">{{data.EmployeeCode}}</td>
                <td class="td cap2-med-12-type-primary">{{data.EmployeeName}}</td>
                <td class="td cap2-med-12-type-primary">{{data.ShiftCode}}</td>
                <td class="td cap2-med-12-type-primary">{{data.ShiftCalStartTime}}</td>
                <td class="td cap2-med-12-type-primary">{{data.DailyAttendanceCalInTime}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.DailyAttendanceCalLateIn)}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.DailyAttendanceInTime - data.ShiftStartTime  >= 10) ? '*' : ''}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.DailyAttendanceInTime - data.ShiftStartTime  >= 30) ? '**' : ''}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.DailyAttendanceInTime - data.ShiftStartTime  >= 60) ? '***' : ''}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.DeviceName == 0 || data.DeviceName == null) ? '' :data.DeviceName}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.VillageName == 0 || data.VillageName == null || data.VillageName == "NONE") ? '' :data.VillageName}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.GeoCode == 0 || data.GeoCode == null) ? '' :data.GeoCode}}</td>
                <td class="td cap2-med-12-type-primary">{{(data.DailyAttendanceRemarks == 0 || data.DailyAttendanceRemarks == null) ? '' :data.DailyAttendanceRemarks}}</td>
            </tr>
        </tbody>
    </table>
</div>