<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-gb-combobox formControlName="TypeComponentNature"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="TypeComponentjson.default.ObjectFields[0].AssetTypeName"
            formControlName='AssetTypeName' (Onselectdata)="TypeComponentFillFunction($event,'AssetType.Id')"
            [defaultvalue]="form.get('AssetTypeName').value"
            *ngIf="form.get('TypeComponentNature').value== 0"></app-entitylookup>

        <app-entitylookup [PicklistObj]="TypeComponentjson.default.ObjectFields[0].ResourceTypeName"
            formControlName='ResourceTypeName' (Onselectdata)="TypeComponentFillFunction($event,'ResourceType.Id')"
            [defaultvalue]="form.get('ResourceTypeName').value"
            *ngIf="form.get('TypeComponentNature').value==1"></app-entitylookup>

        <app-entitylookup [PicklistObj]="TypeComponentjson.default.ObjectFields[0].MachineTypeName"
            formControlName='MachineTypeName' (Onselectdata)="TypeComponentFillFunction($event,'MachineType.Id')"
            [defaultvalue]="form.get('MachineTypeName').value"
            *ngIf="form.get('TypeComponentNature').value==2"></app-entitylookup>

        <app-entitylookup [PicklistObj]="TypeComponentjson.default.ObjectFields[0].CategoryName"
            formControlName='CategoryName' (Onselectdata)="TypeComponentFillFunction($event,'Category.Id')"
            [defaultvalue]="form.get('CategoryName').value"
            *ngIf="form.get('TypeComponentNature').value==3"></app-entitylookup>

        <app-entitylookup [PicklistObj]="TypeComponentjson.default.ObjectFields[0].SubCategoryName"
            formControlName='SubCategoryName' (Onselectdata)="TypeComponentFillFunction($event,'SubCategory.Id')"
            [defaultvalue]="form.get('SubCategoryName').value"
            *ngIf="form.get('TypeComponentNature').value==4"></app-entitylookup>


        <app-entitylookup [PicklistObj]="TypeComponentjson.default.ObjectFields[0].ItemName" formControlName='ItemName'
            (Onselectdata)="TypeComponentFillFunction($event,'Item.Id')" [defaultvalue]="form.get('ItemName').value"
            *ngIf="form.get('TypeComponentNature').value==5"></app-entitylookup>

        <app-gb-textarea formControlName='TypeComponentRemarks'></app-gb-textarea>
   

        <app-gb-formgrid formControlName='TypeComponentDetailArray'
            [ArrayDetail]="form.get('TypeComponentDetailArray').value"></app-gb-formgrid>
    </form>
</div>