
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Qty</th>
          <th class="th cap1-bold-12-white" >UOM</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Rate</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Value</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Tax</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Less</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Bill Val</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Net Val</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData"> 
          <!-- <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.billnum}}</td> -->
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Type | DateFormatter}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Level}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right;padding-right: 50px;">{{data.Activity | NumberFormat}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" >{{data.Parent}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px;">{{data.Group | DateFormatter}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px;">{{data.Employee}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px;">{{data.Role}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px;">{{data.Remarks}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px;">{{data.billval | NumberFormat }}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px;">{{data.netval | NumberFormat}}</td>

        </tr>
      </tbody>
    </table>