@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';



.save-button {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 2px 2px 0px #28b62f0f;
    border-radius: 6px;
    padding-top: 7px;
    color: #FFFFFF;
    width: 120px;
    height: 32px;
    background-color: #1BC115;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
  }
