<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup [PicklistObj]="ChequeBookJSON.default.ObjectFields[0].BankName"
      formControlName='BankName' (Onselectdataids)="ChequeBookPicklistPatchValue($event)"
      [defaultvalue]="form.get('BankName').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="ChequeBookJSON.default.ObjectFields[0].InstrumentName"
      formControlName='InstrumentName' (Onselectdataids)="ChequeBookPicklistPatchValue($event)"
      [defaultvalue]="form.get('InstrumentName').value"></app-entitylookup>
    <app-gb-input class="KeyField" formControlName='ChequeBookNoOfLeaves'></app-gb-input>

    <br>
    <app-entitylookup class="KeyField" [PicklistObj]="ChequeBookJSON.default.ObjectFields[0].ChequeBookBookNo"
      formControlName='ChequeBookBookNo' (Onselectdata)="ChequeBookPicklistFillValue($event)"
      [defaultvalue]="form.get('ChequeBookBookNo').value"></app-entitylookup>
    <app-gb-input class="KeyField" formControlName='ChequeBookStartNo'></app-gb-input>
    <br>
    <app-gb-input class="KeyField" formControlName='ChequeBookChequePrefix'></app-gb-input>
    <app-gb-combobox class="KeyField" formControlName='ChequeBookBookType'></app-gb-combobox>

    <br>
    <span class="buuuton"><button type="button" class="grid-button" (click)='loadChequeBookDetailArray()'>Load</button>
    </span>
    <app-gb-formgrid formControlName='ChequeBookDetailArray'
      [ArrayDetail]="form.get('ChequeBookDetailArray').value"></app-gb-formgrid>


    <br>
    <app-gb-input  formControlName='ChequeBookRemarks'></app-gb-input>

  </form>
</div>