<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup  [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].CodeCategoryCategoryName"
            formControlName='CodeCategoryCategoryName' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
            [defaultvalue]="form.get('CodeCategoryCategoryName').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].ItemCode"
            formControlName='ItemCode' (Onselectdata)="SimpleItemPicklistFillValue($event)"
            [defaultvalue]="form.get('ItemCode').value"></app-entitylookup>

        <app-gb-input class="KeyField" formControlName="ItemCatalogueNumber"></app-gb-input>

        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].ItemName"
            formControlName='ItemName' (Onselectdata)="SimpleItemPicklistFillValue($event)"
            [defaultvalue]="form.get('ItemName').value"></app-entitylookup>

        <app-gb-checkbox class="KeyField" formControlName="AutoGenItemName"></app-gb-checkbox>

        <app-gb-checkbox class="KeyField" formControlName="Archived"></app-gb-checkbox>

        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Classification')">
                Classification*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Stock')">Stock</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Store')">Store </button>
        </div>
        <div class="TabView">
            <div id="Classification" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].CategoryName"
                    formControlName='CategoryName'
                    (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('CategoryName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].GSTTariffName"
                    formControlName='GSTTariffName' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('GSTTariffName').value"></app-entitylookup>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].SubCategoryName"
                    formControlName='SubCategoryName'
                    (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('SubCategoryName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].GSTTableName"
                    formControlName='GSTTableName' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('GSTTableName').value"></app-entitylookup>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].ItemGroupName"
                    formControlName='ItemGroupName'
                    (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemGroupName').value"></app-entitylookup>


                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].MaterialAccountName"
                    formControlName='MaterialAccountName' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('MaterialAccountName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].ItemBrandName"
                    formControlName='ItemBrandName'
                    (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemBrandName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].ProcurmentInchargeName"
                    formControlName='ProcurmentInchargeName' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ProcurmentInchargeName').value"></app-entitylookup>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].ItemMasterModelName"
                    formControlName='ItemMasterModelName'
                    (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemMasterModelName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].PriceCategoryName"
                    formControlName='PriceCategoryName' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PriceCategoryName').value"></app-entitylookup>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].ColorName"
                    formControlName='ColorName'
                    (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('ColorName').value"></app-entitylookup>

                <app-gb-radiobox class="KeyField" formControlName="ItemGSTType"></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].SizeSetDetailSize"
                    formControlName='SizeSetDetailSize' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('SizeSetDetailSize').value"></app-entitylookup>

                <app-gb-radiobox class="KeyField" formControlName="ItemITCType"></app-gb-radiobox>

                <br>
                <app-gb-input class="KeyField" formControlName="ItemMaximumDiscountPercentage"></app-gb-input>

            </div>
            <div id="Stock" class="tabcontent">
                <app-entitylookup class="KeyField" [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].PurchaseUOMName"
                    formControlName='PurchaseUOMName' (Onselectdata)="SimpleItemPicklistFillValue($event)"
                    [defaultvalue]="form.get('PurchaseUOMName').value"></app-entitylookup>

                <app-gb-radiobox class="KeyField" formControlName="ItemIsStockPosting"></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemSalesRate'></app-gb-input>

                <app-gb-input class="KeyField" formControlName='ItemMinimumOrderQuantity'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" formControlName="ItemIsBatchStock"></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemLastPurchaseRate'></app-gb-input>

                <app-gb-input class="KeyField" formControlName='ChargeElementContraAccountMerge'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" formControlName="ItemIsUniqueBatch"></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemMRPRate'></app-gb-input>

            </div>
            <div id="Store" class="tabcontent">
                <!-- <app-gb-checkbox formControlName='SimpleItemPartyAccountType'></app-gb-checkbox>

                <app-entitylookup [PicklistObj]="SimpleItemJSON.default.ObjectFields[0].PartyAccountName"
                    formControlName='PartyAccountName' (Onselectdataids)="SimpleItemPicklistPatchValue($event)"
                    [defaultvalue]="form.get('PartyAccountName').value"
                    *ngIf="form.get('SimpleItemPartyAccountType').value == 1"></app-entitylookup>

                <span>SelectAll</span>
                <span>DeSelectAll</span>
                <br>
                <app-gb-formgrid formControlName='ItemStockDTO'
                    [ArrayDetail]="form.get('ItemId').value"></app-gb-formgrid> -->

            </div>

        </div>
    </form>
</div>