<div class="dbtable">
  <table class="Table">
      <thead class="thead">
          <tr class="theadtr">
              <th class="th cap1-bold-12-white" >Code</th>
              <th class="th cap1-bold-12-white" >Name</th>
              <th class="th cap1-bold-12-white" >Type</th>
              <th class="th cap1-bold-12-white" >Currency</th>
          </tr>
      </thead>
      <tbody class="tbody">
          <tr *ngFor="let data of rowData">
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ac}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.an}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.type}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.curr}}</td>
            </tr>              
      </tbody>
  </table>
</div>

