<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="MachineTypeJSON.default.ObjectFields[0].MachineTypeCode" formControlName='MachineTypeCode'
        (Onselectdata)="MachineTypeFillFunction($event)" [defaultvalue]="form.get('MachineTypeCode').value"></app-entitylookup> 
       
        <app-entitylookup class="KeyField" [PicklistObj]="MachineTypeJSON.default.ObjectFields[0].MachineTypeName" formControlName='MachineTypeName'
        (Onselectdata)="MachineTypeFillFunction($event)" [defaultvalue]="form.get('MachineTypeName').value"></app-entitylookup>
       
        <app-entitylookup [PicklistObj]="MachineTypeJSON.default.ObjectFields[0].ParameterSetName" formControlName='ParameterSetName'
        (Onselectdataids)="MachineTypePatchValue($event)" [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup>
    
        <app-gb-combobox formControlName="MachineTypeNature"></app-gb-combobox>

        <app-entitylookup class="KeyField" [PicklistObj]="MachineTypeJSON.default.ObjectFields[0].ResourceTypeName" formControlName='ResourceTypeName'
        (Onselectdataids)="MachineTypePatchValue($event)" [defaultvalue]="form.get('ResourceTypeName').value"></app-entitylookup>
    
    </form>
</div>