<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField"
            [PicklistObj]="AccountSchedulejson.default.ObjectFields[0].AccountScheduleCode"
            formControlName='AccountScheduleCode' (Onselectdata)="AccountSchedulePicklist($event)"
            [defaultvalue]="form.get('AccountScheduleCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="AccountSchedulejson.default.ObjectFields[0].AccountScheduleName"
            formControlName='AccountScheduleName' (Onselectdata)="AccountSchedulePicklist($event)"
            [defaultvalue]="form.get('AccountScheduleName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="AccountSchedulejson.default.ObjectFields[0].AccountScheduleShortName"
            formControlName='AccountScheduleShortName' (Onselectdata)="AccountSchedulePicklist($event)"
            [defaultvalue]="form.get('AccountScheduleShortName').value"></app-entitylookup>

        <app-gb-combobox formControlName="AccountScheduleNature"></app-gb-combobox>

        <app-entitylookup class="KeyField" [PicklistObj]="AccountSchedulejson.default.ObjectFields[0].ParentName"
            formControlName='ParentName' (Onselectdataids)="AccountSchedulePicklists($event)"
            [defaultvalue]="form.get('ParentName').value"></app-entitylookup>



        <app-gb-input formControlName='AccountScheduleSortOrder'></app-gb-input>

    </form>
</div>