<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="AssetSchedulejson.default.ObjectFields[0].AssetScheduleCode"
            formControlName='AssetScheduleCode' (Onselectdata)="AssetSchedulePicklist($event)"
            [defaultvalue]="form.get('AssetScheduleCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="AssetSchedulejson.default.ObjectFields[0].AssetScheduleName"
            formControlName='AssetScheduleName' (Onselectdata)="AssetSchedulePicklist($event)"
            [defaultvalue]="form.get('AssetScheduleName').value"></app-entitylookup>
        <br>
        <app-gb-input formControlName='AssetScheduleMainHead' class="KeyField"></app-gb-input>
        <app-gb-input formControlName='AssetScheduleStandardUsefullLife' class="KeyField"></app-gb-input>
        <br>
        <app-gb-input formControlName='AssetScheduleSubHead' class="KeyField"></app-gb-input>
        <app-gb-input formControlName='AssetScheduleActualUsefullLife' class="KeyField"></app-gb-input>
        <br>
        <app-gb-input formControlName='AssetScheduleSection' class="KeyField"></app-gb-input>
        
        <app-gb-input formControlName='AssetScheduleWDVPercentage' class="KeyField"></app-gb-input>
        <br>
        <app-gb-checkbox formControlName='AssetScheduleIsExtraShift' class="KeyField"></app-gb-checkbox>
        <app-gb-input formControlName='AssetScheduleSLPercentage' class="KeyField"></app-gb-input>
        <br>
        <app-gb-textarea formControlName='AssetScheduleRemarks'></app-gb-textarea>



    </form>
</div>