<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="BranchJSON.default.ObjectFields[0].BranchCode"
            formControlName='BranchCode' (Onselectdata)="BranchPicklistFillValue($event)"
            [defaultvalue]="form.get('BranchCode').value"></app-entitylookup>


        <app-entitylookup class="KeyField" [PicklistObj]="BranchJSON.default.ObjectFields[0].BranchName"
            formControlName='BranchName' (Onselectdata)="BranchPicklistFillValue($event)"
            [defaultvalue]="form.get('BranchName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="BranchJSON.default.ObjectFields[0].BranchShortName"
            formControlName='BranchShortName' (Onselectdata)="BranchPicklistFillValue($event)"
            [defaultvalue]="form.get('BranchShortName').value"></app-entitylookup>


        <app-entitylookup [PicklistObj]="BranchJSON.default.ObjectFields[0].CompanyName" formControlName='CompanyName'
            (Onselectdataids)="BranchPicklistPatchValue($event)"
            [defaultvalue]="form.get('CompanyName').value"></app-entitylookup>
    </form>
</div>