<div class="topcorner">
<mat-form-field style="width: 90px;">
    <mat-label class="lang">Language</mat-label>
    <mat-select  (selectionChange)="changelang($event.value)">
        <mat-option *ngFor="let lang of avaliblelang" [value]="lang">
            {{ lang }}
        </mat-option>
    </mat-select>
</mat-form-field>
</div>