@import'./../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

#c {
  border: 2px dashed #cccccc;
}

#canvas {
  border: 2px dashed #cccccc;
}
.main-title{
  margin-top: 10px;
}
.images-item {
  width: 48%;
  cursor: pointer;
  -webkit-transition: .5s ease;
  -webkit-transition: .5s ease;
  padding: 3px;
  max-width: 120px;
}

.images-item:hover {
  opacity: 0.7;
}

.images-item-upload {
  width: 80%;
  cursor: pointer;
  padding-bottom: 10px;
  -webkit-transition: .5s ease;
  -webkit-transition: .5s ease;
}

.images-item-upload:hover {
  opacity: 0.7;
}

.custom-item {
  border-bottom: 2px solid #f3f3f3;
}

.custom-item .custom-item-title {
  color: #666666;
  font-weight: 600;
}

.custom-item .custom-item-body {
  padding: 10px 0;
}

.max-height{
  overflow: auto;
  max-height: 300px;
}

.container {
  display: flex;
  height: 100%;
}

.controls {
  flex: 0 0 300px; /* Fixed width for controls */
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  flex: 1; /* Take remaining space */
  padding: 20px;
}

/* Style for demonstration purpose */
.controls {
  border-right: 2px solid #ddd;
}

h1 {
  margin-top: 0;
}
.common-button {
  border-radius: 4px;
  line-height: 2;
  background: blueviolet;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}