<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="TermJSON.default.ObjectFields[0].TermsSection"
            formControlName='TermsSection' (Onselectdata)="TermPicklistFillValue($event)"
            [defaultvalue]="form.get('TermsSection').value"></app-entitylookup>

            <app-gb-radiobox formControlName='TermsType'></app-gb-radiobox>

            <app-gb-textarea formControlName='TermsDescription'></app-gb-textarea>


    </form>
</div>