
<div class="sticky-header">
  <table class="styled-table" >
    <thead>
      <tr>
        <th *ngFor="let head of columnData" class="mon-eighth">{{head.headerName}}</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of rowData">
        <td *ngFor='let field of columnData' (click)='selectedcell(item)'>{{item[field.field]}}</td>
      </tr>
    </tbody>
  </table>
</div>
