<div class='FormOverview' *ngIf="form.bFormReady ">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField"
            [PicklistObj]="EmployeeQualificationJSON.default.ObjectFields[0].EmployeeCode"
            (Onselectdata)="EmployeeQualificationFillFunction($event)" formControlName='EmployeeCode'
            [defaultvalue]="form.get('EmployeeCode').value">
        </app-entitylookup> 
        <app-entitylookup class="KeyField"
            [PicklistObj]="EmployeeQualificationJSON.default.ObjectFields[0].EmployeeName"
            (Onselectdata)="EmployeeQualificationFillFunction($event)" formControlName='EmployeeName'
            [defaultvalue]="form.get('EmployeeName').value">
        </app-entitylookup>
        <app-gb-formgrid formControlName='EmployeeQualificationArray'
            [ArrayDetail]="form.get('EmployeeId').value"></app-gb-formgrid>
    </form>
</div>
