<div class="dbtable">
    <p class="Op">
        Opening : {{rowData[0].FinalOpening?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}} {{rowData[0].FinalOpening > 0 ? 'Dr' : 'Cr'}}
      </p>
      
      <p class="Db">Debit :{{rowData[0].FinalDebit?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <p class="Cr">Credit :{{rowData[0].FinalCredit?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>

      <p class="Cl">
        Closing : {{rowData[0].FinalClosing?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}} {{rowData[0].FinalClosing > 0 ? 'Dr' : 'Cr'}}
      </p>
      

    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 108px">Opening</th>
                <th></th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Debit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Credit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 108px">Closing</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.acccode }}</td>
                <td class="td cap2-med-12-type-primary tooltip" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" (click)="handleSourceRowCriteria(data)">{{data.accname}}<span class="tooltiptext">Ledger View</span></td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 80px">{{data.opg | NumberFormat}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.Closing > 0 ? 'D' : 'C'}}</td>
                <td></td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px">{{data.debit | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 50px">{{data.credit  | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;padding-right: 80px;">{{data.cls | NumberFormat}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.Closing > 0 ? 'D' : 'C'}}</td>
            </tr>
        </tbody>
    </table>
</div>