<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
       
        <app-entitylookup class="KeyField" [PicklistObj]="FileJSON.default.ObjectFields[0].FileName"
        formControlName='FileName' (Onselectdata)="Filevalue($event)"
        [defaultvalue]="form.get('FileName').value"></app-entitylookup>

        <span class="browsebutton" (click)="openFileInput()">Browse<input type="file" style="display: none;" #fileInput (change)="browse($event)"></span>

        <app-gb-input formControlName='FileLocation' ></app-gb-input>

        <app-entitylookup  [PicklistObj]="FileJSON.default.ObjectFields[0].TenantName"
        formControlName='TenantName' (Onselectdataids)="FileNot($event)"
        [defaultvalue]="form.get('TenantName').value"></app-entitylookup>

        <app-gb-radiobox formControlName='FileType' class="KeyField" (RadioButtonOutPut)="settingPatchValueToZero($event)"></app-gb-radiobox>

        <app-entitylookup  [PicklistObj]="FileJSON.default.ObjectFields[0].ReportName"
        formControlName='ReportName' (Onselectdataids)="FileNot($event)"
        [defaultvalue]="form.get('ReportName').value" *ngIf="form.get('FileType').value == 2" class="KeyField" ></app-entitylookup>

        <br>

        <app-gb-input formControlName='FileSortOrder' class="KeyField"></app-gb-input>

        <app-entitylookup  [PicklistObj]="FileJSON.default.ObjectFields[0].WebServiceName"
        formControlName='WebServiceName' (Onselectdataids)="FileNot($event)"
        [defaultvalue]="form.get('WebServiceName').value" *ngIf="form.get('FileType').value == 2"  class="KeyField"></app-entitylookup>



        <app-gb-textarea formControlName='FileRemarks'></app-gb-textarea>

        </form>
        </div>