
<div class="sticky-header">
  <table class="styled-table">
    <thead>
      <tr>
        <th style="background-color:rgb(25, 102, 218)" style="color:black;">Code</th>
        <th style="background-color:rgb(25, 102, 218)" style="color:black;">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowData">
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
      </tr>
    </tbody>
  </table>
  </div>