<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Doc.No</th>
                <th class="th cap1-bold-12-white" >Doc.Date</th>
                <th class="th cap1-bold-12-white" >Party Name</th>
                <th class="th cap1-bold-12-white" >Pack No</th>

                <th class="th cap1-bold-12-white" >Pack Date</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Combos</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Packs</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Order Qty</th>

                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Pack Qty</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr"*ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary"  (click)="handleSourceRowCriteria(data)">{{data.DocumentNumber }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.DocumentDate}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PackingNumber}}</td>

                <td class="td cap2-med-12-type-primary" >{{data.PackingDate }}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;">{{data.Noofitems == 0 ? '':data.Noofitems}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;">{{data.Noofpacks == 0 ? '':data.Noofpacks}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;">{{data.NetWeight == 0 ? '':data.NetWeight}}</td>

                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 70px;">{{data.GoodQty == 0 ? '':data.GoodQty}}</td>
            </tr>
        </tbody>
    </table>
</div>

