<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="DepartmentJSON.default.ObjectFields[0].DepartmentCode"
            formControlName='DepartmentCode' (Onselectdata)="DepartmentPicklistValue($event)"
            [defaultvalue]="form.get('DepartmentCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="DepartmentJSON.default.ObjectFields[0].DepartmentName"
            formControlName='DepartmentName' (Onselectdata)="DepartmentPicklistValue($event)"
            [defaultvalue]="form.get('DepartmentName').value"></app-entitylookup>

        <app-gb-checkbox formControlName="DepartmentIsProduction"></app-gb-checkbox>

        <app-entitylookup [PicklistObj]="DepartmentJSON.default.ObjectFields[0].ProcessName"
            formControlName='ProcessName' (Onselectdataids)="DepartmentPicklistFillValue($event)"
            [defaultvalue]="form.get('ProcessName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="DepartmentJSON.default.ObjectFields[0].CalendarName"
            formControlName='CalendarName' (Onselectdataids)="DepartmentPicklistFillValue($event)"
            [defaultvalue]="form.get('CalendarName').value"></app-entitylookup>


        <app-entitylookup [PicklistObj]="DepartmentJSON.default.ObjectFields[0].DepartmentHeadName"
            formControlName='DepartmentHeadName' (Onselectdataids)="DepartmentPicklistFillValue($event)"
            [defaultvalue]="form.get('DepartmentHeadName').value"></app-entitylookup>


        <app-entitylookup [PicklistObj]="DepartmentJSON.default.ObjectFields[0].DepartmentApplicableOUNames"
            formControlName='DepartmentApplicableOUNames' (Onselectdataids)="DepartmentPicklistFillValue($event)"
            [defaultvalue]="form.get('DepartmentApplicableOUNames').value"></app-entitylookup>


    </form>
</div>