<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="EventSourceJSON.default.ObjectFields[0].EventSourceCode"
        formControlName='EventSourceCode' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('EventSourceCode').value"></app-entitylookup> 
        <app-entitylookup class="KeyField" [PicklistObj]="EventSourceJSON.default.ObjectFields[0].EventSourceName"
        formControlName='EventSourceName' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('EventSourceName').value"></app-entitylookup>
    </form>
</div>