@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/DashboardStyleSheet.scss';
@import 'swiper/swiper-bundle.min.css';

.LeadStageTileTable {
  color: #ffffff;
  display: inline-block;
  width: 140px;
  height: 126px;
  border-radius: 2px;
  margin-left: 18px;
}

.LeadStageTileTableOutline {
  color: #ffffff;
  display: inline-block;
  width: 140px;
  height: 126px;
  border-radius: 2px;
  margin-left: 18px;
  outline-color: #919191 !important;
  outline-style: dashed !important;
}