<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="CounterJson.default.ObjectFields[0].CounterCode"
            formControlName='CounterCode' (Onselectdata)="CounterRetrivalValue($event)"
            [defaultvalue]="form.get('CounterCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CounterJson.default.ObjectFields[0].CounterName"
            formControlName='CounterName' (Onselectdata)="CounterRetrivalValue($event)"
            [defaultvalue]="form.get('CounterName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="CounterJson.default.ObjectFields[0].ParentCounterName"
            formControlName='ParentCounterName' (Onselectdataids)="CounterPatchValue($event)"
            [defaultvalue]="form.get('ParentCounterName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="CounterJson.default.ObjectFields[0].SupervisorName"
            formControlName='SupervisorName' (Onselectdataids)="CounterPatchValue($event)"
            [defaultvalue]="form.get('SupervisorName').value"></app-entitylookup>

        <app-gb-input formControlName='CounterTerminalId'></app-gb-input>

        <app-gb-input formControlName='CounterLevels'></app-gb-input>

        <app-entitylookup [PicklistObj]="CounterJson.default.ObjectFields[0].StoreName" formControlName='StoreName'
            (Onselectdataids)="CounterPatchValue($event)" [defaultvalue]="form.get('StoreName').value"></app-entitylookup>

        <app-gb-textarea formControlName='CounterRemarks'></app-gb-textarea>

    </form>
</div> 