<div class="NotificationHeader">
    <span style="padding-left: 32px;padding-right: 4px;">
        <svg style="display: inline;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <circle style="display: inline;" cx="8" cy="8" r="8" fill="#6E3AB6"/>
        </svg>
    </span>
    <span class="caption-med-12-type-primary" style="min-width: 60px;">-Unread</span>
    <span style="padding-left: 16px;padding-right: 4px;">
        <svg style="display: inline;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <circle style="display: inline;" cx="10" cy="10" r="10" fill="#74777B"/>
        </svg>
    </span>
    <span class="caption-med-12-type-primary" style="min-width: 60px;">-Read</span>
    <span class="markasread">Mark All as Read</span>
    <span class="deleteall">Delete All</span>
</div>
<table class="Notification" *ngFor="let data of NotificationData">
    <tr>
        <td class="firstrow" class="UserImage title1-med-28-white">A</td>
        <td class="FromUserName captionHead-semibold-12-purple-accent">{{data.FromUserName}}</td>
    </tr>
    <tr>
        <td class="firstrow"></td>
        <td class="Message captionHead-semibold-12-type-primary">{{data.NotificationMessage}}</td>
    </tr>
    <tr>
        <td class="firstrow"></td>      
        <td class="Regards caption-med-12-type-primary">Regards</td>
    </tr>
    <tr>
        <td class="firstrow"></td>
        <td class="ToUserName captionsec-reg-12-type-primary">{{data.ToUserName}}</td>
    </tr>
</table>