@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.NotificationHeader{
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
}

.markasread{
    width: 78%;
    text-align: right;
    float: right;
    color: var(--color);
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    text-decoration-line: underline;
}

.deleteall{
    min-width: 130px;
    color: #ED2531;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    text-decoration-line: underline;
    padding-left: 28px;
    padding-right: 32px;
}

.Notification{
    width: 100%;
    border-bottom: 1px solid rgba(26, 26, 26, 0.32);
    background: #F6F6F6;
}

.UserImage{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-top: 16px;
    margin-left: 20px;
    padding-top: 5px;
    background-color: var(--color);
    color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
}

.top-align {
    vertical-align: top;
}

.firstrow{
    width: 90px;
}

.FromUserName{
    position: relative;
    top: -5px;
}

.Message{
    position: relative;
    top: -20px;
}

.ToUserName{
    padding-bottom:16px ;
}