<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PayGroupJSON.default.ObjectFields[0].PayGroupCode"
        formControlName='PayGroupCode' (Onselectdata)="PayGroupValue($event)"
        [defaultvalue]="form.get('PayGroupCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PayGroupJSON.default.ObjectFields[0].PayGroupName"
        formControlName='PayGroupName' (Onselectdata)="PayGroupValue($event)"
        [defaultvalue]="form.get('PayGroupName').value"></app-entitylookup>

        </form>

        </div>
