<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ProgramAssemblyJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="ProgramAssemblyPatchValue($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>
<br>
        <app-entitylookup class="KeyField" style="margin-top: 16px;" [PicklistObj]="ProgramAssemblyJSON.default.ObjectFields[0].ProgramAssemblyName"
            formControlName='ProgramAssemblyName' (Onselectdata)="ProgramAssemblyRetrivalValue($event)"
            [defaultvalue]="form.get('ProgramAssemblyName').value"></app-entitylookup>

            <app-gb-input formControlName='ProgramAssemblySection'></app-gb-input>

            
            <app-gb-textarea formControlName='ProgramAssemblyRemarks'></app-gb-textarea>
    </form>
</div>