<div class="localcontainer">
  <section id="formHeader">
    <app-gbformheader></app-gbformheader>
  </section>
  <!-- <section id="formToolbar">
    <app-gbformtoolbar></app-gbformtoolbar>
  </section> -->
  <section id="maincontent">
    <router-outlet (activate)="onActivate()"></router-outlet>
  </section>
</div>
