<div class="abb">
    <p>Total : {{ totalage | number:'1.2-2' }}</p>
    <p>15 : {{ Cost | number:'1.2-2' }}</p>
    <p>30 : {{ Realisation | number:'1.2-2' }}</p>
    <p>45 : {{ Margin | number:'1.2-2' }}</p>
    <p>60 : {{ MarginCost | number:'1.2-2' }}</p>
    <p>75 : {{ MarginVal | number:'1.2-2' }}</p>
    <p>>75 : {{ Marginnum | number:'1.2-2' }}</p>
</div>

<div class="checkboxes">
    <label>
        <input type="checkbox"   (change)="toggleOption('Qty')" [checked]="selectedOption === 'Qty'" />
        <label for="narrationCheckbox" style="margin-left: 10px;">Qty</label>
    </label>
    <label>
        <input type="checkbox" (change)="toggleOption('Value')" [checked]="selectedOption === 'Value'" />
        <label for="narrationCheckbox" style="margin-left: 10px;">Value</label>
    </label>
</div>

<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Total</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">15</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">30</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">45</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">60</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">75</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">>75</th>

            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Code}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Name}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.total | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">
                    {{ data.displayValue  | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">
                    {{ data.displayValue1  | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">
                    {{ data.displayValue2  | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">
                    {{ data.displayValue3  | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">
                    {{ data.displayValue4 | NumberFormat }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">
                    {{ data.displayValue5 | NumberFormat }}
                </td>


            </tr>
        </tbody>
    </table>
</div>