Pack Generic DBService & Custom Service Sample

<div class='packserv' *ngIf="form.bFormReady">
  <form [formGroup]='form'>
  <app-gb-input formControlName='PackCode'></app-gb-input>
  <app-gb-input formControlName='PackName'></app-gb-input>
  <app-gb-input formControlName="PackConversionType"></app-gb-input>
  <app-gb-numeric formControlName='PackConversionFactor'></app-gb-numeric>

  <input formControlName="PackCode">
  <input formControlName="PackName">
  <input formControlName="PackConversionType">
  <input formControlName="PackConversionFactor">

  </form>
  </div>



