<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
    
            <app-entitylookup  [PicklistObj]="AllocationJSON.default.ObjectFields[0].AllocationTypeName"
            formControlName='AllocationTypeName' (Onselectdataids)="AllocationNot($event)"
            [defaultvalue]="form.get('AllocationTypeName').value" class="KeyField"></app-entitylookup> 

            <app-gb-checkbox formControlName='MAllocationIsArchive'  class="KeyField"></app-gb-checkbox>

            <br>
            <app-entitylookup class="KeyField" [PicklistObj]="AllocationJSON.default.ObjectFields[0].MAllocationName"
            formControlName='MAllocationName' (Onselectdata)="AllocationVal($event)"
            [defaultvalue]="form.get('MAllocationName').value"></app-entitylookup>

            <app-entitylookup class="KeyField" [PicklistObj]="AllocationJSON.default.ObjectFields[0].MAllocationShortName"
            formControlName='MAllocationShortName' (Onselectdata)="AllocationVal($event)"
            [defaultvalue]="form.get('MAllocationShortName').value"></app-entitylookup>


    
           <br>
    
            <app-gb-date formControlName="MAllocationFromDate" 
            [date]="form.get('MAllocationId').value" [default]="'today'" class="KeyField"  *ngIf="form.get('MAllocationIsCapital').value == 1"  ></app-gb-date>

            <app-gb-date formControlName="MAllocationToDate" 
            [date]="form.get('MAllocationId').value" [default]="'today'" class="KeyField" *ngIf="form.get('MAllocationIsCapital').value == 1" ></app-gb-date>

     
            <app-gb-textarea formControlName='MAllocationDescription'></app-gb-textarea>
            <div class="FormTab">
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Details')"> Details</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Others')">Others</button>
      
            </div>

            <div class="TabView">
                <div id="Details" class="tabcontent">
   
            <app-entitylookup  [PicklistObj]="AllocationJSON.default.ObjectFields[0].ParentAllocationName"
            formControlName='ParentAllocationName' (Onselectdataids)="AllocationNot($event)"
            [defaultvalue]="form.get('ParentAllocationName').value"></app-entitylookup>

            <app-entitylookup  [PicklistObj]="AllocationJSON.default.ObjectFields[0].InchargeName"
            formControlName='InchargeName' (Onselectdataids)="AllocationNot($event)"
            [defaultvalue]="form.get('InchargeName').value"></app-entitylookup>
            
            <app-entitylookup [PicklistObj]="AllocationJSON.default.ObjectFields[0].OrganizationUnitName"
            formControlName='OrganizationUnitName' (Onselectdataids)="AllocationNot($event)"
            [defaultvalue]="form.get('OrganizationUnitName').value"></app-entitylookup>

            <app-entitylookup  [PicklistObj]="AllocationJSON.default.ObjectFields[0].MAllocationPartyName"
            formControlName='MAllocationPartyName' (Onselectdataids)="AllocationNot($event)"
            [defaultvalue]="form.get('MAllocationPartyName').value"></app-entitylookup>
        
            <app-gb-combobox formControlName="MAllocationStatus"></app-gb-combobox>

                    </div>
                    </div>
                    
                    <div class="TabView">
                        <div id="Others" class="tabcontent">

                            <app-gb-checkbox formControlName='MAllocationIsCapital' ></app-gb-checkbox>

                            <app-gb-checkbox formControlName='MAllocationDateApplicable'></app-gb-checkbox>

                            <app-entitylookup  [PicklistObj]="AllocationJSON.default.ObjectFields[0].CurrencyName"
                            formControlName='CurrencyName' (Onselectdataids)="AllocationNot($event)"
                            [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>


                            <app-gb-input formControlName='MAllocationRate'></app-gb-input>

                            <app-gb-combobox formControlName="MAllocationRateperUOM"></app-gb-combobox>

                            <app-gb-input formControlName='MAllocationNumberOfData'></app-gb-input>

                            <app-gb-input formControlName='MAllocationExpectedPerHour'></app-gb-input>

                            </div>
                            </div>


            </form>
            </div>