<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="DataValidationJSON.default.ObjectFields[0].DataValidationCode"
        formControlName='DataValidationCode' (Onselectdata)="DataValidationPicklistFillValue($event)"
        [defaultvalue]="form.get('DataValidationCode').value"></app-entitylookup>
      
        <app-entitylookup class="KeyField" [PicklistObj]="DataValidationJSON.default.ObjectFields[0].DataValidationName"
        formControlName='DataValidationName' (Onselectdata)="DataValidationPicklistFillValue($event)"
        [defaultvalue]="form.get('DataValidationName').value"></app-entitylookup>
     
        <app-entitylookup [PicklistObj]="DataValidationJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="DataValidationPicklistPatchValue($event)"
        [defaultvalue]="form.get('ModuleName').value" ></app-entitylookup>

     
        <app-gb-input formControlName='DataValidationSection'></app-gb-input>

      
        <app-gb-textarea formControlName='DataValidationDetails'></app-gb-textarea>

        <app-gb-textarea formControlName='DataValidationSolution'></app-gb-textarea>

        <app-gb-textarea formControlName='DataValidationQuery'></app-gb-textarea>


    </form>
</div>
