.navbar {
    overflow: hidden;
    background-color: #41394C;
    border-radius:0px 0px 10px 10px;
    height:61px;
    margin-right: 20px;
    margin-left:15px;
    margin-top: 1px;

  }
  .navbar a {
    font-family: Poppins;
    float: left;
    font-size: 14px;
    color: white;
    padding: 19px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
  }
  .navbar a:hover {
    border-bottom: 4px solid orange;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    padding: 18px;
    background-color: inherit;
    font-family: Poppins;
    margin-right: 55px;
    margin-left: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:#FFFFFF;
    margin-right: 70px;
    margin-left: 25px;
  }
  .dropdown-content a {
    float: none;
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .fa-angle{
  border:white;
  border-width:0 3px 3px 0;
  display:inline-white;
  padding:3px;
  }
  .down{
  transform: rotate(45deg);
  -webkit-transform:rotate(45deg);
  }
  @media (min-width: 641px){
    button.responsive-nav{
     display:none
   }
 }
 @media(max-width: 1300px){
  div.navbar{
    display:none
  }
}
