@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/form.scss';
.periods {
    display: block;
    float: left;
    //margin-left: 20px;
  }
  
  .period {
    float: left;
    width: 100px;
    outline-style: none;
    padding-top: 5px;
  }
  
  .dateperiod {
    outline-style: none;
  }

  .focused {
    /* Add your focused styles here */
    border-bottom: 2px solid var(--color); /* For example */
    transition: .4s ease-in-out;
  }

  .labelFocused{
    color: var(--color);
    transition: .4s ease-in-out;
  }
  
  #datepicker2::ng-deep.mat-icon-button{
    padding-left: 7px;
    outline-style: none !important;
  }
  
  ::ng-deep.mat-calendar-table-header th{
      font-weight: 500;
      color: black;
      font-size: 14px;
  }
  
  ::ng-deep.mat-calendar-body-label{
    color: black !important;
  }

  #clearbutton::ng-deep.mat-icon-button {
    width: 20px;
    height: 20px;
    outline-style: none;
  }