 <form 
   [formGroup]="form">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <div class="background-image">
    <img src="assets/images/Login-bg.png">
  </div>
  <br>
  <br>
  <div class="responsive-matcard">
    <mat-card class="matcard">
      <mat-card-actions>
        <div><img src="assets/images/Good-books-logo.png"></div>
        <div>
          <mat-label class="signaccount"><b>Sign in to your account</b></mat-label>
        </div>
        <div>
          <mat-label class="please">Please enter your credentials to sign in</mat-label>
        </div>
        <mat-form-field class="input">
          <mat-label class="label"><b>Server</b></mat-label>
          <mat-icon matSuffix>database</mat-icon>
          <input matInput class="form-control" formControlName="Server">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label class="label"><b>User name</b></mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <!-- <mat-error>Invalid or missing username.</mat-error> -->
          <input matInput class="form-control" formControlName="UserName">
        </mat-form-field>

        <div>
          <mat-form-field class="input">
            <mat-label class="label"><b>Password</b></mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="form-control" formControlName="Password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>lock</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <button class="SIGN" mat-raised-button (click)="Login()"><b>SIGN IN</b></button>&nbsp;&nbsp;
        </div>
        <mat-label class="forgot">Forgot password?</mat-label>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
<div class="footer">
  <img src="assets/images/goodbooks.png" class="rt" style="width:55px;height:35px;">
  <p class="lt">2021 © unisoft system consultancy</p>
</div> 

  
