<!--The content below is only a placeholder and can be replaced.-->
<ActionBar [title]="title"></ActionBar>
ffhg
<StackLayout  class="p-20">
    <Label [text]="'Welcome to (android) ' + title + '!'" class="h1 text-center" textWrap="true"></Label>
   <!-- <Label [text]="bdaydate | ageFromDate"></Label>-->
    <button text="Add Account" (tap)="addaccount()"></button>
    <button text="gotomain" (tap)="gotomain()"></button>
    <button text="gototestform" (tap)="navigateTo('/testform/default')"></button>
  <!-- <angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader>-->
</StackLayout>
