<!--The content below is only a placeholder and can be replaced.-->
<ActionBar [title]="title"></ActionBar>
ffhg
<StackLayout  class="p-20">
    <Label [text]="'Welcome to (mobile) ' + title + '!'" class="h1 text-center" textWrap="true"></Label>
</StackLayout>