<div style="margin-left: 15px;" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ActivityTypeJSON.default.ObjectFields[0].ActivityTypeCode" formControlName='ActivityTypeCode'
        (Onselectdata)="ActivityTypeFillFunction($event)" [defaultvalue]="form.get('ActivityTypeCode').value"></app-entitylookup> 
<!-- 
        <app-entitylookup [PicklistObj]="FindPicklist('ActivityTypeCode')" formControlName='ActivityTypeCode'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('ActivityTypeCode').value"></app-entitylookup> -->
        <app-entitylookup class="KeyField" [PicklistObj]="ActivityTypeJSON.default.ObjectFields[0].ActivityTypeName" formControlName='ActivityTypeName'
        (Onselectdata)="ActivityTypeFillFunction($event)" [defaultvalue]="form.get('ActivityTypeName').value"></app-entitylookup> 
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('ActivityTypeName')" formControlName='ActivityTypeName'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('ActivityTypeName').value"></app-entitylookup> -->
        <app-gb-textarea formControlName='ActivityTypeRemarks'></app-gb-textarea>

    </form>
</div>