<div class='FormOverview' *ngIf="form.bFormReady && LeadSourceJSON">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="LeadSourceJSON.default.ObjectFields[0].LeadSourceCode"
            (Onselectdata)="leadsourceFillData($event)" formControlName='LeadSourceCode'
            [defaultvalue]="form.get('LeadSourceCode').value">
        </app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="LeadSourceJSON.default.ObjectFields[0].LeadSourceName"
        (Onselectdata)="leadsourceFillData($event)" formControlName='LeadSourceName'
        [defaultvalue]="form.get('LeadSourceName').value">
        </app-entitylookup>
        <app-entitylookup [PicklistObj]="LeadSourceJSON.default.ObjectFields[0].LeadActualSourceTypeName"
        (Onselectdata)="leadsourceFillData($event)" formControlName='LeadActualSourceTypeName'
        [defaultvalue]="form.get('LeadActualSourceTypeName').value">
        </app-entitylookup>
        <app-gb-textarea formControlName='LeadSourceRemarks'></app-gb-textarea>

        <app-gb-formgrid formControlName='LeadSourceDetailArray'
       [ArrayDetail]="form.get('LeadSourceId').value"></app-gb-formgrid>
        <!-- <div>
            <app-entitylookup class="KeyField" [PicklistObj]="LeadSourceJSON.default.ObjectFields[0].LeadCycleName"
                (Onselectdataids)="LeadCategoryPatchids($event)" formControlName='LeadCycleName'
                [defaultvalue]="form.get('LeadCycleName').value">
        </app-entitylookup>

        <app-gb-checkbox class="KeyField"  class="KeyField" formControlName='LeadCategoryIsProductRequired'></app-gb-checkbox>
        </div>
        
        <div>
            <app-gb-combobox  class="KeyField" formControlName="LeadCategoryApplicableType"></app-gb-combobox>
        </div>
        

       <div>
            <app-gb-textarea class="KeyField" formControlName='LeadCategoryRemarks'></app-gb-textarea>
       </div>
       
            <app-entitylookup *ngIf="form.get('LeadCategoryIsProductRequired').value == false"
        [PicklistObj]="LeadSourceJSON.default.ObjectFields[0].LeadCategoryItemCategoryNames"
        (Onselectdataids)="LeadCategoryPatchids($event)" formControlName='LeadCategoryItemCategoryNames'
        [defaultvalue]="form.get('LeadCategoryItemCategoryNames').value">
        </app-entitylookup> -->
        
    </form>
</div>