<div class="PendingStatusDashboard">
    <div class="Headerclass">
        <span class="type">
            <span style="padding-right: 16px;" class="body-semi-14-type-primary">Type</span>
            <span style="display: flex;" *ngFor="let radiobutton of DocumentType">
                <input class="radiobutton" type="radio" (click)="DocumentTypemodel.option = radiobutton"
                    [checked]="radiobutton === DocumentTypemodel.option" name="option0">
                <span style="padding-left:8px; padding-right: 12px;"
                    class="cap1-bold-12-type-primary">{{radiobutton}}</span>
            </span>
        </span>
        <span *ngIf="dashboardview==false;" class="level">
            <span style="padding-right: 16px;" class="body-semi-14-type-primary">Level</span>
            <span style="display: flex;" *ngFor="let radiobutton of Level">
                <input class="radiobutton" type="radio" (click)="Levelmodel.option = radiobutton"
                    [checked]="radiobutton === Levelmodel.option" name="option2">
                <span style="padding-left:8px; padding-right: 12px;"
                    class="cap1-bold-12-type-primary">{{radiobutton}}</span>
            </span>
        </span>
        <span *ngIf="dashboardview==false && Levelmodel.option=='Summary';" class="type1">
            <span style="padding-right: 16px;" class="body-semi-14-type-primary">Type</span>
            <span style="display: flex;" *ngFor="let radiobutton of Type">
                <input class="radiobutton" type="radio" (click)="Typemodel.option = radiobutton"
                    [checked]="radiobutton === Typemodel.option" name="option1">
                <span style="padding-left:8px; padding-right: 12px;"
                    class="cap1-bold-12-type-primary">{{radiobutton}}</span>
            </span>
        </span>
    </div>
    <br>
    <span
        [ngClass]="data.BiztransactionClassName == BiztransactionClassName ? 'DashboardTableBorder' : 'DashboardTable'"
        style="border: {{RandomNumber[i]%5==0 && data.BiztransactionClassName == BiztransactionClassName ? '1.5px dashed #69297F' : RandomNumber[i]%5==1 && data.BiztransactionClassName == BiztransactionClassName ? '1.5px dashed #972180' : RandomNumber[i]%5==2 && data.BiztransactionClassName == BiztransactionClassName ? '1.5px dashed #BF1C7F' : RandomNumber[i]%5==3 && data.BiztransactionClassName == BiztransactionClassName ? '1.5px dashed #C75F93' : RandomNumber[i]%5==4 && data.BiztransactionClassName == BiztransactionClassName ? '1.5px dashed #E98118' : 'none'}};"
        *ngFor="let data of MMStatusData; let i = index">
        <table class="table"
            style="background: {{RandomBackground[i]}};">
            <thead>
                <tr>
                    <td colspan="2" class="cap1-bold-12-white data1">{{data.BiztransactionClassName}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="data-11-white">Total</td>
                    <td class="data-11-white">Pending</td>
                </tr>
                <tr *ngIf="DocumentTypemodel.option=='Documents';">
                    <td style="cursor: pointer;" class="header-bold-34-white data"
                        (click)="SummaryAndListReportServiceCall(data,0)">
                        {{data.ActiveNumber}}</td>
                    <td style="cursor: pointer;" class="header-bold-34-white"
                        (click)="SummaryAndListReportServiceCall(data,1)">
                        {{data.PendingNumber}}</td>
                </tr>
                <tr *ngIf="DocumentTypemodel.option=='Quantity';">
                    <td style="cursor: pointer;" class="header-bold-34-white data"
                        (click)="SummaryAndListReportServiceCall(data,0)">
                        {{data.TotalQuantity | NumberFormatter}}</td>
                    <td style="cursor: pointer;" class="header-bold-34-white"
                        (click)="SummaryAndListReportServiceCall(data,1)">
                        {{data.PendingQuantity | NumberFormatter}}</td>
                </tr>
                <tr *ngIf="DocumentTypemodel.option=='Value';">
                    <td style="cursor: pointer;" class="header-bold-34-white data"
                        (click)="SummaryAndListReportServiceCall(data,0)">
                        {{data.TotalValue | NumberFormatter}}</td>
                    <td style="cursor: pointer;" class="header-bold-34-white"
                        (click)="SummaryAndListReportServiceCall(data,1)">
                        {{data.PendingValue | NumberFormatter}}</td>
                </tr>
            </tbody>
        </table>
    </span>
    <div *ngIf="dashboardview==false && Levelmodel.option=='Summary' && Typemodel.option=='Party';">
        <app-SummaryList [BiztransactionClassId]="BiztransactionClassId" [ReportType]="ReportType"
            [FilterData]="filterData" [BiztransactionClassName]="BiztransactionClassName"></app-SummaryList>
    </div>
    <div *ngIf="dashboardview==false && Levelmodel.option=='List';">
        <app-ListReport [BiztransactionClassId]="BiztransactionClassId" [ReportType]="ReportType"
            [FilterData]="filterData" [BiztransactionClassName]="BiztransactionClassName"></app-ListReport>
    </div>
    <div *ngIf="dashboardview==false && Levelmodel.option=='Summary' && Typemodel.option=='Item';">
        <app-ItemWiseSummary [BiztransactionClassId]="BiztransactionClassId" [ReportType]="ReportType"
            [FilterData]="filterData" [BiztransactionClassName]="BiztransactionClassName"></app-ItemWiseSummary>
    </div>
</div>