@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.Headerclass{
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.dashboard{
    cursor: pointer;
    display: inline-block;
}

.type{
    width: 380px;
    padding-left: 30px;
    display: inline-flex;
    align-items: center;
    accent-color: var(--color)
}

.type1{
    width: 215px;
    display: inline-flex;
    align-items: center;
    accent-color: var(--color)
}

.level{
    width: 240px;
    display: inline-flex;
    align-items: center;
    accent-color: var(--color)
}

.radiobutton{
    width: 20px;
    height: 20px;
    outline-style: none;
}

.period{
    margin-left: 350px;
}

.periodvalue{
    padding-left: 16px;
}

.fromdate{
    margin-left: 0px;
}

.fromdatevalue{
    padding-left: 16px;
}

.dateinput{
    width: 75px;
    margin-top: 10px;
    float: left;
    outline-style: none;
}

.summit{
    text-align: center;
    width: 120px;
    height: 28px;
    margin-left: 32px;
    border-radius: 4px;
    background: var(--color);
    color: #FFFFFF;
    cursor: pointer;
}

.PendingStatusHeading{
    font-size: 16px;
    padding-bottom: 8px;
    padding-left: 20px;
}

.data{
    width: 120px;
    padding: 8px 0px;
}

.data1{
    padding: 8px 0px;
}

.table{
    padding-left: 16px;
    display: inline-block;
    width: 245px;
    height: 124px;
    border-radius: 2px;
    color: #FFFFFF;
}

.DashboardTable{
    height: 130px;
    padding: 2px 2px 0px 2px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 16px;
}

.DashboardTableBorder{
    height: 130px;
    padding: 2px 2px 0px 2px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 16px;
    border-radius: 2px;
    // border: 1.5px dashed #69297F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.data-11-white{
    color: #FFFFFF;
    font-size: 11px;
    font-family: "Helvetica";
    line-height: 20px;
}

.DashboardBox{
    display: inline-block;
    width: 248px;
    height: 124px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}