<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup  class="KeyField"
            formControlName='BizTransactionTypeName' [PicklistObj]="RateJSON.default.ObjectFields[0].BizTransactionTypeName"  (Onselectdataids)="RatePatchValue($event)"
            [defaultvalue]="form.get('BizTransactionTypeName').value"></app-entitylookup>

          

        <app-entitylookup  formControlName='RateRateNumber'
            (Onselectdata)="RateRetrivalValue($event)" [PicklistObj]="RateJSON.default.ObjectFields[0].RateRateNumber" [defaultvalue]="form.get('RateRateNumber').value"></app-entitylookup>

        <app-gb-input formControlName='RateReferenceNumber'></app-gb-input>

        <app-gb-date formControlName='RateRateDate' [date]="form.get('RateId').value" [default]="'today'"></app-gb-date>

        <app-gb-date formControlName='RateReferenceDate' [date]="form.get('RateId').value"
            [default]="'today'"></app-gb-date>

        <app-gb-date formControlName='RateFromDate' [date]="form.get('RateId').value" [default]="'today'"></app-gb-date>

        <app-gb-date formControlName='RateToDate' [date]="form.get('RateId').value" [default]="'today'"></app-gb-date>

        <app-entitylookup formControlName='CityName'
            (Onselectdataids)="RatePatchValue($event)" [PicklistObj]="RateJSON.default.ObjectFields[0].CityName" [defaultvalue]="form.get('CityName').value"></app-entitylookup>


        <app-gb-formgrid formControlName='RateDetailArray'
            [ArrayDetail]="form.get('BizTransactionTypeName').value"></app-gb-formgrid>  

    </form>
</div>