.title {
    display:inline-block;
    margin-right:10px; 
    width:200px; 
    height: 40px;
    font-size: large;
    margin-top: 17px;
    margin-left: 11px;
    } 
    
    .headerbuttons {
        display: inline-block;
        margin-left: 810px;
        margin-right: auto;
        width: 30%;
        margin-top: 10px;
    }
    
    // .title {
    //     display:inline-block;
    //     margin-right:10px; 
    //     width:200px; 
    // } 
        
    // .headerbuttons {
    //         display: inline-block;
    //         margin-left: auto;
    //         margin-right: auto;
    //         width: 40%;
    // }
    
    .subformheader{
        margin-top: -42px;
        margin-left: 10px;
        color: rgb(155, 37, 240);
    }
    
    mat-icon{
        font-size:20px;
    }
    
    .more{
        margin-bottom: 43px;
        height:20px ;
        width:19px ;
        font-size:15px;
    }
    
    .btn{
        width: 35px;
        min-width: unset!important;
        height: 30px;
        padding: 0px;
        color: rgb(95, 94, 94);
    }
    .refresh{
        margin-left: 650px;
    }
    
    .edit{
        margin-left: 25px;
    }
    
    .table{
        margin-left: 10px;
    }
    
    .delete{
        margin-left: 15px;
        height: 27px;
    }
    
    .add{
        margin-left: 820px;
        height: 30px;
    }
    
    .expand{
        margin-left: 210px;
        width: 22px;
        min-width: unset!important;
        height: 20px;
        padding: 0px;
        margin-top:-30px;
    }
    
    .vert{
        margin-left: 15px;
        height: 26px;
    }
    
    .movePrev{
        width: 35px;
        min-width: unset!important;
        height: 25px;
    }
    
    .moveNext{
        width: 35px;
        min-width: unset!important;
        height: 25px;
        margin-left: 15px;
    }
    
    .keyboard_arrow{
        margin-left: -10px;
        font-size: 30px;
        margin-top: -15px;
    }
    
    // .summary{
    //     display: flex;
    //     position: absolute;
    //     margin-left: 750px;
    //     justify-content: space-between;
    // }
    
    .summary{
        display: flex;
        background-color: rgb(240, 237, 237);
    }
    
    .image{
        margin-left: 25px;
    }
    
    .Balance{
        margin-left: 100px;
        font-size: x-small;
    }
    
    .sales{
        margin-left: 100px;
        font-size: x-small;
    }
    
    .sales2{
        margin-left: 100px;
        font-size: x-small;
    }
    
    .sales3{
        margin-left: 100px;
        font-size: x-small;
    }
    
    .value{
        margin-left: 200px;
        margin-top: -35px;
        font-size: 20px;
    }
    .value1{
        margin-left: 60px;
        margin-top: -35px;
        font-size: 20px;
    }
    .value2{
        margin-left: 85px;
        margin-top: -35px;
        font-size: 20px;
    }
    .value3{
        margin-left: 85px;
        margin-top: -35px;
        font-size: 20px;
    }
    
    