<div class='FormOverview' *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-entitylookup  [PicklistObj]="PayPeriodJSON.default.ObjectFields[0].PeriodName"
        formControlName='PeriodName' (Onselectdataids)="PayPeriodpatch($event)" 
        [defaultvalue]="form.get('PeriodName').value"></app-entitylookup> 

        <app-entitylookup  style="display: inline-block;margin-top: 16px;" class="KeyField" [PicklistObj]="PayPeriodJSON.default.ObjectFields[0].PayPeriodCode"
        formControlName='PayPeriodCode' (Onselectdata)="PayPeriodFormVal($event)"
        [defaultvalue]="form.get('PayPeriodCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="PayPeriodJSON.default.ObjectFields[0].PayPeriodName"
        formControlName='PayPeriodName' (Onselectdata)="PayPeriodFormVal($event)" (PickListOutput)="InputPatch($event)"
        [defaultvalue]="form.get('PayPeriodName').value"></app-entitylookup> 
    
        <br>

        <app-gb-input formControlName='PayPeriodDisplayName'></app-gb-input>
        
        <app-entitylookup  [PicklistObj]="PayPeriodJSON.default.ObjectFields[0].PayPeriodApplicablePayConfigNames"
        formControlName='PayPeriodApplicablePayConfigNames' (Onselectdataids)="PayPeriodpatch($event)"
        [defaultvalue]="form.get('PayPeriodApplicablePayConfigNames').value"></app-entitylookup> 

        <app-gb-date formControlName="PayPeriodFromDate" 
        [date]="form.get('PayPeriodId').value" [default]="'today'" class="KeyField"   (DateOutPut)="LockDate()"></app-gb-date>

        <app-gb-date formControlName="PayPeriodLockDate" 
        [date]="form.get('PayPeriodId').value" [default]="'today'" class="KeyField" ></app-gb-date>
        <br>

        <app-gb-date formControlName="PayPeriodToDate"  
        [date]="form.get('PayPeriodId').value" class="KeyField" [default]="'today'" (DateOutPut)="ToDate($event)" (DateOutPut)="CalculateDays($event)"
        class="KeyField"></app-gb-date>

        <app-gb-date formControlName="PayPeriodPayDate" 
        [date]="form.get('PayPeriodToDate').value" class="KeyField" [default]="'today'" ></app-gb-date>
        <br>

        <app-gb-input formControlName='PayPeriodTotalDays' class="KeyField"></app-gb-input>

        <app-gb-date formControlName="PayPeriodAccountDate" 
        [date]="form.get('PayPeriodToDate').value" [default]="'today'"  class="KeyField"></app-gb-date>
<br>
        
        <app-gb-input formControlName='PayPeriodPayForDays' class="KeyField"></app-gb-input>

        <app-gb-checkbox formControlName='PayPeriodIsVisible' class="KeyField"></app-gb-checkbox>

        <app-gb-checkbox formControlName='PayPeriodIsRegister' class="KeyField"></app-gb-checkbox>

        <br>
        
        <app-gb-input formControlName='PayPeriodWorkingDays' class="KeyField"></app-gb-input>

        <app-entitylookup class="KeyField" [PicklistObj]="PayPeriodJSON.default.ObjectFields[0].PayPeriodApplicableOuNames"
        formControlName='PayPeriodApplicableOuNames' (Onselectdataids)="PayPeriodpatch($event)"
        [defaultvalue]="form.get('PayPeriodApplicableOuNames').value"></app-entitylookup> 

        <br>

        <app-gb-combobox formControlName="PayPeriodPeriodType" class="KeyField"></app-gb-combobox>

        <app-gb-radiobox formControlName='PayPeriodIsPayroll2TaxPost' class="KeyField"></app-gb-radiobox>

<div class="arrer" >
        <app-gb-date formControlName="PayPeriodArrearPeriodFrom" 
        [date]="form.get('PayPeriodId').value" [default]="'today'" class="KeyField" *ngIf="form.get('PayPeriodPeriodType').value == 1" ></app-gb-date>

        <app-gb-date formControlName="PayPeriodArrearPeriodTo" 
        [date]="form.get('PayPeriodId').value" [default]="'today'" class="KeyField" *ngIf="form.get('PayPeriodPeriodType').value == 1"></app-gb-date>
    </div>
        <br>
    
        <app-gb-combobox formControlName="PayPeriodAddendanceType" class="KeyField"></app-gb-combobox>

        <app-gb-radiobox formControlName='PayPeriodIsTax2PayrollPost' class="KeyField"></app-gb-radiobox>

        <br>

        <app-gb-combobox formControlName="PayPeriodOvertimeType" class="KeyField"></app-gb-combobox>

        <app-gb-checkbox formControlName='PayPeriodIsWithoutAttendance' class="KeyField"></app-gb-checkbox>
        <br>
        <app-gb-textarea formControlName='PayPeriodRemarks' class="KeyField"></app-gb-textarea>
   
    </form>
        </div>