<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ClientSiteJSON.default.ObjectFields[0].ClientSiteCode"
        formControlName='ClientSiteCode' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('ClientSiteCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="ClientSiteJSON.default.ObjectFields[0].ClientSiteName"
        formControlName='ClientSiteName' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('ClientSiteName').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="ClientSiteJSON.default.ObjectFields[0].ClientSiteShortName"
        formControlName='ClientSiteShortName' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('ClientSiteShortName').value"></app-entitylookup> 

        <app-entitylookup  [PicklistObj]="ClientSiteJSON.default.ObjectFields[0].ClientName"
        formControlName='ClientName' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('ClientName').value"></app-entitylookup> 
        
        <app-entitylookup  [PicklistObj]="ClientSiteJSON.default.ObjectFields[0].RegionName"
        formControlName='RegionName' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('RegionName').value"></app-entitylookup> 

        <app-gb-radiobox formControlName="ClientSiteType"></app-gb-radiobox> 

        <app-entitylookup  [PicklistObj]="ClientSiteJSON.default.ObjectFields[0].InchargeName"
        formControlName='InchargeName' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('InchargeName').value"></app-entitylookup>

    </form>
</div>