<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="WorkTypeJson.default.ObjectFields[0].WorkTypeCode"
            formControlName='WorkTypeCode' (Onselectdata)="WorkTypeFillFunction($event)"
            [defaultvalue]="form.get('WorkTypeCode').value" class="KeyField"></app-entitylookup>


        <app-entitylookup class="KeyField" [PicklistObj]="WorkTypeJson.default.ObjectFields[0].WorkTypeName"
            formControlName='WorkTypeName' (Onselectdata)="WorkTypeFillFunction($event)"
            [defaultvalue]="form.get('WorkTypeName').value" class="KeyField"></app-entitylookup>
        <br>
        <app-gb-combobox formControlName="WorkTypeIsAllocationBased"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="WorkTypeJson.default.ObjectFields[0].AllocationTypeName"
            formControlName='AllocationTypeName' (Onselectdataids)="WorkTypePatchValue($event)"
            [defaultvalue]="form.get('AllocationTypeName').value" class="KeyField"></app-entitylookup>

 <br>
        <app-gb-textarea formControlName='WorkTypeRemarks' class="KeyField"></app-gb-textarea>

        <div class="KeyField" style="display: inline-flex; flex-direction: row;"> <input type="text" style="width: 200px;" placeholder="Find" id="findInput">
            <input type="text" style="width: 200px;" placeholder="Replace" id="replaceInput">
            <button type="button" style="background-color: rgb(238, 29, 98); width: 130px; color: white; border-radius: 10px; height: 30px;" (click)="FindReplace()">Find&Replace</button>
        </div>

        <app-gb-formgrid formControlName='WorkTypeDetailArray'
            [ArrayDetail]="form.get('WorkTypeDetailArray').value"></app-gb-formgrid>

    </form>
</div>