<!-- <div *ngIf='portlet' class="mon-secondary portlet">
    <h2 class="mon-eighth">Select to Add Portlet to the dashboard</h2>
    <br>
    <table>
        <tr class="heading">
            <th>Portlet Component List</th>
        </tr>
        <tr>
            <td colspan="2"><button mat-raised-button color="primary" *ngFor='let portlet of portlet' [mat-dialog-close]='portlet'>{{portlet.PortletName}}</button> </td>
        </tr>
    </table>
    </div> -->
    <div class="cards-list" *ngIf='portlet'>
        <div class="card cardtext" *ngFor='let portlet of portlet' [mat-dialog-close]='portlet'>
            {{portlet.PortletName}}
        </div>
        </div>
