@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
/* Add this to your component's styles or in your global styles */
.FilterTable:hover {
    background-color: #F6F6F6
   
  }
  .FilterTable {
    transition: background-color 0.3s; /* Optional: smooth transition effect */
  } 
.HorziontalLineone {
    width: 300px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.HorziontalLinetwo {
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 16px;
}

.search-container {
    display: flex;
    margin-bottom: 5px;
    margin-top: 15px;

}

.searchtext {
    outline: none;
    margin-left: 21px;
    width: 280px;
    color: rgba(26, 26, 26, 0.87);

    /* content/hel-14-reg */
    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

::placeholder {
    color: rgba(26, 26, 26, 0.87);

    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.searchicon {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}


.three-column-container {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;

}

.RowContainerone {
    color: rgba(26, 26, 26, 0.87);
    font-family: Helvetica !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
}

.RowContainertwo {
    color: rgba(26, 26, 26, 0.87);
    font-family: Helvetica !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
}

.ContactName {
    width: 240px;
    color: rgba(26, 26, 26, 0.87);
    font-family: Helvetica !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
}

.MediaQueryDesCom {
    display: none;
}

.MediaQueryMobileno {
    display: none;
}

.ContactDesignation {
    color: rgba(26, 26, 26, 0.87);
    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 240px;
    display: block;
    cursor: pointer;
}

.ContactMobileno {
    color: var(--purple-accent, #6E3AB6);
    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 240px;
    padding-left: 50px;
    cursor: pointer;
}

.ContactCompany {
    color: rgba(26, 26, 26, 0.87);
    display: block;
    margin-bottom: 2px;

    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 240px;
    cursor: pointer;
}

.ContactMailid {
    color: rgba(26, 26, 26, 0.87);
    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 240px;
    padding-left: 50px;
    cursor: pointer;
}

.SecondDivision {
    padding-left: 15px;
    width:100%;
}

.rounded-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #6B9EC7;
    flex-shrink: 0;
}



img[title] {
    color: var(--white, #FFF);
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* h4/hel-20-bol */
    font-family: Helvetica !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
}




/* Apply scrollbar to the table container */
.Container {
    // height:auto;
    max-height: var(--Tableheight);
    overflow-y: auto;
    margin-right: 40px;
    scrollbar-width: thin;
    // display: block;
    scrollbar-color: #6E3AB6 #f4f4f4;
    // overflow-x: hidden;

}

/* Customize scrollbar styles for WebKit browsers */
.Container::-webkit-scrollbar {
    width: 4px;
    /* Set the width of the scrollbar */
}

.Container::-webkit-scrollbar-track {
    background: #f4f4f4;
    /* Set the background color of the scrollbar track */
}

.Container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* Set the border radius of the thumb */
    background-color: #6E3AB6;
    /* Set the background color of the thumb */
}

@media (max-width: 640px) {
    .Container {
        // height:auto;
        max-height: 80vh;
    }
}

@media (max-width: 580px) {
    .Container {
        // height:auto;
        max-height: 70vh;
    }
}

@media (max-width: 510px) {
    .Container {
        // height:auto;
        max-height: 65vh;
    }
}

@media (max-width: 470px) {
    .Container {
        // height:auto;
        max-height: 50vh;
    }
}
@media (min-width: 360px) and (max-width: 430px) {
    // .LightBoxmodal{
    //     margin-top: 50px;
    // }
    // .Container {
    //     max-height: unset;
    //     margin-right: 0;
    //     scrollbar-width: thin;
    //     scrollbar-color: #6E3AB6 #f4f4f4;
    // }

    img[title] {
        color: var(--white, #FFF);
        text-align: center !important;
        display: flex;
        align-items: center;
        justify-content: center;
        /* h4/hel-20-bol */
        font-family: Helvetica !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }

    .rounded-image,
    .FirstDivision {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        // flex-shrink: 0;

    }

    .three-column-container {
        margin-left: 10px;
    }


    .ContactDesignation {
        display: none;
    }

    .ContactCompany {

        display: none;
    }

    .ContactMailid {
        padding-left: 1px;
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
        /* content/hel-12-reg */
        font-family: Helvetica !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 210px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .MediaQueryMobileno {
        display: block;
        color: var(--purple-accent, #6E3AB6);
        font-family: Helvetica !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 1px;
        margin-left: 67px;

    }

    .ContactMobileno {
        display: none;
    }

    .MediaQueryDesCom {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
        font-family: Helvetica !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 18px */
    }

    .ContactName {
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
        /* content/hel-14-bol */
        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }

    .search-container {
        display: flex;
        // justify-content: center;
        margin-left:20px;
    }

    .searchtext {
        // width: 300px;
        margin-left: 0;
        border-bottom: 1px solid rgba(26, 26, 26, 0.32);
        width: 300px;
        justify-self: center;
    }

    .HorziontalLineone {
        display: none;
    }

    .HorziontalLinetwo{
        margin-right:16px;
    }
    .searchicon {
        margin-left: -23px;
    }
    .LightBox-content {
        display: flex;
        // justify-content: center;
        // margin: auto;
        padding: 20px;
        width: 100%;
        height: 98%;
        border-radius: 10px;
        background-color: #FFFFFF;
    }
}

@media (min-width: 360px) and (max-width: 370px) {
    .MediaQueryMobileno {
        margin-left: -3px;
    }
}

@media (min-width: 370px) and (max-width: 380px) {
    .MediaQueryMobileno {
        margin-left: 8px;
    }
}

@media (min-width: 380px) and (max-width: 390px) {
    .MediaQueryMobileno {
        margin-left: 18px;
    }
}

@media (min-width: 390px) and (max-width: 400px) {
    .MediaQueryMobileno {
        margin-left: 25px;
    }
}

@media (min-width: 400px) and (max-width: 410px) {
    .MediaQueryMobileno {
        margin-left: 36px;
    }
}

@media (min-width: 410px) and (max-width: 420px) {
    .MediaQueryMobileno {
        margin-left: 46px;
    }
}

@media (min-width: 420px) and (max-width: 429px) {
    .MediaQueryMobileno {
        margin-left: 57px;
    }
}

// @media (max-width: 430px) {
//     .MediaQueryMobileno {
//         margin-left: 56px;
//     }
// }
