<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].ParameterCode"
      formControlName='ParameterCode' (Onselectdata)="ParameterRetrivalValue($event)"
      [defaultvalue]="form.get('ParameterCode').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].ParameterName"
      formControlName='ParameterName' (Onselectdata)="ParameterRetrivalValue($event)"
      [defaultvalue]="form.get('ParameterName').value"></app-entitylookup>

  <table><tr style="display: flex; flex-direction: row;">
    <app-gb-combobox class ="KeyField" formControlName="ParameterDataType"></app-gb-combobox>
    
    <span class="KeyField" class="FormSubHeading" style=" margin-top: -10px;"> Field Validations (Data Type Specific)</span>
</tr></table>

    <app-gb-input class= "KeyField" formControlName='ParameterDataSize'></app-gb-input>
    
    <app-gb-input class= "KeyField" formControlName="ParameterMinValue"></app-gb-input>

    <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].ParameterUOMName"
      formControlName='ParameterUOMName' (Onselectdataids)="ParameterPatchValue($event)"
      [defaultvalue]="form.get('ParameterUOMName').value"></app-entitylookup><mat-icon style="margin-left: -24px; margin-top: -10px;" (click)="addnew(template)">add_box</mat-icon>
      <app-gb-input  class="KeyField" formControlName='ParameterFieldMin'></app-gb-input>


    <app-gb-combobox class="KeyField" formControlName="ParameterTypeOfInfo" (click)=LovTypeValues()></app-gb-combobox>
    <app-gb-input class="KeyField" formControlName='ParameterMaxValue'></app-gb-input>

    <app-gb-combobox class="KeyField" formControlName="ParameterConsolidationType"></app-gb-combobox>
    <app-gb-input class="KeyField" formControlName='ParameterFieldMax'></app-gb-input>
    <div style="display: flex;">
      <span style="display: inline-block;width: 580px;">
        <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].LovTypeName"
          formControlName='LovTypeName' (Onselectdataids)="ParameterPatchValue($event)"
          [defaultvalue]="form.get('LovTypeName').value"
          *ngIf="form.get('ParameterTypeOfInfo').value === 2 ||form.get('ParameterTypeOfInfo').value === 3||form.get('ParameterTypeOfInfo').value === 4 "></app-entitylookup>
        <app-gb-textarea class="KeyField" formControlName="ParameterRemarks"></app-gb-textarea>
      </span>
      <span style="display: inline-block;">
        <app-gb-combobox class="KeyField"  formControlName="ParameterStatus"></app-gb-combobox><br>
      </span>
    </div>
    
    
      

      
    

  </form>
</div>


<ng-template #template>
  <h4>UOM Form</h4>
  <app-UOM (Onselectdata)="UOMRetrivalValue($event)"></app-UOM>
  <button style="color: green;" (click)="newsave()">Save</button>
</ng-template>