<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="ReportVsFormatJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="ReportVsFormatsPicklistPatchValue($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>
        
            <app-entitylookup class="KeyField" [PicklistObj]="ReportVsFormatJSON.default.ObjectFields[0].ReportName"
            formControlName='ReportName' (Onselectdata)="ReportVsFormatsPicklistFillValue($event)"
            [defaultvalue]="form.get('ReportName').value"></app-entitylookup>

           

        <app-gb-formgrid formControlName='Reportvsformatarray'
            [ArrayDetail]="form.get('ReportId').value" (LightBoxOutPut)="InstrumentLightBox($event)"></app-gb-formgrid>
            


            <div id="myModal" class="modal">
                <div class="modal-content">
                    
                    <h1>Applicable Menu(s)</h1>
                    <hr>
                    <app-gb-formgrid formControlName='Reportformatarray'
                    [ArrayDetail]="form.get('ReportId').value" ></app-gb-formgrid>

                        
                    <button class="ClearBtn" (click)="ClearValue()">Back</button>

                       
                </div>
            </div>
    </form>
</div>