@import'./../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 960px;
    height: 300px;
    border-radius: 10px;
  }
  .ClearBtn {
    color: white;
    font-size: 15px;
    border-radius: 7px;
    width: 80px;
    background-color: blueviolet;
    height: 30px;
    border-color: blueviolet;
    margin-bottom: 15px;
    margin-left: 20px;
  }