<div class="FormOverview" *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PayElementJSON.default.ObjectFields[0].PayelementCode"
        formControlName='PayelementCode' (Onselectdata)="PayElementValue($event)"
        [defaultvalue]="form.get('PayelementCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PayElementJSON.default.ObjectFields[0].PayelementName"
        formControlName='PayelementName' (Onselectdata)="PayElementValue($event)"
        [defaultvalue]="form.get('PayelementName').value"></app-entitylookup>

        <app-gb-radiobox formControlName='PayelementPeriodType'></app-gb-radiobox>

        <app-gb-radiobox formControlName='PayelementSalaryType'></app-gb-radiobox>

        <app-gb-radiobox formControlName='PayelementCostType'></app-gb-radiobox>

    </form>
    
</div>