
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="search-container">
    <input id="SearchInput" type="text" placeholder="Search" class="searchtext" [(ngModel)]="searchText" #searchInput>

    <div>
      <img *ngIf="!searchText" src="assets/icons/searchcontact.png" alt="Search Icon" class="searchicon"
        (click)="focusSearchInput(searchInput)">
      <img *ngIf="searchText" src="assets/icons/ph_x-bold.png" alt="Clear Icon" (click)="clearSearch($event)" class="searchicon">
    </div>
  </div>
  <hr class="HorziontalLineone" >
  <div class="Container" >
    <table >
      <tbody *ngFor="let data of addresslist" class="one" (click)="AddressDetail(data.IdAddress)">
        
        <tr style="padding-left: 30px;" >
            <td rowspan="2" style="width: 2px;"><span class="imgeround">{{ data.Name?.charAt(0).toUpperCase() }}</span></td>
            <td  class="Name" ><span class="Name">{{data.Name}}</span></td>
            <td class="name"><span class="namename">{{ data.Name |Truncate:15}}</span>&nbsp; <span class="phonephone">
              {{ data.Phone }}
            </span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
          <td class="line1">
            <span  class="onees" >
              {{ data.Line1 }}
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="phonemobs">
              {{ data.Phone }}
            </span><span class="mailmails">
              {{ data.Mail }}
            </span>
            <span  class="onee" >
              {{ data.Line1 | Truncate:23}}
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="phonemob">
              {{ data.Phone }}
            </span><span class="mailmail">
              {{ data.Mail |Truncate:20}}
            </span></td> 
          
          <td rowspan="2" style="padding-bottom: 9px;"><button class="btn" (click)="getDirections()" >
            <i class="fa fa-map-marker" aria-hidden="true" style="width:20px;height:20px;padding-left:6px;"></i>
            Get Directions</button></td>
        </tr> 
        <tr>
          <td></td> 
          <td class="line2">
            <span class="two">
              {{ data.Line2 }}
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="mailmob">
              {{ data.Mail }}
            </span><span class="objectobject">
              {{ data.ObjectName }} - {{ getAddressTypeLabel(data.TypeAddress) }}
            </span>
          </td> 
         
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="line3"><span class="three" >
            {{ data.Line3 }}
          </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="objectmob">
            {{ data.ObjectName }} - {{ getAddressTypeLabel(data.TypeAddress) }}
          </span>
          
          
            <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="line4">{{ data.Line4 }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="line5">{{ data.Line5 }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="horziontal"  colspan="4" style="border-top: 0.5px  #1A1A1A52 ;"><hr></td>
        </tr>
      </tbody>
    </table>
  </div>
   