@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    // margin-top: 20px;
    margin-left: 32px;
}

button {
    background-color: #6B9EC7;
    color: white;
    padding: 4px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn {
    //styleName: content/hel-12-reg;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: -52px;
    width: 120px;
  height: 28px;
}

.imgeround {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #6B9EC7;
    flex-shrink: 0;
    text-align: center;
    padding-left: 0px;
    font-size: 20px;
    color: white;
    display: inline-block;
    padding-top: 9px;

}


.horziontal {
    padding-top: 6px;
    padding-bottom: 12px;
}

.phone {
    font-family: Helvetica !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #6E3AB6;

}

// .lineline1{
//     display: none;
// }
.line1,
.line2,
.line3,
.line4,
.line5 {
    font-family: Helvetica !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 12px;
}

.mail,
.object {
    //styleName: content/hel-14-reg;
    font-family: Helvetica !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.search-container {
    display: flex;
    margin-bottom: 5px;
    margin-top: 15px;

}

.searchtext {
    outline: none;
    margin-left: 32px;
    width: 280px;
    color: rgba(26, 26, 26, 0.87);

    /* content/hel-14-reg */
    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

::placeholder {
    color: rgba(26, 26, 26, 0.87);

    font-family: Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}
.one{
    cursor: pointer;
}
.searchicon {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.onee {
    width: 250px;
    display: none;
}

.two {
    width: 250px;
    display: inline-block;
}

.three {
    width: 250px;
    display: inline-block;
}

.onees {
    width: 250px;
    display: inline-block;
}

.twos {
    width: 250px;
    display: none;
}
.mailmobs{
    display:none;
}
.objectobjects{
    display: none;
}
.threes {
    width: 250px;
    display: inline-block;
}

.phonemob {
    display: none;
}

.mailmails {
    display: none;
}

.HorziontalLineone {
    width: 300px;
    margin-left: 32px;
    margin-bottom: 8px;
}

.phonephone {
    display: none;
}

.mailmail {
    display: none;
}

.objectobject {
    display: none;
}

.name {

    font-family: Helvetica !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
    display: none;
}

.Name {
    display: block;
    font-family: Helvetica !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 6px;
}
.Container {
    max-height: var(--Tableheight);
    overflow-y: auto;
    margin-right: 40px;
    scrollbar-width: thin;
    scrollbar-color: #6E3AB6 #f4f4f4;
    overflow-x: hidden;
    margin-top: 20px;

}

/* Customize scrollbar styles for WebKit browsers */
.Container::-webkit-scrollbar {
    width: 4px;
    /* Set the width of the scrollbar */
}

.Container::-webkit-scrollbar-track {
    background: #f4f4f4;
    /* Set the background color of the scrollbar track */
}

.Container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* Set the border radius of the thumb */
    background-color: #6E3AB6;
    /* Set the background color of the thumb */
}

@media (min-width: 360px) and (max-width: 387px) {
    .onees {
        display: none;
    }

    .phonemobs {
        display: none;
    }

    .Name {
        display: none;
    }
    .name {
        
        font-family: Helvetica !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
        display: block;
    }
    .onee {
        width: 175px;
        display: inline-block;
        margin-left: -25px;
    }
    .two {
        width: 160px;
        display: inline-block;
    }
    .three {
        width: 174px;
        display: inline-block;
    }
    .phonemob {
        width: 175px;
        display: inline-block;
    }
    .mailmob {
        width: 175px;
        display: inline-block;
    }
    .objectmob {
        width: 175px;
        display: none;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
    button {
        display: none;
    }
    .HorziontalLineone {
        width: 300px;
        margin-left: 15px;
        margin-bottom: 8px;
    }
    .search-container {
        display: flex;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .searchtext {
        outline: none;
        margin-left: 15px;
        width: 280px;
        color: rgba(26, 26, 26, 0.87);
        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }
    ::placeholder {
        color: rgba(26, 26, 26, 0.87);

        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }
    .searchicon {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
    }
    .imgeround {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #6B9EC7;
        flex-shrink: 0;
        text-align: center;
        padding-left: 0px;
        font-size: 20px;
        color: white;
        display: inline-block;
        margin-top: -3px;
        position: relative;
    }
    .line1,
    .line3,
    .line4,
    .line5 {
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }
    .line2 {
        // display: flex;
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }
    .line3 {
        display: ruby;
    }
    .phonemob {
        display: none;
    }
    .phonephone {
        display: inline-block;
        width: 140px;
        text-align: right;
        margin-left: -15px;
    }
    .mailmail {
        display: inline-block;
        width: 140px;
        text-align: right;
        margin-left: -33px;
    }
    .mailmob {
        display: none;
    }

    .objectobject {
        display: inline-block;
        text-align: right;
        width: 140px;
        margin-left: -17px;
    }
    .namename {
        width: 175px;
        display: inline-block;
    }
}

@media (min-width: 388px) and (max-width: 404px) {
    .onees {
        display: none;
    }

    .phonemobs {
        display: none;
    }

    .Name {
        display: none;
    }
    .name {
        
        font-family: Helvetica !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
        display: block;
    }
    .onee {
        width: 166px;
        display: inline-block;
        margin-left: -25px;
    }
    .two {
        width: 160px;
        display: inline-block;
    }
    .three {
        width: 174px;
        display: inline-block;
    }
    .phonemob {
        width: 175px;
        display: inline-block;
    }
    .mailmob {
        width: 175px;
        display: inline-block;
    }
    .objectmob {
        width: 175px;
        display: none;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
    button {
        display: none;
    }
    .HorziontalLineone {
        width: 300px;
        margin-left: 15px;
        margin-bottom: 8px;
    }
    .search-container {
        display: flex;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .searchtext {
        outline: none;
        margin-left: 15px;
        width: 280px;
        color: rgba(26, 26, 26, 0.87);
        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }
    ::placeholder {
        color: rgba(26, 26, 26, 0.87);

        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }
    .searchicon {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
    }
    .imgeround {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #6B9EC7;
        flex-shrink: 0;
        text-align: center;
        padding-left: 0px;
        font-size: 20px;
        color: white;
        display: inline-block;
        margin-top: -3px;
        position: relative;
    }
    .line1,
    .line3,
    .line4,
    .line5 {
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }
    .line2 {
        // display: flex;
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }
    .line3 {
        display: ruby;
    }
    .phonemob {
        display: none;
    }
    .phonephone {
        display: inline-block;
        width: 140px;
        text-align: right;
        margin-left: -15px;
    }
    .mailmail {
        display: inline-block;
        width: 140px;
        text-align: right;
        margin-left: -20px;
    }
    .mailmob {
        display: none;
    }

    .objectobject {
        display: inline-block;
        text-align: right;
        width: 140px;
        margin-left: -15px;
    }
    .namename {
        width: 175px;
        display: inline-block;
    }
}

@media (min-width:405px) and (max-width: 450px) {
    .onees {
        display: none;
    }

    .phonemobs {
        display: none;
    }

    .Name {
        display: none;
    }

    .name {
        //styleName: h6/hel-16-bol;
        font-family: Helvetica !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
        display: block;
    }

    .onee {
        width: 166px;
        display: inline-block;
        margin-left: -28px;
    }

    .two {
        width: 155px;
        display: inline-block;
    }

    .three {
        width: 174px;
        display: inline-block;
    }

    .phonemob {
        width: 175px;
        display: inline-block;
    }

    .mailmob {
        width: 175px;
        display: inline-block;
    }

    .objectmob {
        width: 175px;
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }

    button {
        display: none;
    }

    .HorziontalLineone {
        width: 300px;
        margin-left: 15px;
        margin-bottom: 8px;
    }

    .search-container {
        display: flex;
        margin-bottom: 5px;
        margin-top: 15px;

    }

    .searchtext {
        outline: none;
        margin-left: 15px;
        width: 280px;
        color: rgba(26, 26, 26, 0.87);

        /* content/hel-14-reg */
        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }

    ::placeholder {
        color: rgba(26, 26, 26, 0.87);

        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }

    .searchicon {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
    }

    .imgeround {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #6B9EC7;
        flex-shrink: 0;
        text-align: center;
        padding-left: 0px;
        font-size: 20px;
        color: white;
        display: inline-block;
        margin-top: -3px;
        position: relative;
    }



    .line1,
    .line3,
    .line4,
    .line5 {
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }

    .line2 {
        // display: flex;
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }

    .line3 {
        display: ruby;
    }

    .phonemob {
        display: none;
    }

    .phonephone {
        display: inline-block;
        width: 160px;
        text-align: right;
        // margin-left: 16px;
        padding-right: 13px;
    }

    .mailmail {
        display: inline-block;
        width: 160px;
        text-align: right;
        padding-right: 20px;
    }

    .mailmob {
        display: none;
    }

    .objectobject {
        display: inline-block;
        text-align: right;
        width: 160px;
        padding-right: 8px;
    }

    .namename {
        width: 175px;
        display: inline-block;
    }
}

@media (min-width: 451px) and (max-width: 456px) {
    .onees {
        display: none;
    }

    .phonemobs {
        display: none;
    }

    .Name {
        display: none;
    }

    .name {
        //styleName: h6/hel-16-bol;
        font-family: Helvetica !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
        display: block;
    }

    .onee {
        width: 166px;
        display: inline-block;
        margin-left: -28px;
    }

    .two {
        width: 155px;
        display: inline-block;
    }

    .three {
        width: 174px;
        display: inline-block;
    }

    .phonemob {
        width: 175px;
        display: inline-block;
    }

    .mailmob {
        width: 175px;
        display: inline-block;
    }

    .objectmob {
        width: 175px;
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }

    button {
        display: none;
    }

    .HorziontalLineone {
        width: 300px;
        margin-left: 15px;
        margin-bottom: 8px;
    }

    .search-container {
        display: flex;
        margin-bottom: 5px;
        margin-top: 15px;

    }

    .searchtext {
        outline: none;
        margin-left: 15px;
        width: 280px;
        color: rgba(26, 26, 26, 0.87);

        /* content/hel-14-reg */
        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }

    ::placeholder {
        color: rgba(26, 26, 26, 0.87);

        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }

    .searchicon {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
    }

    .imgeround {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #6B9EC7;
        flex-shrink: 0;
        text-align: center;
        padding-left: 0px;
        font-size: 20px;
        color: white;
        display: inline-block;
        margin-top: -3px;
        position: relative;
    }



    .line1,
    .line3,
    .line4,
    .line5 {
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }

    .line2 {
        // display: flex;
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }

    .line3 {
        display: ruby;
    }

    .phonemob {
        display: none;
    }

    .phonephone {
        display: inline-block;
        width: 160px;
        text-align: right;
        // margin-left: 16px;
        padding-right: 13px;
    }

    .mailmail {
        display: inline-block;
        width: 160px;
        text-align: right;
        padding-right: 20px;
    }

    .mailmob {
        display: none;
    }

    .objectobject {
        display: inline-block;
        text-align: right;
        width: 160px;
        padding-right: 8px;
    }

    .namename {
        width: 175px;
        display: inline-block;
    }
}

@media (min-width: 457px) and (max-width: 480px) {
    .onees {
        display: none;
    }

    .phonemobs {
        display: none;
    }

    .Name {
        display: none;
    }

    .name {
        //styleName: h6/hel-16-bol;
        font-family: Helvetica !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
        display: block;
    }

    .onee {
        width: 176px;
        display: inline-block;
        margin-left: -26px;
    }

    .two {
        width: 175px;
        display: inline-block;
    }

    .three {
        width: 174px;
        display: inline-block;
    }

    .phonemob {
        width: 175px;
        display: inline-block;
    }

    .mailmob {
        width: 175px;
        display: inline-block;
    }

    .objectmob {
        width: 175px;
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }

    button {
        display: none;
    }

    .HorziontalLineone {
        width: 300px;
        margin-left: 15px;
        margin-bottom: 8px;
    }

    .search-container {
        display: flex;
        margin-bottom: 5px;
        margin-top: 15px;

    }

    .searchtext {
        outline: none;
        margin-left: 15px;
        width: 280px;
        color: rgba(26, 26, 26, 0.87);

        /* content/hel-14-reg */
        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }

    ::placeholder {
        color: rgba(26, 26, 26, 0.87);

        font-family: Helvetica !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }

    .searchicon {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
    }

    .imgeround {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #6B9EC7;
        flex-shrink: 0;
        text-align: center;
        padding-left: 0px;
        font-size: 20px;
        color: white;
        display: inline-block;
        margin-top: -3px;
        position: relative;
    }



    .line1,
    .line3,
    .line4,
    .line5 {
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }

    .line2 {
        // display: flex;
        font-family: Helvetica !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 12px;
    }

    .line3 {
        display: ruby;
    }

    .phonemob {
        display: none;
    }

    .phonephone {
        display: inline-block;
        width: 160px;
        text-align: right;
        margin-left: 16px;
        padding-right: 10px;
        margin-left: -15px;
    }

    .mailmail {
        display: inline-block;
        width: 160px;
        text-align: right;
        padding-right: 10px;
        margin-left: -20px;
    }

    .mailmob {
        display: none;
    }

    .objectobject {
        display: inline-block;
        text-align: right;
        width: 160px;
        padding-right: 10px;
        margin-left: -15px;
    }

    .namename {
        width: 175px;
        display: inline-block;
    }

}