<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="SkillMasterJSON.default.ObjectFields[0].SkillCode"
        formControlName='SkillCode' (Onselectdata)="SkillMasterValue($event)"
        [defaultvalue]="form.get('SkillCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SkillMasterJSON.default.ObjectFields[0].SkillName"
        formControlName='SkillName' (Onselectdata)="SkillMasterValue($event)"
        [defaultvalue]="form.get('SkillName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="SkillMasterJSON.default.ObjectFields[0].SkillTypeName"
        formControlName='SkillTypeName' (Onselectdataids)="SkillMasterNot($event)"
        [defaultvalue]="form.get('SkillTypeName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="SkillMasterJSON.default.ObjectFields[0].DomainName"
        formControlName='DomainName' (Onselectdataids)="SkillMasterNot($event)"
        [defaultvalue]="form.get('DomainName').value"></app-entitylookup>

        <app-gb-textarea formControlName='SkillRemarks'></app-gb-textarea>
       


        </form>
        </div>