<div class='FormOverview' *ngIf="form.bFormReady && LeadCategoryJSON">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="LeadCategoryJSON.default.ObjectFields[0].LeadCategoryCode"
            (Onselectdata)="LeadCategoryFillData($event)" formControlName='LeadCategoryCode'
            [defaultvalue]="form.get('LeadCategoryCode').value">
        </app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="LeadCategoryJSON.default.ObjectFields[0].LeadCategoryName"
        (Onselectdata)="LeadCategoryFillData($event)" formControlName='LeadCategoryName'
        [defaultvalue]="form.get('LeadCategoryName').value">
        </app-entitylookup>
        
        <div>
            <app-entitylookup class="KeyField" [PicklistObj]="LeadCategoryJSON.default.ObjectFields[0].LeadCycleName"
                (Onselectdataids)="LeadCategoryPatchids($event)" formControlName='LeadCycleName'
                [defaultvalue]="form.get('LeadCycleName').value">
        </app-entitylookup>

        <app-gb-checkbox class="KeyField"  class="KeyField" formControlName='LeadCategoryIsProductRequired'></app-gb-checkbox>
        </div>
        
        <div>
            <app-gb-combobox  class="KeyField" formControlName="LeadCategoryApplicableType"></app-gb-combobox>
        </div>
        

       <div>
            <app-gb-textarea class="KeyField" formControlName='LeadCategoryRemarks'></app-gb-textarea>
       </div>
       
            <app-entitylookup *ngIf="form.get('LeadCategoryIsProductRequired').value == false"
        [PicklistObj]="LeadCategoryJSON.default.ObjectFields[0].LeadCategoryItemCategoryNames"
        (Onselectdataids)="LeadCategoryPatchids($event)" formControlName='LeadCategoryItemCategoryNames'
        [defaultvalue]="form.get('LeadCategoryItemCategoryNames').value">
        </app-entitylookup>
        
    </form>
</div>