<div class="dbtable">
    <p class="D" style="display: inline-block; margin-left: 10px; color: black; font-weight: bold;">Amount :{{TotalAmount | NumberFormat}}</p>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Number</th>
                <th class="th cap1-bold-12-white">Date</th>
                <th class="th cap1-bold-12-white">Party Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 80px;">Amount</th>
                <th class="th cap1-bold-12-white">Bank</th>
                <th class="th cap1-bold-12-white">Voucher.No</th>
                <th class="th cap1-bold-12-white">Voucher.Dt</th>
                <th class="th cap1-bold-12-white">Realised.Dt</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary">{{data.InstrumnetNumber }}</td>
                <td class="td cap2-med-12-type-primary">{{data.InstrumentDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary">{{data.PartyName | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 80px;">{{data.InstrumnetAmount | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary">{{data.BankName }}</td>
                <td class="td cap2-med-12-type-primary">{{data.VoucherNumber}}</td>
                <td class="td cap2-med-12-type-primary">{{data.VoucherDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary">{{data.RealisedDate | DateFormatter}}</td>
            </tr>
        </tbody>
    </table>
</div>