.advertisement{
    display: block;
   height:260px;
   margin-left:220px;
   margin-bottom: 30px;
  }
  .arrow-back{
   position:absolute;
  left:250px;
  bottom:100px;
  top:295px;
  padding-right:110px;
  font-size: 30px;
  color: #FFFFFF;
 }
 .arrow-forward{
   position:absolute;
  right:80px;
  bottom:100px;
  top:295px;
  padding-left:180px;
  font-size: 30px;
  color:#FFFFFF;
 }
  .flex-container{
   border: none;
   outline: none;
   color: white;
   padding: 10px;
   margin: 1px 1px;
   line-height:1;
   display: flex;
   text-align: center;
 }
 .flex-blue{
 background-color: #009eb5;
 color: white;
 margin-left: 210px;
 border-radius: 20px;
 height: 150px;
 width: 255px;
 font-size: 16px;
 font-family: Poppins;
 }
 .flex-pink{
 background-color: #D85678;
 color: white;
 margin-left: 20px;
 border-radius: 20px;
 height: 150px;
 width: 255px;
 font-size: 16px;
 font-family: Poppins;

 }
 .flex-orange{
 background-color: #ff8b3d;
 color: white;
 margin-left: 20px;
 border-radius: 20px;
 height: 150px;
 width: 255px;
 font-size: 16px;
 font-family: Poppins;
 }
 .flex-green{
   background-color: #8cc43c;
   color: white;
   margin-left: 20px;
   border-radius: 20px;
   height: 150px;
   width: 255px;  
   font-size: 16px;
   font-family: Poppins;
 }
 .flex-numbers{
   font-family:Poppins;
   font-size:28px;
   text-align:center;
   }
   .matcard {
     margin-left: 220px;
     border-radius: 10px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   }
  .icons
  {
  height:30px ;
  width: 30px !important;
  min-width: unset  !important;
  padding-left: 2px;
  line-height: 18px;
  float: right;
  
  }
  
 .table-heading{
   font-family: Poppins;
   font-size:18px;
   color:#41394C;
   margin-left:10px;
   }
   @media (min-width: 1600px){
    div.advertisement{
     display:inline-block
   }
  }
  @media (max-width: 1300px){
    div.advertisement{
     margin-top:150px
   }
  }
  @media (min-width: 641px){
    div.flex-green{
      display: inline-block;
   }
  }
  @media (max-width: 650px){
    div.flex-green{
  margin:10px
   }
  }
  
   @media (min-width: 641px){
    div.flex-orange{
      display:inline-block;
   }
  }
  @media (max-width: 650px){
    div.flex-orange{
      margin:10px;
      margin-top:10px;
  }
   
  }
  @media (min-width: 641px){
    div.flex-pink{
    display:inline-block;
   }}
   @media (max-width: 650px){
    div.flex-pink{
  margin: 10px; }
  }
  @media (min-width: 641px){
    div.flex-blue{
      display:inline-block
  }
  }
  @media (max-width: 1000px){
    div.flex-blue{
      margin: 0;
  
   }
  }
  
  .open{
    float: right;
  }
    @media (min-width: 641px){
     button.responsive-icons{
      display:none
     }
     div.open{
      display:inline-block;
    }
    }
    @media(max-width: 650px){
      div.open{
        display:none;
      
      }
      button.responsive-icons{
        display:block;
        float: right;
          }
    }
 
  @media (min-width: 641px){
    mat-card.matcard{
      display:inline block
    }
    
  }
  @media(max-width: 1300px){
  
    mat-card.matcard{
      margin-left: 0px;
    
    }
  
  }
  