<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="main">
    <br>
  
    <div class="advertisement">
      <p>
        <mat-icon class="arrow-back"><b>arrow_back</b></mat-icon>
        <img src="assets/images/Advertisement.png" width="1075px">
        <mat-icon class="arrow-forward"><b>arrow_forward</b></mat-icon>
      </p>
  
    </div>
    <br>
    <br>
    <div class="flex-container">
      <div class="flex-blue">
        <p>Pending orders</p>
        <p class="flex-numbers"><b>13,58,653</b></p>
        <p>No of orders 5</p>
      </div>
      <div class="flex-pink">
        <p>Sales YTD</p>
        <p class="flex-numbers"><b>36,12,692</b></p>
      </div>
      <div class="flex-orange">
        <p>Sales MTD</p>
        <p class="flex-numbers"><b>58,651</b></p>
      </div>
      <div class="flex-green">
        <p>Outstanding</p>
        <p class="flex-numbers"><b>1,58,672</b></p>
        <p>No of bills 3</p>
      </div>
    </div>
    <br>
    <mat-card class="matcard">
      <mat-card-actions>
        <div class="table-heading">
          <p> <b>Outstanding</b>
            <button class="icons" mat-stroked-button>
              <mat-icon>filter_alt</mat-icon>
            </button>
            <button class="icons" mat-stroked-button>
              <mat-icon>refresh</mat-icon>
            </button>
            <button class="icons" mat-stroked-button>
              <mat-icon>save_alt</mat-icon>
            </button>
          </p>
        </div>
        <button mat-icon-button class="responsive-icons" [matMenuTriggerFor]="icon"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
          <div class="hidden">
            <mat-menu #icon="matMenu">
              <button mat-menu-item>
                <mat-icon>filter_alt</mat-icon>
                <span>Link1</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Notification</span>
              </button>
              <button mat-menu-item>
                <mat-icon>save_alt</mat-icon>
                <span>Notification</span>
              </button>
            </mat-menu>
          </div>
        </button>
        <br>
        
        <ag-grid-angular style="width: 100%; height: 410px;" 
        class="ag-theme-alpine"
         [rowData]="rowData"
          [columnDefs]="columnDefs">
        </ag-grid-angular>
  
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="matcard">
      <mat-card-actions>
        <div class="table-heading">
          <p><b>Order Status</b>
            <button class="icons" mat-stroked-button>
              <mat-icon>filter_alt</mat-icon>
            </button>
            <button class="icons" mat-stroked-button>
              <mat-icon>refresh</mat-icon>
            </button>
            <button class="icons" mat-stroked-button>
              <mat-icon>save_alt</mat-icon>
            </button>
          </p>
        </div>
        <button mat-icon-button class="responsive-icons" [matMenuTriggerFor]="icon"
        aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
        <div class="hidden">
          <mat-menu #icon="matMenu">
            <button mat-menu-item>
              <mat-icon>filter_alt</mat-icon>
              <span>Link1</span>
            </button>
            <button mat-menu-item>
              <mat-icon>refresh</mat-icon>
              <span>Notification</span>
            </button>
            <button mat-menu-item>
              <mat-icon>save_alt</mat-icon>
              <span>Notification</span>
            </button>
          </mat-menu>
        </div>
      </button>
  
      <ag-grid-angular style="width: 100%; height: 410px;" 
      class="ag-theme-alpine"
       [rowData]="rowData2"
        [columnDefs]="columnDefs2">
      </ag-grid-angular>

      </mat-card-actions>
    </mat-card>
     <br>
    <br>
  <br>
  
  
  