<div class="FormOverview" *ngIf="form.bFormReady">
        <form [formGroup]='form'>
                <app-entitylookup class="KeyField" [PicklistObj]="DyeJSON.default.ObjectFields[0].DiecutNumber"
                        formControlName='DiecutNumber' (Onselectdata)="DyeRetrivalValue($event)"
                        [defaultvalue]="form.get('DiecutNumber').value"></app-entitylookup>

                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="DyeJSON.default.ObjectFields[0].ShapeName"
                formControlName='ShapeName' (Onselectdataids)="DyePatchValue($event)"
                [defaultvalue]="form.get('ShapeName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="DyeJSON.default.ObjectFields[0].MakerName"
                formControlName='MakerName' (Onselectdataids)="DyePatchValue($event)"
                [defaultvalue]="form.get('MakerName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='DiecutFinishedSize'></app-gb-input>
                <span style="position: relative;top: -15px; padding: 0px; margin-left: -25px;">MM</span>

                <app-gb-input class="KeyField" style="margin-right: 20px;" formControlName='DiecutSizeForRate'></app-gb-input>
                
                <br>
                <app-gb-input class="KeyField" formControlName='DiecutUPS'></app-gb-input>

                <app-gb-input class="KeyField" formControlName='DiecutRatePerSquare'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='DiecutDiecutSize'></app-gb-input>

                <app-gb-input class="KeyField" formControlName='DiecutRate'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='DiecutPaperSize'></app-gb-input>
                <span style="position: relative;top: -15px; padding: 0px; margin-left: -25px;">MM</span>

                <br>
                <app-gb-input formControlName='DiecutWaste'></app-gb-input>








        </form>
</div>