<button class="OrientationBtn" (click)="changeOrientation()">
  <mat-icon style="display: flex" *ngIf="OrientationBtn">rotate_right</mat-icon>
  <mat-icon style="display: flex" *ngIf="!OrientationBtn">rotate_left</mat-icon>
</button>
<div id="tree"></div>
