::ng-deep [data-ctrl-ec-id] circle {
  fill: #6e3ab6 !important;
}

::ng-deep [data-l-id] path {
  stroke: #6e3ab6;
}

::ng-deep .olivia-f0 {
  fill: #282828 !important;
}
::ng-deep .olivia-f1 {
  fill: #282828 !important;
}
::ng-deep .olivia-f2 {
  fill: #4a4a4a !important;
}

.OrientationBtn {
  background: #f9f9f9;
  color: #8c8c8c !important;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #cacaca;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
