<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 80px;">Type</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 80px;">Life in Years</th>
          <th class="th cap1-bold-12-white"style="text-align: right; padding-right: 80px;" >Meter</th>
          <th class="th cap1-bold-12-white"style="text-align: right; padding-right: 80px;" >Generator</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowDatas"> 
          <td class="td cap2-med-12-type-primary" >{{data.AssetTypeCode}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.AssetTypeName}}</td>
          <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 80px;">{{data.AssetTypeTrackingType}}</td>
          <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 80px;">{{data.AssetTypeLife}}</td>
          <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 80px;">{{data.AssetTypeIsMeter}}</td>
          <td class="td cap2-med-12-type-primary"style="text-align: right; padding-right: 80px;" >{{data.AssetTypeIsGenerator}}</td>

        </tr>
      </tbody>
    </table>
    </div>