<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup [PicklistObj]="FindPicklist('CostCategoryCode')" class="KeyField"
      formControlName='CostCategoryCode' (Onselectdata)="Getselectedid($event)"
      [defaultvalue]="form.get('CostCategoryCode').value"></app-entitylookup>


    <app-entitylookup [PicklistObj]="FindPicklist('CostCategoryName')" class="KeyField"
      formControlName='CostCategoryName' (Onselectdata)="Getselectedid($event)"
      [defaultvalue]="form.get('CostCategoryName').value"></app-entitylookup>

    <app-gb-input formControlName='CostCategoryShortName'></app-gb-input>

    <app-entitylookup [PicklistObj]="FindPicklist('CostCategoryCostCenterTypeName')"
      formControlName='CostCategoryCostCenterTypeName' (Onselectdataids)="Getselectedids($event)"
      [defaultvalue]="form.get('CostCategoryCostCenterTypeName').value"></app-entitylookup>


    <app-gb-formgrid formControlName='CostCategoryConditionArray'
      [ArrayDetail]="form.get('CostCategoryCode').value"></app-gb-formgrid>

  </form>
</div>