<div (keydown.arrowdown)="onArrowDown()" (keydown.arrowup)="onArrowUp()" class="sticky-header"
    [style.width.vw]="Field?.Width!=undefined ? Field?.Width : '95'"
    [style.max-height.px]="Field?.Height!=undefined ? Field?.Height : '350'">
    <div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th *ngFor="let item of Field?.Grid;let i = index" [style.position]="'sticky'"
                        [style.display]="item?.Expansion!=undefined ? 'inline-flex':'table-cell'"
                        [style.left.px]="item.sticky ? item.left : null" [style.z-index]="item.sticky ? 10 : 1"
                        [style.background]="item.sticky ? '#A237CD ' : 'unset'"
                        [style.width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? (item.value=='MATERIALCHARGESCOST' && item?.Expansion==false ? item.width + CostingChargeWidth + 20 : (item.value=='ErectionCost' && item?.Expansion==false ? item.width + CostingErectionWidth + 20 : item.width)) :'0'"
                        [style.min-width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? (item.value=='MATERIALCHARGESCOST' && item?.Expansion==false ? item.width + CostingChargeWidth + 20 : (item.value=='ErectionCost' && item?.Expansion==false ? item.width + CostingErectionWidth + 20 : item.width)) :'0'"
                        [style.max-width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? (item.value=='MATERIALCHARGESCOST' && item?.Expansion==false ? item.width + CostingChargeWidth + 20 : (item.value=='ErectionCost' && item?.Expansion==false ? item.width + CostingErectionWidth + 20 : item.width)) :'0'"
                        [style.padding]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? '0px 15px' : '0px'"
                        [style.visibility]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? 'visible' : 'hidden'"
                        style="color: #FFFFFF;">
                        <span *ngIf="item?.value=='MATERIALCHARGESCOST' && item?.Expansion==false">
                            <span style="display: inline-block;cursor: pointer;padding: 0 10px;text-align: right;" [style.width.px]="charge?.width" (click)="ChargePercentChange(charge)"
                                *ngFor="let charge of CostingChargeJSON">{{charge.Label}}</span>
                        </span>
                        <span *ngIf="item?.value=='MATERIALPROCESSCOST'">

                        </span>
                        <span *ngIf="item?.value=='MATERIALEXPENSECOST'">

                        </span>
                        <span *ngIf="item?.value=='ErectionCost' && item?.Expansion==false">
                            <span style="display: inline-block;padding: 0 10px;text-align: right;" [style.width.px]="erect?.width"
                                *ngFor="let erect of CostingErectionJSON">{{erect.Label}}</span>
                        </span>
                        <span style="display: block;" [style.text-align]="item.Type.toLowerCase() == 'number' || item.Type.toLowerCase() == 'readonly' ? 'right' : 'left'">{{item.Label}}</span>
                        <!-- <mat-select id="Level" *ngIf="item?.value=='Level'" [(ngModel)]="LevelDefault"
                        (selectionChange)="LevelFilter($event.value)" style="padding: 0px;color: #FFFFFF;"
                        [ngStyle]="{'width.px': item?.width-30}" class="form_label">
                        <mat-option *ngFor="let val of LevelArray" class="dropdown_list_data" [value]="val">
                            Level {{val}}
                        </mat-option>
                    </mat-select> -->
                        <!-- <span style="display: inline-flex;cursor: pointer;margin-left: 4px;"
                        *ngIf="item?.value=='Level'">
                        <mat-icon
                            style="background: #FFFFFF; color: #B32384;font-size: 21px;height: 21px;width: 21px;border-radius: 6px;">filter_list</mat-icon>
                    </span> -->
                        <span (click)="ToggleExpansion(i)"
                            style="display: inline-flex;cursor: pointer;margin-left: 4px;"
                            *ngIf="item?.Expansion==true">
                            <mat-icon
                                style="background: #FFFFFF; color: #B32384;font-size: 21px;height: 21px;width: 21px;border-radius: 6px;">view_column</mat-icon>
                        </span>
                        <span (click)="ToggleExpansion(i)"
                            style="display: inline-flex;cursor: pointer;margin-left: 4px;"
                            *ngIf="item?.Expansion==false"><mat-icon
                                style="background: #FFFFFF; color: #B32384;font-size: 21px;height: 21px;width: 21px;border-radius: 6px;">close</mat-icon></span>

                    </th>
                    <th *ngIf="DeleteRowNeeded" [style.position]="'sticky'" style="color: #FFFFFF;"></th>
                </tr>
            </thead>
            <tbody [formGroup]="orderForm" *ngFor="let data of items.controls; let i = index;">
                <tr formArrayName="items" style="height: 36px;" [style.display]=" LevelHide.includes(i) ? 'none': 'table-row'"
                    [style.border]="selectedRowIndex==i ? '1px solid #CD309E': 'unset'"
                    [style.border-top]="selectedRowIndex==i ? '1px solid #CD309E': '1px solid #dddddd'" #tableRow
                    (click)="onRowClick(i)" [attr.tabindex]="i === selectedRowIndex ? 0 : -1"
                    [style.background-color]="getRowColor(i)">
                        <td *ngFor="let item of Field?.Grid; let k = index;" [style.position]="'sticky'"
                            [style.left.px]="item.sticky ? item.left : null" [style.z-index]="item.sticky ? 8 : 'unset'"
                            [style.background-color]="item.sticky ? 'white' : 'unset'"
                            [style.width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? (item.value=='MATERIALCHARGESCOST' && item?.Expansion==false ? item.width + CostingChargeWidth + 20 : (item.value=='ErectionCost' && item?.Expansion==false ? item.width + CostingErectionWidth + 20 : item.width)) : '0'"
                            [style.max-width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? (item.value=='MATERIALCHARGESCOST' && item?.Expansion==false ? item.width + CostingChargeWidth + 20 : (item.value=='ErectionCost' && item?.Expansion==false ? item.width + CostingErectionWidth + 20 : item.width)) : '0'"
                            [style.padding]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? '0px 15px' : '0px'"
                            [style.visibility]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? 'visible' : 'hidden'"
                            [formGroupName]="i" [style.background-color]="getRowColor(i)">
                            <span formArrayName="COSTINGCHARGESArray"
                                *ngIf="item?.value=='MATERIALCHARGESCOST' && item?.Expansion==false">
                                <span style="display: inline-block"
                                    *ngFor="let charge of data.get('COSTINGCHARGESArray').controls;let j = index">
                                    <span [formGroupName]="j">
                                        <input (input)="FormArrayPatch(i,j,'ChargeDetailDefaultInputValue',$event)"
                                            [style.background-color]="getRowColor(i)" (focusout)="ChargeChange(i,j)"
                                            style="display: inline-block;outline-style: none;padding: 0 10px;text-align: right;"
                                            [style.width.px]="CostingChargeJSON[j + this.ChargeCostSLNO ].width"
                                            formControlName="ChargeDetailDefaultInputValue">
                                        <input readonly [style.background-color]="getRowColor(i)"
                                            style="display: inline-block;outline-style: none;padding: 0 10px;text-align: right;"
                                            [style.width.px]="CostingChargeJSON[j + this.ChargeCostSLNO +1].width"
                                            formControlName="ChargeDetailCalculatedValue">{{UpdateJ()}}
                                    </span>
                                </span>
                                {{ResetJ()}}
                            </span>
                            <span formArrayName="COSTINGERECTIONArray"
                                *ngIf="item?.value=='ErectionCost' && item?.Expansion==false">
                                <span style="display: inline-block"
                                    *ngFor="let charge of data.get('COSTINGERECTIONArray').controls;let j = index">
                                    <span [formGroupName]="j">
                                        <input (input)="FormErrectionArrayPatch(i,j,'ChargeDetailDefaultInputValue',$event)"
                                            [style.background-color]="getRowColor(i)" (focusout)="ErectionChange(i,j)"
                                            style="display: inline-block;outline-style: none;padding: 0 10px;text-align: right;"
                                            [style.width.px]="CostingChargeJSON[j + this.ChargeCostSLNO ].width"
                                            formControlName="ChargeDetailDefaultInputValue">
                                        <input readonly [style.background-color]="getRowColor(i)"
                                            style="display: inline-block;outline-style: none;padding: 0 10px;text-align: right;"
                                            [style.width.px]="CostingChargeJSON[j + this.ChargeCostSLNO +1].width"
                                            formControlName="ChargeDetailCalculatedValue">{{UpdateJ()}}
                                    </span>
                                </span>
                                {{ResetJ()}}
                            </span>
                            <input *ngIf="item.Type.toLowerCase() == 'defaultsno'"
                                style="outline-style: none;height: 30px;" [ngStyle]="{'width.px': item?.width-30}"
                                readonly [value]="i+1" [style.background-color]="getRowColor(i)">

                            <input *ngIf="item.Type.toLowerCase() == 'fieldbasedreadonly'"
                                [formControlName]="item.value" style="outline-style: none;height: 30px;"
                                [ngStyle]="{'width.px': item?.width-30}"
                                [readonly]="item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField])"
                                [style.background-color]="getRowColor(i)">

                            <span (click)="LevelIndent(i,'Back')" style="cursor: pointer;position: absolute;padding-top: 7.5px;" *ngIf="item.value == 'SLNO' && i == items.value.length-1 && getZerothIndexValue(i).Level != 1"><mat-icon style="font-size: 13px;width: 15px;height: 15px;color: rgba(110, 58, 182, 1);">arrow_back</mat-icon></span>

                            <input *ngIf="item.Type.toLowerCase() == 'readonly' || item.Type.toLowerCase() == 'sno'" 
                                style="outline-style: none;height: 30px;cursor: pointer;" [ngStyle]="{'width.px': item.Type.toLowerCase() == 'sno' ? item?.width-60 : item?.width-30}"
                                readonly (click)="LightBoxOpen(i,item.value,$event,item.Type)" [style.text-align]="item.value=='SLNO' && getZerothIndexValue(i).Level == 2 ? 'right' : item.Type.toLowerCase() == 'readonly' ? 'right' : 'left'"
                                [value]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? '' : getZerothIndexValue(i)[item.value]"
                                [style.background-color]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'grey' : getRowColor(i)">
                                
                            <span (click)="LevelIndent(i,'Front')" style="cursor: pointer;position: absolute;padding-top: 7.5px;" *ngIf="item.value == 'SLNO' && i == items.value.length-1 && getZerothIndexValue(i).Level == 1"><mat-icon style="font-size: 15px;width: 15px;height: 15px;color: rgba(110, 58, 182, 1);">arrow_forward</mat-icon></span>    
                            
                            <app-entitylookup *ngIf="item.Type.toLowerCase() == 'picklistdataretrival'"
                                [PicklistObj]="item.PicklistDetail" [GridIndex]="i"
                                (Onselectdata)="PicklistLoadCurrentRow($event,i,item.PicklistRetrivalURL,item.PicklistRetrivalIdField)"
                                [defaultvalue]="getZerothIndexValue(i)[item.value]">
                            </app-entitylookup>

                            <app-entitylookup *ngIf="item.Type.toLowerCase() == 'picklist'" style="display: block;"
                                [style.padding-left.px]="item.value=='ItemName' ? 25 * (getZerothIndexValue(i).Level - 1) : 0"
                                [PicklistObj]="item.PicklistDetail" [GridIndex]="i"
                                (Onselectdataids)="PicklistPatchValue($event,i,item.PicklistDetail)"
                                [defaultvalue]="getZerothIndexValue(i)[item.value]">
                            </app-entitylookup>

                            <app-entitylookup *ngIf="item.Type.toLowerCase() == 'fieldbasedpicklist'"
                                [PicklistObj]="item.PicklistDetail[getZerothIndexValue(i)[item.DependendField]]"
                                [GridIndex]="i"
                                (Onselectdataids)="PicklistPatchValue($event,i,item.PicklistDetail[getZerothIndexValue(i)[item.DependendField]])"
                                [defaultvalue]="getZerothIndexValue(i)[item.value[getZerothIndexValue(i)[item.DependendField]]]">
                            </app-entitylookup>

                            <span *ngIf="item.Type.toLowerCase() == 'fieldbasedtype'">
                                <app-entitylookup *ngIf="item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField])" style="display: block;"
                                    [style.padding-left.px]="item.value=='ItemName' ? 25 * (getZerothIndexValue(i).Level - 1) : 0"
                                    [PicklistObj]="item.PicklistDetail" [GridIndex]="i" [Level]="getZerothIndexValue(i).Level"
                                    (Onselectdataids)="PicklistPatchValue($event,i,item.PicklistDetail)"
                                    [defaultvalue]="getZerothIndexValue(i)[item.value]">
                                </app-entitylookup>
                                <input *ngIf="!item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField])"
                                    [placeholder]="item?.Placeholder!=undefined ? item?.Placeholder : ''"
                                    [style.padding-left.px]="item.value=='ItemName' ? 25 * (getZerothIndexValue(i).Level - 1) : 0"
                                    [maxlength]="item.MaxLength" [ngStyle]="{'width.px': item?.width-30}" (focusout)="InputChange(item.value,$event)"
                                    (input)="ValueSave(i,item.value,$event,item.Type)" [formControlName]="item.value"
                                    style="outline-style: none;height: 30px;font-weight: 700;" [mask]="item.Mask"
                                    [readonly]="item.value == 'UOMNAME'"
                                    [style.cursor]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'default' : 'auto'"
                                    [style.opacity]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 1 : 1"
                                    [style.background-color]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'rgba(26, 26, 26,0.32)' : getRowColor(i)">
                            </span>

                            <span *ngIf="item.Type.toLowerCase() == 'togglebutton'"
                                style="display: inline-block;cursor: pointer;" [ngStyle]="{'width.px': item?.width-30}"
                                (click)="editField(i,item.value,getZerothIndexValue(i)[item.value]==0 ? 1 : 0,k)"
                                class="tooglebutton">{{ComboBoxValue(item.PickLists,getZerothIndexValue(i)[item.value]).value}}</span>

                            <span *ngIf="item.Type.toLowerCase() == 'lightbox'"
                                style="display: inline-block;cursor: pointer;" [ngStyle]="{'width.px': item?.width-30}"
                                (click)="LightBox(i,item.value)"
                                class="lightboxbutton">{{ComboBoxValue(item.PickLists,getZerothIndexValue(i)[item.value]).value}}</span>

                            <input *ngIf="item.Type.toLowerCase() == 'number' || item.Type.toLowerCase() == 'string'"
                                [placeholder]="item?.Placeholder!=undefined ? item?.Placeholder : ''"
                                [maxlength]="item.MaxLength" [ngStyle]="{'width.px': (item.value == 'PROJECTEDRATE' || item.value == 'MATERIALPROCESSCOST') ? item?.width-50 : (item?.IsVisible == true ? item?.width-30 : 0) }" (focusout)="InputChange(item.value,$event)"
                                (input)="ValueSave(i,item.value,$event,item.Type)" [formControlName]="item.value"
                                style="outline-style: none;height: 30px;" [mask]="item.Mask" [style.text-align]="item.Type.toLowerCase() == 'number' ? 'right' : 'left'"
                                [readonly]="(item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField])) || (item.value == 'PROJECTEDRATE' && getZerothIndexValue(i).PURCHASECOSTARRAY.length > 0) || (item.value == 'MATERIALPROCESSCOST' && getZerothIndexValue(i).COSTINGPROCESSArray.length > 0)"
                                [style.cursor]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'default' : 'auto'"
                                [style.opacity]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 1 : 1"
                                [style.background-color]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'rgba(26, 26, 26,0.32)' : getRowColor(i)">
                            
                            <span *ngIf="item.value == 'PROJECTEDRATE'" style="cursor: pointer;position: absolute;padding-top: 7px;" (click)="LightBoxOpen(i,item.value,$event,item.Type)"><mat-icon [style.color]="getZerothIndexValue(i).PURCHASECOSTARRAY.length > 0 ? 'rgba(110, 58, 182, 1)' : 'rgba(110, 58, 182, 0.5)'" style="font-size: 15px;width: 15px;height: 15px;">add_circle</mat-icon></span>

                            <span *ngIf="item.value == 'MATERIALPROCESSCOST'" style="cursor: pointer;position: absolute;padding-top: 7px;" (click)="LightBoxOpen(i,item.value,$event,item.Type)"><mat-icon [style.color]="getZerothIndexValue(i).COSTINGPROCESSArray.length > 0 ? 'rgba(110, 58, 182, 1)' : 'rgba(110, 58, 182, 0.5)'" style="font-size: 15px;width: 15px;height: 15px;">add_circle</mat-icon></span>

                            <textarea *ngIf="item.Type.toLowerCase() == 'textarea'"
                                [placeholder]="item?.Placeholder!=undefined ? item?.Placeholder : ''"
                                [maxlength]="item.MaxLength" [ngStyle]="{'width.px': item?.width-30}"
                                (input)="ValueSave(i,item.value,$event,item.Type)" [formControlName]="item.value"
                                style="outline-style: none;height: 60px;" [mask]="item.Mask"
                                [readonly]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField])"
                                [style.cursor]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'default' : 'auto'"
                                [style.opacity]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 1 : 1"
                                [style.background-color]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'rgba(26, 26, 26,0.32)' : getRowColor(i)"></textarea>

                            <Table *ngIf="item.Type.toLowerCase() == 'checkbox'" style="height: 36px;">
                                <tbody>
                                    <tr style="border-bottom: unset;">
                                        <td style="display: inline-flex;align-content: center;height: 36px;">
                                            <mat-checkbox [checked]="!getZerothIndexValue(i)[item.value]"
                                                [ngStyle]="{'width.px': item?.width-30}"
                                                style="display: inline-flex;justify-content: flex-start;padding-right: 16px;"
                                                [disabled]="!isreadable"
                                                (change)="editField(i,item.value,!$event.checked ? 1 : 0,k)"
                                                (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)"></mat-checkbox>
                                        </td>
                                    </tr>
                                </tbody>
                            </Table>

                            <Table *ngIf="item.Type.toLowerCase() == 'date'" style="height: 36px;">
                                <tbody>
                                    <tr style="border-bottom: unset;">
                                        <td class="form_value" style="display: flex;height: 36px;padding: 0px;"
                                            [ngStyle]="{'width.px': item?.width-30}">
                                            <input matInput [matDatepicker]="picker1" type="text"
                                                class="period form_value" [placeholder]="item.Placeholder"
                                                [ngStyle]="{'width.px': 1}" [class.focused]="isFocused"
                                                (focus)="isFocused = true"
                                                (dateInput)="onDateChange(i,item.value,$event.value)"
                                                (focusout)="isFocused = false" readonly>
                                            <span class="DatePicker" [ngStyle]="{'max-width.px': item?.width-31}"
                                                [ngStyle]="{'min-width.px': 80}">{{getDateValue(getZerothIndexValue(i)[item.value])}}</span>
                                            <mat-datepicker-toggle [style.display]="isreadable ? 'block' : 'none'"
                                                matSuffix id="datepicker2" class="dateperiod"
                                                [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker [style.display]="isreadable ? 'block' : 'none'"
                                                #picker1></mat-datepicker>
                                        </td>
                                    </tr>
                                </tbody>
                            </Table>

                            <mat-select *ngIf="item.Type.toLowerCase() == 'combobox'"
                                (selectionChange)="editField(i,item.value,$event.value,item,k)" style="padding: 0px;"
                                [ngStyle]="{'width.px': item?.width-30}" class="form_label"
                                [formControlName]="item.value">
                                <mat-option *ngFor="let val of item.PickLists" class="dropdown_list_data"
                                    [value]="val.key">
                                    {{ val.value }}
                                </mat-option>
                            </mat-select>
                            <span *ngIf="item.Type.toLowerCase() == 'fieldbasedcombobox'">
                                <input
                                    *ngIf="item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]].ReadOnly == true"
                                    [ngStyle]="{'width.px': item?.width-30}" style="outline-style: none;"
                                    [value]="ComboBoxValue(item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]].PickLists,getZerothIndexValue(i)[item.value[getZerothIndexValue(i)[item.DependendField]]]).value"
                                    [style.background-color]="getRowColor(i)" readonly>
                                <mat-select
                                    *ngIf="item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]].ReadOnly == false"
                                    (selectionChange)="editField(i,item.value,$event.value,k)"
                                    [ngStyle]="{'width.px': item?.width-30}" class="form_label"
                                    [formControlName]="item.value[getZerothIndexValue(i)[item.DependendField]]">
                                    <mat-option
                                        *ngFor="let val of item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]].PickLists"
                                        class="dropdown_list_data" [value]="val.key">
                                        {{ val.value }}
                                    </mat-option>
                                </mat-select>
                            </span>
                        </td>
                        <td *ngIf="DeleteRowNeeded" (click)="removeItem(i,Field?.SLNOField)"
                            style="cursor: pointer;display: flex;height: 36px;justify-content: right;align-items: center;">
                            <mat-icon style="width: 21px; color:rgba(237, 37, 49, 1)">close</mat-icon>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<span *ngIf="AddrowNeeded" class="addrowbutton" (click)="addrow()"><img style="width: 18px;height: 18px;"
        src="assets/icons/addrow.png">Add Row</span>
<div [formGroup]="orderForm" *ngIf="PurchaseCost" class="modal">
    <div formArrayName="items" class="modal-content">
        <span class="title mon-sixth"> Item Cost </span>
        <span class="closeicon" (click)="LightBoxClose()"><mat-icon>cancel</mat-icon></span>
        <span [formGroupName]="PurchaseIndex">
            <span formArrayName="PURCHASECOSTARRAY">
                <div
                    style="background: linear-gradient(90deg, #834DD0 0%, #CD309E 51.17%, #6E3AB6 100%);height:36px;width: 580px;padding: 10px;">
                    <span style="color: #FFFFFF;width: 30px;display: inline-block;height: 36px;">#</span>
                    <span style="color: #FFFFFF;width: 200px;display: inline-block;height: 36px;">Item</span>
                    <span style="color: #FFFFFF;width: 100px;display: inline-block;height: 36px;">Cost</span>
                    <span style="color: #FFFFFF;width: 100px;display: inline-block;height: 36px;">Remarks</span>
                </div>
                <div
                    style="display: inline-block;max-height: 300px;overflow: auto;overflow-x: hidden; width: 580px;scrollbar-width: thin;">
                    <span style="display: inline-block"
                        *ngFor="let charge of items.controls[PurchaseIndex].get('PURCHASECOSTARRAY').controls;let j = index">
                        <div [formGroupName]="j" style="height: 36px;width: 580px;padding:0px 10px;"
                            [style.background-color]="getRowColor(j)">
                            <input readonly [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 30px;height: 36px;"
                                formControlName="SLNo">
                            <input [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 200px;height: 36px;"
                                formControlName="ItemName">
                            <input [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 100px;height: 36px;"
                                formControlName="ItemCost">
                            <input [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 200px;height: 36px;"
                                formControlName="ItemRemarks">
                            <span (click)="removePurchaseItem(j)"
                                style="cursor: pointer;display: inline-block;height: 36px;width: 30px;justify-content: right;align-items: center;">
                                <mat-icon style="width: 21px; color:rgba(237, 37, 49, 1)">close</mat-icon>
                            </span>
                        </div>
                    </span>
                </div>
            </span>
        </span>
        <div style="display: flex;">
            <span class="savebutton" (click)="savePurchaseCost()">Save</span>
            <span class="addrowbutton" (click)="Purchaseaddrow()"><img style="width: 18px;height: 18px;"
                    src="assets/icons/addrow.png">Add Row</span>
        </div>
    </div>
</div>

<div [formGroup]="orderForm" *ngIf="ProcessCost" class="modal">
    <div formArrayName="items" class="modal-content">
        <span class="title mon-sixth"> Process Cost </span>
        <span class="closeicon" (click)="ProcessLightBoxClose()"><mat-icon>cancel</mat-icon></span>
        <span [formGroupName]="ProcessIndex">
            <span formArrayName="COSTINGPROCESSArray">
                <div
                    style="background: linear-gradient(90deg, #834DD0 0%, #CD309E 51.17%, #6E3AB6 100%);height:36px;width: 580px;padding: 10px;">
                    <span style="color: #FFFFFF;width: 30px;display: inline-block;height: 36px;">#</span>
                    <span style="color: #FFFFFF;width: 200px;display: inline-block;height: 36px;">Item</span>
                    <span style="color: #FFFFFF;width: 100px;display: inline-block;height: 36px;">Cost</span>
                    <span style="color: #FFFFFF;width: 100px;display: inline-block;height: 36px;">Remarks</span>
                </div>
                <div
                    style="display: inline-block;max-height: 300px;overflow: auto;overflow-x: hidden; width: 580px;scrollbar-width: thin;">
                    <span style="display: inline-block"
                        *ngFor="let charge of items.controls[ProcessIndex].get('COSTINGPROCESSArray').controls;let j = index">
                        <div [formGroupName]="j" style="height: 36px;width: 580px;padding:0px 10px;"
                            [style.background-color]="getRowColor(j)">
                            <input readonly [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 30px;height: 36px;"
                                formControlName="SLNo">
                            <input [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 200px;height: 36px;"
                                formControlName="ItemName">
                            <input [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 100px;height: 36px;"
                                formControlName="ItemCost">
                            <input [style.background-color]="getRowColor(j)"
                                style="display: inline-block;outline-style: none;width: 200px;height: 36px;"
                                formControlName="ItemRemarks">
                            <span (click)="removeProcessItem(j)"
                                style="cursor: pointer;display: inline-block;height: 36px;width: 30px;justify-content: right;align-items: center;">
                                <mat-icon style="width: 21px; color:rgba(237, 37, 49, 1)">close</mat-icon>
                            </span>
                        </div>
                    </span>
                </div>
            </span>
        </span>
        <div style="display: flex;">
            <span class="savebutton" (click)="saveProcessCost()">Save</span>
            <span class="addrowbutton" (click)="Processaddrow()"><img style="width: 18px;height: 18px;"
                    src="assets/icons/addrow.png">Add Row</span>
        </div>
    </div>
</div>

<div *ngIf="ChargeCost" class="modal">
    <div class="modal-content">
        <span class="title mon-sixth"> {{ChargeChangeValue.Label}} </span>
        <span class="closeicon" (click)="ChargeLightBoxClose()"><mat-icon>cancel</mat-icon></span>
        <div>
            <span>Input Percentage:</span>&nbsp;&nbsp;<input style="outline-style: none;width: 50px;border-bottom: 1px solid #6E3AB6;" type="text" [(ngModel)]="ChargeContent">
        </div>
        <div style="display: flex;">
            <span class="savebutton" (click)="savechargeCost()">Save</span>
        </div>
    </div>
</div>