// @use "sass:map";
@import './utilities.scss';
@import './chroma.scss';
@import './global.scss';

// Frameworks
@import './frameworks/material.scss';
@import './frameworks/bootstrap.scss';
@import './frameworks/tailwind.scss';

// Components
@import './components/aggrid.scss';

// Testing file
@import './test.scss';

$availableThemes: ();
$thisTheme: () !default;

$SUPPRESS_WARNINGS: true;
$call:setloglevel(I);

@function initTheme() {
  @if getThemeName() == null { @return warn('theme is missing name!'); }

  $themeName: getThemeName();
  $call:info("Initializing theme #{$themeName}...");

  $call:generateHarmonies();
  $call:setDefaultBackgroundColors();
  $call:processTheme();
  $call:generateModeColors();

  // update themes list
  $curThemes: map-get($availableThemes, themes);
  $availableThemes: mapSet($availableThemes, themes, $curThemes + $themeName + ' ') !global;
  // update theme modes list
  $listModes: ();
  $modeMap: getThemeSetting(modes, ());
  @each $key in map-keys($modeMap) {
    $listModes: append($listModes, $key);
  }
  $availableThemes: mapSet($availableThemes, $themeName, $listModes) !global;
  // @debug $availableThemes;

  // Initialize frameworks
  // @debug $thisTheme;
  $call:initMatTheme();

  $call:info('...initialized.');
  @return true;
}

@function getThemeName() {
  @return getThemeSetting(general name);
}
@function getThemeSetting($key, $defaultValue: false, $theme: $thisTheme) {
  @return mapGet($theme, $key, $defaultValue);
}
@function setThemeSetting($key, $newValue: false, $theme: $thisTheme) {
  @return mapSet($theme, $key, $newValue);
}
@function getThemeValue($key, $defaultValue: false, $mode: '') {
  @if $mode == '' {
    $modeMap: getThemeSetting(modes $mode, ());
    @return getThemeSetting($key, $defaultValue, $modeMap);
  }
  @else {
    @return getThemeSetting($key, $defaultValue);
  }
}

// Color generation
$colorNames: primary,secondary,tertiary,quaternary,quinary,sixth,seventh,eighth,nineth,tenth,eleventh;
@function generateHarmonies() {
  $color: getThemeSetting(colors basecolor);
  // @debug color $color;
  $theme: $thisTheme;

  $DEFAULT_NO_OF_COLORS: 1;
  $DEFAULT_MONO_STEP_BY: 10;
  $DEFAULT_ROTA_STEP_BY: 60;

    // Create Harmonies if needed...
  $mapPath: colors palette harmonies;
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, ()); }

  // Complemntary
  $mapPath: colors palette harmonies com-#{nth($colorNames, 1)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, $color); }
  $mapPath: colors palette harmonies com-#{nth($colorNames, 2)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_complement($color)); }

  // Monochromatic
  $noofcolors: getThemeSetting(colors palette harmonysettings mon noofcolors, $DEFAULT_NO_OF_COLORS);
  $stepby: getThemeSetting(colors palette harmonysettings mon stepby, $DEFAULT_MONO_STEP_BY);
  // Lighter
  @for $i from 1 through $noofcolors {
    $newI: $noofcolors - $i + 1;
    $mapPath: colors palette harmonies mon-#{nth($colorNames, $newI)};
    @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_monochromatic($color, -$i, $stepby)); }
  }
  // Primary
  $mapPath: colors palette harmonies mon-#{nth($colorNames, $noofcolors + 1)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, $color); }
  // Darker
  @for $i from 1 through $noofcolors {
    $newI: $noofcolors + $i + 1;
    $mapPath: colors palette harmonies mon-#{nth($colorNames, $newI)};
    @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_monochromatic($color, $i, $stepby)); }
  }

  // Analogous
  $mapPath: colors palette harmonies ana-#{nth($colorNames, 1)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, $color); }
  $mapPath: colors palette harmonies ana-#{nth($colorNames, 2)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_analogous($color, 1)); }
  $mapPath: colors palette harmonies ana-#{nth($colorNames, 3)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_analogous($color, -1.1)); }
  $mapPath: colors palette harmonies ana-#{nth($colorNames, 4)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_analogous($color, -1.2)); }

  // Triadic
  $mapPath: colors palette harmonies tri-#{nth($colorNames, 1)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, $color); }
  $mapPath: colors palette harmonies tri-#{nth($colorNames, 2)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_triadic($color, 1)); }
  $mapPath: colors palette harmonies tri-#{nth($colorNames, 3)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_triadic($color, -1)); }

  // Tetradic
  $mapPath: colors palette harmonies tet-#{nth($colorNames, 1)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, $color); }
  @for $i from 1 through 3 {
    $mapPath: colors palette harmonies tet-#{nth($colorNames, ($i + 1))};
    @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, col_tetradic($color, $i)); }
  }

  // Rotation
  $noofcolors: getThemeSetting(colors palette harmonysettings rot noofcolors, $DEFAULT_NO_OF_COLORS);
  $stepby: getThemeSetting(colors palette harmonysettings rot stepby, $DEFAULT_ROTA_STEP_BY);
  $mapPath: colors palette harmonies rot-#{nth($colorNames, 1)};
  @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, $color); }
  @for $i from 1 through $noofcolors {
    $mapPath: colors palette harmonies rot-#{nth($colorNames, ($i + 1))};
    $rotateBy: $stepby * $i;
    $newColor: adjust-hue($color, $rotateBy);
    @if not mapHasKey($thisTheme, $mapPath) { $theme: mapSet($theme, $mapPath, $newColor); }
  }

  $thisTheme: $theme !global;  @return true;
}

@function generateModeColors() {
  $theme: $thisTheme;

  @each $mode, $map in mapGet($theme, modes, ()) {
    $brightness: mapGet($map, settings brightness, 0);
    $saturation: mapGet($map, settings saturation, 0);
    $baseBackgrounds: mapGet($theme, colors background, ());
    @each $key, $value in $baseBackgrounds {
      $newColor: $value;
      @if $brightness != 0 {
        $newColor: scale-color($newColor, $lightness: $brightness * 1%);

        // @if $brightness < 0 {
        //   $newColor: darken($newColor, ($brightness * -1) * 1%);
        // }
        // @else {
        //   $newColor: lighten($newColor, $brightness * 1%);
        // }
      }
      @if $saturation != 0 {
        // $newColor: desaturate($newColor, $saturation * 1%);
        $newColor: scale-color($newColor, $saturation: $saturation * 1%);
      }

      // @debug mapGet($theme, modes $mode colors);
      @if not (mapHasKey($theme, modes $mode colors)) { $theme: mapSet($theme, modes $mode colors, ()); }
      @if not (mapHasKey($theme, modes $mode colors background)) { $theme: mapSet($theme, modes $mode colors background, ()); }
      @if $newColor != $value {
        @if not (mapHasKey($theme, modes $mode colors background $key)) {
          $theme: mapSet($theme, modes $mode colors background $key, $newColor);
        }
      }
    }
  }

  $thisTheme: $theme !global;
  @return true;
}

@function processTheme() {
  $theme: $thisTheme;

  @each $key in mapKeys($thisTheme) {
    // @if not strStartsWith($key, '_') {
      $keyList: listFromString($key);
      $value: getThemeSetting($keyList);

      @if type-of($value) == 'list' {
        @if length($value) > 0 {
          $theme: mapSet($theme, $keyList, getThemeValueRecursive($value));
        }
      }
    // }
  }

  @if not (mapHasKey($theme, modes light)) { $theme:mapSet($theme, modes light, ()); }
  @if not (mapHasKey($theme, modes dark)) { $theme:mapSet($theme, modes dark, ()); }
  @if not (mapHasKey($theme, modes light settings)) { $theme:mapSet($theme, modes light settings, ()); }
  @if not (mapHasKey($theme, modes dark settings)) { $theme:mapSet($theme, modes dark settings, ()); }
  @if not (mapHasKey($theme, modes light settings brightness)) { $theme:mapSet($theme, modes light settings brightness, 20); }
  @if not (mapHasKey($theme, modes dark settings brightness)) { $theme:mapSet($theme, modes dark settings brightness, -20); }
  @if not (mapHasKey($theme, modes light settings saturation)) { $theme:mapSet($theme, modes light settings saturation, 20); }
  @if not (mapHasKey($theme, modes dark settings saturation)) { $theme:mapSet($theme, modes dark settings saturation, -20); }

  $thisTheme: $theme !global;
  @return true;
}

@function setDefaultBackgroundColors() {
  $theme: $thisTheme;

  @if not (mapHasKey($theme, colors background)) { $theme:mapSet($theme, colors background, ()); }

  @if not (mapHasKey($theme, colors background surface)) { $theme:mapSet($theme, colors background surface, white); }
  @if not (mapHasKey($theme, colors background primary)) { $theme:mapSet($theme, colors background primary, getThemeSetting(colors basecolor)); }
  @if not (mapHasKey($theme, colors background secondary)) { $theme:mapSet($theme, colors background secondary, getThemeSetting(colors palette harmonies com-secondary)); }
  @if not (mapHasKey($theme, colors background warn)) { $theme:mapSet($theme, colors background warn, orange); }

  $thisTheme: $theme !global;
  // @debug $thisTheme;
  @return true;
}

@function getThemeValueRecursive($key) {
  $newValue: getThemeSetting($key);
  // @debug $newValue;
  @if type-of($newValue) == 'list' {
    @if length($newValue) > 0 {
      // @debug recursing;
      @return getThemeValueRecursive($newValue);
    }
  }

  // @debug returning;
  @return $newValue;
}

@function getThemeTextColor($bgColor, $mode: '') {
  @if $bgColor == null { @return black; }
  $forLightColor: $bgColor;
  $forDarkColor: $bgColor;
  $threshold: 65;

  $forLightColor: getThemeSetting(colors text forLightColor, $forLightColor);
  $forDarkColor: getThemeSetting(colors text forDarkColor, $forDarkColor);
  $threshold: getThemeSetting(colors text threshold, $threshold);

  @if $mode != '' {
    $forLightColor: getThemeSetting(modes $mode colors text forLightColor, $forLightColor);
    $forDarkColor: getThemeSetting(modes $mode colors text forDarkColor, $forDarkColor);
    $threshold: getThemeSetting(modes $mode colors text threshold, $threshold);
  }

  @return getTextColor($bgColor, $forLightColor, $forDarkColor, $threshold);
}

@function getMapTextColor($bgColor, $map: $thisTheme) {
  @if $bgColor == null { @return black; }
  $forLightColor: $bgColor;
  $forDarkColor: $bgColor;
  $threshold: 65;

  $forLightColor: mapGet($map, colors text forLightColor, $forLightColor);
  $forDarkColor: mapGet($map, colors text forDarkColor, $forDarkColor);
  $threshold: mapGet($map, colors text threshold, $threshold);

  @return getTextColor($bgColor, $forLightColor, $forDarkColor, $threshold);
}

@mixin GBTheme {
  $themeName: getThemeName();
  $call:info("Generating theme #{$themeName}...");

  @if getThemeSetting(general darkby, 'class') == 'class' {
    $modeMap: getThemeSetting(modes, ());
    @each $key in map-keys($modeMap) {
      $themeClassName: theme--#{$themeName};
      .theme--#{$themeName}-#{$key} {
        @include GBThemeClassContent($key);
      }
    }
  }
  @else {
    @media (prefers-color-scheme: light) {
      .theme--#{$themeName} {
        @include GBThemeClassContent(light);
      }
    }
    @media (prefers-color-scheme: dark) {
      .theme--#{$themeName} {
        @include GBThemeClassContent(dark);
      }
    }
  }

  @include UpdateAvailableThemes;

  $call:info("...Generated.");
}

@mixin GBThemeClassContent($mode: '') {
  // @debug $mode;
  @include mapVariables($thisTheme);

  @include setCSSProperties();

  $baseColor: getThemeSetting(colors basecolor);
  @include createColorClass(basecolor, $baseColor, getThemeTextColor($baseColor), true);
  @include createClassesForHarmonies();
  @include createClassesForBackground();

  // Mode values
  @if $mode != '' {
    @include setCSSProperties(mapGet($thisTheme, modes $mode));
    @include createClassesForBackground(mapGet($thisTheme, modes $mode));
    @include themeModeVariables($mode);
  }

  // Include framework variables
  @include BaseMatThemeVariables();

  // Include component variables/classes
  // @include AgGridThemeVariables();
}

// Generate all theme mode settings as variables
@mixin themeModeVariables($mode) {
  --mode: #{$mode};

  @include mapVariables(mapGet($thisTheme, modes $mode));

  // Include framework variables
  @include MatModeVariables($mode);
  @include AgGridThemeVariables($mode);
}

// Generate variables for the given a map
@mixin mapVariables($map) {
  @each $key in mapKeys($map) {
    @if not strStartsWith($key, '_') {
      $keyList: listFromString($key);
      $value: mapGet($map, $keyList);
      @if type-of($value) != 'list' and type-of($value) != 'map' and not strStartsWith($key, '_') {
        $keyString: listToString(listFromString($key), '-');
        --#{$keyString}: #{$value};
      }
    }
  }
}

// Set CSS Properties
@mixin setCSSProperties($map: $thisTheme) {
  // $bgColor: mapGet($map, colors background surface, white);
  // background-color: $bgColor;
  // color: getMapTextColor($bgColor, $map);
  @if mapHasKey($map, typography fonts default family) { font-family: unquote(mapGet($map, typography fonts default family, serif)) };
  @if mapHasKey($map, typography fonts default style) { font-style: mapGet($map, typography fonts default style, normal); }
  @if mapHasKey($map, typography fonts default var-ligatures) { font-variant-ligatures: mapGet($map, typography fonts default var-ligatures, inherit); }
  @if mapHasKey($map, typography fonts default var-caps) { font-variant-caps: mapGet($map, typography fonts default var-caps, inherit); }
  @if mapHasKey($map, typography fonts default var-numeric) { font-variant-numeric: mapGet($map, typography fonts default var-numeric, inherit); }
  @if mapHasKey($map, typography fonts default var-ea) { font-variant-east-asian: mapGet($map, typography fonts default var-ea, inherit); }
  @if mapHasKey($map, typography fonts default weight) { font-weight: mapGet($map, typography fonts default weight, normal); }
  @if mapHasKey($map, typography fonts default stretch) { font-stretch: mapGet($map, typography fonts default stretch); }
  @if mapHasKey($map, typography fonts default size) { font-size: mapGet($map, typography fonts default size, 14px); }
  @if mapHasKey($map, typography fonts default line-height) { line-height: mapGet($map, typography fonts default line-height, 20px); }
}

// Create Color Classes
@mixin createClassesForBackground($map: $thisTheme) {
  @each $key, $value in mapGet($map, colors background) {
    $textColor: getMapTextColor($value, $map);
    @include createColorClass($key, $value, $textColor);
  }
}
@mixin createClassesForHarmonies() {
  @each $key, $value in getThemeSetting(colors palette harmonies) {
    $textColor: getMapTextColor($value);
    @include createColorClass($key, $value, $textColor, true);
  }
}
@mixin createColorClass($name, $bgColor, $textColor, $bDontPrefix: false) {
  @if $bDontPrefix {
    .#{$name} {
      background-color: $bgColor;
      color: $textColor;
    }
  }
  @else {
    .thm-#{$name} {
      background-color: $bgColor;
      color: $textColor;
    }
  }
}

// Generate/Update Available Theme
@mixin UpdateAvailableThemes {
  .availableThemes {
    @each $key, $value in $availableThemes {
      @if is-list($value) {
        @if length($value) > 0 {
          --#{$key}: #{$value};
        }
      }
      @else {
        --#{$key}: #{$value};
      }
    }
  }
}

// ---------
// Typography
$default-sans:  ui-sans-serif,
system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$default-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$default-mono: ui-monospace,
SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$default-curs: 'cursive';
$default-fant: 'fantasy';



