<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="EmployeeSkillJSON.default.ObjectFields[0].EmployeeCode"
        formControlName='EmployeeCode' (Onselectdata)="EmployeeSkillValue($event)"
        [defaultvalue]="form.get('EmployeeCode').value"></app-entitylookup>















        </form>
        </div>