<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" >Serial No</th>
          <th class="th cap1-bold-12-white" >Replace On</th>
          <th class="th cap1-bold-12-white" >Remarks</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData"> 
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.serialno | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.replace | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.remarks}}</td>
        </tr>
      </tbody>
    </table>
    </div>