<div class="FormOverview" *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="SettingsJSON.default.ObjectFields[0].AdditionDeductionCode"
            formControlName='AdditionDeductionCode' (Onselectdata)="SettingsValue($event)"
            [defaultvalue]="form.get('AdditionDeductionCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SettingsJSON.default.ObjectFields[0].AdditionDeductionName"
            formControlName='AdditionDeductionName' (Onselectdata)="SettingsValue($event)"
            [defaultvalue]="form.get('AdditionDeductionName').value"></app-entitylookup>
        <br>
        <app-gb-input formControlName='AdditionDeductionDisplayCode' class="KeyField"></app-gb-input>
        <app-gb-combobox formControlName="AdditionDeductionApplicableType" class="KeyField"></app-gb-combobox>
        <app-gb-checkbox formControlName='AdditionDeductionArrearApplicable' class="KeyField"></app-gb-checkbox>
        <br>
        <app-gb-input formControlName='AdditionDeductionDisplayName' class="KeyField"></app-gb-input>
        <app-gb-combobox formControlName="AdditionDeductionNature" class="KeyField"></app-gb-combobox>
        <app-gb-checkbox formControlName='AdditionDeductionIsPartialAllowed' class="KeyField"></app-gb-checkbox>
        <br>
        <app-gb-combobox formControlName="AdditionDeductionFieldDataType" (click)="settingPatchValue()"
            class="KeyField"></app-gb-combobox>
        <app-gb-combobox formControlName="AdditionDeductionSplitType" class="KeyField"></app-gb-combobox>

        <app-entitylookup class="KeyField" [PicklistObj]="SettingsJSON.default.ObjectFields[0].FormulaName"
            formControlName='FormulaName' (Onselectdata)="SettingsNot($event)"
            [defaultvalue]="form.get('FormulaName').value"></app-entitylookup>
        <br>
        <app-gb-input formControlName='AdditionDeductionFieldDataSize' class="KeyField"></app-gb-input>
        <app-gb-combobox formControlName="AdditionDeductionOperationType" class="KeyField"></app-gb-combobox>
        <br>
        <app-gb-input formControlName='AdditionDeductionDefaultValue' class="KeyField"></app-gb-input>

        <app-entitylookup class="KeyField"
            [PicklistObj]="SettingsJSON.default.ObjectFields[0].AdditionDeductionPayConfigurationNames"
            formControlName='AdditionDeductionPayConfigurationNames' (Onselectdata)="SettingsNot($event)"
            [defaultvalue]="form.get('AdditionDeductionPayConfigurationNames').value"></app-entitylookup>
        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="SettingsJSON.default.ObjectFields[0].LovTypeName"
            formControlName='LovTypeName' (Onselectdata)="SettingsNot($event)"
            [defaultvalue]="form.get('LovTypeName').value"
            *ngIf="form.get('AdditionDeductionFieldDataType').value == 3 "></app-entitylookup>
     
        <app-gb-input formControlName='AdditionDeductionSortOrder'></app-gb-input>
        <app-gb-textarea formControlName='AdditionDeductionRemarks'></app-gb-textarea>

    </form>
</div>