<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField"
            [PicklistObj]="ActivityRecruitmentProcessJSON.default.ObjectFields[0].ActivityCode"
            formControlName='ActivityCode' (Onselectdata)="ActivityRecruitmentProcessValue($event)"
            [defaultvalue]="form.get('ActivityCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="ActivityRecruitmentProcessJSON.default.ObjectFields[0].ActivityName"
            formControlName='ActivityName' (Onselectdata)="ActivityRecruitmentProcessValue($event)"
            [defaultvalue]="form.get('ActivityName').value"></app-entitylookup>

        <br>

        <app-entitylookup class="KeyField"
            [PicklistObj]="ActivityRecruitmentProcessJSON.default.ObjectFields[0].ActivityTypeName"
            formControlName='ActivityTypeName' (Onselectdataids)="ActivityRecruitmentProcessNot($event)"
            [defaultvalue]="form.get('ActivityTypeName').value"></app-entitylookup>

        <app-gb-checkbox formControlName='ActivityIsScore' class="KeyField"></app-gb-checkbox>

        <app-gb-checkbox formControlName='ActivityIsLetter' class="KeyField"></app-gb-checkbox>

        <br>
        <app-entitylookup class="KeyField"
            [PicklistObj]="ActivityRecruitmentProcessJSON.default.ObjectFields[0].ActivityApplicableResultsValue"
            formControlName='ActivityApplicableResultsValue' (Onselectdataids)="ActivityRecruitmentProcessNot($event)"
            [defaultvalue]="form.get('ActivityApplicableResultsValue').value"></app-entitylookup>


        <app-entitylookup class="KeyField"
            [PicklistObj]="ActivityRecruitmentProcessJSON.default.ObjectFields[0].ActivityApplicableStagesValue"
            formControlName='ActivityApplicableStagesValue' (Onselectdataids)="ActivityRecruitmentProcessNot($event)"
            [defaultvalue]="form.get('ActivityApplicableStagesValue').value"></app-entitylookup>

        <br>







        <app-gb-textarea formControlName='ActivityRemarks' class="KeyField"></app-gb-textarea>





    </form>
</div>