<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white">Code</th>
          <th class="th cap1-bold-12-white">Name</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <!-- <ng-container > -->
          <tr *ngFor="let data of rowData">
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ascode}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.asname}}</td>
          </tr>
        <!-- </ng-container> -->
      </tbody>
    </table>
  </div>
  