<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="RecruitmentJSON.default.ObjectFields[0].WorkTypeCode"
        formControlName='WorkTypeCode' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('WorkTypeCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="RecruitmentJSON.default.ObjectFields[0].WorkTypeName"
        formControlName='WorkTypeName' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('WorkTypeName').value"></app-entitylookup>


        <!-- <app-gb-combobox formControlName="WorkTypeIsAllocationBased" ></app-gb-combobox> 

        <app-entitylookup  [PicklistObj]="RecruitmentJSON.default.ObjectFields[0].AllocationTypeName"
        formControlName='AllocationTypeName' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('AllocationTypeName').value" ></app-entitylookup> -->

        <app-gb-textarea  formControlName='WorkTypeRemarks'></app-gb-textarea> 

        <app-gb-formgrid formControlName='WorkTypeDetailArray'
        [ArrayDetail]="form.get('WorkTypeCode').value"></app-gb-formgrid>



    </form>
</div>