<div class="styled-header">
  <b>Opening : {{FOpening.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</b>
  <b>   Debit : {{GTDebit.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</b>
  <b>   Credit : {{GTCredit.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</b>
  <b>   Closing : {{FClosing.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</b>

  <table class="styled-table">
    <thead class="mon-eighth">
      <tr>
        <th><b>SlNo</b></th>
        <th><b>Number</b></th>
        <th><b>Date</b></th>
        <th><b>Type</b></th>
        <th><b>Particulars</b></th>
        <th><b>Debit</b></th>
        <th><b>Credit</b></th>
        <th><b>Balance</b></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let staccarray of statementofaccountarray">
        <td [ngStyle]="{ fontWeight: staccarray.bold ? 'bold' : 400 }">
          {{ staccarray.code }}
        </td>
        <td [ngStyle]="{ fontWeight: staccarray.bold ? 'bold' : 400 }">{{ staccarray.name }}</td>
        <td>{{ staccarray.vdate }}</td>
        <td>{{ staccarray.type }}</td>
        <td>{{ staccarray.particulars }}</td>
        <td>{{ staccarray.debit }} </td>
        <td>{{ staccarray.credit }}</td>
        <td>{{ staccarray.balance }}</td>
      </tr>
    </tbody>
  </table>
</div>
