<div class="sticky-header">
    <table class="styled-table">
      <thead>
        <tr>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Code</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Name</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Score</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Lov Nature</th>
          <th style="background-color:rgb(25, 102, 218)" style="color:black;">Generation Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowData">
          <td (click)='selectedcell(data)' [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.LovTypeCode}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.LovTypeName}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.LovTypeScoreRequired}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.LovTypeLovNature}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.LovTypeGenerationType}}</td>
        </tr>
      </tbody>
    </table>
    </div>