<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="LotTypejson.default.ObjectFields[0].LotTypeName"
            formControlName='LotTypeName' (Onselectdata)="LottypeFillFunction($event)"
            [defaultvalue]="form.get('LotTypeName').value"></app-entitylookup>

        <br>

        <app-gb-radiobox formControlName='LotTypeLotNumberingType' class="KeyField"></app-gb-radiobox>
        <app-gb-radiobox formControlName='LotTypeType' (RadioButtonOutPut)="setPatchValueToZero($event)"
            class="KeyField"></app-gb-radiobox>
        <br>
        <app-gb-input class="KeyField" formControlName='LotTypeLotNumberSize'></app-gb-input>
        <app-entitylookup [PicklistObj]="LotTypejson.default.ObjectFields[0].ProcessName" class="KeyField"
            formControlName='ProcessName' (Onselectdataids)="LotTypePatchValue($event)"
            [defaultvalue]="form.get('ProcessName').value"
            [style.display]="form.get('LotTypeType').value == 0 ? 'inline-block':'none'"></app-entitylookup>

        <app-entitylookup [PicklistObj]="LotTypejson.default.ObjectFields[0].ItemName" formControlName='ItemName'
            class="KeyField" (Onselectdataids)="LotTypePatchValue($event)" [defaultvalue]="form.get('ItemName').value"
            [style.display]="form.get('LotTypeType').value == 1 ? 'inline-block':'none'" (click)="itemClick()"></app-entitylookup>
        <br>
        <app-gb-input formControlName='LotTypePrefix' class="KeyField"></app-gb-input>
        <app-entitylookup [PicklistObj]="LotTypejson.default.ObjectFields[0].SKUName" formControlName='SKUName'
            (Onselectdataids)="LotTypePatchValue($event)" [defaultvalue]="form.get('SKUName').value"
            [style.display]="form.get('LotTypeType').value == 1 ? 'inline-block':'none'" class="KeyField"></app-entitylookup>
        <br>
        <app-gb-input formControlName='LotTypeSuffix' class="KeyField"></app-gb-input>
        <br>

        <app-gb-input formControlName='LotTypeFromNumber'></app-gb-input>

        <app-gb-textarea formControlName='LotTypeRemarks'></app-gb-textarea>



    </form>
</div>