<div class="VoucherLightBox">
    <div class="VoucherLightBoxHeader mon-sixth">
        <span class="headline-med-20-white" style="padding-left: 24px;">
            Voucher
        </span>
        <span class="headline-med-20-white" style="padding-left: 24px;">
            {{LightBoxData.VoucherVoucherNumber}}
        </span>
        <span class="headline-med-20-white-secondary" style="padding-left: 16px;">
            {{LightBoxData.VoucherVoucherDate | DateFormatter}}
        </span>
        <span class="HeaderButton" style="margin-left: 85px;">
            <img style="display: inline-block;" width="20px" src="assets/icons/printicon.png">
            <span class="mon-sixth ButtonContent">Print</span>
        </span>
        <span class="HeaderButton" style="margin-left: 12px;">
            <img style="display: inline-block;" width="20px" src="assets/icons/attachment.png">
            <span class="mon-sixth ButtonContent">Attachment</span>
        </span>
        <span class="HeaderButton" style="margin-left: 12px;">
            <span class="mon-sixth ButtonContent">Document View</span>
        </span>
    </div>
    <div>
        <br>
        <div style="display: inline-flex; align-items: center; height: 28px;">
            <span class="captionsec-reg-12-type-primary WidthAdjustment2">Voucher No</span>
            <span class="captionHead-semibold-12-type-primary"
                style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.VoucherVoucherNumber}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2">Ref No</span>
            <span class="captionHead-semibold-12-type-primary"
                style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.VoucherReferenceNumber}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2">Type</span>
            <span class="captionHead-semibold-12-type-primary"
                style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.BizTransactionTypeName}}</span>

        </div>
        <div style="display: inline-flex; align-items: center; height: 28px;">
            <span class="captionsec-reg-12-type-primary WidthAdjustment2">Voucher Date</span>
            <span class="captionHead-semibold-12-type-primary"
                style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.VoucherVoucherDate | DateFormatter}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2">Ref Date</span>
            <span class="captionHead-semibold-12-type-primary"
                style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.VoucherReferenceDate | DateFormatter}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2">Amount</span>
            <span class="captionHead-semibold-12-type-primary"
                style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.BizTransactionTypeName}}</span>
        </div>
        <div style="display: inline-flex; align-items: center; height: 28px;">
            <span class="captionsec-reg-12-type-primary WidthAdjustment2" style="margin-left: 600px;">Naration</span>
            <span class="captionHead-semibold-12-type-primary"
                style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.VoucherNarration}}</span>
        </div>
    </div>
    <br>
    <div>
        <div class="LightBoxTable">
            <table class="Table" style="width: 100%;">
                <thead class="thead">
                    <tr class="theadtr">
                        <th class="th cap1-bold-12-white" >Code</th>
                        <th class="th cap1-bold-12-white" >Name</th>
                        <th class="th cap1-bold-12-white" style="text-align: right;">Amount</th>
                        <th class="th cap1-bold-12-white" >Currency</th>
                        <th class="th cap1-bold-12-white" style="text-align: right;">Debit</th>
                        <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 32px;">Credit</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of LightBoxData.VoucherDetailArray; let i=index">
                        <td class="td captionsec-reg-12-type-primary" >{{data.VoucherAccountCode}}</td>
                        <td class="td captionsec-reg-12-type-primary" >{{data.VoucherAccountName}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right;">{{data.VoucherDetailAmount}}</td>
                        <td class="td captionsec-reg-12-type-primary" >{{data.CurrencyCode}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right;"><span *ngIf="data.VoucherDetailDetailType==0">{{data.VoucherDetailAmount}}</span></td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right; padding-right: 32px;"><span *ngIf="data.VoucherDetailDetailType==1">{{data.VoucherDetailAmount}}</span></td>
                    </tr>
                    <!-- <tr class="tr" [ngClass]="{'color': (LightBoxData.VoucherDetailArray.length%2 == 0)}">
                        <td></td>
                        <td></td>
                        <td class="td total mon-sixth" style="text-align: right;">{{LightBoxData.MMHeadTotalItemBasicValue}}</td>
                        <td></td>
                        <td class="td total mon-sixth" style="text-align: right;">{{LightBoxData.MMHeadTotalItemAmountMinus}}</td>
                        <td class="td total mon-sixth" style="text-align: right; padding-right: 32px;">{{LightBoxData.MMHeadTotalItemGrossValueFC}}</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>