<div class="abb">
    <p class="valu">Quantity :{{qtys | NumberFormat}}</p>
    <p class="adds">Value :{{value | NumberFormat}}</p>
    <p class="les">Value FC :{{valuefc | NumberFormat}}</p>
    <p class="tot">Add :{{add | NumberFormat}}</p>
    <p class="adds">Less :{{less | NumberFormat}}</p>
    <p class="les">Total :{{total | NumberFormat}}</p>
    <p class="tot">Total FC :{{totalfc | NumberFormat}}</p>
</div>
<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Number</th>
                <th class="th cap1-bold-12-white" >Date</th>
                <th class="th cap1-bold-12-white" >Ref.No</th>
                <th class="th cap1-bold-12-white" >Ref.Date</th>
                <th class="th cap1-bold-12-white" >Dept</th>
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >Location</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Qty</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white" >Curr</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Rate</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">RateFc</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Value</th>
                <th class="th cap1-bold-12-white"style="text-align: right; padding-right: 150px;" >ValueFc</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Add</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Less</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Total</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">TotalFc</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.docno }}</td>
                <td class="td cap2-med-12-type-primary"[ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  >{{data.docdate}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.refno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.refdate |DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary"[ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{ (data.depcode === null || data.depcode === 'NONE') ? '' : data.depcode }}</td>                
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.icode}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.descr}}</td>  
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.bnum}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.actqty}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.uom }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.curcode}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.rate}}</td>
                <td class="td cap2-med-12-type-primary"[ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  style="text-align: right; padding-right: 150px;">{{data.ratefc}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.ibasicval}}</td>
                <td class="td cap2-med-12-type-primary"[ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  style="text-align: right; padding-right: 150px;">{{data.ibasicvalfc}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.iplus |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;" >{{data.iminus|NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.netval}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;" >{{data.netvalfc}}</td>
            </tr>
        </tbody>
    </table>
</div>