<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-gb-radiobox formControlName='RatingType' (RadioButtonOutPut)="Rating($event)"></app-gb-radiobox>
  

        <app-gb-formgrid formControlName='RatingDetailArray'
            [ArrayDetail]="form.get('RatingDetailArray').value"></app-gb-formgrid>

    </form>
</div>