
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <!-- <th class="th cap1-bold-12-white" >Sno</th> -->
          <th class="th cap1-bold-12-white" >Slip.Dp</th>
          <th class="th cap1-bold-12-white" >Slip.No</th>
          <th class="th cap1-bold-12-white" >Att.Dt</th>
          <th class="th cap1-bold-12-white" >From</th>
          <th class="th cap1-bold-12-white" >To</th>
          <th class="th cap1-bold-12-white" >Official</th>
          <th class="th cap1-bold-12-white" >Personal</th>
          <th class="th cap1-bold-12-white" >Status</th>
          <th class="th cap1-bold-12-white" >Remarks</th>

        </tr>
      </thead>
      <tbody class="tbody">

        <tr *ngFor="let data of rowDatas">
          <!-- <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.sno}}</td> -->
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.slipdt |DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.slipdtno}}</td>
          <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.attdt | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.from}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.to}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.official}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.personal}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">   {{ data.status === 1 ? 'Approval' : (data.status === 2 ? 'Unapproval' : '') }}
          </td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.remarks}}</td>

        </tr>
      </tbody>
    </table>
    </div>