<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="TestRunJSON.default.ObjectFields[0].TestsetName"
            formControlName='TestsetName' (Onselectdata)="TestRunFillFunction($event)"
            [defaultvalue]="form.get('TestsetName').value"></app-entitylookup>
    </form>
</div>