<div class="usersetting" border="thick solid #0000FF">
  <button mat-icon-button [matMenuTriggerFor]="claimsmenu" class="btn-usersetting"><img class="userHeader"
      src="assets/icons/Avatar.png"></button>
  <p class="body-med-14-type-primary username" [matMenuTriggerFor]="claimsmenu">{{(loginDTOs$ | async).UserName}}</p>
  <p class="caption-med-12-type-primary servername">{{(loginDTOs$ | async).DatabaseName}}</p>
  <mat-menu #claimsmenu="matMenu" [overlapTrigger]="false" class="matmenu">
    <button mat-menu-item class="colors" (click)="MySettings()" (mouseover)=changeimageSettingWhite()
      (mouseout)=changeimageSettingBlack()>
      <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgSettingSrc">
      <span class="userdata"> My Settings</span>
    </button>
    <button mat-menu-item (click)="openDialog()" class="settings-open-dialog colors "
      (mouseover)=changeimageThemeWhite() (mouseout)=changeimageThemeBlack()>
      <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgThemeSrc">
      <span class="userdata">Theme</span>
    </button>
    <button mat-menu-item class="colors" (mouseover)=changeimageTraceWhite() (mouseout)=changeimageTraceBlack()>
      <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgTraceSrc">
      <span class="userdata">Trace</span>
    </button>
    <button mat-menu-item class="colors" (mouseover)=changeimageLoggedInWhite() (mouseout)=changeimageLoggedInBlack()>
      <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgLoggedInSrc">
      <span class="userdata">Logged in Users</span>
    </button>
    <button mat-menu-item class="colors" (mouseover)=changeimageAboutWhite() (mouseout)=changeimageAboutBlack()>
      <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgAboutSrc">
      <span class="userdata">About</span>
    </button>
    <button mat-menu-item (click)="logout()" class="colors" (mouseover)=changeimageLogoutWhite()
      (mouseout)=changeimageLogoutBlack()>
      <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgLogoutSrc">
      <span class="userdata">Logout</span>
    </button>
  </mat-menu>


  <div  id="Mysettingscreenmodel" >
    <div *ngIf="MySettingform" id="Mysetting" [formGroup]="MySettingform">
      <span><mat-icon
        style="color: rgb(226, 56, 113); margin-left: 440px; cursor: pointer;" (click)="settingclose()">cancel</mat-icon></span>
      <app-entitylookup [picklisturl]="'OuNames'" [formControl]="MySettingform?.get('OuName')" [label]="'Organization Unit'"
      [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [LinkId]="'OuId'" [multiple]="false" [picklistselection]="'Id'" [width]="'200'"
      [picklisttitle]="'Name'" [defaultvalue]="OuName" (Onselectdataids)="GetselectedOuName($event)"
      [dependpicklist]=""></app-entitylookup>
      <app-entitylookup [picklisturl]="'OuPeriod'" [formControl]="MySettingform?.get('PeriodName')" [label]="'Period'"
      [picklistdisplaytext]="'Name'" [LinkId]="'PeriodId'" [picklistsearchfields]="'Name'" [multiple]="false" [picklistselection]="'Id'" [width]="'200'"
      [picklisttitle]="'Name'" [defaultvalue]="OuPeriod" (Onselectdataids)="GetselectedOuPeriod($event)"
      [dependpicklist]=""></app-entitylookup>
      <br><br>
      <button mat-raised-button style="margin-left: 185px;" color="primary" (click)="SaveSettings()">Save</button>
    </div>
  </div>
</div>