<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="EnumJSON.default.ObjectFields[0].EnumarationName"
        formControlName='EnumarationName' (Onselectdata)="EnumValue($event)"
        [defaultvalue]="form.get('EnumarationName').value"></app-entitylookup>

        <app-gb-textarea formControlName='EnumarationDescription'></app-gb-textarea>
       
        <app-gb-formgrid formControlName='EnumarationDetailArray'
        [ArrayDetail]="form.get('EnumarationId').value"></app-gb-formgrid>

        </form>
        </div>