<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="BrandJSON.default.ObjectFields[0].ItemBrandCode" formControlName='ItemBrandCode'
        (Onselectdata)="BrandFillValue($event)" [defaultvalue]="form.get('ItemBrandCode').value"></app-entitylookup>  

        <app-entitylookup class="KeyField" [PicklistObj]="BrandJSON.default.ObjectFields[0].ItemBrandName" formControlName='ItemBrandName'
        (Onselectdata)="BrandFillValue($event)" [defaultvalue]="form.get('ItemBrandName').value"></app-entitylookup>  
  

        <app-gb-checkbox formControlName='ItemBrandIsSelected'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ItemBrandIsAsset'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ItemBrandIsItem'></app-gb-checkbox>

        <app-gb-textarea formControlName='ItemBrandRemarks'></app-gb-textarea>


  </form>
</div>