<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="ProblemJSON.default.ObjectFields[0].ProblemCode" formControlName='ProblemCode'
        (Onselectdata)="ProblemFillFunction($event)" [defaultvalue]="form.get('ProblemCode').value"></app-entitylookup> 
        <!-- <app-entitylookup [picklisturl]="'Problem'" [label]="'Code*'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Code,Name'" [multiple]="false"
        formControlName='ProblemCode' (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Code'" [defaultvalue]="form.get('ProblemCode').value"></app-entitylookup> -->
        <app-entitylookup class="KeyField" [PicklistObj]="ProblemJSON.default.ObjectFields[0].ProblemName" formControlName='ProblemName'
        (Onselectdata)="ProblemFillFunction($event)" [defaultvalue]="form.get('ProblemName').value"></app-entitylookup> 
<!-- 
        <app-entitylookup [picklisturl]="'Problem'" [label]="'Name*'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Code,Name'" [multiple]="false"
        formControlName='ProblemName' (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="form.get('ProblemName').value"></app-entitylookup> -->
        <app-entitylookup [PicklistObj]="ProblemJSON.default.ObjectFields[0].ProblemCategoryName" formControlName='ProblemCategoryName'
        (Onselectdataids)="ProblemPatchValue($event)" [defaultvalue]="form.get('ProblemCategoryName').value"></app-entitylookup>
        <!-- <app-entitylookup [picklisturl]="'GCM'" [label]="'Problem Category*'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'ProblemCategoryId'" [dependpicklist]="dependentPicklistTimeSlipNo"
        formControlName='ProblemCategoryName' (Onselectdataids)="Getselectedids($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="form.get('ProblemCategoryName').value"></app-entitylookup> -->
        <app-entitylookup [PicklistObj]="ProblemJSON.default.ObjectFields[0].ApplicableCategoryName" formControlName='ApplicableCategoryName'
        (Onselectdataids)="ProblemPatchValue($event)" [defaultvalue]="form.get('ApplicableCategoryName').value"></app-entitylookup>
        <!-- <app-entitylookup [picklisturl]="'ITEMCATEGORY'" [label]="'Applicable Category*'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Code,Name'" [multiple]="false" [LinkId]="'ApplicableCategoryId'"
        formControlName='ApplicableCategoryName' (Onselectdataids)="Getselectedids($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="form.get('ApplicableCategoryName').value"></app-entitylookup>  -->
        <app-gb-textarea formControlName='ProblemRemarks'></app-gb-textarea>

    </form>
</div>