<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        
        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].OuName" formControlName='OuName'
            (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('OuName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].FinanceBookName"
            formControlName='FinanceBookName' (Onselectdata)="FinanceBookPicklistValue($event)"
            [defaultvalue]="form.get('FinanceBookName').value"></app-entitylookup>

        <app-gb-textarea formControlName="FinanceBookPurpose"></app-gb-textarea>

        <app-gb-radiobox formControlName="FinanceBookBookType" (click)="settingPatchValueToZero()"></app-gb-radiobox>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].BaseBookName"
            formControlName='BaseBookName' (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('BaseBookName').value"
            *ngIf="form.get('FinanceBookBookType').value == 1 || form.get('FinanceBookBookType').value == 2 || form.get('FinanceBookBookType').value == 3 "></app-entitylookup>

        <app-gb-radiobox formControlName="FinanceBookPeriodGroup"
            *ngIf=" form.get('FinanceBookBookType').value == 3|| form.get('FinanceBookBookType').value == 4"></app-gb-radiobox>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].FromCurrencyName"
            formControlName='FromCurrencyName' (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('FromCurrencyName').value"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-entitylookup>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].ToCurrencyName"
            formControlName='ToCurrencyName' (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('ToCurrencyName').value"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-entitylookup>

        <app-gb-radiobox formControlName="FinanceBookTransferLevel"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-gb-radiobox>
        <app-gb-radiobox formControlName="FinanceBookBalanceSheetRateType"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-gb-radiobox>
        <app-gb-radiobox formControlName="FinanceBookPanDLRateType"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-gb-radiobox>
        <app-gb-radiobox formControlName="FinanceBookEquityRateType"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-gb-radiobox>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].BIZTransactionName"
            formControlName='BIZTransactionName' (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('BIZTransactionName').value"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-entitylookup>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].DifferenceAccountName"
            formControlName='DifferenceAccountName' (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('DifferenceAccountName').value"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-entitylookup>

        <app-gb-input formControlName="FinanceBookStandardRate"
            *ngIf="form.get('FinanceBookBookType').value == 1"></app-gb-input>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].FinanceBookOUNames"
            formControlName='FinanceBookOUNames' (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('FinanceBookOUNames').value"
            [style.display]="form.get('FinanceBookBookType').value == 4 ? 'block' : 'none'"></app-entitylookup>

        <app-entitylookup [PicklistObj]="FinanceBookJSON.default.ObjectFields[0].FinanceBookBookNames"
            formControlName='FinanceBookBookNames' (Onselectdataids)="FinanceBookPicklistFillValue($event)"
            [defaultvalue]="form.get('FinanceBookBookNames').value"
            [style.display]="form.get('FinanceBookBookType').value == 4 ? 'block' : 'none'"></app-entitylookup>

    </form>
</div>