<div class="sticky-header">
  <table class="styled-table">
    <thead>
      <tr>
        <th class="mon-sixth" style="color:white;">Code</th>
        <th class="mon-sixth" style="color:white;">Name</th>
        <th class="mon-sixth" style="color:white;">Dis. Name</th>
        <th class="mon-sixth" style="color:white;">Data Type</th>
        <th class="mon-sixth" style="color:white; text-align: right;">Size</th>
        <th class="mon-sixth" style="color:white; text-align: right;">Value</th>
        <th class="mon-sixth" style="color:white;">App. Type</th>
        <th class="mon-sixth" style="color:white;">Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowData">
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.disname}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.type}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.size.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.value}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.apptype}}</td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.remark}}</td>
      </tr>
    </tbody>
  </table>
  </div>